{% extends 'artevenue/estore_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block page-title %} 
<title>Arte'Venue - Write a Review</title>
{% endblock page-title %} 
{% block page-description %}
<meta name="description" content="Write a customer review for artevenue.com">
{% endblock page-description %}
{% block page-keywords %}
<meta name="keywords" content="customer review of artworks, art, artvenue, artwork review, artevenue review">
{% endblock page-keywords %}

{% block cropper %}
{% endblock cropper %}

{% block coursel-script %}
{% endblock coursel-script %}

{% block imagemap-resize-script %}
{% endblock imagemap-resize-script %}

{% block google-recaptcha-3 %}
<script src="https://www.google.com/recaptcha/api.js?render=6Le2ZqAUAAAAAIAvZ7dRPJkj5zLI2IYAxfPktXqE"></script>
{% endblock google-recaptcha-3 %}

{% block add_to_head %}
	<link rel="stylesheet" href="{% static  'css/custom_framing.css' %}">
{% endblock add_to_head %}


	<!-- Only Override the site content block -->
	{% block sitecontent %}
        <div class="container">
			<div class="row">
				<!-- breadcrumb-->
				<div class="col-sm-12">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
							<li aria-current="page" class="breadcrumb-item active">Write a Review</li>
						</ol>
					</nav>
				</div>
			</div>
			<h1 class="section-title h1 text-center">WRITE A REVIEW</h1>
			<div class = "row mt-3">
				<div class="col-12 text-muted text-center">
					We would love to hear from you on our artworks,
					collections, website features, customer service and your overall 
					experience, to which we are committed.<br/>
					{% if user.is_authenticated %}
						{% if not order_items %}
							(You don't any purchases in last 3 months)
						{% endif %}
					{% else %}
						(Please login or sign up, if not already done)
					{% endif %}
						
					<hr>
				</div>
				<form id = "rev-form" method = 'POST' enctype="multipart/form-data">
					{% csrf_token %}
					<input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
					<input type="hidden" name="action" value="write_review">
					<div class = "col-12">
						<div class="row">
							<div class = "col-12">
							{% if status == 'FAILURE' %}
								<div id="errors" class="alert alert-warning alert-dismissable">
									<button type="button" class="close" data-dismiss="alert">&times;</button>
									<div class="inner">
										{% if msg %}
										<ul>
											<!-- Validations -->
											<li>{{msg}}</li>
										</ul>
										{% endif %}							
									</div>
								</div>
							{% endif %} 
							</div>
						</div>
						<div class = "row">
							<div class="col-12 text-center">
								<strong class = "mr-3" style = "font-size: 1.2rem;">Your Rating: </strong>
								<span onclick = "click_star(1);" id= "1star" class = "review-star">
									<i class="fa fa-star-o"></i>
								</span>
								<span onclick = "click_star(2);" id= "2star" class = "review-star">
									<i class="fa fa-star-o"></i>
								</span>
								<span onclick = "click_star(3);" id= "3star" class = "review-star">
									<i class="fa fa-star-o"></i>
								</span>
								<span onclick = "click_star(4);" id= "4star" class = "review-star">
									<i class="fa fa-star-o"></i>
								</span>
								<span onclick = "click_star(5);" id= "5star" class = "review-star">
									<i class="fa fa-star-o"></i>
								</span>
								<input hidden id = "id_rating" name = "rating"
								value = "{{customer_review_form.rating.value}}">
							</div>
						</div>
						<hr>
						<div class = "row mt-3">
							<div class="col-12 text-center">
								YOUR INFORMATION:
							</div>
							<div class="col-12 col-md-4">
								<div class="form-group" >
									<label>Name: </label>
									<input placeholder="Your Name" type="text" name="name" 
									maxlength="500" autofocus="" class="form-control"
									required=""  class = "form-control"
									id="id_name"
									value = "{{customer_review_form.name.value|default_if_none:''}}"
									>
								</div>						
							</div>
							<div class="col-12 col-md-4">
								<div class="form-group" >
									<label>Location: </label>
									<input placeholder="Your Location(City/State)" type="text" 
									name="location" id = "id_location"
									maxlength="500" autofocus="" class="form-control"
									required=""
									value = "{{customer_review_form.location.value|default_if_none:''}}"
									>
								</div>							
							</div>
							<div class="col-12 col-md-4">
								<label class = "form-label">Country: </label>
								<div class="form-group" >
									<input placeholder="Country" type="text" name="country" 
									maxlength="500" autofocus="" class="form-control"
									required="" id="id_country"
									value = "{{customer_review_form.country.value|default_if_none:'India'}}"
									>
								</div>							
							</div>
						</div>
						<div class = "row mt-3">					
							<div class="col-12 col-md-6">
								<div class="form-group" >
									<label>Email ID: (Optional)</label>
									<input placeholder="Your Email ID" type="email" 
									name="email_id" id = "id_email_id" class = "form-control"
									value = "{{customer_review_form.email_id.value|default_if_none:''}}"
									>
								</div>							
							</div>
							<div class="col-12 col-md-6">
								<div class="form-group" >
									<label>Mobile Number: (Optional)</label>
									<input placeholder="Your Mobile Number" type="text" 
									name="phone_number" id = "id_phone_number" class = "form-control"
									value = "{{customer_review_form.phone_number.value|default_if_none:''}}"
									>
								</div>							
							</div>
							<div class="col-12">
								<span style = "font-size: 0.6rem;">(Our customer experience team will use your email / 
								mobile number only to contact you regarding the feedback you provide
								and to address if you have any issues. As per our privacy policy
								we will not publish your email or contact number without your explicit
								permission.)</span>
							</div>						
						</div>
						<div class = "row">
							<div class="col-12">
								<hr>
							</div>
						</div>
						<div class = "row ">
							<div class="col-12 text-center">
								YOUR REVIEW:
							</div>
						</div>
						{% if order_items %}
						<div class = "row mt-3">
							<div class="col-12">
								<div class = "form-group">
									Would you like to tag your review to artwork(s) you have purchased?
									If yes, 
									<a class = "btn btn-primary"
										onclick = "$('#customer-products').modal('show');">
										click here 
									</a>
									to select artwork(s), or continue writing the review.
								</div>
							</div>
							<div id = "prod-select" class="col-12">
								<div class = "form-group">
									{% include 'review/customer_order_products_modal.html' %}
									<input hidden id="id_selected-prods" name = "selected_prods">
								</div>
							</div>
						</div>
						{% endif %}
						<div class = "row">
							<div class="col-12">
								<div class="form-group" >
									<label class = "form-label">Headline: </label>
									<input placeholder="Highlight of your feedback. What you think is best or worst." 
									type="text" name="headline" id = "id_headline"
									maxlength="100" autofocus="" class="form-control"
									required="" id="id_headline"
									value = "{{customer_review_form.headline.value|default_if_none:''}}"
									>
								</div>							
							</div>
							<div class="col-12">
								<div class="form-group" >
									<label>Feedback: </label>
									<textarea 
										placeholder="What you liked/disliked" 
										type="text" name="comments" id = "id_comments"
										rows="5" cols="400"
										maxlength="2000" class="form-control"
										required="" id="id_comments"
										value = "">{{customer_review_form.comments.value|default_if_none:''}}</textarea>
								</div>
							</div>
						</div>
						<div class = "row">
							<div class = "col-12">
								We would love to see photos of artwork displayed at your place.
								Want to upload some?<br />
							</div>
						</div>
						<div id = "upload-pics" class = "row">
							<div class = "col-6 col-md-3 photos-div">
								<div class="file-upload-content" id = "content-1">
									<img id = "cust-img1" class="file-upload-image" src="#" alt="User Photo 1" 
										style = "padding:0px;" width=150/>
									<i title="Remove Photo" 
										class = "fa fa-trash pull-right" 
										id = "delete-photo1"
										style = "cursor: ponter; display:block;"
										onclick = "removeUpload('1');">
									</i> 
								</div>
								<div class = "row">
									<div class = "col-12">
										<div class="image-upload-wrap" id = "wrap-1" style = "margin-top: 0px; border: 2px solid  #e6e6e6;">
											<div class="btn-default btn-file drag-text" style = "display: block;">
												<input class="file-upload-input"  id = "input-1" 
													type='file' 
													onchange="readURL(this, '1');" 
													accept="image/png, image/jpeg, image/gif, image/bmp" 
													name="user_photo1" 
													class="form-control"
													style = "box-sizing: border-box;"/>
												<div id = "upload-show1" onclick="$('#input-1').trigger( 'click' );">
													<span style = "font-size: 0.7rem;" class = "text-center">
														Click to Upload or Drag & Drop
													</span>
													<img id = "img-1" src = "{% static 'img/custom_framing/upload_icon.png' %}" 
														class = "mt-4 mb-4"
														alt="Upload Image Icon" 
														width=40 style="  display: block; margin-left: auto; margin-right: auto; width: 30%;">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class = "col-6 col-md-3 photos-div">
								<div class="file-upload-content" id = "content-2">
									<img id = "cust-img2" class="file-upload-image" src="#" alt="User Photo 2" 
										style = "padding:0px;" width=150/>
									<i title="Remove Photo" 
										class = "fa fa-trash pull-right" 
										id = "delete-photo2"
										style = "cursor: pinter; display:block;"
										onclick = "removeUpload('2');">
									</i> 
								</div>
								<button hidden class="file-upload-btn" id = "upd-input-2" type="button" onclick="$('#input-2').trigger( 'click' );">
									<i class = "fa fa-upload"> </i>
								</button>							
								<div class = "row">
								<div class = "col-12">
								<div class="image-upload-wrap" id = "wrap-2" style = "margin-top: 0px; border: 2px solid  #e6e6e6;">
									<div class="btn-default btn-file drag-text" style = "display: block;">
										<input class="file-upload-input" 
											id = "input-2" type='file' 
											onchange="readURL(this, '2');" 
											accept="image/png, image/jpeg, image/gif, image/bmp" 
											name="user_photo2" 
											class="form-control"
											style = "box-sizing: border-box; width: 50%"/>
										<div id = "upload-show2" onclick="$('#input-2').trigger( 'click' );">
											<!--<img id = "img-2" src = "{% static 'img/custom_framing/upload_icon.png' %}" 
												alt="Upload Image Icon" 
												width=100 style="top: 25%; position: absolute;left: 25%;">
											<p style = "padding: 0px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
												Click to Upload or Drag & Drop
											</p>-->
											<span style = "font-size: 0.7rem;" class = "text-center">
												Click to Upload or Drag & Drop
											</span>
											<img id = "img-2" src = "{% static 'img/custom_framing/upload_icon.png' %}" 
												class = "mt-4 mb-4"
												alt="Upload Image Icon" 
												width=40 style="  display: block; margin-left: auto; margin-right: auto; width: 30%;">
										</div>
									</div>
								</div>
								</div>
								</div>
							</div>
							
							<div class = "col-6 col-md-3 photos-div">
								<div class="file-upload-content" id = "content-3">
									<img id = "cust-img3" class="file-upload-image" src="#" alt="User Photo 3" 
										style = "padding:0px;" width=150/>
									<i title="Remove Photo" 
										class = "fa fa-trash pull-right" 
										id = "delete-photo3"
										style = "cursor: pinter; display:block;"
										onclick = "removeUpload('3');">
									</i> 
								</div>
								<button hidden class="file-upload-btn" id = "upd-input-3" type="button" onclick="$('#input-3').trigger( 'click' );">
									<i class = "fa fa-upload"> </i>
								</button>							
								<div class = "row">
								<div class = "col-12">
								<div class="image-upload-wrap" id = "wrap-3" style = "margin-top: 0px; border: 2px solid  #e6e6e6;">
									<div class="btn-default btn-file drag-text" style = "display: block;">
										<input class="file-upload-input" 
											id = "input-3" type='file' 
											onchange="readURL(this, '3');" 
											accept="image/png, image/jpeg, image/gif, image/bmp" 
											name="user_photo3" 
											class="form-control"
											style = "box-sizing: border-box; width: 50%"/>
										<div id = "upload-show3" onclick="$('#input-3').trigger( 'click' );">
											<span style = "font-size: 0.7rem;" class = "text-center">
												Click to Upload or Drag & Drop
											</span>
											<img id = "img-3" src = "{% static 'img/custom_framing/upload_icon.png' %}" 
												class = "mt-4 mb-4"
												alt="Upload Image Icon" 
												width=40 style="  display: block; margin-left: auto; margin-right: auto; width: 30%;">
										</div>
									</div>
								</div>
								</div>
								</div>
							</div>


							<div class = "col-6 col-md-3 photos-div">
								<div class="file-upload-content" id = "content-4">
									<img id = "cust-img4" class="file-upload-image" src="#" alt="User Photo 4" 
										style = "padding:0px;" width=150/>
									<i title="Remove Photo" 
										class = "fa fa-trash pull-right" 
										id = "delete-photo4"
										style = "cursor: pinter; display:block;"
										onclick = "removeUpload('4');">
									</i> 
								</div>
								<button hidden class="file-upload-btn" id = "upd-input-4" type="button" onclick="$('#input-4').trigger( 'click' );">
									<i class = "fa fa-upload"> </i>
								</button>							
								<div class = "row">
								<div class = "col-12">
								<div class="image-upload-wrap" id = "wrap-4" style = "margin-top: 0px; border: 2px solid  #e6e6e6;">
									<div class="btn-default btn-file drag-text" style = "display: block;">
										<input class="file-upload-input"
											id = "input-4" 
											type='file' 
											onchange="readURL(this, '4');" 
											accept="image/png, image/jpeg, image/gif, image/bmp" 
											name="user_photo4" 
											class="form-control"
											style = "box-sizing: border-box; width: 50%"/>
										<div id = "upload-show4" onclick="$('#input-4').trigger( 'click' );">
											<span style = "font-size: 0.7rem;" class = "text-center">
												Click to Upload or Drag & Drop
											</span>
											<img id = "img-4" src = "{% static 'img/custom_framing/upload_icon.png' %}" 
												class = "mt-4 mb-4"
												alt="Upload Image Icon" 
												width=40 style="  display: block; margin-left: auto; margin-right: auto; width: 30%;">
										</div>
									</div>
								</div>
								</div>
								</div>
							</div>

						</div>
						<div class = "row mt-5">											  
							<div class="col-12">
								<div class = "form-group">
									<label class="checkbox-inline">
									  <input id = "id_allow_to_use" name = "allow_to_use"
										type="checkbox" value="TRUE" checked>
											Allow Arte'Venue to use the review & pictures on its website and the media posts<br/>
										<small>(As per our privacy policy, we will not use your email, or contact number)</small>
									</label>
								</div>
							</div>
						</div>
						<div class = "row">
							<div class="col-12 mt-5 text-center">
								<div class="form-group">
									<button 
										class = "btn btn-primary" type="submit" 
										form = "rev-form">
										Submit Review
									</button>
								</div>
							</div>
						</div>
						{% include "artevenue/fix-error-message.html" %}
						{% include 'artevenue/show-product.html' %}
					</div>
				</form>				
			</div>
		</div>
	{% endblock sitecontent %}

	
	{% block jscripts %}
	
	<script>
		$( document ).ready(function() {
			{% if customer_review_form.rating.value %}
				var rating = parseInt('customer_review_form.rating.value');
				if (isNaN(rating) == false && rating > 0) {
					click_star(rating);
				}
			{% endif %}
		
		});	
	</script>
	<script>
		function click_star(number){
			$("#id_rating").val(number);
			switch (number) {
			  case 1:
				$("#1star").html("<i class='fa fa-star'>");
				$("#2star").html("<i class='fa fa-star-o'>");
				$("#3star").html("<i class='fa fa-star-o'>");
				$("#4star").html("<i class='fa fa-star-o'>");
				$("#5star").html("<i class='fa fa-star-o'>");
				break;
			  case 2:
				$("#1star").html("<i class='fa fa-star'>");
				$("#2star").html("<i class='fa fa-star'>");
				$("#3star").html("<i class='fa fa-star-o'>");
				$("#4star").html("<i class='fa fa-star-o'>");
				$("#5star").html("<i class='fa fa-star-o'>");
				break;
			  case 3:
				$("#1star").html("<i class='fa fa-star'>");
				$("#2star").html("<i class='fa fa-star'>");
				$("#3star").html("<i class='fa fa-star'>");
				$("#4star").html("<i class='fa fa-star-o'>");
				$("#5star").html("<i class='fa fa-star-o'>");
				break;
			  case 4:
				$("#1star").html("<i class='fa fa-star'>");
				$("#2star").html("<i class='fa fa-star'>");
				$("#3star").html("<i class='fa fa-star'>");
				$("#4star").html("<i class='fa fa-star'>");
				$("#5star").html("<i class='fa fa-star-o'>");
				break;
			  case 5:
				$("#1star").html("<i class='fa fa-star'>");
				$("#2star").html("<i class='fa fa-star'>");
				$("#3star").html("<i class='fa fa-star'>");
				$("#4star").html("<i class='fa fa-star'>");
				$("#5star").html("<i class='fa fa-star'>");
				break;
			}
		}
	</script>
	
	<script>
		$("#upload-form1").submit(function(e) {
			e.preventDefault();
			var fileInput = document.getElementById('user_image1');
			var file = fileInput.files[0];
			var formData = new FormData();
			formData.append('file', file);
			document.getElementById('upload-photo1').src = URL.createObjectURL(file);
			getOrientation(fileInput.files[0], function(orientation) {
				switch	(orientation){
					case '6':
						document.getElementById('upload-photo1').style.transform = "rotate(90deg)";
						break;
					case '8':
						document.getElementById('upload-photo1').style.transform = "rotate(270deg)";
						break;
					case '3':
						document.getElementById('upload-photo1').style.transform = "rotate(180deg)";
						break;
				}
			});
		});
		$("#upload-form2").submit(function(e) {
			e.preventDefault();
			var fileInput = document.getElementById('user_image2');
			var file = fileInput.files[0];
			var formData = new FormData();
			formData.append('file', file);
			document.getElementById('upload-photo2').src = URL.createObjectURL(file);
			getOrientation(fileInput.files[0], function(orientation) {
				switch	(orientation){
					case '6':
						document.getElementById('upload-photo2').style.transform = "rotate(90deg)";
						break;
					case '8':
						document.getElementById('upload-photo3').style.transform = "rotate(270deg)";
						break;
					case '3':
						document.getElementById('upload-photo4').style.transform = "rotate(180deg)";
						break;
				}
			});
		});
		$("#upload-form3").submit(function(e) {
			e.preventDefault();
			var fileInput = document.getElementById('user_image3');
			var file = fileInput.files[0];
			var formData = new FormData();
			formData.append('file', file);
			document.getElementById('upload-photo3').src = URL.createObjectURL(file);
			getOrientation(fileInput.files[0], function(orientation) {
				switch	(orientation){
					case '6':
						document.getElementById('upload-photo3').style.transform = "rotate(90deg)";
						break;
					case '8':
						document.getElementById('upload-photo3').style.transform = "rotate(270deg)";
						break;
					case '3':
						document.getElementById('upload-photo3').style.transform = "rotate(180deg)";
						break;
				}
			});
		});
		$("#upload-form4").submit(function(e) {
			e.preventDefault();
			var fileInput = document.getElementById('user_image4');
			var file = fileInput.files[0];
			var formData = new FormData();
			formData.append('file', file);
			document.getElementById('upload-photo4').src = URL.createObjectURL(file);
			getOrientation(fileInput.files[0], function(orientation) {
				switch	(orientation){
					case '6':
						document.getElementById('upload-photo4').style.transform = "rotate(90deg)";
						break;
					case '8':
						document.getElementById('upload-photo4').style.transform = "rotate(270deg)";
						break;
					case '3':
						document.getElementById('upload-photo4').style.transform = "rotate(180deg)";
						break;
				}
			});
		});
	</script>

	<script>
	
		function submit_review(){
			var fileInput = document.getElementById('user_image1');
			var file1 = fileInput.files[0];
			var formData = new FormData();
			formData.append('file1', file1);
			var fileInput = document.getElementById('user_image2');
			var file2 = fileInput.files[0];
			formData.append('file2', file2);
			var fileInput = document.getElementById('user_image3');
			var file3 = fileInput.files[0];
			formData.append('file3', file3);
			var fileInput = document.getElementById('user_image4');
			var file4 = fileInput.files[0];
			formData.append('file4', file4);
			
			formData.append('product_id', product_id);
			formData.append('name', $("#name").val());
			formData.append('rating', rating);
			formData.append('headline', $("#headline").val());
			formData.append('comments', $("#comments").val());
			formData.append('allow_to_use', $("#allow_to_use").val());
			$.ajax({
				url: '{% url "write_customer_review" %}', 
				data:formData,
				processData: false,
				contentType: false,
				type: 'post',				
				success: function (data) {
					var data = JSON.parse(data);
					var sts = data.msg.toUpperCase();
					if (data.sts = "ERROR") {
						alert(data.msg);
					}
				},
				error: function(xhr){
					alert("An error occured: " + xhr.status + " " + xhr.statusText + " Please make sure that you are uploading a proper ,jpg, .gif or .png image."); 
					return;
				}
			});				
		}	
	</script>

	<script>
		function readURL(input, num) {
		    if (input.files && input.files[0]) {
				var reader = new FileReader();
				var upd_wrap = '#wrap-' + num;
				var upd_img = '#cust-img' + num
				var upd_content = '#content-' + num;
				reader.onload = function(e) {
				$(upd_wrap).hide();
				$(upd_img).attr('src', e.target.result);
				$(upd_content).show();
			};
			reader.readAsDataURL(input.files[0]);
		  } else {
			removeUpload(num);
		  }
		}

		function removeUpload(num) {
			var upd_wrap = '#wrap-' + num;
			var upd_img = '#cust-img' + num
			var upd_inp = '#upd-input-' + num
			var upd_content = '#content-' + num;
			var inp = "#input-" + num;
		  $(upd_inp).replaceWith($(upd_inp).clone());
		  $(upd_content).hide();
		  $(upd_wrap).show();		  
		}
	</script>
	<script>
		$('.image-upload-wrap').bind('dragover', function () {
				$('.image-upload-wrap').addClass('image-dropping');
			});
			$('.image-upload-wrap').bind('dragleave', function () {
				$('.image-upload-wrap').removeClass('image-dropping');
		});
	</script>	

	<script>
		grecaptcha.ready(function() {
			grecaptcha.execute('6Le2ZqAUAAAAAIAvZ7dRPJkj5zLI2IYAxfPktXqE', {action:'write_review'})
					  .then(function(token) {
				// add token value to form
				document.getElementById('g-recaptcha-response').value = token;
			});
		});
	</script>
{% endblock jscripts %}
			
	