{% load static %}
<!--<div class="col-12 announcement" style = "font-size:0.8rem; padding:5px;">
	{% if request.user.is_authenticated %}
		LARGEST WALL ART COLLECTION. ELEGANT ART PRINTS.
	{% else %}
		<i class = "fa fa-gift fa-2x"></i> 
		FLAT 15% OFF ON 1ST ORDER. 
		<a data-toggle="modal" data-target="#signup_popup-modal" 
			style = "text-decoration: underline;!important;
				font-weight: 600;">
		SIGN UP NOW
		</a>
	{% endif %}
</div>-->
<div class="col-12 text-center" style = "font-size:0.9rem; padding:5px; background-color: #d90102; color: #fff; font-weight:700;">
	<img src = "{% static 'img/snowflake.png' %}" height=30 class = "pull-left"> 
	<img src = "{% static 'img/snowflake.png' %}" height=30  class = "pull-left"> 
	<img src = "{% static 'img/snowflake.png' %}" height=30 class = "pull-right"> 
	<img src = "{% static 'img/snowflake.png' %}" height=28  class = "pull-right"> 
	BIG CHRISTMAS DISCOUNT - <span style = "padding:2px; text-shadow: 2px 2px #000;"><strong>LAST FEW HOURS LEFT</strong></span>, Hurry Up!<br />
	<span style = "font-size:0.8rem;">
	<!--Join our 
	<a href = "https://youtu.be/Ha9N5oyHWNc" 
		target = "_blank"
		style="color:#fff; text-decoration: underline;">
		YouTube Live Stream 
	</a>
	on 19th Dec, 5 pm to 6 pm, & Get the Coupon Code 
	<a href = "https://youtu.be/Ha9N5oyHWNc" 
			target = "_blank"
			style="color:#fff;">
		<i class = "fa fa-youtube-play fa-lg"></i>
	</a>-->
	Apply Coupon Code <span style = "font-size:1.0rem; font-weight:700; border:1px solid #fff; border-radius:4px; padding:2px;">
	CHR25OFF</span> in Shopping Cart 
	& Get <span style="font-weight:700;" >25%</span> Off. 
	Valid Only Upto <span style="text-decoration: underline; font-weight:700;" >Sun, 27th Dec</span>. 
	</span>
</div>
<div class="col-12 text-center" style = "color: #fff; background-color:#000; font-weight: 700;">
	<a style = "color: #fff; font-weight: 700;" target = '_blank'
		href = "https://startup.siliconindia.com/vendor/home-decor-startups-2020-artevenue-cid-14000.html">
		Arte'Venue in SiliconIndia's 10 Best Home Decor Startups
		<i class = "fa fa-caret-right fa-lg">
		</i>
	</a>
</div>

<!--<div class="col-12 announcement">
	<img src = "{% static 'img/christmas_discount_offer.png' %}" height=70>
</div>-->

	
