pip install django=2.2.4

Babel
numpy
opencv-python
	For open-cv
		apt-get update
		apt-get install ffmpeg libsm6 libxext6  -y	


python-decouple
pip install dj-database-url
pip install django-widget-tweaks
pip install django-allauth
pip install djangorestframework
pip install git+https://github.com/narenchoudhary/django-indian-numbers#egg=django-indian-numbers
pip install django-webmaster-verification
pip install psycopg2==2.8.6
pip install Pillow
pip install django-tinymce
pip install dateutils
pip install weasyprint
(Install GTK3 runtime on Windows)
pip install ipaddr
pip install django-ip





Logo Color: 1b3445