{% load static %}

<section class="curated_section">
		<div class="hgroup_2 text-center"><h2 class = "mb-2 text-center">Curated</h2></div>
		
		<div class="row">

			<div class = "col-lg-6" style = "padding-right:1px;">
				<div class="curted_pic">
					<img style = "width:100%;" src="{% static 'img/curated/curated_art_over_centuries.jpg' %}" class="img-fluid">
				</div>
			</div>
			<div class = "col-lg-6"  style = "padding-left:1px;">
				<div class="curted_pic">
					<img style = "width:100%;" src="{% static 'img/curated/curated_photography.jpg' %}" class="img-fluid">
				</div>
			</div>
			
		</div>
	<!-- </div> -->
</section>