{% load static %}					
{% load utils %}					
					<!-- Category header -->
					<div class="box-cat info-bar">
						<div class="row">

							<div class="col-md-12 col-lg-12 products-number-sort">
								<!-- <form class="form-inline d-block d-lg-flex justify-content-between flex-column flex-md-row"> -->
									<div class="products-number">
										<strong>Show</strong>
										<!--<a href="?page={{prods.number}}&sort={{sortOrder}}&show=50" class="btn btn-sm {% if show == '50' or show == None %} btn-primary {% else %} btn-outline-secondary {% endif %}">50</a><a href="?page={{prods.number}}&sort={{sortOrder}}&show=100" class="btn btn-sm {% if show == '100' %} btn-primary {% else %} btn-outline-secondary {% endif %}">100</a><a href="?page={{prods.number}}&sort={{sortOrder}}&show=ALL" class="btn btn-sm {% if show == 'ALL' %} btn-primary {% else %} btn-outline-secondary {% endif %}">All</a><span>results/page</span>-->
										<button type = 'button' onclick="getAllFilters(page='{{prods.number}}', sort='{{sortOrder}}',show='50', keywords='{{ikeywords}}');" class="btn btn-sm {% if show == '50' or show == 'None' %} btn-primary {% else %} btn-outline-secondary {% endif %}">50</button><button onclick="getAllFilters(page='{{prods.number}}', sort='{{sortOrder}}', show='100', keywords='{{ikeywords}}');" class="btn btn-sm {% if show == '100' %} btn-primary {% else %} btn-outline-secondary {% endif %}">100</button><button onclick="getAllFilters(page='{{prods.number}}', sort='{{sortOrder}}', show='1000', keywords='{{ikeywords}}');" class="btn btn-sm {% if show == '1000' %} btn-primary {% else %} btn-outline-secondary {% endif %}">1000</button><span>results/page</span>
									</div>

								<!-- </form>-->
							</div>

						</div>
					</div>

					<h5>{{prods.paginator.count}} results found</h5>

					
					<div class="row">
						{% for prod in prods %}
						<div class="col-lg-3 col-md-6">
							<div class = "prod-details">
								<div class="img-container">
									<!-- <a href="{% url 'stock_image_detail' %}">Test</a> -->
									<form id = "img-form_{{prod.product_id}}" method = 'GET' >
										
										<img src="{{prod.framed_url}}" alt="" class="img-fluid image-display" 
												style = "filter: drop-shadow(0.25rem 0.25rem 0.25rem grey);" onclick="display_prod('{{prod.product_id}}');">
									</form>
									<!--</a>-->
								</div>

								<div class="text text-center" style = "margin-top: 5px;">
									<strong>
										<button style="padding-left:0px;" type ="button" class = "btn btn-link pull-left" onclick = "getFramedImg('{{prod.product_id}}', '{{prod.image_width}}', '{{prod.moulding_id | default_if_none:0}}', '{{prod.mount.color | default_if_none:0}}','{{prod.mount_size | default_if_none:0}}', '{{prod.url | default_if_none:""}}');">
											{{prod.product_name|truncatechars:15 }} ({{prod.product_id}})
										</button>

									</strong>
									<p class="price">
										<i class = "fa fa-inr"></i> {{prod.item_total}}
									</p>
									<ul style = "text-align:left;">
										{% with width=prod.moulding.width_inner_inches|add_width_frame_mount:prod.mount_size %}
										<small>
										<li>Print on {{prod.print_medium_id|title}}</li>
										{% if prod.moulding_id %}
										<li>Print Size : {{ prod.image_width }}" X {{prod.image_height }}"</li>
										<li>Frame {{prod.moulding.name }} ({{prod.moulding.width_inches}} inch)</li>
										{% if prod.mount_id %}
											<li>Mount: {{prod.mount_size }}", Color: {{prod.mount.name|title }} </li>
										{% endif %}
										<li>Total Size: 
											{{ prod.image_width|add_width:width|add_width:width }}" X {{prod.image_height|add_width:width|add_width:width }}"</li>
										{% else %}
											<li>Image Size : {{ prod.image_width }}" X {{prod.image_height }}"</li>
										{% endif %}												
										{% if prod.acrylic_id %}
											<li>Acrylic covered</li>
										{% endif %}
										{% if prod.stretch_id %}
											<li>Canvas Stretched</li>
										{% endif %}
										</small>
										{% endwith %}
									</ul>
								</div>
							</div>
						</div>
						<!-- END of Products -->
						{% endfor prods %}

					</div>
					<div class="box-cat info-bar">
						<div class="row">
							<div class="col-md-12 col-lg-12">
								<ul class = "pagination justify-content-center"style="margin-bottom:0px !important">
									{% if prods.has_previous %}
									<li class="page-item">
									  <button class="page-link" onclick="getAllFilters(page='1', sort='{{sortOrder}}', show='{{show}}', keywords='{{ikeywords}}');" aria-label="Previous">
										<span aria-hidden="true">&laquo; First</span>
										<span class="sr-only">begin</span>
									  </button>
									</li>   {% endif %}

									{% for n in prods.paginator.page_range %}
									  {% if prods.number == n %}
										<li class="page-item active">
										  <span class="page-link">{{ n }}<span class="sr-only">(current)</span></span>
										</li>
									  {% elif n > prods.number|add:'-5' and n < prods.number|add:'5' %}
										<li class="page-item">
										<button class="page-link" onclick="getAllFilters(page='{{n}}', sort='{{sortOrder}}', show='{{show}}', keywords='{{ikeywords}}');">{{ n }}</a></li>
									  {% endif %}
									{% endfor %}

									{% if prods.has_next %}
									  <li class="page-item">
										<button class="page-link" onclick="getAllFilters(page='{{prods.paginator.num_pages}}', sort='{{sortOrder}}', show='{{show}}', keywords='{{ikeywords}}');" aria-label="Next">
										  <span aria-hidden="true">Last &raquo;</span>
										  <span class="sr-only">end</span>
										</button>
									  </li>
									  {% endif %}   
								</ul> 
							</div>
						</div>
					</div>