{% extends 'artevenue/estore_base.html' %}
{% load static %}
{% load widget_tweaks %}

	<!-- Only Override the site content block -->
	{% block sitecontent %}

    <div id="all">
		<div id="content">
			<div class="container">
				<div class = "row">
					<div class="col-lg-12">
						<!-- breadcrumb-->
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
								<li aria-current="page" class="breadcrumb-item active">Cart Details</li>
							</ol>
						</nav>
					</div>
				</div>
				<div class = "row">
					<div class = "col-lg-12">
						<div class="box info-bar">
							<div class = "row">
								<div class = "col-xs-6 col-lg-4">
									<div class="form-group">
										<label>From:</label>
										<input name = "fromdate" id = "fromdate" 
											class = "form-control" type="date" onchange = "copy_date('FROMDATE');"/>
									</div>
								</div>
								<div class = "col-xs-6 col-lg-4">
									<div class="form-group">
										<label>To:</label>
										<input name = "todate" id = "todate" 
											class = "form-control" type="date" onchange = "copy_date('TODATE');" />
									</div>
								</div>
							</div>
							<div class = "row">
								<div class = "col-xs-6 col-lg-4">
									<div class="form-group">
										<label>By User email:</label>
										<input name = "user_email" id = "user_email" 
											class = "form-control" type="email"
											onchange = "copy_email();"/>
									</div>
								</div>
								<div class = "col-xs-6 col-lg-4">
									<div class = "box">
										<form>
										<div class="form-group">
											<div class="radio">
												<label><input type="radio" name="carts_opt" value = 'ALL'
													onchange = "copy_cart('ALL');" checked> All Carts
												</label>
											</div>
											<div class="radio">
												<label><input type="radio" name="carts_opt" value = 'NO-CHK'
													onchange = "copy_cart('NO-CHK');"> Cart without checkout
												</label>
											</div>
											<div class="radio">
												<label><input type="radio" name="carts_opt" value = 'CHK'
													onchange = "copy_cart('CHK');"> Carts with checkout, no payment
												</label>
											</div>
											<div class="radio">
												<label><input type="radio" name="carts_opt" value = 'PAY-DONE'
													onchange = "copy_cart('PAY-DONE');"> Carts with payment done
												</label>
											</div>
										</div>									
										</form>
									</div>
								</div>
								<div class = "col-xs-6 col-lg-2">
									<div class="form-group">
										<label>&nbsp; </label><br />
										<button type="button" id = "date-submit" 
										class = "btn btn-primary"
										onclick = "get_carts('1', 'NO');">Submit</button>
									</div>
								</div>
							</div>
						</div>
						<div class="box info-bar">
							<div id = "carts_table">
								{% include 'artevenue/carts_table.html' %}
							</div>
							
							<div class="row">
								<form method = "POST" action = "{% url 'get_carts'%}" id = "getpdf">
									<input hidden name = "printpdf" value = "YES">
									<input hidden name = "fromdate" id = "fromdate_pdf" value = "$('#fromdate').val();">
									<input hidden name = "todate" id = "todate_pdf" value = "$('#todate').val();">
									<input hidden name = "user_email" id = "user_email_pdf" >
									<input hidden name="carts_opt" id="carts_opt_pdf">
									<input hidden name="no_checkout_carts" id="no_checkout_carts_pdf">
									<input hidden name="all_carts" id="all_carts_pdf">
									<input hidden name = "no_payment_carts" id = "no_payment_carts_pdf">
									<input hidden name = "payment_done_carts" id = "payment_done_carts_pdf">
									<div class="form-group">
										<button type="submit" id = "submit_pdf" 
										class = "btn btn-primary" form = "getpdf">
										Download PDF</button>
									</div>	
								</form>
							</div>							
							
						</div>						
					</div>
					
				</div>
			</div>
        </div>
    </div>
	{% include 'artevenue/message-modal_ok.html' %}
	{% endblock sitecontent %}


	{% block jscripts %}
		<script>
		function getButtons(){
			// Get the export buttons
			entTable = $('#ordTbl').DataTable( {
				fixedHeader: true,
				responsive: true,
				select: false,
				paging: true,
				dom: '<"top"f>Brt<"bottom"ilp><"clear">',
				buttons: [
				   'copy', 'excel', 'pdf', 'print'
				]
			} );
		}
		</script>
	
	<script>
		$( document ).ready(function() {
			var today = new Date();

			var from_dt = new Date();
			from_dt.setDate( from_dt.getDate() - 7) 
			var fm_dt = from_dt.getDate();
			var fm_mn = from_dt.getMonth();
			var fm_mn = fm_mn + 1; //Javascript month start from 0
			var fm_yy = from_dt.getFullYear();			
			document.getElementById("fromdate").value = ( parseInt(fm_yy) + "-" + zeroPad(fm_mn) + "-" + zeroPad(fm_dt) );
			document.getElementById("fromdate_pdf").value = ( parseInt(fm_yy) + "-" + zeroPad(fm_mn) + "-" + zeroPad(fm_dt) );

			var to_dt = today.getDate();
			var to_mn = today.getMonth();
			var to_mn = to_mn + 1;
			var to_yy = today.getFullYear();			
			
			document.getElementById("todate").value = ( parseInt(to_yy) + "-" + zeroPad(to_mn) + "-" + zeroPad(to_dt) );
			document.getElementById("todate_pdf").value = ( parseInt(to_yy) + "-" + zeroPad(to_mn) + "-" + zeroPad(to_dt) );
		
		
			// Trigger the inital fetch of orders
			document.getElementById("date-submit").click();

		});
	
		function get_carts(page, printpdf='NO'){
		
			var execute_ajax = false;
			var query_data = {};
			//Get the from, to dates
			var fm_d = new Date(document.getElementById("fromdate").value);
			if (fm_d > new Date()) {
				$("#msg").html("From Date can't be greatrer than today");
				$("#msg-modal").modal("show");
				return;
			}
			var fm_dt = fm_d.getDate();
			var fm_mn = fm_d.getMonth();
			var fm_mn = fm_mn + 1; //Javascript month start from 0
			var fm_yy = fm_d.getFullYear();			
			var from_date = fm_yy + "-" + fm_mn + "-" + fm_dt;
			  
			var to_d = new Date(document.getElementById("todate").value);
			var to_dt = to_d.getDate();
			var to_mn = to_d.getMonth();
			var to_mn = to_mn + 1; //Javascript month start from 0
			var to_yy = to_d.getFullYear();			
			var to_date = to_yy + "-" + to_mn + "-" + to_dt;
			
			if ( to_d < fm_d ) {
				$("#msg").html("To Date can't be earlier than From Date");
				$("#msg-modal").modal("show");
				return;
			}
			var user_email = $("#user_email").val();
			var carts_opt = $("input[name='carts_opt']:checked").val();
			
			
			query_data = {'fromdate':from_date, 'todate':to_date, 'page':page, 'printpdf':printpdf,
			'user_email':user_email, 'carts_opt' :carts_opt}

			$.ajax({
				url: "{% url 'get_carts' %}", 
				dataType: 'text',
				data: query_data,
				type: 'POST',
				success: function (data) {
					if (printpdf == "NO") {
						$("#carts_table").html(data);
						//getButtons();
					}
				},
				error: function(xhr){
					alert("An error occured: " + xhr.status + " " + xhr.statusText + " Apologies for the inconvenience!! Please let us know the details and we will be happy to help sort it out."); 
					return;
				}
			});	
		}
		
		
		function zeroPad(val){
			if(val < 10){
				ret = "0" + String(val);
			} else {
				ret = String(val);
			}
			return ret;
		}
	</script>

	
	<script>
	function copy_date(type){
		if (type == "FROMDATE") {
			var fm_d = new Date(document.getElementById("fromdate").value);
			var fm_dt = fm_d.getDate();
			var fm_mn = fm_d.getMonth();
			var fm_mn = fm_mn + 1; //Javascript month start from 0
			var fm_yy = fm_d.getFullYear();			
			var from_date = fm_yy + "-" + fm_mn + "-" + fm_dt;
			$('#fromdate_pdf').val(from_date);
		} 
		if (type == "TODATE") {
			var to_d = new Date(document.getElementById("todate").value);
			var to_dt = to_d.getDate();
			var to_mn = to_d.getMonth();
			var to_mn = to_mn + 1; //Javascript month start from 0
			var to_yy = to_d.getFullYear();			
			var to_date = to_yy + "-" + to_mn + "-" + to_dt;
			$('#todate_pdf').val(to_date);
		}
	}
	</script>

	<script>
	function copy_cart(type){
		if (type == "NO-CART") {
			$("#no_checkout_carts_pdf").val( $("#no_checkout_carts").val() );
		}
		if (type == "CHK") {
			$("#no_payment_carts_pdf").val( $("#no_payment_carts_carts").val() );
		}
		if (type == "PAY-DONE") {
			$("#payment_done_carts_pdf").val( $("#payment_done_carts").val() );
		}
		if (type == "ALL") {
			$("#all_carts_pdf").val( $("#all_carts").val() );
		}
		
		$("#carts_opt_pdf").val( type );
	}
	</script>
	<script>
	function copy_email(){
		$("#user_email_pdf").val ( $("#user_email").val() );
	}
	</script>
	{% endblock jscripts %}