{% extends 'artevenue/estore_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block page-title %}
<title>Artist sign up for sell of original as well as art prints of their artwork | Arte'venue Artist</title>
{% endblock page-title %}

{% block page-description %}
<meta name="description" content="Arists sign up to showcase, sell their orginal art work and art prints.">
{% endblock page-description %}

{% block page-keywords %}  
<meta name="keywords" content="platform for artist, artist profiles, original art from artists, artist art prints for sale, artist art for sale">
{% endblock page-keywords %}  

{% block page-author %}  
<meta name="author" content="Arte'venue">
{% endblock page-author %}  

	<!-- Only Override the site content block -->
	{% block sitecontent %}

	
    <div id="highlighted-slider" class="container ccontainer">
		<div class = "mt-2" style = "background-color:#11b6bd; color:#fff; padding:30px;">
			<div class="row">
				<div class="col-12">
					<div class = "text-center">
						<h1>WLECOME TO ARTE'VENUE</h1>
					</div>
				</div>
				<div class="col-12">
					<div class = "text-center">
						<h3>THANK YOU FOR SIGNING UP AS AN ARTIST</h3>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 mt-3">
					<div class = "text-center">
						You will soon be eligible to get your art showcased and start selling.
						It's as easy as 1-2-3.
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-3">
			<div class="col-12">
				<div class = "text-center">
					<strong>NEXT STEPS</strong>
				</div>
			</div>
		</div>
		<div class="row">
			<div class = "col-12 col-md-4 mt-3 text-center">
				<span class = "frame_num">1</span>
				<span class = "frame_text" >Create Your profile</span>
				<div class = "text-center"  style = "color:#665d6f;">
					<span style = "font-size: 0.6rem;">Your profile will be displayed on your web page.
					Use this to showcase yourself to potential buyers.
					</span>
				</div>
			</div>
			<div class = "col-12 col-md-4 mt-3 text-center">
				<span class = "frame_num">2</span>
				<span class = "frame_text" >Upload Your Art & Set Parameters</span>			
				<div class = "text-center" style = "color:#665d6f;">
					<span style = "font-size: 0.6rem;">Upload images of your paintings, photographs, sketches etc.
						Input parameters for each image, such as medium, surface, price etc.
					</span>
				</div>
			</div>
			<div class = "col-12 col-md-4 mt-3 text-center">
				<span class = "frame_num">3</span>
				<span class = "frame_text" >Review and Submit</span>
				<div class = "text-center"  style = "color:#665d6f;">
					<span style = "font-size: 0.6rem;">Review the artwork image, it's data, and when 
					you are done, submit for Arte'Venue review.
					Arte'Venue will review your artworks. As it gets approved, you go-live
					on the website.
					</span>
				</div>
			</div>
		</div>
		<div class="row mb-5"  style = "padding:30px;">
			<div class = "col-12 col-md-6 mt-3 text-center">
				<a class = "btn btn-secondary" href = "{% url 'index' %}">
					CONTINUE LATER
				</a>
			</div>
			<div class = "col-12 col-md-6 mt-3 text-center">
				<a class = "btn btn-primary" href = "{% url 'artist_profile' %}">
					LET'S START WITH YOUR PROFILE 
				</a>
			</div>
		</div>
    </div>

	
	{% endblock sitecontent %}

	
	{% block jscripts %}
		
	{% endblock jscripts %}
			
	