{% extends 'artevenue/estore_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block page-title %}
<title>Create Artist profile | Create Artist profile on Arte'Venue</title>
{% endblock page-title %}

{% block page-description %}
<meta name="description" content="Create your artist profile using this webpage.">
{% endblock page-description %}

{% block page-keywords %}  
<meta name="keywords" content="platform for artist, artist profile, showcase artists">
{% endblock page-keywords %}  

{% block page-author %}  
<meta name="author" content="Arte'venue">
{% endblock page-author %}  

{% block add_to_head %}
   <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
   <script>tinymce.init({ selector:'textarea' });</script>
{% endblock add_to_head %}

	<!-- Only Override the site content block -->
	{% block sitecontent %}

	
    <div class="container">
		<div class="row mt-3">
			<div class = "col-4" style = "border:1px solid #ced4da; border-radius: 0.25rem; padding:15px;">
				<div class = "row">
					<div class = "col-5">
						<form id = "img-form" method = "post" enctype='multipart/form-data'>										
							{% csrf_token %}
						<!-- <span id = "artist"> Click browse button to select an image</span> -->
						<div class = "btn btn-default btn-file" style = "border:2px solid gainsboro;">
							<input name="image_to_frame" class="form-control" id="user_image" onchange = "$('#upld_btn').click()" type="file" accept="image/png, image/jpeg, image/gif, image/bmp" required>
							{% if artist.profile_photo %}
							<img src = "{{ artist.profile_photo.url }}"><br /> Update Photo<input hidden name="user_id" syle = "display:none;" class="form-control" id="user_id" value = "{{request.user}}">
							{% else %}
							<img src = "{% static 'img/upload_icon1.png' %}"><br /> Upload<input hidden name="user_id" syle = "display:none;" class="form-control" id="user_id" value = "{{request.user}}">
							{% endif %}
						</div>
						<button hidden id= "upld_btn" class="btn btn-primary" type = "submit" > <i class = "fa fa-upload"></i> Upload </button>
						</form>
					</div>
					<div class = "col-7">
						<span style = "color:#696969;">Upload your profile picture</span>
					</div>
				</div>
				<!-- <img class="img-thumbnail img-display pull-right" src="{% if artist.profile_photo %} {{artist.profile_photo.url}} {% endif %}" alt="Photo"> -->
			</div>
			<div class="col-5">
				<input id='profile_name' name='profile_name' maxlength="500" class = "form-control"
					placeholder="Name as you wish to display" value = "{{artist.profile_name}}" required>
				<input id='profile_tagline' name='profile_tagline' maxlength="500" class = "form-control"
					placeholder="A tag line you may want to include" value = "{{artist.profile_tagline}}">
			</div>
		</div>
		<div class="row mt-3">
			<div class="col-12">
				PROFILE:
			</div>
		</div>
		<div class="row mt-3">
			<div class="col-12">
				<textarea max-width= "2000" id = "about-me" name = "profile" style = "width: 100%;"
					placeholder = "Enter your profile here. You have 2000 characters limit.">
					Input your profile here. You have 2000 characters limit.
				</textarea>
			</div>
		</div>
		<div class="row mt-3">
			<div class="col-12">
				EVENTS: <br />
				Enter the list of up to 5 of top events that your have participated in as an artist and your art was showcased.
			</div>
		</div>
		<div class="row ">
			<div class="col-12">
				<input class = "form-control" id = "e_1" name = "event_1" max-width = "400" value = "{{e1}}">
				<input class = "form-control" id = "e_2" name = "event_2" max-width = "400" value = "{{e2}}">
				<input class = "form-control" id = "e_3" name = "event_3" max-width = "400" value = "{{e3}}">
				<input class = "form-control" id = "e_4" name = "event_4" max-width = "400" value = "{{e4}}">
				<input class = "form-control" id = "e_5" name = "event_5" max-width = "400" value = "{{e5}}">
			</div>
		</div>
		<div class="row mt-3">
			<div class="col-12">
				ACHIEVEMENTS: <br />
				Enter the list of up to 5 awards or recognitions you have received or your achievements in the field of art.
			</div>
		</div>
		<div class="row ">
			<div class="col-12">
				<input class = "form-control" id = "a_1" name = "award_1" max-width = "400" value = "{{a1}}">
				<input class = "form-control" id = "a_2" name = "award_2" max-width = "400" value = "{{a2}}">
				<input class = "form-control" id = "a_3" name = "award_3" max-width = "400" value = "{{a3}}">
				<input class = "form-control" id = "a_4" name = "award_4" max-width = "400" value = "{{a4}}">
				<input class = "form-control" id = "a_5" name = "award_5" max-width = "400" value = "{{a5}}">
			</div>
		</div>


		<div class="row mt-3 mb-5"  style = "background-color:#11b6bd; color:#fff; padding:10px;">
			<div class="col-12">
				<div class = "text-left">
					<a href = "" style = "color:#fff;">											
						<i class = "fa fa-save fa-lg">
						</i>
						SAVE
					</a>
				</div>
				<div class = "text-center">
					<a href = "" style = "color:#fff;">					
						PREVIEW
						<i class = "fa fa-eye fa-lg">
						</i>
					</a>
				</div>
				<div class = "text-right">
					<a href = "" style = "color:#fff;">					
						NEXT
						<i class = "fa fa-caret-square-o-right fa-lg">
						</i>
					</a>
				</div>
			</div>
		</div>
    </div>

	
	{% endblock sitecontent %}

	
	{% block jscripts %}
		
	{% endblock jscripts %}
			
	