{% extends 'artevenue/estore_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block page-title %}
<title>Artist sign up for sell of original as well as art prints of their artwork | Arte'venue Artist</title>
{% endblock page-title %}

{% block page-description %}
<meta name="description" content="Arists sign up to showcase, sell their orginal art work and art prints.">
{% endblock page-description %}

{% block page-keywords %}  
<meta name="keywords" content="platform for artist, artist profiles, original art from artists, artist art prints for sale, artist art for sale">
{% endblock page-keywords %}  

{% block page-author %}  
<meta name="author" content="Arte'venue">
{% endblock page-author %}  

	<!-- Only Override the site content block -->
	{% block sitecontent %}

	
    <div id="highlighted-slider" class="container ccontainer">
		<div class = "mt-2" style = "background-color:#11b6bd; color:#fff; padding:30px;">
			<div class="row">
				<div class="col-12">
					<div class = "text-center">
						<strong>THANK YOU FOR SIGNING UP AS AN ARTIST</strong>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 mt-3">
					<div class = "text-center">
						You will soon be eligible to get your art showcased and start selling.
						It's as easy as 1-2-3.
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-3">
			<div class="col-12">
				<div class = "text-center">
					<strong>NEXT STEPS</strong>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 mt-3">
				<!-- <div  class = "text-center">
					<ul>
						<li>
							Create Your Profile
						</li>
						<li>
							Upload Your Artwork
						</li>
						<li>
							Review and Start
						</li>
					</ul>
				</div> -->
				
				<div class = "row">
					<div class = "col-4 text-center">
						<span class = "frame_num">1</span>
						<span class = "frame_text" >Create Your profile</span>
						<div class = "text-center"  style = "color:#665d6f;">
							<small>Your profile will be displayed on your web page.
							Use this to showcase yourself to potential buyers.</small>
						</div>
					</div>
					<div class = "col-4 text-center">
						<span class = "frame_num">2</span>
						<span class = "frame_text" >Upload Your Art & Set Parameters</span>			
						<div class = "text-center" style = "color:#665d6f;">
							<small>Upload images of your paintings, photographs, sketches etc.
								Input parameters for each image, such as medium, surface, quantity etc.
							</small>
						</div>
					</div>
					<div class = "col-4 text-center">
						<span class = "frame_num">3</span>
						<span class = "frame_text" >Preview and Start Selling</span>
						<div class = "text-center"  style = "color:#665d6f;">
							<small>Preview how your prfile and gallary would apprear on Arte'Venue,
							review each image, it's parameters, and when you are satisfied, go-live.
							</small>
						</div>
					</div>
				</div>
				
				
			</div>
		</div>
		<div class="row mt-3 mb-5"  style = "background-color:#11b6bd; color:#fff; padding:30px;">
			<div class="col-12">
				<div class = "pull-left">
					<a href = "" style = "color:#fff;">
						<i class = "fa fa-caret-square-o-left fa-lg">
						</i> THANKS, I WILL CONTINUE LATER
					</a>
				</div>
				<div class = "pull-right">
					<a href = "" style = "color:#fff;">					
						LET'S START WITH THE PROFILE 
						<i class = "fa fa-caret-square-o-right fa-lg">
						</i>
					</a>
				</div>
			</div>
		</div>
    </div>

	
	{% endblock sitecontent %}

	
	{% block jscripts %}
		
	{% endblock jscripts %}
			
	