{% extends 'artevenue/estore_base.html' %}
{% load static %}
{% load utils %}

{% block page-title %}
<title>Upload Your Artwork | Arte'Venue</title>
{% endblock page-title %}

{% block page-description %}
<meta name="description" content="Upload Your Artwork and Submit for Arte'Venue Review.">
{% endblock page-description %}

{% block page-keywords %}  
<meta name="keywords" content="platform for artist, upload artwork">
{% endblock page-keywords %}  

{% block page-author %}  
<meta name="author" content="Arte'venue">
{% endblock page-author %}  

{% block add_to_head %}
	<link rel="stylesheet" href="{% static  'css/custom_framing.css' %}">
{% endblock add_to_head %}

{% block cropper %}
	<link  href="{% static 'vendor/cropper.js/cropper.css' %}" rel="stylesheet">
	<script src="{% static 'vendor/cropper.js/cropper.js' %}"></script>
{% endblock cropper %}


	<!-- Only Override the site content block -->
	{% block sitecontent %}

	
    <div class="container mb-5">
		<div class="row mt-3 mb-3">
			<div class="col-12">
				<!-- breadcrumb-->
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
						<li class="breadcrumb-item"><a href="{% url 'artist_page' %}">Artist's Page</a></li>
						<li class="breadcrumb-item active">Upload or Update Artwork</li>
					</ol>
				</nav>
			</div>
		</div>
		<div class="row mt-3 mb-3">
			<div class = "col-12 text-center">
				{% if artwork %}
				<h1><strong>UPDATE ARTWORK</strong></h1>
				{% else %}
				<h1><strong>UPLOAD ARTWORK TO YOUR GALLERY</strong></h1>
				{% endif %}
			</div>
		</div>
		{% if part_number %}
		<div class="row mt-3 mb-3">
			<div class = "col-12 text-center" style = "">
				<strong>
				If you make any updates to the artworks details or image, it will get un-listed (not available for sell). 
				You will have to again submit it for review and it will get listed for sell after approval by Arte'Venue.
				</strong>
			</div>
		</div>
		{% endif %}
		<form id = "upload-art-form" method = "POST" enctype='multipart/form-data'
			{% if part_number %} action = "{% url 'upload_art' part_number %}" 
			{% else %} action = "{% url 'upload_art' %}" {% endif %}
			>
		{% csrf_token %}
		<div class="row">
			<div class = "col-12 col-md-6 mt-3" style = "color: #11b6bd;">
				<label><strong>ARTWORK ID:
					<span id ="art_id" style = "font-style: italic;">
					{% if part_number %} {{part_number}} {% else %} (System Generated) {% endif %}
					</span>
					</strong>
				</label>
			</div>
			{% if msg %}
			<div class = "col-12 col-md-6 mt-3">
				<span style = "font-size: 1rem; font-weight:700; color:red; padding: 5px;" >
				<i class = "fa fa-exclamation-circle"> </i> {{msg}}
				</span>
			</div>
			{% endif %}
			{% if saved_msg %}
			<div class = "col-12 col-md-6 mt-3">
				<span style = "font-size: 1rem; font-weight:700; color:green; padding: 5px;" >
				<i class = "fa fa-exclamation-circle"> </i> Artwork details have been saved.
				</span>
			</div>
			{% endif %}
			{% if submitted_msg %}
			<div class = "col-12 col-md-6 mt-3">
				<span style = "font-size: 1rem; font-weight:700; color:green; padding: 5px;" >
				<i class = "fa fa-exclamation-circle"> </i> Submitted for review. It will  be listed once it is approved.
				</span>
			</div>
			{% endif %}
		</div>
		{% if part_number %} 
		<div class="row">
			<div class = "col-12">
				<strong>
				STATUS: 
				{% if artist_approved %}
					{% if artevenue_approved %}
						<span style = "color: green;">Listed for sell.</span>
					{% elif artevenue_disapproved %}
						<span style = "font-size: 1rem; font-weight:700; color:orange; padding: 5px;" >
						<i class = "fa fa-warning"> </i> {{disapprove_msg}}
						</span>
					{% else %}
						<span style = "color: blue;"> Pending Arte'Venue approval. Not listed for sell.</span>
					{% endif %}
				{% else %}
					<span style = "color: orange;"> Not submitted for Arte'Venue review. Not listed for sell.</span>
				{% endif %}
				</strong>
			</div>
		</div>
		{% endif %}
		<div class="row">
			<div class = "col-12 col-md-7 mt-2">
				<div class = "row box">
					<div class = "col-12 col-md-8 mt-2 text-center">
						<div class="image-upload-wrap">
							<input class="file-upload-input" type='file' 
								onchange="readURL(this);" 
								accept="image/png, image/jpeg, image/gif, image/bmp" 
								name="artwork_image" 
								class="form-control" id="artwork_image"
								style = "box-sizing: border-box; width: 50%"/>
							<div class="drag-text" onclick = "$('.file-upload-input').click();">
								<div class = "row" id = "upload-show">
									{% if artwork.high_resolution_url %} 
									<div class = "col-12">
										<img src = "{% static artwork.high_resolution_url %}" alt="Artist Artwork Image" 
											width=250 style="">
										<h4>Click to upload another digital image or drag & drop</h4>
	
									</div>
									{% else %}									 
									<div class = "col-6">
										<img src = "{% static 'img/custom_framing/upload_icon.png' %}" alt="Upload Image Icon" 
											width=100 style="top: 25%; position: absolute;left: 25%;">
									</div>
									<div class = "col-6">
										<h3>Click to upload digital image <br />
											or  <br />
											drag & drop</h3>
									</div>
									{% endif %}
								</div>
							</div>
						</div>
						<div class="file-upload-content">
							<img id = "prod-img" class="file-upload-image" alt="Online photo framing image" 
								style = "padding-bottom:0px;" />							
							<div class = "row mt-3"  id ="edit-grp">
								<div id = "max_size_artprint" class = "col-12 mt-2" style = "font-weight: 700; font-size: 0.7rem; color:#11b6bd;">
									With this image the maximum art print size will be -<br />
									Width: <span id = "max_width_artprint"></span> inches & 
									Height: <span id = "max_height_artprint"></span> inches.
								</div>
								<div class = "col-12 text-center">
									<span onclick="removeUpload()" class="btn btn-outline text-muted">
										<i class = "fa fa-trash">
											Remove Image
										</i>
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class = "col-12 col-md-4 mt-5 text-center">
						<div class = "row" style = "font-size: 0.7rem;">
							<div class = "col-12">
								Higher resolution image is a must for art prints. Higher the resolution bigger the size available for sell.
							</div>
							<div class = "col-12 mt-3">
								<button class = "btn btn-link" onclick = "$('#image_guide').modal('show');"
										 style = "font-size: 0.75rem;" type = "button">
									<i class = "fa fa-file fa-lg"> </i> Image Guide
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-5 mt-3">
				<div class = "row box">
					<div class = "col-12">
						<label><strong>ART TYPE:</strong></label>
					</div>
					<div class = "col-12">
						<span id="art_type_select" title='Choose print surface'
							data-placement="right">
							{% for k,v in img_type_list %}
							<span id= "{{v}}" class = "p_size {% if k == artwork.image_type %} p_clicked {% endif %}"
								onclick = "art_type_change('{{v}}');">
								{{v}}
							</span>
							{% endfor %}
						</span>
						<input hidden id = "art_type" name = "art_type" value = "{{artwork.image_type}}">
					</div>
					<div class = "col-12 mt-3">
						<label><strong>TITLE:</strong></label>
					</div>
					<div class = "col-12 ">
						<input id='title' name='title' maxlength="200" class = "form-control"
							placeholder="Title or Name of this Artwork/Photograph" value = "{{artwork.name}}" required>
						<small>200 characters max</small>
					</div>
					<div class = "col-12 mt-3">
						<label><strong>ART CATEGORY:</strong></label>
					</div>
					<div class = "col-12 ">
						<span style = "font-size: 0.8rem;">Your artwork will be listed in selected category </span>
						<div class = "form-group">
							<SELECT id='category' name='category' class = "form-control">
								{% for c in category_list %}
								<OPTION id='{{c.category_id}}' name='{{c.category_id}}' value = '{{c.category_id}}' 
									{% if c.category_id == category  %} selected {% endif %}>
									{{c.name}}
								</OPTION>
								{% endfor %}
							</SELECT>					
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class = "row box" id = "art-size">
			<div class = "col-12">
				<label><strong>ARTWORK SIZE</strong></label>
			</div>
			<div class = "col-12">
				<div class = "form-group">
					<strong>Applies only to Paintings</strong>
				</div>				
			</div>
			<div class = "col-12 col-md-6">
				<div class = "form-group">
					<label><strong>ORIGINAL PAINTING WIDTH: (in inches)</strong>
					<input id='art_width' name='art_width'  type = "number" min = "8" class = "form-control"
						placeholder="" value = "{{artwork.art_width}}">
					</label> <br />
					<span style = "font-size: 0.8rem;">Enter width of this art in inches. Consider only the area which is painted (ignore margins/whitespace around the painting.</span>
				</div>
			</div>
			<div class = "col-12 col-md-6">
				<div class = "form-group">
					<label><strong>ORIGINAL PAINTING HEIGHT: (in inches)</strong>
					<input id='art_height' name='art_height' type = "number"  min = "8" class="form-control"
						placeholder="" value = "{{artwork.art_height}}">
					</label> <br />	
					<span style = "font-size: 0.8rem;">Enter height of this art in inches. Consider only the area which is painted (ignore margins/whitespace around the painting.</span>
				</div>
			</div>
			<div class = "col-12">
				<hr>
			</div>
			<div class = "col-12">
				<div class = "form-group">
					<strong>Applies only to Art Prints</strong> (automatically calculated based on image you upload)
				</div>				
			</div>
			<div class = "col-12 col-md-6">
				<div class = "form-group">
					<label><strong>MAXIMUM ART PRINT WIDTH: (in inches)</strong>
					<input id='art_print_width' name='art_print_width'  type = "number" min = "8" class = "form-control"
						placeholder="" value = "{{artwork.max_width}}" readonly>
					</label> <br />
				</div>
			</div>
			<div class = "col-12 col-md-6">
				<div class = "form-group">
					<label><strong>MAXIMUM ART PRINT HEIGHT: (in inches)</strong>
					<input id='art_print_height' name='art_print_height' type = "number"  min = "8" class="form-control"
						placeholder="" value = "{{artwork.max_height}}" readonly>
					</label> <br />	
				</div>
			</div>
		</div>
		
		<div class="row mt-5 box">
			<div class = "col-12 col-md-3">
				<label><strong>MEDIUM:</strong></label><br />
				<span style = "font-size: 0.8rem;"></span>
				<div class = "form-group">
					<SELECT id='medium' name='medium' class = "form-control">
						{% for k, v in medium_list %}
						<OPTION id='{{k}}' name='{{k}}' value = "{{k}}" {% if k == artwork.art_medium %} selected {% endif %}>
							{{v}}
						</OPTION>
						{% endfor %}
					</SELECT>					
				</div>
			</div>
			<div class = "col-12 col-md-3">
				<label><strong>SURFACE:</strong></label><br />
				<span style = "font-size: 0.8rem;"></span>
				<div class = "form-group">
					<SELECT id='surface' name='surface' class = "form-control">
						{% for k, v in surface_list %}
						<OPTION id='{{k}}' name='{{k}}'  value = "{{k}}" {% if k == artwork.art_surface %} selected {% endif %}>
							{{v}}
						</OPTION>
						{% endfor %}
					</SELECT>					
				</div>
			</div>
			<div class = "col-12 col-md-6">
				<label><strong>SURFACE DESRIPTION:</strong></label><br />
				<span style = "font-size: 0.8rem;"></span>
				<div class = "form-group">
					<input id='surface_description' name='surface_description' maxlength="1000" class = "form-control"
						placeholder="Ex. Hand made paper. (Leave it blank if you are not sure)" 
						value = "{{artwork.art_surface_desc}}" />
						<small>500 characters max.</small>
				</div>
			</div>
		</div>
		<div class="row box mt-5">
			<div class = "col-12">
				<div class = "row">
					<div class = "col-12">
						<label><strong>HOW DO YOU WANT TO SALE?</strong></label><br />
					</div>
					<div class = "col-12 col-md-3 text-center mt-3">
						<span id='only_original' name='only_original' 
							class = "p_size p_clicked" onclick = "allow_art_print('O');">
							ONLY ORIGINAL
						</span>
					</div>
					<div class = "col-12 col-md-3 text-center mt-3">
						<span id='only_art_print' name='only_art_print' 
							class = "p_size"  onclick = "allow_art_print('A');">
							ONLY ART PRINT
						</span> 
					</div>
					<div class = "col-12 col-md-3 text-center mt-3">
						<span id='both' name='both' 
							class = "p_size"  onclick = "allow_art_print('B');">
							BOTH
						</span>
					</div>
					<input hidden id = "art_print_option" name = "art_print_option">
					<div class = "col-12 mt-4">
						<ul>
							<li>'ONLY ORIGINAL': Art prints will not be available for customers to order</li>
							<li>'ONLY ART PRINT': Original art will not be available for customers to order</li>
							<li>'BOTH': Original art and it's print both will be available for customers to order.
								Customers can choose to order the original art or it's art print.</li>
						</ul>
						<!--<strong>Photographs can only be sold as art print</strong>-->
					</div>
					
					<div class="col-12" style = "color:Orange; padding:5px; font-weight:600;">				
					PLEASE SELECT "ONLY ORIGINAL"<br /> The sales for art prints are disabled. 
					Our aim is to retain 
					the high customer satisfaction on art prints. We will procure the 
					necessary scanner to produce the highest quality scans of your original 
					artworks and then enable the sales of art prints. Until then only original 
					artwork can be sold through our website. Looking forward to your kind 
					cooperation and patience.<br />
					YOU MAY UPLOAD WITH ART PRINT OPTION, HOWEVER, IT WILL NOT BE LISTED FOR SALES
					CURRENTLY.
					</div>
			</div>
		</div>
		<div class="row box mt-5">		
			<div class = "col-12 ">
				<label><strong>YOUR PRICE FOR THE ORIGINAL ART</strong></label>
				<div class = "row">
					<div class = "col-12 col-md-3">	
						<div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
							<label>
								<i class = "fa fa-inr fa-lg">&nbsp;</i>  
							</label>
							<input id='original_art_price' name='original_art_price' type = "number" 
								class = "form-control"
								min = '5000'
								placeholder="" value = "{% if orig_artwork.artist_price %}{{orig_artwork.artist_price|floatformat }}{% endif %}" />
						</div>
					</div>
				</div>
				<span style = "font-size: 0.8rem;">
						The GST applicable for art is 12%. We will add 12% to your price and display as 
						the artwork price on the website.<br />
						PLEASE NOTE: Customers may choose to have the artwork framed. The price that will get added 
						for framing is not owed to the artist. <br />
						Art print price is determined by Arte'Venue. <br />
						For details please see the <a> artists@Arte'Venue page</a>.
				</span>
			</div>
		</div>
		<div class = "row box" id = "keywords_div">
			<div class = "col-12">
				<label><strong>KEYWORDS</strong></label>
			</div>
			<div class = "col-12 ">
				<span style = "font-size: 0.8rem;">
					Enter comma separated words that you think customer may search for such that your artwork gets found.
					We will tag your artwork with these keywords and when a customer searches for any those words, your artwork
					may appear in the results.
				</span>
				<div class = "form-group">
					<input id = "keywords" name = "keywords" type = "text" maxlength = "200" 
					class = "form-control" value = "{{artwork.key_words}}">
				</div>
			</div>
		</div>
		<div class = "row box" id = "keywords_div">
			<div class = "col-12">
				<label><strong>COLORS</strong></label>
			</div>
			<div class = "col-12 ">
				<span style = "font-size: 0.8rem;">
					Enter comma separated list of colors in your artwork. When customer is looking for artworks conaining
					specific colors and one or more colors you specify here match with that, your artwork may appear in results
				</span>
				<div class = "form-group">
					<input id = "colors" name = "colors" type = "text" maxlength = "200" 
					class = "form-control" value = "{{artwork.colors}}">
				</div>
			</div>
		</div>
		<input id = "form_mode" name = "form_mode" type = "text" hidden>
		<div class="row mt-3 mb-5"  style = "background-color:#11b6bd; color:#fff; padding:10px;">
			<div class="col-6 text-center">
				<button type = "submit" class = "btn btn-primary" style = "color:#fff;" name = 'SAVE_DRAFT'
						form = "upload-art-form">
					SAVE DRAFT
				</button>
			</div>
			<div class="col-6 text-center">
				<button type = "submit" class = "btn btn-primary" style = "color:#fff;" name = 'SUBMIT_ARTWORK'
					form = "upload-art-form">
					SUBMIT FOR REVIEW
				</button>
			</div>
		</div>
		</form>
		
		{% include 'artevenue/message-modal_ok.html' %}		

		<div id="image_guide" tabindex="-1" role="dialog" aria-labelledby="Image Upload Guide" aria-hidden="true" class="modal fade">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title">Image Guide</h3>
						<button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-12">

								<p>Arte’Venue allows you to sell to its customers the original artwork and its art prints. 
								To be able to sell the art prints, it is very important that you upload a high resolution 
								image of your artwork. Higher the resolution, larger the size the customers can order.
								</p>

								<p>
									<strong>If you are selling a photograph, then you should already have an image that 
									can be uploaded.</strong>
								</p>

								<p><strong>The Image/photograph of your artwork:</strong>
								</p>
								<p>Please take full front view photograph of your artwork. The photograph you upload 
								will be used by Arte’Venue to make the art prints (when customer orders an art print). 
								So it is highly important that you upload a photograph that correctly covers your artwork, 
								is sharp (no blurring), and is not taken at an angle to the artwork surface. Please make 
								sure you crop, adjust the image exactly as you would like us to print and it should 
								exactly show your original artwork. The customers will get an art print the way it exactly 
								looks in the image you upload.
								<p>
								<p><strong>Please do not include the margin/border/white space around your artwork in 
								the image/photograph. We will use this image/photograph to make the art prints.
								So please include what you want included in the art prints. </strong>
								
								<p>
								PLEASE NOTE: As per our policy we will not use your image to sell the art prints without 
								you getting the license fee and only when you allow us to sell the art prints.
								</p>

								<p><strong>Image Resolution:</strong>
								</p>
								
								<p>Resolution refers to the number of pixels in an image. We identify resolution by 
								the width and height of the image. For example, an image can be 3000 pixels wide and 
								2000 pixels high (3000 x 2000). Image of this size can be printed with best quality 
								up to size of 20 inch X 13 inch. For a bigger sizees, such as let's say, 48 inch X 36 inch, 
								you should have an image with resolution 7,200 pixels in width & 5,400 pixels in height.
								</p>

								<p><strong>Find the Image Resolution:</strong>
								</p>
								<p>Open the image in any photo/image editor, such as Microsoft Paint 3D. You will see 
								the width and height pixels of that image.
								</p>
							</div>
						</div>
						<div class="row ">
							<div class="col-12 text-center">
							<button class = "btn btn-primary" type = "button"
								onclick="$('#image_guide').modal('hide');">
								OK
							</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>

	
	{% endblock sitecontent %}

	
	{% block jscripts %}

	<script>
		art_type = 'PAINTING';
		sell_mode = 'O';
		ppi = 150;
	</script>
	
	<script>
		$(document).ready(function(){
			$("#max_size_artprint").hide();
			
			{% if artwork %}
				// Artwork present
				{% if artwork.image_type == 0 or artwork.image_type == '0' %}
					// Painting
				art_type_change('PAINTING');
				{% elif artwork.image_type == 1 or artwork.image_type == '1' %}
					// Photo
				art_type_change('PHOTOGRAPH');
				{% endif %}
			{% else %}
			art_type_change('PAINTING');				
			{% endif %}
			
			{% if orig_artwork %}
				allow_art_print('{{orig_artwork.sell_mode}}');
			{% else %}
				allow_art_print('O');				
			{% endif %}
			
			{% if category %}
				$("#category").val("{{category}}");
			{% endif %}
		});
	</script>
	<script>
		function readURL(input) {
		  if (input.files && input.files[0]) {

			var reader = new FileReader();

			reader.onload = function(e) {
				$('.image-upload-wrap').hide();

				$('.file-upload-image').attr('src', e.target.result);
				$('.file-upload-content').show();
				
				// Update max print size
				setTimeout(function (){
					var img = document.getElementById('prod-img');
					var width = img.naturalWidth;
					var height = img.naturalHeight;
					var max_w = Math.floor(width / ppi);
					var max_h = Math.floor(height / ppi);

					$("#max_width_artprint").html(max_w);
					$("#max_height_artprint").html(max_h);
					$("#art_print_width").val(max_w);
					$("#art_print_height").val(max_h);
					
					$("#max_size_artprint").show();
				}, 500);
				
			};

			reader.readAsDataURL(input.files[0]);

		  } else {
			removeUpload();
		  }
		}

		function removeUpload() {
		  $('.file-upload-input').replaceWith($('.file-upload-input').clone());
		  $('.file-upload-content').hide();
		  $('.image-upload-wrap').show();
		}
		$('.image-upload-wrap').bind('dragover', function () {
				$('.image-upload-wrap').addClass('image-dropping');
			});
			$('.image-upload-wrap').bind('dragleave', function () {
				$('.image-upload-wrap').removeClass('image-dropping');
		});
	</script>
	

	<script>
	function art_type_change(typ){	
		$("#art_type").val(typ);
		if (typ == 'PAINTING') {
			art_type = 'PAINTING';
			
			$("#PAINTING").addClass("p_clicked");
			$("#PHOTOGRAPH").removeClass("p_clicked");
			$("#art_width").prop('disabled',false);
			$("#art_height").prop('disabled',false);

			$("#medium").prop('disabled',false);
			$("#surface").prop('disabled',false);
			$("#surface_description").prop('disabled',false);
			
			$("#original_art_price").prop('disabled',false);
			
			$("#only_original").prop('readonly',false);
			$("#only_art_print").prop('readonly',false);
			$("#both").prop('readonly',false);
		} else {
			art_type = 'PHOTOGRAPH';
			sell_mode = 'A';
			$("#PAINTING").removeClass("p_clicked");
			$("#PHOTOGRAPH").addClass("p_clicked");
			$("#art_width").prop('disabled',true);
			$("#art_height").prop('disabled',true);
			
			$("#medium").prop('disabled',true);
			$("#surface").prop('disabled',true);
			$("#surface_description").prop('disabled',true);

			$("#only_original").prop('readonly',true);
			$("#original_art_price").prop('disabled',true);
			$("#both").prop('readonly',true);

			$("#only_art_print").addClass('p_clicked');
			$("#only_original").removeClass('p_clicked');
			$("#both").removeClass('p_clicked');

			$("#art_print_option").val(sell_mode);
		}

	}
	
	function allow_art_print(mode) {
		$("#art_print_option").val(mode);
		if (art_type == 'PHOTOGRAPH') {
			sell_mode = 'A';
			$("#only_original").removeClass('p_clicked');
			$("#only_art_print").addClass('p_clicked');
			$("#both").removeClass('p_clicked');
			return;
		}
		mode = 'O';
		switch (mode){
			case 'O':
				sell_mode = 'O';
				$("#only_original").addClass('p_clicked');
				$("#only_art_print").removeClass('p_clicked');
				$("#both").removeClass('p_clicked');
				break;
			case 'A':
				sell_mode = 'A';
				$("#only_original").removeClass('p_clicked');
				$("#only_art_print").addClass('p_clicked');
				$("#both").removeClass('p_clicked');										
				break;
			case 'B':
				sell_mode = 'B';
				$("#only_original").removeClass('p_clicked');
				$("#only_art_print").removeClass('p_clicked');
				$("#both").addClass('p_clicked');							
				break;	
				
			default:
				sell_mode = 'B';
				$("#only_original").removeClass('p_clicked');
				$("#only_art_print").removeClass('p_clicked');
				$("#both").addClass('p_clicked');							
				break;			
		}	
	}
	</script>
	
	{% endblock jscripts %}
			
	
	
	