{% load static %}
<div class="d-none d-md-block col-md-12 text-center py-1" style = "background-color: #1f2c3f;">	
	<a style = "color: #fff; font-weight: 700; font-size:0.8rem;" 
		target = '_blank' 
		href = "{% url 'ar_info' %}">
		BUY PREMIUM QUALITY PAINTINGS ONLINE | SEE OUR ARTWORKS ON YOUR WALL <img src = "{% static '/img/viewonyourwall/viewonyourwall_white_icon.png' %}" width=30>
	</a>
</div>
<div class="d-block d-md-none col-12 text-center py-1" style = "background-color: #000;">	
	<a style = "color: #fff; font-weight: 700; font-size:0.8rem;" 
		target = '_blank' 
		href = "{% url 'ar_info' %}">
		BUY PREMIUM QUALITY PAINTINGS ONLINE
		<br/>SEE OUR ARTWORKS ON YOUR WALL <img src = "{% static '/img/viewonyourwall/viewonyourwall_white_icon.png' %}" width=30>
	</a>
</div>

