{% load static %}

<div class="col-12 announcement">
	<i class="fa fa-warning" style = "color:red;"></i> ALERT: Covid-19 communication...
	<a data-toggle="modal" data-target="#announcement" style = "cursor: pointer; font-size:0.8rem;">
		details here
	</a>
</div>	
<div id="announcement" tabindex="-1" role="dialog" aria-labelledby="Announcement" aria-hidden="true" class="modal fade">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				ALERT!!
				<button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
			</div>
			<div class="modal-body">
				<div class = "row">
					<div class = "col-12">
					<p>
					<strong>COVID-19 Impact:</strong> As you are aware, the Covid-19 situation in the 
					country has forced central and state governments to implement a lockdown across country.
					</p>
					<p>
					<strong>Safety Measures:</strong> We are following the government directives and 
					guidelines for our staff and 
					factory workers and taking all the safety measures. We have asked our staff to 
					work from home and halted our production temporarily.
					</p>
					<p>
					<strong>Impact to us:</strong>	It has impacted our order processing and production. 
					Our delivery partner carriers are also unable to deliver currently. 
					So, kindly be informed that the orders will get delayed.
					</p>
					<p>
					<strong>Can I still order?</strong> You can still go ahead and order as we will resume 
					our operations as soon as situation nears normal. We will take up orders for processing 
					in the sequence it was received.
					
					<p>
					<strong>What about orders already placed?</strong> 
					You need not worry about the orders already placed with us. We will do our best 
					and deliver those as soon as situation nears normal. 
					</p>
					<br/>
					<p>
					If you need any assistance, have any questions or need clarification please feel free to write to us at <strong>support@artevenue.com</strong>, 
					or call us at +91 96115 03626.
					</p>
					<p>Let's support the lockdown, maintain social distancing and beat the virus.
						<br />
						<strong>Stay safe! Stay home!</strong>
					</p>
					<p>
						Team Arte'Venue
						<br />
						<img src = "https://artevenue.com/static/img/artevenue_logo_new.png" alt="Arte'Venue Logo"  height="25" width="110"> <br />
						<a href = "https://www.artevenue.com">www.artevenue.com</a>
					</p>
					</div>
				</div>

			</div>

		</div>
	</div>
</div>

<script>
	//$('#announcement').modal('show'); 
</script>
