{% load static %}

<div class="col-12 announcement">
	<i class="fa fa-check-circle" style = "color:green;"></i> We are operational...
	<a data-toggle="modal" data-target="#announcement" style = "cursor: pointer; font-size:0.8rem;">
		details here
	</a>
</div>	
<div id="announcement" tabindex="-1" role="dialog" aria-labelledby="Announcement" aria-hidden="true" class="modal fade">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<h1>WE ARE BACK!!</h1>
				<button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
			</div>
			<div class="modal-body">
				<div class = "row">
					<div class = "col-12">
					<p>
					We have <strong>started the production</strong> after the complete lockdown restrictions have been lifted.
					We are now taking <strong>orders online and in-store</strong> and will be able to <strong>ship our artworks</strong>
					to all locations, except in areas identified
					by government as red zones. Our deliveries to red zones will happen as soon as it becomes possible.
					</p>
					<p><strong>Safety Measures:</strong> We are following the government directives and 
					guidelines for our staff and 
					factory workers. We are mainting the social distancing through distributing our staff and workers
					in shifts. We are disinfecting all our materials, factories,
					stores and offices, and taking all the safety measures.
					</p>
					<p>So go ahead, use the time at home to decorate the walls.
					<p>
					<strong>What about orders placed before lockdown?</strong> 
					You need not worry about the orders already placed with us. Our production has
					began and artworks are being shipped now. We will intimate each customer
					as the artworks get shipped.
					</p>
					<br/>
					<p>
					If you need any assistance, have any questions or need clarifications, please 
					feel free to write to us at <strong>support@artevenue.com</strong>, 
					or call us at +91 96115 03626.
					</p>
					<p>Let's support the lockdown, maintain social distancing and beat the virus.
						<br />
						<strong>Stay safe! Stay home!</strong>
					</p>
					<p>
						Team Arte'Venue
						<br />
						<img src = "https://artevenue.com/static/img/artevenue_logo_new.png" alt="Arte'Venue Logo"  height="25" width="110"> <br />
						<a href = "https://www.artevenue.com">www.artevenue.com</a>
					</p>
					</div>
				</div>

			</div>

		</div>
	</div>
</div>

<script>
	//$('#announcement').modal('show'); 
</script>
