{% load static %}
{% if user.is_staff %}
<!-- Navigation - Logo, menu, search and cart buttons -->

	
	<div id="mySidenav" class="sidenav">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<a href="{% url 'store_order_summary' %}">Order Summary Report</a>
		<a href="{% url 'store_orders' %}">Order Details Report</a>
		<a href="{% url 'store_invoices' %}">Invoices</a>
		<li class="dropdown-divider"></li>		
		<a href="{% url 'pending_business_accounts' %}">Approve Business Accounts</a>
		<a href="{% url 'get_orders_for_status_update' %}">Update Order Status</a>
		<li class="dropdown-divider"></li>
		<a href="{% url 'image_by_image_code' %}">Find Images by Code</a>
		<a href="{% url 'homelane_products' %}">View HomeLane Images</a>
		<a href="{% url 'amazon_products' %}">View Amazon Images</a>
		<!--<a href="{% url 'create_artist_group' %}">Create Artist Group</a>-->
		<li class="dropdown-divider"></li>
		<a href="{% url 'store_carts' %}">View Carts Created</a>
		<!--
		<li class="dropdown-divider"></li>
		<a href="#">eGift</a>
		<a href="{% url 'promotion_products' %}">Promotions</a>
		<li class="dropdown-divider"></li>
		<a href="#">Main Slider Image</a>
		<a href="#">Category Images</a>
		-->
		<li class="dropdown-divider"></li>
		<a href="#">Contact Details</a>
		<a href="{% url 'amazon_orders_manage' %}">Amazon Orders</a>
		
	</div>	
	<span style="padding:5px; color:#fff; background-color: #000; font-size:1rem; cursor:pointer; top:50%; left:-40px; position:fixed; z-index: 99999; text-orientation:upright; -ms-transform: rotate(270deg); transform: rotate(270deg);" onclick="openNav()">&#9776; Staff Menu</span>
	
	<script>
	function openNav() {
	  document.getElementById("mySidenav").style.width = "250px";
	}

	function closeNav() {
	  document.getElementById("mySidenav").style.width = "0";
	}
</script>

{% endif %}