{% load static %}
{% if user.is_staff %}
<!-- Navigation - Logo, menu, search and cart buttons -->

	
	<div id="mySidenav" class="sidenav">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<a href="{% url 'store_carts' %}">View Carts Created</a>
		<li class="dropdown-divider"></li>		
		<li style="color: #fff; font-weight:600;">Production & Dispatch</li>		
		<a href="{% url 'order_dashboard' %}">Order Dashboard</a>
		<a href="{% url 'start_production' %}">Start Production</a>
		<a href="{% url 'make_ready_for_shipping' %}">Make Ready for Shipping</a>
		<a href="{% url 'order_shipping' %}">Order Shipping</a>
		<a href="{% url 'order_delivery' %}">Order delivery</a>
		<a href="{% url 'get_orders_for_status_update' %}">Update Order Status</a>
		<a href="{% url 'store_invoices' %}">Invoices</a>
		<li class="dropdown-divider"></li>		
		<li style="color: #fff; font-weight:600;">Orders</li>
		<a href="{% url 'order_management' %}">Order Management</a>
		<a href="{% url 'store_order_summary' %}">Order Summary Report</a>
		<a href="{% url 'store_orders' %}">Order Details Report</a>
		<li class="dropdown-divider"></li>
		<li style="color: #fff; font-weight:600;">Business Sales</li>
		<a href="{% url 'pending_business_accounts' %}">Approve Business Accounts</a>
		<li class="dropdown-divider"></li>
		<a href="{% url 'cart_order_match_report' %}">Orders-Carts Match Report</a>
		<!--
		<li class="dropdown-divider"></li>
		<a href="#">eGift</a>
		<a href="{% url 'promotion_products' %}">Promotions</a>
		<li class="dropdown-divider"></li>
		<a href="#">Main Slider Image</a>
		<a href="#">Category Images</a>
		-->
		<!--<li class="dropdown-divider"></li>
		<a href="#">Contact Details</a>
		-->
	</div>	
	<span style="padding:5px; color:#fff; background-color: #000; font-size:1rem; cursor:pointer; top:50%; left:-40px; position:fixed; z-index: 99999; text-orientation:upright; -ms-transform: rotate(270deg); transform: rotate(270deg);" onclick="openNav()">&#9776; Staff Menu</span>
	
	<script>
	function openNav() {
	  document.getElementById("mySidenav").style.width = "250px";
	}

	function closeNav() {
	  document.getElementById("mySidenav").style.width = "0";
	}
</script>

{% endif %}