{% load static %}
<div class = "container-fluid mt-5">
	<div class="col-md-12 text-center">
		<h2 class="text-center">BEST SELLERS
		</h2>
	</div>

	<div class="row"  style = "margin:5px;">
		<div class = "col-lg-4 mt-3">
			<div style="background-color:#f0f0f0 !important;">
				<!--<div class="curatedHeading2 curatedHeading2-1 mb-1">
					Buds and Blooms
				</div>-->
				<a class="btn-link" href="{% url 'curated_collections' cat_nm='Floral' %}">
				<div class="curated-container">
					<img src="{% static 'img/best_sellers/floral.jpg' %}" class="img-fluid">
					<div class = "btn">FLORAL</div>
				</div>
				</a>
			</div>
		</div>
		<div class = "col-lg-4 mt-3">
			<div class="" style = "background-color:#f0f0f0 !important;">
				<!--<div class="curatedHeading2 curatedHeading2-1 mb-1">
					Playful and More
				</div>-->
				<a class="btn-link" href="{% url 'curated_collections' cat_nm='Kids' %}">
				<div class="curated-container">
					<img src="{% static 'img/best_sellers/kids.jpg' %}" class="img-fluid">
					<div class = "btn">KIDS</div>
				</div>
				</a>
			</div>
		</div>	
		<div class = "col-lg-4 mt-3">
			<div class="" style = "background-color:#f0f0f0 !important;">
				<!--<div class="curatedHeading2 curatedHeading2-1 mb-1">
					The Tales Of Time
				</div>-->
				<a class="btn-link" href="{% url 'curated_collections' cat_nm='Vintage' %}">
				<div class="curated-container">
					<img src="{% static 'img/best_sellers/vintage.jpg' %}" class="img-fluid">
					<div class = "btn">VINTAGE</div>
				</div>
				</a>
			</div>
		</div>	
	</div>
	<div class="row mb-4"  style = "margin:5px;">
		<div class = "col-lg-6 mt-3">
			<div class="" style = "background-color:#f0f0f0 !important;">
				<!--<div class="curatedHeading2 curatedHeading2-1 mb-1">
					The Horizon, Yonder
				</div>-->
				<a class="btn-link" href="{% url 'curated_collections' cat_nm='Coastal' %}">
				<div class="curated-container">
					<img src="{% static 'img/best_sellers/coastal.jpg' %}" class="img-fluid">
					<div class = "btn">COASTAL</div>
				</div>
				</a>
			</div>
		</div>
		<div class = "col-lg-6 mt-3">
			<div class="" style = "background-color:#f0f0f0 !important;">
				<!-- <div class="curatedHeading2 curatedHeading2-1 mb-1">
					The Ways of Nature
				</div> -->
				<a class="btn-link" href="{% url 'curated_collections' cat_nm='Landscape' %}">
				<div class="curated-container">
					<img src="{% static 'img/best_sellers/landscape.jpg' %}" class="img-fluid">
					<div class = "btn">LANDSCAPE</div>
				</div>
				</a>
			</div>
		</div>	
	</div>
</div>