{% extends 'artevenue/estore_base.html' %}
{% load static %}

{% block page-title %} 
	<title>Arte'Venue | Shopping cart</title>
{% endblock page-title %} 
{% block page-description %}
<meta name="description" content="Displaying Arte'VEnue shopping cart.">
{% endblock page-description %}
{% block page-keywords %}
<meta name="keywords" content="Art, artevenue, shopping cart">
{% endblock page-keywords %}	

{% block page-author %}  
<meta name="author" content="Arte'venue">
{% endblock page-author %}  

{% block coursel-stylesheet %}
{% endblock coursel-stylesheet %}

{% block jqueryui-script %}
{% endblock jqueryui-script %}

{% block coursel-script %}
{% endblock coursel-script %}

{% block front.js %}
{% endblock front.js %}

{% block imagemap-resize-script %}
{% endblock imagemap-resize-script %}

{% block add_to_head %}
{% if env == 'PROD' %}

<!-- Event snippet for Show cart conversion page -->
<script>
  gtag('event', 'conversion', {
      'send_to': 'AW-704394330/NYk4CL6ru8MBENro8M8C',
      'value': 1.0,
      'currency': 'INR'
  });
</script>

{% endif %}
{% endblock add_to_head %}


<!-- Only Override the site content block -->
	{% block sitecontent %}
        <div class="container" id = "cart-display" >
			{% include 'artevenue/cart_include.html' %}
			
			<p id="info"></p>
		</div>
		{% include 'artevenue/cart-empty-message.html' %}
		
		{% include 'artevenue/cart-removed-message.html' %}

		{% include 'artevenue/show-product.html' %}

		{% include 'artevenue/message-modal_ok.html' %}		

		<!-- Cart Delete cofirm Modal -->
		<div id="cart-del" tabindex="-1" role="dialog" aria-labelledby="Cart Delete Confirm" aria-hidden="true" class="modal fade">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title"><span id = "modal-hedline">Alert</span></h3>
						<button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-12">
								<div class = "mb-4">
									<h4><span id = "msg">REMOVE ALL ARTWORKS AND CLEAR YOUR CART?</span></h4>
								</div>
								<p>
									Are you sure that you want to remove all items in your cart
									and emtpy your cart?
									<ul>
										<li>Please click "CLEAR CART" button to remove the cart.</li>
										<li>Please click "CANCEL" button to cancel.</li>
									</ul>
								</p>
							</div>
							<div class="col-6 pull-left">
								<button class="btn btn-danger" 
									onclick="deleteCart();">
									<i class="fa fa-remove"></i>
									CLEAR CART
								</button>
							</div>					
							<div class="col-6 pull-right">
								<button class="btn btn-primary" 
									onclick="$('#cart-del').modal('hide');">
									<i class="fa fa-cancel"></i>
									CANCEL
								</button>
							</div>					
						</div>

					</div>
				</div>
			</div>
		</div>
		<!-- END: Message modal -->		

	{% endblock sitecontent %}

	
	
	{% block jscripts %}
	
		<script>
		
		function updateItemQty(cart_item_id, val){
			
			var obj = JSON.parse(document.getElementById(cart_item_id).textContent);
			
			// add uupdated qty to the json obj
			//obj['updated_qty'] = val;
			obj['quantity'] = val;
			obj['cart_item_flag'] = 'FALSE';
			var value = JSON.stringify(obj);

			var prod_id = obj['product_id'];
			var prod_typ = obj['product_type'];
			var qty = obj['quantity'];
			var moulding_id = obj['moulding_id']
			var currwidth = obj['image_width']
			var currheight = obj['image_height']
			var moulding_size = '0'
			var print_medium_id = obj['print_medium_id']
			var print_medium_size = '0'
			var mount_id = obj['mount_id']
			var mount_size = obj['mount_size']
			var mount_w_left = '0'
			var mount_w_right = '0'
			var mount_w_bottom  = '0'
			var mount_w_top = '0'
			var acrylic_id = obj['acrylic_id']
			var acrylic_size = '0'
			var board_id = obj['board_id']
			var board_size = '0'
			var stretch_id = obj['stretch_id']
			var stretch_size = '0'
			var total_price = obj['item_total']
			var discount = obj['item_disc_amt']
			var promotion_id = obj['promotion_id']
			var disc_amt = obj['item_disc_amt']
			var item_unit_price = obj['item_unit_price']
			var cart_item_flag = obj['cart_item_flag']			
			
			$.ajax({
				url: "{% url 'update_cart_item' %}", 
				//data: value, 
				data:{'prod_id':prod_id, 'qty':qty, 'moulding_id': moulding_id,
					'width':currwidth, 'height':currheight,
					'moulding_size' : moulding_size,
					'print_medium_id':print_medium_id, 'print_medium_size':print_medium_size, 
					'mount_id':mount_id, 'mount_size':mount_size,
					'mount_w_left' : mount_w_left, 'mount_w_right':mount_w_right, 
					'mount_w_top':mount_w_top, 'mount_w_bottom' : mount_w_bottom, 
					'acrylic_id':acrylic_id, 'acrylic_size':acrylic_size,
					'board_id':board_id, 'board_size':board_size, 'stretch_id':stretch_id,
					'stretch_size':stretch_size, 
					'total_price':total_price, 'image_width':currwidth, 'image_height':currheight,
					'discount':discount, 'promotion_id':promotion_id, 'disc_amt':disc_amt,
					'item_unit_price':item_unit_price, 'prod_type':prod_typ,
					'cart_item_flag':cart_item_flag },
				dataType: 'text', 
				type: 'post',
				success: function (data) {
					data = JSON.parse(data);
					cart_qty = data.msg;
					//Update items in cart
					if (data = "SUCCESS") {
						// Update the display
						show_cart();
					} else {
						alert(data);
					}
				},
				error: function(xhr){
					alert("An error occured: " + xhr.status + " " + xhr.statusText); 
				}
			});
			
			
		}
		
		function deleteItem(cart_item_id, sub_total, tax, cart_total, item_total){
			
			var conf = confirm("Are you sure you want to delete this item?!");
			
			if (conf) {
				$.ajax({
					url: "{% url 'delete_cart_item' %}", 
					data: {'cart_item_id':cart_item_id, 'sub_total':sub_total, 'tax':tax, 
					'cart_total':cart_total, 'item_total':item_total}, 
					dataType: 'text', 
					type: 'post',
					success: function (data) {
						data = JSON.parse(data);
						cart_qty = data.msg;
						//Update items in cart
						if (data = "SUCCESS") {
							// Update the display
							show_cart();
							$('#item-remove').modal('show');
						} else {
							alert(data);
						}
					},
					error: function(xhr){
						alert("An error occured: " + xhr.status + " " + xhr.statusText); 
					}
				});
			}
			
		}
		function deleteCart(){
			var cart_id = '{{usercart.cart_id}}';
			$.ajax({
				url: "{% url 'delete_cart' %}", 
				data: {'cart_id':cart_id}, 
				dataType: 'text', 
				type: 'post',
				success: function (data) {
					data = JSON.parse(data);
					cart_qty = data.msg;
					//Update items in cart
					if (data = "SUCCESS") {
						// Update the display
						$('#cart-del').modal('hide');
						show_cart();
					} else {
						alert(data);
					}
				},
				error: function(xhr){
					alert("An error occured: " + xhr.status + " " + xhr.statusText); 
				}
			});	
		}

		function show_cart(){
		
			// Let's update the cart view
			$.ajax({
				url: '{% url "show_cart" %}', 
				dataType: 'text', 
				type: 'POST',
				success: function (data) {
					$("#cart-display").html(data);

				},
				error: function(xhr){
					alert("An error occured: " + xhr.status + " " + xhr.statusText + " Apologies for the inconvenience!! Please let us know the details and we will be happy to help sort it out."); 
					return;
				}
			});				
		}
		
		function validate_checkout(){
			// Get cart total
			var cart_total = $("#cart_total").html();
			if (cart_total == null ) {
				$("#msg-emptycart").modal("show");
				return false;
			}
			if ( parseFloat(cart_total) <= 0 ){
				$("#msg-emptycart").modal("show");
				return false;
			} else {
				return true;
			}
		}
		
		function applyVoucher(cart_id, v_code, cart_total) {
			if ( v_code == null || v_code == ''){
				return;
			}
			// Let's update the cart view
			$.ajax({
				url: '{% url "apply_voucher" %}', 
				data: {'cart_id':cart_id, 'voucher_code':v_code, 'cart_total':cart_total},
				dataType: 'text', 
				type: 'POST',
				success: function (data) {
					response = JSON.parse(data); 
					show_cart();
					switch(response.status) {
					  case "SUCCESS":
							$("#voucher-msg").html("Congratulations! " + response.disc_amount + " discount applied.");
							cart_total = parseFloat($("#cart_total").html());
							
							$('#msg').html("Congratulations! " + response.disc_amount + " discount applied.");
							$('#msg-modal').modal('show');
							setTimeout(function() {
								$('#msg-modal').modal('hide');
							}, 2500);
							
							// Get total discount
							/*disc_amt = parseFloat( response.cart_disc_amount );
							if ( isNaN(disc_amt) ) {
								disc_amt = 0;
							}
							cart_total = ( response.cart_total );
							
							$("#disc_amt").html(disc_amt);
							$("#cart_total").html(cart_total);
							$("#disc_amt_nv").val(disc_amt);
							$("#cart_total_nv").val(cart_total); */
							$("#vouch_text").html( "(You have used coupan " + v_code + ". Discount of <i class = 'fa fa-inr'></i> " +  response.disc_amount + " is applied).");
							break;
					  case "INVALID-CODE":
							$("#voucher-msg").html("Entered Code is invalid (You need to be logged in and using correct code)");
							$('#msg').html("Entered Code is invalid (You need to be logged in and using correct code)");
							$('#msg-modal').modal('show');
							setTimeout(function() {
								$('#msg-modal').modal('hide');
							}, 2500);
							break;
							break;
					  case "NO-USER":
							$("#voucher-msg").html("You need to be logged in to use coupan/voucher.");
							$('#msg').html("You need to be logged in to use coupan/voucher.");
							$('#msg-modal').modal('show');
							setTimeout(function() {
								$('#msg-modal').modal('hide');
							}, 2500);
							break;
					  case "USER-MISMATCH":
							$("#voucher-msg").html("Entered Code is not valid for you.");
							$('#msg').html("Entered Code is not valid for you.");
							$('#msg-modal').modal('show');
							setTimeout(function() {
								$('#msg-modal').modal('hide');
							}, 2500);
							break;
					  case "USED":
							$("#voucher-msg").html("You have already used this code.");
							$('#msg').html("You have already used this code.");
							$('#msg-modal').modal('show');
							setTimeout(function() {
								$('#msg-modal').modal('hide');
							}, 2500);
							break;
					  case "ONLY-ONE":
							$("#voucher-msg").html("You can use only one coupan per order.");
							$('#msg').html("You can use only one coupan per order.");
							$('#msg-modal').modal('show');
							setTimeout(function() {
								$('#msg-modal').modal('hide');
							}, 2500);
							break;
					  case "SUCCESS-":
							if (response.voucher_bal_amount > 0 ) {
								$("#voucher-msg").html("Congratulations! " + response.disc_amount + " discount applied. You have Rs. " + response.voucher_bal_amount + " balance left." );
								ms = "Congratulations! " + response.disc_amount + " discount applied. You have Rs. " + response.voucher_bal_amount + " balance left." 
							} else {
								$("#voucher-msg").html("Congratulations! " + response.disc_amount + " discount is applied." );
								ms = "Congratulations! " + response.disc_amount + " discount is applied."
							}
							$('#msg').html(ms);
							$('#msg-modal').modal('show');
							setTimeout(function() {
								$('#msg-modal').modal('hide');
							}, 2500);
							//Existing disc from the product promotions
							//disc_amt = parseFloat($("#disc_amt").html());
							//if ( isNaN(disc_amt) ) {
							//	disc_amt = 0;
							//}
							cart_total = parseFloat($("#cart_total").html());
							
							// Get total discount amount
							/*disc_amt = parseFloat( response.cart_disc_amount );
							if ( isNaN(disc_amt) ) {
								disc_amt = 0;
							}
							//cart_total = cart_total - parseFloat( response.disc_amount );
							cart_total = parseFloat( response.cart_total );
							
							$("#disc_amt").html(disc_amt);
							$("#cart_total").html(cart_total);
							$("#disc_amt_nv").val(disc_amt);
							$("#cart_total_nv").val(cart_total); */
							$("#vouch_text").html( "(You have used coupan " + v_code + ". Discount of <i class = 'fa fa-inr'></i> " +  response.disc_amount + " is applied).");
							$('#msg').html("(You have used coupan " + v_code + ". Discount of <i class = 'fa fa-inr'></i> " +  response.disc_amount + " is applied).");
							$('#msg-modal').modal('show');
							setTimeout(function() {
								$('#msg-modal').modal('hide');
							}, 2500);

							break;
							
					   case	'NO-MORE':
							$("#voucher-msg").html("No more discount is applicable.");
							$('#msg').html("No more discount is applicable.");
							$('#msg-modal').modal('show');
							setTimeout(function() {
								$('#msg-modal').modal('hide');
							}, 2500);
							break;
					   
					   case 'DOESNOT-APPLY':
							$("#voucher-msg").html("This coupan doesn't apply to you. Please ensure you have logged as the eligible user or check the code you have entered.");
							$('#msg').html("This coupan doesn't apply to you. Please ensure you have logged as the eligible user or check the code you have entered.");
							$('#msg-modal').modal('show');
							setTimeout(function() {
								$('#msg-modal').modal('hide');
							}, 2500);
							break;
					   case 'NO-BALANCE':
							$("#voucher-msg").html("Sorry, you have no balance left in this coupan.");
							$('#msg').html("Sorry, you have no balance left in this coupan.");
							$('#msg-modal').modal('show');
							setTimeout(function() {
								$('#msg-modal').modal('hide');
							}, 2500);
							break;
					  default:
							$("#voucher-msg").html("Sorry! We have encounter an error in applying this code.");
							$('#msg').html("Sorry! We have encounter an error in applying this code.");
							$('#msg-modal').modal('show');
							setTimeout(function() {
								$('#msg-modal').modal('hide');
							}, 2500);
					}					
					
				},
				error: function(xhr){
					alert("An error occured: " + xhr.status + " " + xhr.statusText + " Apologies for the inconvenience!! Please let us know the details and we will be happy to help sort it out."); 
					return;
				}
			});							
			
		
		}	
		</script>
		
		<script>
			function edit_item(cart_item_id, product_id, product_type='STOCK-IMAGE'){
				$("#product_id").val(product_id);
				$("#product_type").val(product_type);
				$("#cart_item_id").val(cart_item_id);
				$("#edit_form").submit();
			}
			function edit_item_collage(cart_item_id, product_id, product_type='STOCK-COLLAGE'){
				$("#c_product_id").val(product_id);
				$("#c_product_type").val(product_type);
				$("#c_cart_item_id").val(cart_item_id);
				$("#edit_form_collage").submit();
			}
		</script>
		
		<script>
		$(document).ready(function(){
			$body = $("body");
			$(document).on({
				ajaxStart: function() { $body.addClass("loading");    },
				ajaxStop: function() { $body.removeClass("loading"); }    
			});
			
			if ('{{promo_removed}}' == 'Y') {
				$('#msg').html("Promotions applied to one or more items in your cart have expired. Prices have been changed accordingly.");
				$('#msg-modal').modal('show');
				setTimeout(function() {
					$('#msg-modal').modal('hide');
				}, 6000);			
			}

			{% if v_code %}
				applyVoucher( '{{usercart.cart_id}}', '{{v_code}}','{{usercart.cart_total}}');
			{% endif %}

		});
		</script>
	{% endblock jscripts %}
