{% load static %}		
		<div class="row text-center">
			<div class="col-12 col-md-12">
				<h2>OUR BEST SELLING ABSTRACT ART PRINTS FOR HOME DECOR AND MORE
				</h2>
			</div>
		</div>
		<div class="row text-center">
			<div class = "col-4 col-md-3 mt-4">
				<div class="" style = "">
					<!-- <div class="curatedHeading2 curatedHeading2-1 mb-1">
						The Ways of Nature
					</div> -->
					<h3>
						FLORAL
					</h3>
					<a class="btn-link" href="{% url 'curated_collections' cat_nm='Landscape' page=1 prod_id=212229 %}">
					<div class="curated-container">
						<img src="{% static 'img/best_sellers/landscape.jpg' %}" class="img-fluid" alt="Art Prints in Landscape Category">
						<!--<div class = "btn">LANDSCAPE</div>-->
					</div>
					</a>
				</div>
			</div>	
			<div class = "col-4 col-md-3 mt-4">
				<div class="" style = "">
					<!-- <div class="curatedHeading2 curatedHeading2-1 mb-1">
						The Ways of Nature
					</div> -->
					<h3>
						EXPRESSIONIST
					</h3>
					<a class="btn-link" href="{% url 'curated_collections' cat_nm='Landscape' page=1 prod_id=212229 %}">
					<div class="curated-container">
						<img src="{% static 'img/best_sellers/landscape.jpg' %}" class="img-fluid" alt="Art Prints in Landscape Category">
						<!--<div class = "btn">LANDSCAPE</div>-->
					</div>
					</a>
				</div>
			</div>				
			<div class = "col-4 col-md-3 mt-4">
				<h3>
					BLACK & WHITE
				</h3>
				<a class="btn-link" href="{% url 'curated_collections' cat_nm='Floral' page=1 prod_id=264553 %}">
				<div class="curated-container">
					<img src="{% static 'img/best_sellers/floral.jpg' %}" class="img-fluid" alt="Art Print Collection of Flower Paintings">
					<!--<div class = "btn">FLORAL</div>-->
				</div>
				</a>
			</div>
			<div class = "col-4 col-md-3 mt-4">
				<h3>
					LANDSCAPE
				</h3>
				<a class="btn-link" href="{% url 'curated_collections' cat_nm='Kids' page=1 prod_id=121677 %}">
				<div class="curated-container">
					<img src="{% static 'img/best_sellers/kids.jpg' %}" class="img-fluid" alt="Kids Wall Art Collection">
					<!--<div class = "btn">KIDS</div>-->
				</div>
				</a>
			</div>	
			<div class = "col-4 col-md-3 mt-4">
				<h3>
					GEOMETRIC
				</h3>
				<a class="btn-link" href="{% url 'curated_collections' cat_nm='Coastal' page=1 prod_id=244172 %}">
				<div class="curated-container">
					<img src="{% static 'img/best_sellers/coastal.jpg' %}" class="img-fluid" alt="Collection of Sea Art Prints">
					<!--<div class = "btn">COASTAL</div>-->
				</div>
				</a>
			</div>
		</div>	

		<hr>
		<div class="row text-center">
			<div class = "col-12">
				ALL ABSTRACT ART
			</DIV>
		</div>
						
