{% extends 'artevenue/estore_base.html' %}
{% load static %}
{% load utils %}
	<!-- Only Override the site content block -->
	{% block sitecontent %}
	<div class="container-fluid">
        <div class="row">
			<div class="col-lg-12">
				<!-- breadcrumb-->
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
						<li class="breadcrumb-item"><a href="{% url 'show_cart' %}">Cart</a></li>
						<li aria-current="page" class="breadcrumb-item active">Checkout - Address</li>
					</ol>
				</nav>
            </div>
			
				
 			{% if order.order_number %}
			<div id="checkout" class="col-12 col-md-9">
				<div class="box">
					<form id = "order_confirm_form" method = "post" action="{% url 'payment_submit' %}">
						{% csrf_token %}
						<input hidden name = "order_id" value = "{{order.order_id}}">
						<input hidden name = "cart_id" value = "{{order.cart_id}}">
						<input hidden name = "sub_total" value = "{{order.sub_total}}">
						<input hidden name = "tax" value = "{{order.tax}}">
						<input hidden name = "disc_amt" value = "{{order.disc_amt}}">
						<input hidden name = "order_total" value = "{{order.order_total}}">
						<input hidden name = "shipping_cost" value = "{{order.shipping_cost}}">

						<input hidden class="form-control" name="firstname" 
							id="firstname" value="{{ posted.firstname|default:'' }}" 
							required/>
						<input hidden class="form-control" name="lastname" 
							id="lastname" value="{{ posted.lastname }}"/>						

						<input hidden type = "email" class="form-control" 
							name="email" id="email" 
							value="{{ posted.email }}" 
							required/>

						<input hidden class="form-control" name="phone" 
							pattern = "^[6-9]\d{9}$" 
							value="{{ posted.phone|default:'' }}" 
							required />
						
						<input hidden name="productinfo" required value="{{ posted.productinfo|default:'' }}" />
						<input hidden name="surl" value="{{ posted.surl }}" size="64" required/>
						<input hidden name="furl" value="{{ posted.furl }}" size="64" requied/>
						<input hidden type="hidden" name="service_provider" value="{{posted.service_provider}}" size="64" required/>
						<input hidden name="curl" value="{{ posted.furl }}" />
						<input hidden name="udf1" value="{{ posted.udf1 }}" />
						<input hidden name="udf2" value="{{ posted.udf2 }}" />
						<input hidden name="udf3" value="{{ posted.udf3 }}" />
						<input hidden name="udf4" value="{{ posted.udf4 }}" />
						<input hidden name="udf5" value="{{ posted.udf5 }}" />
						<input hidden name="pg" value="{{ posted.PG }}" />
						
						
						<h1>Checkout - Payment</h1>
						
						<div class="table table-responsive">
							<table id = "cartTbl" class="table table-responsive">
								<thead>
									<tr>
										<th width="20%">Item</th>
										<th width="50%">Details</th>
										<th width="15%" style="text-align:right">Qty</th>
										<th width="15%" style="text-align:right">Total</th>
									</tr>
								</thead>
								<tbody>
									{% for i in usercartitems %}
									<tr>
										<td>
											<img src = "{% if i.product_type == 'USER-IMAGE' %} {{MEDIA_URL}}{{i.product__image_to_frame}} {% else %} {% static i.product__thumbnail_url %} {% endif %}" style = "width:50px; height:50px; object-fit:contain;">
											<br />

											<div class = "pull-left">
												<button style="padding-left:0px;" type ="button" class = "btn btn-link" style = "padding-left:0px;" onclick = "getFramedImg('{{i.product_id}}', '{{i.image_width}}', '{{i.moulding_id| default_if_none:0}}', '{{i.mount__color| default_if_none:0}}','{{i.mount_size| default_if_none:0}}', '{{i.product__url}}');">
													{{i.product__name|truncatechars:8 }}
												</button>
											</div>
										</td>
										<td>
											{% with width=i.moulding__width_inches|add_width_frame_mount:i.mount_size %}

											<small>
											<li>Print on {{i.print_medium_id|title}}</li>
											{% if i.moulding_id %}
											<li>Image Print Size : {{ i.image_width }}" X {{i.image_height }}"</li>
											<li>Frame {{i.moulding__name }} </li>
											<li>Total Size: 
												{{ i.image_width|add_width:width }}" X {{i.image_height|add_width:width }}"</li>
											{% else %}
												<li>Image Size : {{ i.image_width }}" X {{i.image_height }}"</li>
											{% endif %}
											
											{% if i.mount_id %}
												<li>Mount: {{i.mount_size }}", Color: {{i.mount__name|title }} </li>
											{% endif %}
											{% if i.acrylic_id %}
												<li>Acrylic covered</li>
											{% endif %}
											{% if i.stretch_id %}
												<li>Canvas Stretched</li>
											{% endif %}
											</small>
											{% endwith %}
										</td>
										<td style = "text-align:right">
											{{i.quantity}}
										</td>
										<td style = "text-align:right">{{i.item_total|floatformat}}</td>

									</tr>
									{% endfor usercartitems %}
									
								</tbody>
								<tfoot>
									<tr>
										<th colspan="3"><small>Shipping & Handing</small></th>
										<th colspan="1" style = "text-align:right">
											<small>{{order.shipping_cost|floatformat}}</small>
										</th>
										<th></th>
									</tr>
									<tr>
										<th colspan="3">Order Total</th>
										<th colspan="1" style = "text-align:right">
											{{order.order_total|floatformat}}
										</th>
										<th></th>
									</tr>
								</tfoot>
							</table>
						</div>
						<!-- /.row-->
						<div class="box-footer d-flex justify-content-between">
							<a href="{% url 'show_cart' %}" class="btn btn-outline-secondary"><i class="fa fa-chevron-left"></i>Back to Cart</a>
							<button type="submit" class="btn btn-primary"
									form="order_confirm_form">
								Make Payment<i class="fa fa-chevron-right"></i>
							</button>
						</div>
					</form>
				</div>
            </div>
			
			<div class="col-12 col-md-3">
					<div id="order-summary" class="box">
						<div class="box-header">
							<h3 class="mb-0">Order No. {{order.order_number}}</h3>
						</div>
						<div class="table-responsive">
							<table class="table">
								<tbody>
									<tr>
										<td>Order subtotal</td>
										<th class="pull-right">{{order.sub_total|floatformat}}</th>
									</tr>
									<tr>
										<td>Tax</td>
										<th class="pull-right">{{order.tax|floatformat}}</th>
									</tr>

								
									<tr>
										<td>Shipping & handling</td>
										<th><span class="pull-right">{{order.shipping_cost|floatformat}}</span></th>
									</tr>
									<tr class="total">
										<td>Order Total</td>
										<th class="pull-right"><i class = "fa fa-inr"> </i> <span id ="cart_total" >{{order.order_total|floatformat:"0"|default:"0"}}</span></th>
									</tr>

								</tbody>
							</table>
							<ul>
							{% if order.order_discount_amt > 0 %} 
								<strong>Your Savings:</strong> <span style = "color:green">{{order.order_discount_amt|floatformat}}</span>
							{% endif %}
							{% if order.voucher %} 
								<div id "vouch_text" style ="color: #999; font-size: 0.6rem;">
									You have used coupan "{{ order.voucher.voucher_code }}". 
									Discount of <i class = "fa fa-inr"></i> {{order.voucher_disc_amount |floatformat }} is applied
								</div>
							{% endif %}
							</ul>
						</div>
					</div>
			
			
			
			
			
				<!-- <div id="order-summary" class="box">
					<div class="box-header">
						<h3 class="mb-0">Order No. {{order.order_number}}</h3>
					</div>
					<div class = "row">
						<div class = "col-sm-3">
							<div class = "col-sm-12">		
								<strong>Order subtotal</strong>
							</div>
							<div class = "col-sm-12">		
								<span class = "ord-row">{{order.sub_total|floatformat}}</span>
							</div>
						</div>
						<div class = "col-sm-2">
							<div class = "col-sm-12">		
								<strong>Tax</strong>
							</div>
							<div class = "col-sm-12">		
								<span class = "ord-row">{{order.tax|floatformat}}</span>
							</div>
						</div>
						<div class = "col-sm-3">
							<div class = "col-sm-12">		
								<strong>Shipping & handling</strong>
							</div>
							<div class = "col-sm-12">		
								<span id ="s-h" class = "ord-row">{{order.shipping_cost|floatformat}}</span>
							</div>
						</div>
						<div class = "col-sm-2">
							<div class = "col-sm-12">		
								<strong>Order Total</strong>
							</div>
							<div class = "col-sm-12">		
								<span id ="ord-total" class = "ord-row"><strong>{{order.order_total|floatformat}}</strong></span>
							</div>
						</div>
						{% if order.order_discount_amt %}
						<div class = "col-sm-2">
							<div class = "col-sm-12">		
								<strong>Your Saving</strong>
							</div>
							<div class = "col-sm-12">		
								<span style = "color:green">{{order.order_discount_amt|floatformat}}</span>
							</div>
						</div>
						{% endif %}
					</div>
							
				</div> -->
			</div>

			{% else %}
				<div class="col-12 mb-5">
					<span style = "font-size:1rem;">Please start the checkout process from Your Shopping Cart</span>
					<a style = "border:1px solid Gainsboro;"
						class = "btn" id = "goto-cart" 
						href="{% url 'show_cart' %}">
					<img src="/static/img/cart_icon.png">
					</a>
				</div>
				
				
				
			{% endif %}
			
		</div>
		<!-- /.row-->
    </div>

	{% include 'artevenue/show-product.html' %}
 
 	{% endblock sitecontent %}
	
	
	{% block jscripts %}
	
	{% endblock jscripts %}