{% load static %}
{% load utils %}

						<div class = "row">					
						{% for c in coll %}
							<div class="col-12 col-md-6 col-lg-4 mb-5">
								<div class="img-container-coll">
									<a id = "alink_{{c.product_id}}" href="{% url 'stock_collage_detail' c.product_id %}">
										{% if env == 'DEV' or env == 'TESTING' %}
											<img id = "coll_{{c.product_id}}" src="{{ c.url }}" alt="{{c.name}}" class="img-fluid image-display-coll">
										{% else %}
											<img id = "coll_{{c.product_id}}" src="{% static c.url %}" alt="{{c.name}}" class="img-fluid image-display-coll">
										{% endif %}
									</a>
								</div>
								<div id = "coll-text">
									<div class = "row">
										<div class = "col-12">
											<span>
												<i class = "fa fa-inr"></i> 
												<span  style = "color:#11b6bd;">
													{{c.price|floatformat:'0'}}
												</span>
												<span class = "text-muted" style = "font-size:0.7rem;">
													(14"X{{14|get_height:c.aspect_ratio}}" each)
												</span>
												<span class = "pull-right">
													{% if c.product_id in wishlist_prods %}
													<span id = "fav_{{c.product_id}}">
														<i class = "fa fa-heart"  
															onclick = "deleteItem('{{c.product_id}}')" 
															style="color:red; padding-right:5px;cursor:alias;" data-toggle="tooltip" title="Added to Favorites!"></i>
													</span>
													{% else %}
													<span  id = "fav_{{c.product_id}}">
														<i class = "fa fa-heart-o"  
															onclick = "addToFav({{c.product_id}}, {% if c.max_width > 16 %} 16 {%else%} {{c.max_width}} {%endif%}, {{c.aspect_ratio}}, 0, '', 0, 0, 0);"
															style="color:red; padding-right:5px;cursor:alias;" data-toggle="tooltip" title="Add to Favourites!"></i>
													</span>
													{% endif %}
												</span>												
												<br />
												<span class = "text-muted" style = "font-size:0.7rem;">
													Multiple sizes
												</span>												
											</span>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
						</div>
						<div class="box-cat info-bar">
							<div class="row">
								<div class="col-md-12 col-lg-12 text-cetner">
									<ul class = "pagination justify-content-center"style="margin-bottom:0px !important">
										{% if coll.has_previous %}
										<li class="page-item">
										  <button class="page-link" onclick="getAllFilters(page='1', sort='{{sortOrder}}', show='{{show}}', keywords='{{ikeywords}}');" aria-label="Previous">
											<span aria-hidden="true">&laquo; First</span>
											<span class="sr-only">begin</span>
										  </button>
										</li>   {% endif %}

										{% for n in coll.paginator.page_range %}
										  {% if coll.number == n %}
											<li class="page-item active">
											  <span class="page-link">{{ n }}<span class="sr-only">(current)</span></span>
											</li>
										  {% elif n > coll.number|add:'-5' and n < coll.number|add:'5' %}
											<li class="page-item">
											<button class="page-link" onclick="getAllFilters(page='{{n}}', sort='{{sortOrder}}', show='{{show}}', keywords='{{ikeywords}}');">{{ n }}</li>
										  {% endif %}
										{% endfor %}

										{% if coll.has_next %}
										  <li class="page-item">
											<button class="page-link" onclick="getAllFilters(page='{{coll.paginator.num_pages}}', sort='{{sortOrder}}', show='{{show}}', keywords='{{ikeywords}}');" aria-label="Next">
											  <span aria-hidden="true">Last &raquo;</span>
											  <span class="sr-only">end</span>
											</button>
										  </li>
										  {% endif %}   
									</ul> 
								</div>
							</div>
						</div>
