{% extends 'artevenue/estore_base.html' %}
{% load static %}

{% block page-title %} 
<title>Contact Us For Wall Art Paiting Sales, Support & Enquiries | Arte'venue</title>
{% endblock page-title %} 
  
{% block page-description %}
<meta name="description" content="Need help with orders, payments or delivery? Get in touch with us and get swift resolution for your enquiries.">
{% endblock page-description %}
  
{% block page-keywords %}
<meta name="keywords" content="contact artevenue">
{% endblock page-keywords %}
  
{% block page-author %}
<meta name="author" content="Arte'Venue">
{% endblock page-author %}

{% block coursel-stylesheet %}
{% endblock coursel-stylesheet %}

{% block jqueryui-script %}
{% endblock jqueryui-script %}

{% block coursel-script %}
{% endblock coursel-script %}

{% block front.js %}
{% endblock front.js %}


{% block imagemap-resize-script %}
{% endblock imagemap-resize-script %}

{% block gmap-script %}
	<script src="https://maps.googleapis.com/maps/api/js"></script>
{% endblock gmap-script %}

{% load widget_tweaks %}
	<!-- Only Override the site content block -->
	{% block sitecontent %}
        <div class="container">
			<div class="row">

				<!-- breadcrumb-->
				<div class="col-lg-12">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
							<li aria-current="page" class="breadcrumb-item active">Contact Us</li>
						</ol>
					</nav>
				</div>

				<div class="col-lg-3">

					<button type="button" data-toggle="collapse" data-target="#cat_navigation" class="btn btn-outline-secondary navbar-toggler full-width-btn" style="width:100% !important;">
						<span class="sr-only">Toggle navigation</span>
						<i class="fa fa-align-justify"></i>Contact Us
					</button>

				
					 <!--
					 *** CATEGORIES AND FILTERS ***
					_________________________________________________________
					-->
					<div id = "cat_navigation" class="collapse show navbar-collapse">
						<div class="card sidebar-menu mb-4">
							<!--<div class="card-header">
								<h3 class="h4 card-title">Categories</h3>
							</div>-->
							<div class="card-body">
								<ul class="nav nav-pills flex-column">
									<li><a href="#" class="nav-link">Contact</a></li>
									<li><a href="#locateus" class="nav-link">Locate us</a></li>
									<li><a href="#contactform" class="nav-link">Write to us</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- /.col-md-3-->
	


				<div class="col-lg-9">
					<div id="contact" class="box">
						<h1>Contact</h1>
						<p class="lead">Are you curious about something? <br />
							Do you have any questions on products, orders, process or our website etc or need any help?</p>
						<p>Please feel free to contact us using any of the following means</p>
						<hr>
						<div class="row">
							<div class="col-md-3 mt-2" style = "border-left: 1px solid #11b6bd; padding-left: 10px;">
								<h3><i class="fa fa-map-marker"></i> Registered Address</h3>
								<p><strong>{{ ecom_site.store_name }}</strong><br>
								{{ ecom_site.store_address1 }}<br>
								{% if ecom_site.store_address2 %}
								{{ ecom_site.store_address2 }}<br>
								{% endif %}
								{{ ecom_site.store_city }}<br>
								{{ ecom_site.store_zip }} &nbsp;{{ ecom_site.store_country }}<br>
							</div>
							<div class="col-md-3 mt-2" style = "border-left: 1px solid #11b6bd; padding-left: 10px;">
								<!--<h3><img src = "{% static 'img/whatsapp_logo.png' %}" width=15 alt="WhatsApp Logo"></i> WhatsApp Support</h3>-->
								<p class="text-muted">Customer support over WhatsApp -</p>
								<p>
									<a href = "https://wa.me/919535805505?text=Hi,%20I%20need%20help%20with"
										style = "font-size: 0.75rem;" 
										target = "_blank">
										<img src = "{% static 'img/whatsapp_logo.png' %}" width=15 alt="WhatsApp Logo"> 
										<span style = "text-decoration: underline;
											font-family: 'Lato', sans-serif; font-size: 14px; color: #212529;
											letter-spacing: 0.5px;">
											95358 05505
										</span>
										<p class="text-muted">Time: between {{ecom_site.phone_support_start_time}} to {{ecom_site.phone_support_end_time}} We will be happy to help you.</p>
									</a>
								</p>
							</div>
							<div class="col-md-3 mt-2" style = "border-left: 1px solid #11b6bd; padding-left: 10px;">
								<h3><i class="fa fa-phone"></i> Sales / Bulk Orders</h3>
								<p><a href="tel:{{ecom_site.support_phonenumber }}">
									<span style = "text-decoration: underline;
										font-family: 'Lato', sans-serif; font-size: 14px; color: #212529;
										letter-spacing: 0.5px;">
										{{ecom_site.support_phonenumber }}
									</span>
									</a>
								</p>
								<p class="text-muted">Time: between {{ecom_site.phone_support_start_time}} to {{ecom_site.phone_support_end_time}} We will be happy to help you.</p>
							</div>
							<div class="col-md-3 mt-2" style = "border-left: 1px solid #11b6bd; padding-left: 10px;">
								<h3><i class="fa fa-envelope"></i> Email support</h3>
								<p class="text-muted">Please feel free to write an email to us at -</p>
								<p>
								  <strong><a href="mailto:support@artevenue.com">support@artevenue.com</a></strong>
								</p>
							</div>
							<div class="col-md-3 mt-2" style = "border-left: 1px solid #11b6bd; padding-left: 10px;">
								<h3><i class="fa fa-map-marker"></i> Address For Returns</h3>
								<p><strong>Montage</strong><br>
								#177/4, Dorasani Palya<br>
								Industrial Layout, JP Nagar 4th Phase<br>
								Bengaluru<br>
								560078 India<br>
								Ph: 98803 37048
							</div>
						</div>
						<hr>
						<div id = "locateus"> <h3><i class="fa fa-map-marker"></i> Locate Us:</h3></div>
						<div id="map"></div>
						<hr>
						<div id = "contactform">
							<h2>Contact form - Send us a message</h2>
						</div>
						<div class="row justify-content-center">
							<div class="col-8">
								<form method="post" novalidate>
									{% csrf_token %}
									<input hidden name="curr_pg" value="{{request.path}}" >						
									<div class="panel panel-default cpanel cpanel-default">
										<div class="w3-container">
												{% for hidden in form.hidden_fields %}
												  {{ hidden }}
												{% endfor %}

												{% for field in form.visible_fields %}
												  <div class="form-group">
													<label class = "control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
													{{ field|add_class:'form-control' }}
													{% for error in field.errors %}
													  <span class="help-block">{{ error }}</span>
													{% endfor %}
												  </div>
												{% endfor %}

										</div>
										<!-- <button type="submit" class="btn btn-primary">Sign Me Up</button> -->
									</div>

									<div class="text-center" style="margin-top: 0px;margin-bottom: 3px;">
										<button type="submit" class="btn btn-primary" style="border-radius: 0;width: 150px">Send Message</button>
									</div>
									
								</form>
							</div>
						</div>
					</div>
				</div>
				<!-- /.col-md-9-->

			</div>
		</div>
	{% endblock sitecontent %}

	
	{% block jscripts %}
	<script>
      function initialize() {
              var mapOptions = {
                  zoom: 15,
                  center: new google.maps.LatLng(12.906680, 77.588320),
                  mapTypeId: google.maps.MapTypeId.ROAD,
                  scrollwheel: false
              }
              var map = new google.maps.Map(document.getElementById('map'),
                  mapOptions);
      
              var myLatLng = new google.maps.LatLng(12.906680, 77.588320);
              var marker = new google.maps.Marker({
                  position: myLatLng,
                  map: map
              });
          }
      
          google.maps.event.addDomListener(window, 'load', initialize);
    </script>
	{% endblock jscripts %}
			
	