<!--COPYRIGHT -->
<div class = "container-fluid">
	<div id = "copyright" class="row">
		<div class = "col-12">
			<p class="text-center">©{{ecom_site.copyright_year}} {{ecom_site.store_name}}. All rights reserved.</p>
		</div>
	</div>
	<div class="row">
		<div class = "col-12">
			<div class = "text-center" style = "font-size:0.55rem; color:#000;">
				<small>This site is protected by reCAPTCHA and the Google
				<a href="https://policies.google.com/privacy">Privacy Policy</a> and
				<a href="https://policies.google.com/terms">Terms of Service</a> apply.	
				</small>
			</div>
		</div>
	</div>
</div>