{% extends 'artevenue/estore_base.html' %}
{% load utils %}
{% load static %}
{% load how_to_tips from estore_base %}
{% block page-title %} 
	<title>
		{% if product_category.page_title %} 
			{{product_category.page_title}} 
		{% else %}
			Huge Collection of Beautiful
			{% if product_category.url_suffix|endswith:'paintings' or product_category.url_suffix|endswith:'painting' or product_category.url_suffix|startswith:'paintings' or product_category.url_suffix|startswith:'painting'%}
				Art Prints of Curated													 
				{{ product_category.url_suffix|replace_dash|title }},
			{% else %}
				, Curated {{ product_category.url_suffix|replace_dash|title }},
			{% endif %} 15% Off
		{% endif %}
	</title>
{% endblock page-title %} 
{% block page-description %}
	{% if product_category.page_description %} 
	<meta name="description" content="{{product_category.page_description}}">
	{% else %}
	<meta name="description" content="From across the world, we have curated for you {% if product_category.url_suffix|endswith:'paintings' or product_category.url_suffix|endswith:'painting' or product_category.url_suffix|startswith:'paintings' or product_category.url_suffix|startswith:'painting'%} art prints of {{ product_category.url_suffix|replace_dash }}{% else %} {{ product_category.url_suffix|replace_dash }} {% endif %}. For paintings for home walls and decor, pick beautiful wall arts here.">
	{% endif %}
{% endblock page-description %}
{% block page-keywords %}
<meta name="keywords" content="{{product_category.url_suffix|replace_dash}}, {{product_category.keywords}}, paintings for home walls, , home decor">
{% endblock page-keywords %}

{% block coursel-stylesheet %}
{% endblock coursel-stylesheet %}

{% block coursel-script %}
{% endblock coursel-script %}

{% block front.js %}
{% endblock front.js %}

{% block lazysizes %}
<script src="{% static '/vendor/lazysizes/lazysizes.min.js' %}" async=""></script>
{% endblock lazysizes %}
{% block imagemap-resize-script %}
{% endblock imagemap-resize-script %}

{% block gmap-script %}
{% endblock gmap-script %}


{% block popper-script %}
	<script src="{% static 'vendor/popper.js/umd/popper.min.js' %}"> </script>
{% endblock popper-script %}

{% block JSON-LD %}
	<script type="application/ld+json">
	{% for prod in prods %}
	{% if prod.publisher %}
    {
      "@context": "https://schema.org/",
      "@type": "Product",
      "name": "{{ prod.name }}",
      "image": [
        "{% static prod.url %}"
       ],
      "description": "Choose from ready sizes or customize it.",
      "sku": "{{ prod.product_id }}",
      "mpn": "",
      "brand": {
        "@type": "Brand",
        "name": "Arte'Venue"
      },
      
      "offers": {
        "@type": "Offer",
        "url": "https://www.artevenue.com/offers",
        "priceCurrency": "INR",
        "price": "500",
        "priceValidUntil": "2022-12-31",
        "itemCondition": "NewCondition",
        "availability": "InStock",
        "seller": {
          "@type": "Organization",
          "name": "Montage Art Pvt Ltd"
        }
      }
    }
	{% endif %}
	{% endfor %}
	</script>
{% endblock JSON-LD %}

	<!-- Only Override the site content block -->
	{% block sitecontent %}
        <div class="container">
			<div class="row">
				<!-- breadcrumb-->
				<div class="col-lg-12">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
							<li class="breadcrumb-item"><a href= "{% url 'show_all_categories' %}">Categories</a></li>
							<li aria-current="page" class="breadcrumb-item active">{{product_category.name}}</li>
						</ol>
					</nav>
				</div>				
	
				<button onclick="topFunction();" id="scrollBtn" title="Go to top">
					<i class = "fa fa-chevron-up fa-lg"></i>
				</button>
				<div class="col-12">
					<div class="text-center">
						{% autoescape off %}
						<h1>
						{% if product_category %} 
							{% if product_category.header %}
								{{product_category.header}}
							{% else %}
								{% if product_category.url_suffix|contains:'paintings' or product_category.url_suffix|contains:'painting' %}
									ART PRINTS OF CURATED
									<span style = "font-weight: 600;">
									{{ product_category.url_suffix|replace_dash|upper }}
									</span>
								{% else %}
									<span style = "font-weight: 600;">
									CURATED {{ product_category.url_suffix|replace_dash|upper }} 
									</span>
								{% endif %}
							{% endif %}
						{% endif %}
						</h1>
						<h3>
						{% if product_category.description %} 
							{{product_category.description}}
						{% else %}
							We bring to you fine 
							<span style = "font-style: italic;">{{ product_category.url_suffix|replace_dash|title}}
							</span> from across the world specially selected for the
							home decor and interiors.
						{% endif %}
						</h3>
						<h3>
						{% if product_category %} 
							{% if product_category.second_description %} 
								{{product_category.second_description}}
							{% else %}
								<span style = "font-style: italic;">Paintings for home walls is a must.</span>
								For your home or office decor, pick from our largest & beautiful collection.
								Get it as paper or canvas print, customize the size, frame and more.
							{% endif %}
						{% endif %}
						</h3>
						{% endautoescape %}
					</div>

				</div>

				<div class="col-12 mt-3">
					{% include 'artevenue/art_by_category_filter.html' %}
				</div>

				<div id = "img-display">
					{% include 'artevenue/prod_display_include.html' %}
				</div> 

				{% how_to_tips request %}

				{% include 'artevenue/wishlist-add-message.html' %}
				{% include 'artevenue/message-modal_ok.html' %}
				{% if product_category.category_id %}
					<form  hidden id="cat-form" action = "{% url 'curated_collections' cat_nm=product_category.url_suffix %}">
						<input id = "id_page_num" name = "page_num">
						<input id = "id_sort" name = "sort">
						<input id = "id_show" name = "show">
						<input id = "id_keywords" name = "keywords">
						<input id = "id_result_limit" name = "result_limit">
						<!--
							<input id = "id_f_colors" name = "filt_colors">
							<input id = "id_f_size" name = "filt_size">
							<input id = "id_f_width" name = "filt_width">
							<input id = "id_f_height" name = "filt_height">
							<input id = "id_f_artist" name = "filt_artist">
							<input id = "id_f_orientation" name = "filt_orientation">
							<input id = "id_f_image_type" name = "filt_image_type">
							<input id = "id_tf" name = "t_f">
						-->
						<input id = "id_color" name = "color">
						<input id = "id_size" name = "size">
						<input id = "id_category" name = "category">
						<input id = "id_shape" name = "shape">
						<input id = "id_art_type" name = "art_type"> 
					</form>
				{% else %}
					<form  hidden id="cat-form" action = "{% url 'curated_collections' %}">
						<input id = "id_page_num" name = "page_num">
						<input id = "id_sort" name = "sort">
						<input id = "id_show" name = "show">
						<input id = "id_keywords" name = "keywords">
						<input id = "id_result_limit" name = "result_limit">
						<!--
							<input id = "id_f_colors" name = "filt_colors">
							<input id = "id_f_size" name = "filt_size">
							<input id = "id_f_width" name = "filt_width">
							<input id = "id_f_height" name = "filt_height">
							<input id = "id_f_artist" name = "filt_artist">
							<input id = "id_f_orientation" name = "filt_orientation">
							<input id = "id_f_image_type" name = "filt_image_type">
							<input id = "id_tf" name = "t_f">
						-->
						<input id = "id_color" name = "color">
						<input id = "id_size" name = "size">
						<input id = "id_category" name = "category">
						<input id = "id_shape" name = "shape">
						<input id = "id_art_type" name = "art_type"> 
					</form>
				{% endif %}
				
			</div>
		</div>
	{% endblock sitecontent %}

	{% block footer-text %}
		{% if product_category.url_suffix|endswith:'paintings' or product_category.url_suffix|endswith:'painting'  or product_category.url_suffix|startswith:'paintings' or product_category.url_suffix|startswith:'painting'%}
			We have the largest collection of art prints of  
			{{ product_category.url_suffix|replace_dash }}.
		{% else %}
			We have the largest collection of art prints from {{ product_category.url_suffix|replace_dash }} category.
		{% endif %}
		We offer complete satisfaction gurantee, free returns and free delivery. So look no further.
		
		
	{% endblock footer-text %}

	
	{% block jscripts %}

	<script>
		function page_perpage_change(page, sort, show, keywords, result_limit=''){ 
			$('#id_sort').val(sort);
			$('#id_show').val(show);
			$('#id_keywords').val(keywords);
			$('#id_result_limit').val(result_limit);
			
			if (isNaN(page) == false) {
				page_num = parseInt(page);
			} else {
				page_num = 1;  // default
			}
			$("#id_page_num").val(page_num);
						
						
			if (isNaN(show) == false) {
				show_num = show;
			} else {
				if (show != 'ALL') {
					show_num = '50' // default
				} else {
					show_num = show;  
				}
			}
			if (show_num != '' ){
				$("#id_show").val(show_num);
			}
			
			document.body.scrollTop = 0; // For Safari
			document.documentElement.scrollTop = 0; 
			
			$("#cat-form").submit();
		}	</script>
	
	<script>
		jQuery(document).ready(function(){
			{% for c in f_category %}
				$('#id_category').val($('#id_category').val() + "," + "{{c}}");
			{% endfor %}
			{% for s in f_shape %}
				$('#id_shape').val($('#id_shape').val() + "," + "{{s}}");
			{% endfor %}
			{% for c in f_color %}
				$('#id_color').val($('#id_color').val() + "," + "{{c}}");
			{% endfor %}
			{% for c in f_size %}
				$('#id_size').val($('#id_size').val() + "," + "{{c}}");
			{% endfor %}
			{% if f_art_type %}
				$('#id_art_type').val("{{f_art_type}}");
			{% endif %}

			$("#id_page_num").val('{{page}}');			
			$("#id_sort").val('{{sortOrder}}');
			$("#id_show").val('{{show}}');

			wigzo('track', 'categoryview', 'https://artevenue.com/curated-art-prints/{{product_category.url_suffix}}/');

		});
	</script>
	
	<script>
		function addToFav(prod_id, currwidth, aspect_ratio, total_price,
				discount, promotion_id, disc_amt, item_unit_price){
			currheight = Math.round(currwidth / aspect_ratio);
			qty = 1; moulding_id = 0; moulding_size = 0; 
			print_medium_id = 'PAPER'; print_medium_size = currheight * currwidth;
			mount_id = 0; mount_size = 0; mount_w_left =0; mount_w_right = 0;
			mount_w_top =0; mount_w_bottom = 0;acrylic_id = 1;
			acrylic_size = currheight * currwidth; board_id = 0; board_size = 0;
			stretch_id = 0; stretch_size = 0; discount = 0;
		
			$.ajax({
				url: "{% url 'add_to_wishlist' %}", 
				data: { 'prod_id':prod_id,'qty':qty, 
						'width':currwidth, 'height':currheight, 'moulding_id': moulding_id,
						'moulding_size' : moulding_size,
						'print_medium_id':print_medium_id, 'print_medium_size':print_medium_size, 
						'mount_id':mount_id, 'mount_size':mount_size,
						'mount_w_left' : mount_w_left, 'mount_w_right':mount_w_right, 
						'mount_w_top':mount_w_top, 'mount_w_bottom' : mount_w_bottom, 
						'acrylic_id':acrylic_id, 'acrylic_size':acrylic_size,
						'board_id':board_id, 'board_size':board_size, 'stretch_id':stretch_id,
						'stretch_size':stretch_size, 
						'total_price':total_price, 'image_width':currwidth, 'image_height':currheight,
						'discount':discount, 'promotion_id':promotion_id, 'disc_amt':disc_amt,
						'item_unit_price':item_unit_price,  'prod_type':'STOCK-IMAGE'}, 
				dataType: 'text', 
					type: 'POST',
				success: function (data) {
					data = JSON.parse(data);
					cart_qty = data.cart_qty;
					$('#fav_'+prod_id).html('<i class = "fa fa-heart" onclick = "deleteItem(' + prod_id + ')"style="color:red; padding-right:5px;" data-toggle="tooltip" title="Added to Favorites!"></i>');
					/* $('#msg-wishlist-modal').modal('show');
					setTimeout(function() {
						$('#msg-wishlist-modal').modal('hide');
						}, 1000);
					*/
				},
				error: function(xhr){
					alert("An error occured: " + xhr.status + " " + xhr.statusText); 
				}
			});	
		}
	</script>

		<script>
		
		function deleteItem(prod_id){
			wishlist_item_id = 0;
			sub_total = 0;
			tax = 0;
			wishlist_total= 0;
			item_total = 0;
			{% for w in wishlistitems %}
				if ({{w.product_id}} == prod_id){
					wishlist_item_id = {{w.wishlist_item_id}};
				}
			{% endfor %}

			sub_total = '';
			tax='';
			wishlist_total='';
			item_total='';
			
			$.ajax({
				url: "{% url 'delete_wishlist_item' %}", 
				data: {'wishlist_item_id':wishlist_item_id, 'sub_total':sub_total, 'tax':tax, 
				'wishlist_total':wishlist_total, 'item_total':item_total}, 
				dataType: 'text', 
				type: 'post',
				success: function (data) {
					data = JSON.parse(data);
					wishlist_qty = data.msg;
					$('#fav_'+prod_id).html('<i class = "fa fa-heart-o"  style="color:red; padding-right:5px;" data-toggle="tooltip" title="Add to Favorites!"></i>')
					if (data = "SUCCESS") {
						// Update the display
						//show_wishlist();
						$("#w_msg").html('Item removed from favorites');
						/*$('#msg-wishlist-modal').modal('show');
						setTimeout(function() {
							$('#msg-wishlist-modal').modal('hide');
							}, 1000);*/
					} else {
						alert(data);
					}
				},
				error: function(xhr){
					alert("An error occured: " + xhr.status + " " + xhr.statusText); 
				}
			});			
		}
	</script>
		
	{% endblock jscripts %}

			
	