
{% extends 'artevenue/estore_base.html' %}
{% load static %}
{% block page-title %} 
	<title>Offers on Wall art paintings at Artevenue.com</title>
{% endblock page-title %} 
{% block page-description %}
	<meta name="description" content="Currently running offers on wall art paintings at artevenue.com">
{% endblock page-description %}
{% block page-keywords %}
	<meta name="keywords" content="Wall art painting, painting for bed room, painting for living room, paintings for home walls, paintings for home decor, offers on paintings, buy painting online, painting sale, wall art offers, photo framing offers">
{% endblock page-keywords %}

{% block page-author %}
	<meta name="author" content="Arte'Venue">
{% endblock page-author %}

{% block coursel-stylesheet %}
{% endblock coursel-stylesheet %}

{% block jqueryui-script %}
{% endblock jqueryui-script %}

{% block coursel-script %}
{% endblock coursel-script %}

{% block front.js %}
{% endblock front.js %}


{% block imagemap-resize-script %}
{% endblock imagemap-resize-script %}


	<!-- Only Override the site content block -->
	{% block sitecontent %}
	<div class="container mt-5">
		<div class = "row mb-3">			
			<div class="col-12">
				<h1 class = "text-center">WHAT WOULD YOU LIKE TO FRAME?</h1>
			</div>
		</div>
		<div id = "framing-card" class="card-deck row">
			<div class="card col-md-6 custom-framing-box">		
				<div class="card-body">
					<h3 class="card-title">Frame Photos</h3>
					<img src = "{% static 'img/custom_framing/frame_photo.jpg' %}" class = "img-fluid" width=250  alt="Frame Photos">
					<p class = "card-text mt-3">
						Upload digital images. We print, frame and deliver to you.
					</p>
					<button class = "btn btn-primary">
						<i class="fa fa-caret-right">
							Go
						</i>
					</button>
				</div>			
			</div>

			<div class="card col-md-6 custom-framing-box">
				<div class="card-body">
					<h3 class="card-title">Frame Artwork</h3>
					<img src = "{% static 'img/custom_framing/frame_art.jpg' %}" class = "img-fluid" width=250 alt="Frame artwork">
					<p class = "card-text mt-3">
						Frame for your artwork, poster, print and more. We deliver to your door step.
					</p>
					<button class = "btn btn-primary">
						<i class="fa fa-caret-right">
							Go
						</i>
					</button>
				</div>			
			</div>
		</div>
		<div class = "row mb-5">			
			<div class="col-12 mt-2" style = "text-align: center;">
				<li class="list-inline-item clickable">
					<a class = "clickable" data-toggle="modal" data-target="#phone-help" style = "color: #77899e;">
						<h3>Want to talk to us?
						Call <img src="{% static 'img/phone_support.png' %}" alt="Phone Support" width=15> 
						 </h3>
					</a>
				</li>
			</div>
		</div>
    </div>
	{% endblock sitecontent %}
	
	
	{% block jscripts %}
	{% endblock jscripts %}
	