{% extends 'artevenue/estore_base.html' %}
{% load static %}
{% load widget_tweaks %}
	<!-- Only Override the site content block -->
	{% block sitecontent %}
        <div class="container">
			<div class="row">
				<!-- breadcrumb-->
				<div class="col-lg-12">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
							<li class="breadcrumb-item"><a href="{% url 'egift_card' %}">eGift Card</a></li>
							<li aria-current="page" class="breadcrumb-item active">Confirm eGift Card</li>
						</ol>
					</nav>
				</div>

				<div class="col-lg-12">
					<div id="contact" class="box">
						<h1>Confirm your gift card details</h1>
					</div>
					<div id="contact" class="box">
						<div class = "row">						
							<div id = 'referform' class="row justify-content-center">
								<div class="col-12">
									{% if msg %}
										<p style="font-size:1.2rem; color:red">{{msg}}</p>
									{% endif %}
									<div class = "row mb-3">
										<div class = "col-6">
											<div class="gift-image-container">
												{% with 'img/'|add:gift.egift_card_design.url as image_static %}
												<img src = "{% static image_static %}" class="f_images img-fluid">
												{% endwith %}
												<div class="{{gift.egift_card_design.text_location}}" style = "color:{{gift.egift_card_design.text_color}};"><i class = "fa fa-inr"> {{gift.gift_amount|floatformat}} </i></div>
											</div>
										
										</div>
										<div class = "col-1" style="margin:auto;">
											<i class = "fa fa-chevron-right fa-2x" aria-hidden="true"></i>
										</div>
										<div class = "col-5" style="margin:auto;">
											<span style = "font-size:1.2rem; font-weight:500;">{{gift.receiver_name}}<br/>
											<span style = "font-size:1rem;"> Email: {{gift.receiver_email}}<br/>
											{% if gift.receiver_phone %}
											<span style = "font-size:1rem;"> Phone: {{gift.receiver_phone}}<br/>
											{% endif %}
											<span style = "font-size:1rem;"> Delivery Date: {{gift.delivery_date}}<br/>
											<span style = "font-size:1rem;"> Gift Amount: {{gift.gift_amount}}<br/>
											<span style = "font-size:1rem;"> Your Meesage: <br />
											<div style = "border:1px solid gainsboro; padding:5px;">{{gift.message|linebreaks}}</div>
										
										</div>
									</div>
									<div class = "row">
											<div class = "col-6 text-center">
												<form id="edit" action = "{% url 'egift_card' %}" method="get">
													<input hidden name="curr_pg" value="{{request.path}}" >						
													<input hidden name="gift_rec_id" value="{{gift.gift_rec_id}}">
													<button form="edit" type="submit" class="btn btn-secondary" style="border-radius:0;"><i class = "fa fa-chevron-left"> Edit</i></button>
												</form>
											</div>
											<div class = "col-6 text-center">
												<form method="post" id = "confirm" action = "" >
													{% csrf_token %}
													<input hidden name="curr_pg" value="{{request.path}}" >						
													<input hidden name="gift_rec_id" value="{{gift.gift_rec_id}}">
													<button form="confirm" type="button" class="btn btn-primary" style="border-radius:0;"><i class = "fa fa-chevron-right"> Buy</i></button>
												</form>
											</div>
										</form>
									</div>										
								</div>
							</div>
						</div>						
					</div>
				</div>
				<!-- /.col-md-9-->
			</div>
		</div>
	{% endblock sitecontent %}

	
	{% block jscripts %}

	{% endblock jscripts %}
			
	