<!DOCTYPE html>

{% load static %}
{% load topbar from estore_base %}
{% load admin_menu from estore_base %}
{% load menubar from estore_base %}
{% load announcement from announcement %}
{% load show_main_slider_section from prod_template_tags %}
{% load show_featured_products_section from prod_template_tags %}
{% load show_trending_categories from prod_template_tags %}
{% load show_curated_collections from prod_template_tags %}
{% load show_create_your_space from prod_template_tags %}
{% load show_egift from prod_template_tags %}
{% load show_referral from estore_base %}
{% load client_speak from estore_base %}
{% load show_frame_my_art from prod_template_tags %}
{% load site_footer from estore_base %}
{% load copy_right from estore_base %}
{% load promo_display from show_promo %}
{% load artevenue_text from estore_base %}
{% load why_artevenue_text from estore_base %}
{% load pick_style from prod_template_tags %}
{% load best_sellers from prod_template_tags %}
{% load signup_banner from estore_base %}
 
<html class = "gr__artevenue_com">
	<head>
		{% block html-head %}
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!--** Pick up from DB (ecom_site_title)-->
		
		<meta name="{{ecom_site.html_meta_name}}" content="">
		<!--** Pick up from DB (description)-->

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="robots" content="all,follow">
		
		{% block page-title %}
		<title>Buy Art Prints, Wall Art, Framed Art & Custom Photo Framing | Arte'venue</title>
		{% endblock page-title %}
		
		{% block page-description %}
		<meta name="description" content="Buy wall art prints, custom framed arts & abstract prints online. Choose from 300 artists, 30 categories & 2,50,000 prints on Arte'venue.">
		{% endblock page-description %}
		  
		{% block page-keywords %}
		<meta name="keywords" content="art prints, wall art, framed art, custom photo framing">
		{% endblock page-keywords %}
		
		{% block page-author %} 
		<meta name="author" content="Arte'Venue">
		{% endblock page-author %} 
				
		<!-- Bootstrap CSS-->
		<link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">		
		
		{% block jqueryui-stylesheet %}
		<!-- Jquery UI CSS-->
		<!--<link rel="stylesheet" href="{% static 'vendor/jquery-ui-1.12.1/jquery-ui.min.css' %}">-->
		{% endblock jqueryui-stylesheet %}
		
		<!-- Font Awesome CSS-->
		<link rel="stylesheet" href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}">
		<!--<link rel="stylesheet" href="{% static 'vendor/font-awesome-5.10.1-web/css/all.min.css' %}">-->
		
		<!-- Google fonts - Roboto -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100">
		
		{% block coursel-stylesheet %}
		<!-- owl carousel-->
		<link rel="stylesheet" href="{% static 'vendor/owl.carousel/assets/owl.carousel.css' %}">
		<link rel="stylesheet" href="{% static 'vendor/owl.carousel/assets/owl.theme.default.css' %}">
		{% endblock coursel-stylesheet %}

		<!-- Custom stylesheet -->
		<link rel="stylesheet" href="{% static  'css/custom.css' %}">
		<!-- theme stylesheet-->
		<link rel="stylesheet" href="{% static 'css/style.default.css' %}" id="theme-stylesheet">
		<!-- theme stylesheet-->
		<link rel="stylesheet" href="{% static 'css/home-page-style.css' %}" id="theme-stylesheet">
		
		<!-- Favicon-->
		<link rel="shortcut icon" href="{% static 'img/favicon.png' %}">

		
		<!-- Goole Font -->
		<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
		
		<!-- JavaScript files-->
		<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
		
		{% block jqueryui-script %}
		<!--<script src="{% static '/vendor/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script> -->
		{% endblock jqueryui-script %}
		
		{% block popper-script %}
		<!-- <script src="{% static 'vendor/popper.js/umd/popper.min.js' %}"> </script>-->
		{% endblock popper-script %}

		<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

		{% block js-cookie %}
		<script src="{% static 'vendor/jquery.cookie/jquery.cookie.js' %}"> </script>
		{% endblock js-cookie %}
		
		{% block coursel-script %}
		<script src="{% static 'vendor/owl.carousel/owl.carousel.min.js' %}"></script>
		<script src="{% static 'vendor/owl.carousel2.thumbs/owl.carousel2.thumbs.js' %}"></script>
		{% endblock coursel-script %}

		{% block gmap-script %}
		<!-- <script src="https://maps.googleapis.com/maps/api/js"></script>-->
		{% endblock gmap-script %}
		
		{% block front.js %}
		<script src="{% static 'js/front.js' %}"></script>	
		{% endblock front.js %}
		
		{% block waypoint-script %}
		<!--<script src="{% static 'vendor/waypoints/waypoints.min.js' %}"></script>-->
		{% endblock waypoint-script %}

		{% block counterup-script %}
		<!--<script src="{% static 'vendor/counterup/counterup.min.js' %}"></script>-->
		{% endblock counterup-script %}

		{% block imagemap-resize-script %}
		<script src="{% static 'vendor/imagemap/imageMapResizer.min.js' %}"></script>
		{% endblock imagemap-resize-script %}

		{% block lazysizes %}
		<!--<script src="{% static '/vendor/lazysizes/lazysizes.min.js' %}" async=""></script>-->
		{% endblock lazysizes %}
		
		{% block google-recaptcha-3 %}
		<script src="https://www.google.com/recaptcha/api.js?render=6Le2ZqAUAAAAAIAvZ7dRPJkj5zLI2IYAxfPktXqE"></script>
		{% endblock google-recaptcha-3 %}

		<!-- Google Tag Manager -->
		<script>
			(function(w,d,s,l,i)
				{w[l]=w[l]||[];w[l].push({'gtm.start':
				new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
				j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
				'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
				}
			)
			(window,document,'script','dataLayer','GTM-57D4W4D');
		</script>
		<!-- End Google Tag Manager -->

		{% block google-analytics %}
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-145310649-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-145310649-1');
		</script>
		{% endblock google-analytics %}
		
		
		<!-- Global site tag (gtag.js) - Google Analytics --> 
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-148505930-1">
		</script> 
		<script> 
			window.dataLayer = window.dataLayer || []; 
			function gtag(){
				dataLayer.push(arguments);
			} 
			gtag('js', new Date()); 
			gtag('config', 'UA-148505930-1'); 
		</script>		

		<!-- Facebook Pixel Code -->
		<script>
		  !function(f,b,e,v,n,t,s)
		  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
		  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
		  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
		  n.queue=[];t=b.createElement(e);t.async=!0;
		  t.src=v;s=b.getElementsByTagName(e)[0];
		  s.parentNode.insertBefore(t,s)}(window, document,'script',
		  'https://connect.facebook.net/en_US/fbevents.js');
		  fbq('init', '506471883218823');
		  fbq('track', 'PageView');
		</script>
		<noscript><img height="1" width="1" style="display:none"
		  src="https://www.facebook.com/tr?id=506471883218823&ev=PageView&noscript=1"
		/></noscript>
		<!-- End Facebook Pixel Code -->

		<!-- Google - Event snippet for Purchase Tracking conversion page --> 
		<script> 
			gtag('event', 'conversion', { 'send_to': 'AW-704394330/KqzSCPvGtq8BENro8M8C', 'transaction_id': '' }); 
		</script>

		
		<!-- Global site tag (gtag.js) - Google Ads: 704394330 --> 
		<script async src="https://www.googletagmanager.com/gtag/js?id=AW-704394330"></script> 
		<script> 
			window.dataLayer = window.dataLayer || []; function gtag(){
				dataLayer.push(arguments);
			} 
			gtag('js', new Date()); gtag('config', 'AW-704394330'); 
		</script>	
	
		{% block cropper %}
		<!-- <link  href="{% static 'vendor/cropper.js/cropper.css' %}" rel="stylesheet">-->
		<!-- <script src="{% static 'vendor/cropper.js/cropper.js' %}"></script>-->
		{% endblock cropper %}

		{% block hotjar %}
		<!-- Hotjar Tracking Code for www.artevenue.com -->
		<script>
			(function(h,o,t,j,a,r){
				h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
				h._hjSettings={hjid:1698652,hjsv:6};
				a=o.getElementsByTagName('head')[0];
				r=o.createElement('script');r.async=1;
				r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
				a.appendChild(r);
			})(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
		</script>
		{% endblock hotjar %}
		
		{% block add_to_head %}
		{% endblock add_to_head %}
		
		{% endblock html-head %}
	</head>

	<body data-gr-c-s-loaded="true" cz-shortcut-listen="true">	

		<!-- Google Tag Manager (noscript) -->
			<noscript>
				<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-57D4W4D"
				height="0" width="0" style="display:none;visibility:hidden"></iframe>
			</noscript>
		<!-- End Google Tag Manager (noscript) -->


		<!-- Header Section with top slim line, logo/search/cart and menu-->
		{% block siteheader %}
		<header class="header">

			{% announcement %}			

			<!-- Admin Menu-->
			{% admin_menu request %}
			
			<!-- Top slim bar with tagline, login, register etc-->
			{% topbar request messsages %}
				
			<!-- Navigation - Logo, menu, search and cart buttons -->
			{% menubar request messages %}
			<!-- END: Navigation - Logo, menu, search and cart buttons -->
		</header>
		{% endblock siteheader %}
		<!-- END: Header Section with top slim line, logo/search/cart and menu-->

		<div id="all">
			<div id="content" class= "" style="background-color:#fff">
				{% block sitecontent %}
														
				{% show_main_slider_section %}

				{% show_trending_categories %}

				{% why_artevenue_text %}

				{% show_curated_collections %}

				{% signup_banner %}

				{% best_sellers %}

				{% pick_style %}
				
				{% artevenue_text request %}

				{% show_frame_my_art request %}			



				{% endblock sitecontent %}

				{% site_footer request %}
				<!-- *** FOOTER END ***-->
	
				<!--COPYRIGHT -->
				{% copy_right request %}
				
 				
			</div>
			<div class="ajax-modal"></div>
		</div>


		{% block jscripts %}
		<script>
			imageMapResize();
		</script>		
		{% endblock jscripts %}
		


		<script>
			$( document ).ready(function() {
				val = sessionStorage.getItem("PopupShown");
				if ( val == null){
					setTimeout(function () {
						$('#promo').modal('show');
						sessionStorage.setItem("PopupShown", "yes");
					}, 60000 );
				
					/*setTimeout(function () {
						$('#promo').modal('hide')
					}, 15000);*/
				}

			});
		</script>
		
		<script>
			function updateCartItemsNum(num){
			
				
				$('#itemsincart').html(num);
				$('#itemsincart_m').html(num);
				
			}
			
			function synch_cart(){
				// Sync session cart and user cart
				$.ajax({
					url: "{% url 'sync_cart_session_user' %}", 
					dataType: 'text', 
					type: 'post',
					success: function (data) {
						data = JSON.parse(data);
						console.log("SYNC STATUS : "  + data.status);
					},
					error: function(xhr){
						alert("An error occured: " + xhr.status + " " + xhr.statusText); 
					}
				});
			}
		</script>
		
		<script>
			// In case of invalid login, let's trigger the login modal
			$(document).ready(function(){
				{% if messages %}
					{% for message in messages %}
						{% if message.tags != 'info' %} 
							$('#show-loginerror').html("<div class='alert alert-danger'><button type='button' class='close' data-dismiss='alert'></button>{{message}}</div>");
						{% endif %}
					{% endfor %}
				
					$('#login-modal').modal('show'); 
				{% endif %}
				show_persistant_menu_on_click();
				
			});		
			
			function show_persistant_menu_on_click(){
				$('ul.navbar-nav li.dropdown').hover(function() {
				  $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
				}, function() {
				  $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
				});	
			}
		</script>
		
		<script>
			function getCookie(cname) {
				var name = cname + "=";
				var decodedCookie = decodeURIComponent(document.cookie);
				var ca = decodedCookie.split(';');
				for (var i = 0; i < ca.length; i++) {
					var c = ca[i];
					while (c.charAt(0) == ' ') {
						c = c.substring(1);
					}
					if (c.indexOf(name) == 0) {
						return c.substring(name.length, c.length);
					}
				}
				return "";
			}    
		</script>

		<script>
			function copyPromocode() {
			  /* Get the text field */
			  var copyText = document.getElementById("pcode_inv");

			  /* Select the text field */
			  copyText.select();
			  copyText.setSelectionRange(0, 99999); /*For mobile devices*/

			  /* Copy the text inside the text field */
			  document.execCommand("copy");
			}		
		</script>

		{% block tawkto %} 
		<!--Start of Tawk.to Script-->
		
		<script type="text/javascript">		
			var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
			(function(){
			var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
			s1.async=true;
			s1.src='https://embed.tawk.to/5da6fe47fbec0f2fe3ba07cc/default';
			s1.charset='UTF-8';
			s1.setAttribute('crossorigin','*');
			s0.parentNode.insertBefore(s1,s0);
			})();
		</script>
		<!--End of Tawk.to Script-->
		{% endblock tawkto %}
	</body>
	
</html>
