{% load static %}
{% if user.is_staff %}
<!-- Navigation - Logo, menu, search and cart buttons -->

	
	<div id="mySidenav" class="sidenav">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<a href="{% url 'store_orders' %}">Order Report</a>
		<a href="{% url 'pending_business_accounts' %}">Approve Business Accounts</a>
		<li class="dropdown-divider"></li>
		<a href="#">eGift</a>
		<a href="{% url 'promotion_products' %}">Promotions</a>
		<li class="dropdown-divider"></li>
		<a href="#">Main Slider Image</a>
		<a href="#">Category Images</a>
		<li class="dropdown-divider"></li>
		<a href="#">Contact Details</a>
		<li class="dropdown-divider"></li>
		<a href="{% url 'import_image_data' %}" class="btn navbar-btn d-none d-lg-inline-block">Import Image Data</a>
	</div>	
	<span style="font-size:16px;cursor:pointer" onclick="openNav()">&#9776; Admin Menu</span>
	

<script>
	function openNav() {
	  document.getElementById("mySidenav").style.width = "250px";
	}

	function closeNav() {
	  document.getElementById("mySidenav").style.width = "0";
	}
</script>

{% endif %}