{% extends 'artevenue/estore_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block page-title %} 
	<title>ArteVenue.com | Frequently Asked Questions</title>
{% endblock page-title %} 
{% block page-description %}
<meta name="description" content="Frequently asked questions while shopping at artevenue.com">
{% endblock page-description %}
{% block page-keywords %}
<meta name="keywords" content="Wall art painting, painting for bed room, painting for living room, paintings for home walls, paintings for home decor, offers on paintings, buy painting online faq, painting sale faq, photo framing faq, artevenue, faq, Art prints faq, Wall Art faq, How To Customize Art Prints">
{% endblock page-keywords %}


{% block coursel-stylesheet %}
{% endblock coursel-stylesheet %}

{% block jqueryui-script %}
{% endblock jqueryui-script %}

{% block coursel-script %}
{% endblock coursel-script %}

{% block front.js %}
{% endblock front.js %}


{% block imagemap-resize-script %}
{% endblock imagemap-resize-script %}

{% block JSON-LD %}
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": [{
        "@type": "Question",
        "name": "What is the return policy?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "If you are not satisfied, we are happy to accept the return within 5 days of delivery for full refund. Please note that, Arte'Venue will arrangefor the pick up of the artwork and customer will bear the return shipping charges."
        }
      }, {
        "@type": "Question",
        "name": "Can I cancel order?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Our artwork is customized as per your order. The production process starts as soon as you place the order. We are unable to cancel your order after the payment is made and you receive the confirmation. However, please let us know asap, we are happy to cancel the order for you before our production process begins"
        }
      }, {
        "@type": "Question",
        "name": "When will I get my painting?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "You can expect your artwork to arrive between 5-10 days depending on the delivery point."
        }
      }, {
        "@type": "Question",
        "name": "How do I track my order?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "All the orders are shipped primariy through courier. You will receive a tracking number through which you can track your order. You can also track your order online on our website at https:/www.artevenue.com/my-orders (if you have logged in) and https://artevenue.com/find-orders (if you have not logged in)."
        }
      }, {
        "@type": "Question",
        "name": "How much will shipping cost?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Shipping is free."
        }
      }]
    }
    </script>
{% endblock JSON-LD %}
	
	{% block sitecontent %}
        <div class="container">
			<div class="row">

				<!-- breadcrumb-->
				<div class="col-12">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
							<li aria-current="page" class="breadcrumb-item active">FAQ</li>
						</ol>
					</nav>
				</div>

				<div class="col-lg-12">
					<div class="box">
						<h1 class = "text-center">Frequently Asked Questions</h1>
						<div class = "row mt-5">
							<div class = "col-12">
								Welcome to our support center. You will find here the frequently
								asked questions and their anwers. If none of these answer your
								question then please feel free to <a href="https://www.artevenue.com/contact-us">
								get in touch</a> with us <a href="https://www.artevenue.com/contact-us">here</a>.
							</div>
						</div>
						<div class = "row mt-5">
							<div class = "col-12">
								<h2 class="coupan-header">Artwork Details</h2>
								<strong>What type of artworks do you sell?</strong>
								<p>We currently sell licensed art prints of the paintings
								and photography art. Everytime we sell an art print, we pay
								license fee to the artist/publishing house</p>
								
								<strong>What about original fine art?</strong>
								<p>Our platform (ArteVenue.com) is getting ready to
								sell original paintings online. We do have stock of
								original paintings in our stores in Bangalore.</p>

								<strong>What do you print art on?</strong>
								<p>For every art print that we sell, we have an option 
									choose print surface - paper or canvas print.
								</p>

								<strong>Can I customize the size of art print?</strong>
								<p>Yes. Ours is the only website that offers complete 
								customization.</p>
								<p>You can choose size inch-by-inch between the minimum
								and maximum print size allowed by artist.
								The typical print size you can chose is between 8 inch
								and 60 inch.</p>
								<p>You can choose from various frame options, choose the mount
								size and color.</p>
								<p> Our website shows you exactly how your artwork looks like after 
								you customize it.</p>
								<p> You can also use a unique "Wall Color and Size Tool" to 
								select the size, change the wall color and 
								see approximately how the artwork will look like in a room
								view. 
								</p>
								
								<strong>What is the quality of materials used?</strong>
								<div id="collapseTwo" class="card-body collapse show" data-parent="#accordion">
									<table class = "table table-borderless">
										<tbody>
											<tr>
												<td class="accordian-subhead">Frame</td>
												<td class = "comp-frame">
													Made of Polystyrene, which is light weight, strong and durable. It has classy finish.
												</td>
											</tr>
											<tr>
												<td class="accordian-subhead">Paper</td>
												<td class = "comp-frame">
													NovaJet Matte Coated Premium Paper 230 (MCP 230). Bright white, smooth finish matte, top-coated with an ink-receptive layer. Ideal for printing fine art reproduction.
												</td>
											</tr>
											<tr>													
												<td class="accordian-subhead">Canvas</td>
												<td class = "comp-frame">
													NovaJet Artistic Matte Canvas 410 (AMC 410). Water-resistant canvas, top-coated with an ink-receptive layer. Ideal for printing fine art reproductions.
												</td>
											</tr>
											<tr>													
												<td class="accordian-subhead">Glass</td>
												<td class = "comp-frame">
													Clear Acrylic: Added protection, durability and clear visibility. Please note that canvas art prints are not covered with glass or acrylic. 
												</td>
											</tr>
										</tbody>
									</table>
								</div>

								<strong>How accurate is image colors shown and what I will get? and what about the size accuracy?</strong>
								<p>
									We strive for a high degree of image accuracy and verify the sizes of all images on our Website.
									Please note that on different devices, laptops and compter screens the color shades of 
									images are seen with small variations. 
								</p>
								<p>
									Please be assured that you will only get the best quality that
									it can be becuase all our artworks are licensed and hence we use only genuine
									images for printing and only print upto the size that is possible keeping the best quality.
								</p>
								</p>
								    With ragards to the size, there may be small variations (up to 2" for larger sizes) in the finished products due 
									to aspect ratio of an image, printer specifications etc.
								</p>


								<hr>
								<h2 class="coupan-header">Ordering</h2>
								<strong>How do I place an order?</strong>

								<p>	Add the product(s) you wish to order in your shopping 
									cart by clicking on the "Add to Cart" button 
									located next to the product image. When you're
									ready to complete your order, click "Continue 
									Checkout" from within your cart and follow 
									the instructions.
								</p>

								<strong>Does the image on your site accurately 
									represent what I will be sent?</strong>

								<p>We strive for a high degree of image accuracy. 
									You can expect a 95-100% accuracy to the image
									viewed on our site.
								</p>

								<strong>How accurate are the item dimensions 
									listed on your web pages?</strong>

								<p>ArteVenue.com checks the dimensions of all 
									images on our site, but due to industry 
									standards sizes can vary slightly by a few mm. 
								</p>
								
								<strong>What are the resolution requirements for 
								digital upload for custom framing orders?</strong>

								<p>Our minimum resolution for digital uploads is 
									150 DPI. Since resolution reduces as you enlarge 
									a photo, the higher the resolution of your file, 
									the larger your print can be. If you'd like to 
									print a larger photo than what is suggested, 
									you'll need to upload a higher-resolution image 
									of your photo to have a larger print to a maximum 
									size of 40x60 inch.
								</p>

								<strong>What kind of image can I upload to be 
									printed?</strong>

								<p>You can upload a .jpg, or .png, under 30MB 
									and we'll print and frame it for you! 
								</p>

								<hr>
								<h2 class="coupan-header">Payments</h2>
								<strong>What type of payments do you accept?</strong>
								<p>We accept all major credit/debit cards, Netbanking,
									UPI, and Wallet payments.</p>									
								<strong>What will happen if the payment gets deducted and I
								get an error or I don't receive the order confirmation?
								</strong>
								<p>There is nothing to worry. If the payment is deducted then
								the order will get processed. Sometimes there is lag between
								banks and payment gateway and our system or other system issues. 
								But we do reconcile the data and the order will get processed.</p>
								<p>You can always reach out to us on email, phone or chat.
									Here are the ways to 
									<a href = "{% url 'contact_us' %}">contact us</a>
								</p>
								
								<hr>
								<h2 class="coupan-header">Shipping & Delivery</h2>
								<strong>What type of packaging do you use?</strong>

								<p>With frame: Your artwork has following packaging - 
									protective covering over frame corners, shrink wrap over frame,
									additional hard board covering over frame edges, bubble/
									foam wrap, outer hard board covering, outer shrink wrap.
								<br />Without frame: Your artwork is rolled with butter paper 
									to protect it against dust and then inserted 
									in a tube to keep from any kind of damage 
									during transit.
								</p>
								<p> In our years of shipping experience, there have been minimal
								damages during transit.</p>
								
								<strong>When will my artwork arrive?</strong>
								<p>We ship your artwork by courier in 1-3 days. It usually takes about 
									3-10 days depending on the delivery point. We
									are based in Bangalore. It ususally takes
									between 3-5 days to deliver in all metro and major cities.
								</p>

								<strong>How do I track my order?</strong>
								<p>All the orders are shipped through courier. 
									You will receive a tracking number through which 
									you can track your order.
								</p>
								<p>You can also track your order online on our website at
									https:/www.artevenue.com/my-orders (if you have logged)<br>
									https:/www.artevenue.com/find-orders (if you have not logged)									
								</p>
								
								<strong>How much will shipping cost?</strong>
								<p>Shipping anywhere in India is free.</p>				
								
								<strong>Do you ship internationally?</strong>
								<p>Currently we ship within India for free. For internatioal shipping
								please get in touch with us and we can help with
								international shipping.</p>

								<hr>
								<h2 class="coupan-header">Returns and Cancellation</h2>
								<strong>What is your return & cancellation policy?</strong>
								<strong>Order Cancellation:</strong>
								<p>Our artwork is customized as per your order. The production process 
									starts as soon as you place the order. We are unable to cancel your order
									after the payment is made and you receive the confirmation.<br />
									However, we are happy to cancel the order for you before our production process
									begins, which is typically within an hour of you placing an order. 
									In case you wish to cancel please call/write back to us as soon as possible, and 
									we can let you know if the order can be cancelled.<br />
									If the order is cancelled, we will ask you for your bank details and it will take
									up to 7 business days to process the refund.
								</p>									
								<strong>Damaged Delivery:</strong>
								<p>
									In an unlikely event of damages during delivery, artwork having quailty issue or wrong artwork 
									delivered to you, it is eligible for free replacement.
									Customer shall inform Arte'Venue about the damaged artwork, quality issue or wrong artwork
									within 48 hours of delivery along the photos of artwork showing the issue as a proof. 
									Arte'Venue shall not be liable to replace the artwork or refund the money if Arte'Venue 
									is informed after completion of 48 hours from time of delivery.
								</p>
								
								<strong>Returns:</strong>
								<p>
									If you are not satisfied, we are happy to accept the return
									within 5 days of delivery for full refund. Please note that, Arte'Venue will arrange
									for the pick up of the artwork and customer will bear the return shipping charges.
									Arte'Venue will deduct the return delivery charges before making the refund. To be
									eligible for refund, the returned artwork Arte'Venue receives should be in new condition,
									exactly as it was delivered to you.
								</p>
									
								<p>Please keep the artwork in condition it was received, and in original packaging. 
									We will arrange for the pick up. Upon receipt of the returned Arte'Venue 
									will ascertain the condition of the artwork prior to issuing refund/replacement. 
									The artwork will not be eligible for refund in case further damages are found.
								</p>
									
								<p>Please refer to section 5 of <a href = "{% url 'terms_conditions' %}">terms of use</a> 
									for detailed procedures and policies.
								</p>

								<hr>
								<h2 class="coupan-header">Selling on ArteVenue.com</h2>
								<strong>I am an artist, can I sell on your website?</strong>
								<p>We will be happy for you to join us as artist. Our platform
								is being made ready to allow artists to sign up online and upload
								their artworks and information. While our platform gets ready, you
								can join us in offline mode. You will find all the information 
								<a href="https://mailchi.mp/1d53785c3814/artevenue-for-artists-sign-for-free-now-12552588" target = "_blank"> 
									here 
								</a>.
								</p>									
								<strong>As an artist what benefits do I get?</strong>
								<ul>
									<li>There is no fee to sign up as artist</li>
									<li>Artist will get her/his own webpage on our platform</li>
									<li>Artists can showcase their profile on the webpage 
										and get their own gallery
									</li>
									<li>Artist will be able to sell original paintings as well as art prints</li>
									<li>Online access to artist account, information and sales</li>
									<li>We don't charge any fee unless there is a sale</li>
								</ul>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	{% endblock sitecontent %}

	
	{% block jscripts %}

	{% endblock jscripts %}
			
	