{% extends 'artevenue/estore_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block page-title %} 
	<title>ArteVenue.com | Frequently Asked Questions</title>
{% endblock page-title %} 
{% block page-description %}
<meta name="description" content="Frequently asked questions while shopping at artevenue.com">
{% endblock page-description %}
{% block page-keywords %}
<meta name="keywords" content="Wall art painting, painting for bed room, painting for living room, paintings for home walls, paintings for home decor, offers on paintings, buy painting online faq, painting sale faq, photo framing faq, artevenue, faq, Art prints faq, Wall Art faq, How To Customize Art Prints">
{% endblock page-keywords %}


{% block coursel-stylesheet %}
{% endblock coursel-stylesheet %}

{% block jqueryui-script %}
{% endblock jqueryui-script %}

{% block coursel-script %}
{% endblock coursel-script %}

{% block front.js %}
{% endblock front.js %}


{% block imagemap-resize-script %}
{% endblock imagemap-resize-script %}

{% block JSON-LD %}
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": [{
        "@type": "Question",
        "name": "What is the return policy?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "If you are not satisfied, we are happy to accept the return within 5 days of delivery for full refund. Please note that, Arte'Venue will arrangefor the pick up of the artwork and customer will bear the return shipping charges."
        }
      }, {
        "@type": "Question",
        "name": "Can I cancel order?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Our artwork is customized as per your order. The production process starts as soon as you place the order. We are unable to cancel your order after the payment is made and you receive the confirmation. However, please let us know asap, we are happy to cancel the order for you before our production process begins"
        }
      }, {
        "@type": "Question",
        "name": "When will I get my painting?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "You can expect your artwork to arrive between 5-10 days depending on the delivery point."
        }
      }, {
        "@type": "Question",
        "name": "How do I track my order?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "All the orders are shipped primariy through FedEx. You will receive a tracking number through which you can track your order. You can also track your order online on our website at https:/www.artevenue.com/my-orders (if you have logged) and https:/www.artevenue.com/find-orders (if you have not logged)."
        }
      }, {
        "@type": "Question",
        "name": "How much will shipping cost?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Shipping is free."
        }
      }]
    }
    </script>
{% endblock JSON-LD %}
	
	{% block sitecontent %}
        <div class="container">
			<div class="row">

				<!-- breadcrumb-->
				<div class="col-12">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
							<li aria-current="page" class="breadcrumb-item active">FAQ</li>
						</ol>
					</nav>
				</div>

				<div class="col-lg-12">
					<div class="box">
						<h1 class = "text-center">Frequently Asked Questions</h1>
						<div class = "row mt-5">
							<div class = "col-12">
								Welcome to our support center. You will find here the frequently
								asked questions and their anwers.If none of these answer your
								question then please feel free to <a href="https://www.artevenue.com/contact-us">
								get in touch</a> with us <a href="https://www.artevenue.com/contact-us">here</a>.
							</div>
						</div>
						<div class = "row mt-5">
							<div class = "col-12">
								<h2>Ordering</h2>
								<strong>How do I place an order?</strong>

								<p>	Add the product(s) you wish to order in your shopping 
									cart by clicking on the "Add to Cart" button 
									located next to the product image. When you're
									ready to complete your order, click "Continue 
									Checkout" from within your cart and follow 
									the instructions.
								</p>

								<strong>Does the image on your site accurately 
									represent what I will be sent?</strong>

								<p>We strive for a high degree of image accuracy. 
									You can expect a 90-100% accuracy to the image
									viewed on our site.
								</p>

								<strong>How accurate are the item dimensions 
									listed on your web pages?</strong>

								<p>ArteVenue.com checks the dimensions of all 
									images on our site, but due to industry 
									standards sizes can vary slightly up to 2”. 
								</p>
								
								<strong>What are the resolution requirements for 
								digital upload orders?</strong>

								<p>Our minimum resolution for digital uploads is 
									150 DPI. Since resolution reduces as you enlarge 
									a photo, the higher the resolution of your file, 
									the larger your print can be. If you'd like to 
									print a larger photo than what is suggested, 
									you'll need to upload a higher-resolution image 
									of your photo to have a larger print to a maximum 
									size of 40x60 inch.
								</p>

								<strong>What kind of image can I upload to be 
									printed?</strong>

								<p>You can upload a .jpg, or .png, under 30MB 
									and we'll print and frame it for you! 
								</p>
								
								
								<hr>
								<h2>Shipping & Delivery</h2>
								<strong>What type of packaging do you use?</strong>

								<p>Your art print is rolled with butter paper 
									to protect it against dust and then inserted 
									in a tube to keep from any kind of damage 
									during transit.
								</p>
								<strong>When will my art arrive?</strong>

								<p>You can estimate your art's arrival between 
									5-10 days depending on the delivery point.
								</p>

								<strong>How do I track my order?</strong>

								<p>All the orders are shipped through FedEx. 
									You will receive a tracking number through which 
									you can track your order.
								</p>
								<p>You can also track your order online on our website at
									https:/www.artevenue.com/my-orders (if you have logged)<br>
									https:/www.artevenue.com/find-orders (if you have not logged)									
								</p>
								
								<strong>How much will shipping cost?</strong>
								<p>Shipping is free.</p>

					
								
								<hr>
								<h2>Returns and Cancellation</h2>
								<strong>What is your return & cancellation policy?</strong>
								<strong>Order Cancellation:</strong>
								<p>Our artwork is customized as per your order. The production process 
									starts as soon as you place the order. We are unable to cancel your order
									after the payment is made and you receive the confirmation.<br />
									However, we are happy to cancel the order for you before our production process
									begins, which is typically within an hour of you placing an order. 
									In case you wish to cancel please call/write back to us as soon as possible, and 
									we can let you know if the order can be cancelled.<br />
									If the order is cancelled, we will ask you for your bank details and it will take
									up to 7 business days to process the refund.
								</p>									
								<strong>Damaged Delivery:</strong>
								<p>
									In an unlikely event of damages during delivery, artwork having quailty issue or wrong artwork 
									delivered to you, it is eligible for free replacement.
									Customer shall inform Arte'Venue about the damaged artwork, quality issue or wrong artwork
									within 48 hours of delivery along the photos of artwork showing the issue as a proof. 
									Arte'Venue shall not be liable to replace the artwork or refund the money if Arte'Venue 
									is informed after completion of 48 hours from time of delivery.
								</p>
								
								<strong>Returns:</strong>
								<p>
									If you are not satisfied, we are happy to accept the return
									within 5 days of delivery for full refund. Please note that, Arte'Venue will arrange
									for the pick up of the artwork and customer will bear the return shipping charges.
									Arte'Venue will deduct the return delivery charges before making the refund. To be
									eligible for refund, the returned artwork Arte'Venue receives should be in new condition,
									exactly as it was delivered to you.
								</p>
									
								<p>Please keep the artwork in condition it was received, and in original packaging. 
									We will arrange for the pick up. Upon receipt of the returned Arte'Venue 
									will ascertain the condition of the artwork prior to issuing refund/replacement. 
									The artwork will not be eligible for refund in case further damages are found.
								</p>
									
								<p>Please refer to section 5 of <a href = "{% url 'terms_conditions' %}">terms of use</a> 
									for detailed procedures and policies.
								</p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	{% endblock sitecontent %}

	
	{% block jscripts %}

	{% endblock jscripts %}
			
	