{% load static %}
{% load utils %}
<div id="footer" style="background-color:#000; color:#fff;">
	<div class="row">
		<div class="col-lg-3 col-md-6">
			<img src="{% static 'img/layer_2_0.png' %}" alt="{{ecom_site.store_name}} Logo" style="width:164px; height:29px; display:block;">
			<p class="mt-3 about-us" style="font-size:0.85rem;">
			One-stop-art-shop to discover, <span style = "font-style:italic;"> 
			buy paintings online. Beautiful collection of paintings and art prints of paintings for home walls</span>.
			Over 2,75,000 artworks, 4500+ artists, and 70+ categories to pick from.<br/>
			Share Us on FB: <div class="fb-share-button" data-href="https://www.facebook.com/Artevenueofficial/" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.facebook.com%2FArtevenueofficial%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>					
			</p>
		</div>
		<div class="col-lg-3 col-md-6">
			<p class="footer-heading" style="font-size:0.85rem; font-weight:700;">
				POPULAR CATEGORIES
			</p>
			<div class = "row mt-3" style = "font-size:0.75rem; padding-left:0px;">
				{% for main in level0_menuitems %}
					{% if main.name|upper == 'CATEGORIES' %}
						{% for level1 in level1_menuitems %}
							{% if level1.name != '' %} 
								{% if forloop.counter < 7 %}
								<div class="col-md-6">
									<a style = "color:#fff !important; display:inline-block;" href="{% url 'art_by_category' level1.name|replace:' ,-' %}">
										<li>
											> {{level1.name|title}}
										</li>
									</a>
								</div>
								{% endif %}
							{% endif %}
						{% endfor level1_menu %}
						<div class="col-md-6">
							<a style = "color:#696868 !important; text-decoration:underline; display:inline-block;" href="{% url 'show_all_categories' %}">
								<li>
									> Show All
								</li>
							</a>
						</div>
					{% endif %}
				{% endfor %}				
			</div>
		</div>
		<div class="col-lg-3 col-md-6" style = "color:#fff;">
			<p class="footer-heading" style="font-size:0.85rem; font-weight:700;">IMPORTANT LINKS</p>
			<div class = "row mt-3">
				<div class="col-md-6">
					<ul class="list-unstyled" style = "font-size:0.75rem; color:fff !important; line-height:2;">
						<li><a href="{% url 'about_us' %}">About Us</a></li>
						<li><a href="{% url 'faq' %}">FAQ</a></li>
						<li><a href="{% url 'contact_us' %}">Contact Us</a></li>
						<li><a class = "" data-toggle="modal" data-target="#phone-help">Support</a></li>
						
						{% if user.is_authenticated %}
							<li><a href="{% url 'my_account' %}">My Account</a></li>
							<li><a href="{% url 'my_orders' %}">My Orders</a></li>
						{% else %}
							<li><a href="{% url 'find_orders' %}">Find My Orders</a></li>
						{% endif %}
					</ul>
				</div>
					
				<div class="col-md-6">
					<ul class="list-unstyled"  style = "font-size:0.75rem; color:fff !important;">
						<!--<li><a href="shipping">Shipping</a></li>-->
						<li><button class = "btn btn-link" onclick="$('#refund-modal').modal('show');"  style = "padding:0px; margin:0px; font-size:0.75rem;">
						Returns, Refund</button></li>
						<!--<li><a href="">How It Works</a></li>-->
						<li><a href="{% url 'business_registration' %}">Business</a></li>
						<li><a href="{% url 'terms_conditions' %}">Terms of Use</a></li>
						<li><a href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
						<li><button class = "btn btn-link" onclick="$('#cancellation-modal').modal('show');" style = "padding:0px; margin:0px;  font-size:0.75rem;">
						Cancellation</button></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-6" style = "font-size:0.75rem; background-color: #000; color:#fff;">
			<div class="newsletter">
				<h5 style="font-size:0.85rem; font-weight:700;">
					NEWS LETTER
				</h5>
				<div class = "mt-3" style = "font-size:0.75rem; color:fff !important;">
					<form action = "{% url 'newsletter_subscription' %}">
						<!--<div class="input-group">-->
						<div class="">
							 <input type="email" class="form-control" placeholder="Your email" 
							 style = "border-radius:0px;  border:none;" name = "email" required>
							 <span class="input-group-btn">
							 <button class="btn btn-primary" type="submit"  
								style = "border-radius:0px; background-color:#777; border:none; font-size: 0.8rem;">
								Subscribe
							 </button>
							 </span>
						</div>
						
					</form>
					<p class="social mt-3">
						Visit Us On:
						<a href="https://www.facebook.com/Artevenueofficial/" class="facebook external"><i class="fa fa-facebook"></i></a>
						<!--<a href="#" class="twitter external"><i class="fa fa-twitter"></i></a>-->
						<a href="https://www.instagram.com/artevenue/" class="instagram external"><i class="fa fa-instagram"></i></a>
						<!--<a href="#" class="gplus external"><i class="fa fa-google-plus"></i></a>-->
						<!--<a href="#" class="email external"><i class="fa fa-envelope"></i></a>-->
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row mt-3">
		<div class="col-12 text-center" style = "text-align:justify; color: #979797; 
				margin-top:0px; font-size:11px; margin-bottom:0px; line-height: 1;">
			<p>
				Artevenue is an online platform for affordable 
				<span style = "font-style:italic;">wall art paintings for home decor</span>
				or any empty wall space which can adorn one. 
			</p>
			<p>We host a collection of over 2,70,000 licensed artworks under one roof with 
			a comprehensive database of various genres, sub-genres like 
			<span style = "font-style:italic;"> Buddha paintings, 
			flower paintings, rose paintings, bird paintings, sunrise painting, 
			sunset painting, love paintings, 7 horse painting, sea paintings, beautiful 
			paintings of a girl, running horse painting, beach paintings, 
			beautiful paintings of nature, movie posters, architectural drawings 
			and artworks by grand masters like Vincent Van Gogh, Michaelangelo, 
			Leonardo Da Vinci, Gustav Klimt </span> etc.
			</p>

			<p>Putting up <span style = "font-style:italic;">beautiful paintings</span> 
				on walls speaks louder than words.  
				You are never short of choices when it comes to 
				<span style = "font-style:italic;">paintings for home walls, 
				Wall art paintings for bedroom, 
				wall art paintings for living room</span> etc...
				make your home a more personal space by enhancing it with good pieces of art. 

				While catering to a wide variety of <span style = "font-style:italic;">
				wall art paintings, posters, prints and 
				canvas paintings</span>, our expertise and commitment in delivering the best to our 
				customers is our priority, so you can buy paintings online with us, as we 
				ensure a seamless customer experience.
			</p>
			<p> Anyone can frame ? 
				Virtually of course!! 
				Our website enables you to visualise a frame around your picture or 
				artwork by a simple customisation tool, which makes 
				<span style = "font-style:italic;">online photo framing</span>
				as easy as pie.
				We have a few frame designs for you to choose from for your photo print 
				which aids you to make an exclusive family wall or a photo frames collage. 
			</p>
			<p>Who knew picture framing would be this easy ? 
				Photo frame anything, Photo frame online with us!
			</p>

		</div>
	</div>
</div>


<div id="cancellation-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true" class="modal fade">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header" style = "background-color:#11b6bd;color:#fff">
				<h3 class="modal-title" >Order Cancellation Policy</h3>
				<button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
			</div>
			<div class="modal-body">
				<div class = "col-12"  style = "color:#000 !important;" >
					Our artwork is customized as per your order. The production process 
					starts as soon as you place the order. We are unable to cancel your order
					after the payment is made and you receive the confirmation.<br />
					However, we are happy to cancel the order for you before our production process
					begins, which is typically within an hour of you placing an order. 
					In case you wish to cancel please call/write back to us as soon as possible, and 
					we can let you know if the order can be cancelled.<br />
					If the order is cancelled, we will ask you for your bank details and it will take
					up to 7 business days to make process the refund.
				</div>				
			</div>
		</div>
	</div>		
</div>


<div id="refund-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true" class="modal fade">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header" style = "background-color:#11b6bd;color:#fff">
				<h3 class="modal-title" >Return, Refund Policy</h3>
				<button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
			</div>
			<div class="modal-body">
				<div class = "col-12">
					<p>Our artworks are customized for you and delivered with utmost care. Your
					satisfaction is guaranteed. </p>
					<p>
					In an unlikely event of damages during delivery, artwork having quailty issue or wrong artwork 
					delivered to you, it is eligible for free replacement.
					Customer shall inform Arte'Venue about the damaged artwork, quality issue or wrong artwork
					within 48 hours of delivery along the photos of artwork showing the issue as a proof. 
					Arte'Venue shall not be liable to replace the artwork or refund the money if Arte'Venue 
					is informed after completion of 48 hours from time of delivery.
					</p>
					
					<p>
					If you are not satisfied, we are happy to accept the return
					within 5 days of delivery for full refund. Please note that, Arte'Venue will arrange
					for the pick up of the artwork and customer will bear the return shipping charges.
					Arte'Venue will deduct the return delivery charges before making the refund. To be
					eligible for refund, the returned artwork Arte'Venue receives should be in new condition,
					exactly as it was delivered to you.</p>
					
					<p>Please keep the artwork in condition it was received, and in original packaging. 
					We will arrange for the pick up. Upon receipt of the returned Arte'Venue 
					will ascertain the condition of the artwork prior to issuing refund/replacement. 
					The artwork will not be eligible for refund in case further damages are found.</p>
					
					<p>Please refer to section 5 of <a href = "{% url 'terms_conditions' %}">terms of use</a> 
					for detailed procedures and policy.</p>

				</div>				
			</div>
		</div>
	</div>		

</div>
 
