{% load static %}
<div class = "container mt-5 mb-5">
	<div class="row">
		<div class="col-12" >
			<!--<h1 class="mb-2 text-center">{{ecom_site.featured_header|upper}} </h1>-->
			<h2 class="mb-2 text-center">
				USEFUL TIPS FOR YOU
			</h2> 
		</div>
	</div>
	<div class="row text-center" style = "background-color: #fafafa; ">
		<div class = "col-12 col-md-6" style = "border-radius: 5px; border: 1px solid #11b6bd; padding: 15px;">
			<div class = "row">
				<a href = "https://nextsteps.co.in" style = "color:#0e0e0e; text-decoration: none;" target="_blank">
					<div class = "col-12">
						<img src = "{% static 'img/guide_for_choosing_paintings.png' %}" width=50 alt="How to choose paintings for home decor">
						<h2 class = "align-self-center ml-2">
							How to Choose Paintings For Home Décor
						</h3>
					</div>
					<div class = "col-12">
						<h5>How should you choose paintings? What should
							you consider? Where to buy paintings online? Quality?
							Here is the only detailed guide you will find online...
							<i class = "fa fa-caret-right fa-2x"></i>
						</h5>
					</div>					
				</a>
			</div>
		</div>
		<div class = "col-12 col-md-6" style = "border-radius: 5px; border: 1px solid #11b6bd; padding: 15px;">
			<div class = "row">
				<a href = "{% url 'how_to_hang' %}" style = "color:#0e0e0e; text-decoration: none;" target="_blank">
					<div class = "col-12">
						<img src="{% static 'img/how-to/customization/how_to_icon_small.png' %}" alt="How to hang painting?" width=35 >
						
						<h2>
						How To Hang a Painting? Choose Size, & Customize?
						</h2>
					</div>
					<div class = "col-12">
						<h5>For an asthetic look on the wall, 
						these quick tips can go a long way.
						Check them out here...<i class = "fa fa-caret-right fa-2x"></i></h5>
					</div>
				</div>			
			</a>
		</div>
	</div>
</div>