{% load static %}
<div class = "container mt-5">
	<div class="row" style = "padding:15px;">
		<div style = "border: 1px solid #cfcfcf;">
		<a href = "{% url 'how_to_hang' %}" style = "color:#212529; font-weight:400; text-decoration: none;">
		<div class = "col-12">
				<div class = "row  d-flex align-items-center">
					<div class = "col-12 text-center">				
						<img src="{% static 'img/how-to/customization/how_to_icon_big.png' %}" alt="How to Tip" width=35>
						<h2 class = "text-center">GREAT TIPS ON HOW TO CHOOSE SIZE, CUSTOMIZE AND HANG ART</h2>
					</div>
				</div>
		</div>
		<div class = "col-12">
				<div class = "row">
					<div class = "col-12 text-center">
						When it comes to getting an asthetic look on the wall, 
						these great quick tips and guidelines can go a long way.
						Check them out here...<i class = "fa fa-hand-o-right"></i>
					</div>
				</div>
		</div>
		</a>
		</div>
	</div>
</div>