{% load static %}
<div class = "container mt-5 mb-5">
	<a href = "{% url 'how_to_hang' %}" style = "color:#212529; text-decoration: none;">
		<div class="row text-center" style = "background-color: #fafafa; padding: 15px;">
			<div class = "col-12">
				<img src="{% static 'img/how-to/customization/how_to_icon_small.png' %}" alt="How to hang painting?" width=35>
				
				<h4 class="mt-2">
				HOW TO HANG A PAINTING? CHOOSE SIZE, & CUSTOMIZE?
				</h4>
			</div>
			<div class = "col-12">
				<h5>For an asthetic look on the wall, 
				these quick tips can go a long way.
				Check them out here...<i class = "fa fa-hand-o-right"></i></h5>
			</div>
		</div>
	</a>
</div>