{% load static %}
<div id="how-to-customize" tabindex="-1" role="dialog" aria-labelledby="Wall Color Tool" aria-hidden="true" class="modal fade">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">How To Customize Art Prints</h3>
				<button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">X</span></button>
			</div>
			<div class="modal-body">
				<div class = "container-fluid">
					<div class = "row">			
						<div class = "col-12 how-customize">
							<p><strong>Artevenue.com offers fantastic customization for each artprint, a first in India.</strong></p>
							<p>As you customize, see the artwork with changes instantaneously. 
							You can also use the "Size Guide & Wall Color Tool" 
							to see how it would look in a room view.</p>
						</div>			
					</div>

					<div class = "row">			
						<div class = "col-12 col-md-6 customize-box">
							<div class = "customize-title">					
								Choose Print Surface
							</div>
							<img src = "{% static 'img/how-to/customization/surface_buyunframed.jpg' %}"
								alt = "Choose print surface" class = "img-fluid customize-pic">
						</div>
						<div class = "col-12 col-md-6 customize-box">
							<div class = "customize-title">
								Choose from Standard Sizes or Customize
							</div>
							<img src = "{% static 'img/how-to/customization/framed_customize.jpg' %}"
								alt = "Buy Framed or Customize" class = "img-fluid customize-pic">
						</div>
						<div class = "col-12 col-md-6 customize-box">
							<div class = "customize-title">
								Choose Artwork Width and Height
							</div>
							<img src = "{% static 'img/how-to/customization/choose_size.jpg' %}"
								alt = "Choose size"  class = "img-fluid customize-pic">
						</div>
						<div class = "col-12 col-md-6 customize-box">
							<div class = "customize-title">
								Choose Frame
							</div>
							<img src = "{% static 'img/how-to/customization/choose_frame.jpg' %}"
								alt = "Choose frame"  class = "img-fluid customize-pic">
						</div>
						<div class = "col-12 col-md-6 customize-box">
							<div class = "customize-title">
								Choose Mount Colour and Width
							</div>
							<img src = "{% static 'img/how-to/customization/mount_color_size.jpg' %}"
								alt = "Choose Mount Color and Size"  class = "img-fluid customize-pic">
						</div>
						<div class = "col-12 col-md-6 customize-box">
							<div class = "customize-title">
								Choose Stretched Canvas
							</div>
							<img src = "{% static 'img/how-to/customization/stretched.jpg' %}"
								alt = "Streched Canvas"  class = "img-fluid customize-pic">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>