<!doctype html>
{% load utils %}
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <link href="invoice.css" media="print" rel="stylesheet">
    <title>Invoice</title>
    <meta name="description" content="Artevenue Invoice">
    <meta name="Artevenue" content="">
  </head>

  <body>
	{% for order in orders %}
	<img src="{% static 'img/logorder.png' %}" alt="{{ecom_site.store_name}}"  style="width:90px; height:22px;">
	<hr>
	<h2 style = "text-align:center;"> Invoice </h2> 

    <aside>
      <address id="from">
		<p><strong>{{ ecom_site.store_name }}</strong><br>
		{{ ecom_site.store_address1 }}<br>
		{% if ecom_site.store_address2 %}
		{{ ecom_site.store_address2 }}<br>
		{% endif %}
		{{ ecom_site.store_city }} {{ ecom_site.store_zip }} &nbsp;{{ ecom_site.store_country }}<br>
		{% if ecom_site.support_phonenumber %}
			<i class="fa fa-mobile"></i> {{ecom_site.support_phonenumber }}<br />
		{% endif %}

      </address>

      <address id="to">
		{% if order.order_shipping %}
			<strong>Shipping Address:</strong><br />
			{{order.order_shipping.full_name}} 
			{% if order.order_shipping.Company %}
				, {{order.order_shipping.Company}}
			{% endif %}
			<br />
			{{order.order_shipping.address_1}}
			{% if order.order_shipping.address_2 %}
				{{order.order_shipping.address_2 }}
			{% endif %}
			{% if order.order_shipping.address_1 or order.order_shipping.address_2 %}
				<br />
			{% endif %}
			{% if order.order_shipping.land_mark %}
				{{order.order_shipping.land_mark}}
				<br />
			{% endif %}
			
			{{order.order_shipping.city}} {{order.order_shipping.state}} {{order.order_shipping.pin_code_id}}
			<br />
			Ph: {{order.order_shipping.phone_number}} Email: {{order.order_shipping.email_id}}
		{% endif %}
		
		{% if order.order_billing %}
			<strong>Billing Address:</strong><br />
			{{order.order_billing.full_name}} 
			{% if order.order_billing.Company %}
				, {{order.order_billing.Company}}
			{% endif %}
			{% if order.order_billing.gst_number %}
				, GST No.:{{order.order_billing.gst_number}}
			{% endif %}
			
			<br />
			{{order.order_billing.address_1}}
			{% if order.order_billing.address_2 %}
				{{order.order_billing.address_2 }}
			{% endif %}
			{% if order.order_billing.address_1 or order.order_billing.address_2 %}
				<br />
			{% endif %}
			{% if order.order_billing.land_mark %}
				{{order.order_billing.land_mark}}
				<br />
			{% endif %}
			
			{{order.order_billing.city}} {{order.order_billing.state}} {{order.order_billing.pin_code_id}}
			<br />
			Ph: {{order.order_billing.phone_number}} Email: {{order.order_billing.email_id}}
		{% endif %}

      </address>
    </aside>

    <dl id="informations">
      <dt>Invoice number</dt>
      <dd>{{order.order_number}}</dd>
      <dt>Date</dt>
      <dd>{{order.order_date}}</dd>
    </dl>

	<table id = "ordTbl" class="table table-responsive table-striped">
		<thead>
			<tr>
				<th width="15%">Product</th>
				<th width="30%">Details</th>
				<th width="12%" style="text-align:right">Unit Price</th>
				<th width="12%" style="text-align:right">Quantity</th>
				<th width="12%" style="text-align:right">Discount</th>
				<th width="12%" style="text-align:right">Tax</th>
				<th width="12%" style="text-align:right">Item Total</th>
			</tr>
		</thead>
		<tbody>
			{% for i in order_items_list %}
			{% if i.order_id != order.order_id %}
				<!-- Nothing -->
				
			{% else %}
			<tr>
				<td>
					{% if i.product_type|cut:' ' == 'USER-IMAGE' %} 							
						<img src = "{{i.product.image_to_frame_thumbnail.url}}" 
							alt = "https://artevenue.com{{MEDIA_URL}}{{i.product.image_to_frame_thumbnail}}"
							class="rounded float-left">

					{% else %}
						<img src = "{% static i.product.thumbnail_url%}" 
							alt = "https://www.artevenue.com{% static i.product.thumbnail_url %}"
							class="rounded float-left">					
					{% endif %}
					<br>
					<div class = "pull-left">
						<span style = "padding-left:0px;" >
							{% if i.product_type|cut:' ' == 'USER-IMAGE' %}  
								Uploaded Image
							{% else %}
								{{i.product.name}}
							{% endif %}
						</span>
					</div>
				</td>
				<td>
					<small>
					{% with width=i.moulding.width_inner_inches|add_width_frame_mount:i.mount_size %}
					{% if i.product_type_id == 'ORIGINAL-ART' %}
						<li>{{i.product.description}}</li>
					{% else %}													
						<li>Print on {{i.print_medium_id|title}}</li>
					{% endif %}
					
					{% if i.moulding_id %}
						<li>Image Size : {{ i.image_width }}" X {{i.image_height }}"</li>
						<li>Frame: {{i.moulding.name }} ({{i.moulding.width_inches}} inch, Polystyrene)</li>
						{% if i.mount_id %}
							<li>Mount: {{i.mount_size }}", Color: {{i.mount.name|title }} </li>
						{% endif %}
						<li>Total Size: 
							{{ i.image_width|add_width:width|add_width:width }}" X {{i.image_height|add_width:width|add_width:width }}"</li>
					{% else %}
						<li>Image Size : {{ i.image_width }}" X {{i.image_height }}"</li>
					{% endif %}
					
					{% if i.acrylic_id %}
						<li>Acrylic covered</li>
					{% endif %}
					{% if i.stretch_id %}
						<li>Canvas Stretched</li>
					{% endif %}
					{% endwith %}
					</small>

				</td>
				<td style = "text-align:right">
					<small>{{i.item_sub_total}}</small>
				</td>
				<td style = "text-align:right">
					<small>{{i.quantity}}</small>
				</td>
				<td style = "text-align:right">
				
					{% if i.promotion.discount_type == "PERCENTAGE" %}
						<small>{{i.promotion.discount_value|floatformat}}</small>
					{% else %}
						<small>{{i.promotion.discount_value|floatformat}}</small>
					{% endif %}
				</td>
				<td style = "text-align:right">
					<small>{{i.item_tax}}</small>
				</td>
				<td style = "text-align:right">{{i.item_total|floatformat}}</td>

			</tr>
			{% endif %}
			{% endfor %}
			
		</tbody>
		<tfoot>
			<tr>
				<th colspan="4"><small>Sub Total</small></th>
				<th colspan="2" style = "text-align:right">
					<small>{{order.sub_total|floatformat}}</small>
				</th>
				<th></th>
			</tr>
			<tr>
				<th colspan="4"><small>Shipping & Handing</small></th>
				<th colspan="2" style = "text-align:right">
					<small>{{order.shipping_cost|floatformat}}</small>
				</th>
				<th></th>
			</tr>
			<tr>
				<th colspan="4"><small>Discount</small></th>
				<th colspan="1" style = "text-align:right">
					{% if order.order_discount_amt %} <small>- ({{order.order_discount_amt|floatformat}})</small>{% endif %}
				</th>
				<th></th>
			</tr>
			<tr>
				<th colspan="4">Tax</th>
				<th colspan="2" style = "text-align:right">
					<small>{{order.tax|floatformat}}</small>
				</th>
				<th></th>
			</tr>
			<tr>
				<th colspan="4">Total</th>
				<th colspan="2" style = "text-align:right">
					<i class = "fa fa-inr"> </i> {{order.order_total|floatformat}}
				</th>
				<th></th>
			</tr>
		</tfoot>
	</table>

  </body>
  {% endfor %}
</html>




