{% load static %}
<div id = "headln">
	
</div>

{% if ecom_site.show_promotion_section %}
			
	<section class="main_banner">
			<div class="row">						
				<div class="col-md-12 col-sm-12 col-12 align-self-center"  style = "padding:0px; !important;">
					<div class="say_pic">
						<img src = "{% static 'img/main_banner_shopnow.jpg' %}" class="img-responsive" usemap="#mainbannermap">
						<img src="{% static 'img/main_banner_shopnow_mobile.jpg' %}" class="img-responsive mobile" usemap="#mainbannermap">
						<map name="mainbannermap">
						  <area shape="rect" coords="50,100,350,324" href="{% url 'all_stock_images' %}" alt="Start Shopping">
						</map>
					</div>
				</div>
			</div>
	</section>			
			
{% endif %}
