				{% load static %}
				{% load utils %}
				<div class = "row">
					{% for f in mouldings_show %}
						<div class="image-c col-4" >
							<a onclick = "moulding_change('{{f.moulding_id}}');"> 
								{% with 'img/'|add:f.url as image_static %}
								<img src="{% if product.url %} {% static product.url %} {% else %} {{main_img}} {% endif %}" alt="{{f.mouldings__name}}" class="img-fluid"
									 style = "
										border-image : url({% static image_static %}) {{f.border_slice}} round !important; 
										border:10px solid initial; 
										border-style :solid;
										border-width:12px;
										background-size: 100% 100%;
										{% if forloop.counter|get_mountcolor != 'none' %}
											padding:10px; 
											background-color:{{ forloop.counter|get_mountcolor}};
										{% endif %}
								">
								{% endwith %}
								<span class="text text-center" onclick = "moulding_change('{{f.moulding_id}}')">
									<h5 class = "mt-1">
										{{ f.moulding__name }}
										{% if f.moulding__width_inches %} ({{f.moulding__width_inches}} inch) {% endif %}
									</h5>
								</span>
							</a>
						</div>
					{% endfor %}
				</div>