				{% load static %}
				{% load utils %}
				<span id = "paper-frames">
				<section class="frames-slider slider mb-4" 
					style="margin:10px; padding:10px 5px 5px;">
					{% for f in mouldings_show %}
					<a onclick = "moulding_change('{{f.moulding_id}}');" class = "mb-3"
						style = "cursor: pointer;"> 
						{% with 'img/'|add:f.url as image_static %}
						<img src="{% static image_static %}" class="img-fluid">
						{% endwith %}
						<span class="text text-center" onclick = "moulding_change('{{f.moulding_id}}')">
							<div class = "mt-1" style = "font-size:0.6rem; color:#000 !important; line-height: 1;">
								{{ f.moulding__name }}
								{% if f.moulding__width_inches %} ({{f.moulding__width_inches}} inch) {% endif %}
							</div>
						</span>
					</a>
					{% endfor %}
				</section>
				</span>

				<span id = "canvas-frames">
				<section class="frames-slider slider mb-4" 
					style="margin:10px; padding:10px 5px 5px;">
					{% for f in canvas_mouldings_show %}
					<a onclick = "moulding_change('{{f.moulding_id}}');" class = "mb-3"
						style = "cursor: pointer;"> 
						{% with 'img/'|add:f.url as image_static %}
						<img src="{% static image_static %}" class="img-fluid">
						{% endwith %}
						<span class="text text-center" onclick = "moulding_change('{{f.moulding_id}}')">
							<div class = "mt-1" style = "font-size:0.6rem; color:#000 !important; line-height: 1;">
								{{ f.moulding__name }}
								{% if f.moulding__width_inches %} ({{f.moulding__width_inches}} inch) {% endif %}
							</div>
						</span>
					</a>
					{% endfor %}
				</section>
				</span>