				{% load static %}
				{% load utils %}
				<span id = "paper-frames">
				<div class="frames-slider mb-4" 
					style="margin:10px; padding:10px 5px 5px;" id = "frames-slider-paper">
					{% for f in paper_mouldings_show %}
					<div>
					<a onclick = "moulding_change('{{f.moulding_id}}');" class = "mb-3"
						style = "cursor: pointer;"> 
						{% with 'img/'|add:f.url as image_static %}
						<img data-src="{% static image_static %}" class="lazyload">
						{% endwith %}
						<span class="text text-center" onclick = "moulding_change('{{f.moulding_id}}')">
							<div class = "mt-1" style = "font-size:0.6rem; color:#000 !important; line-height: 1;">
								{{ f.moulding__name }}
								{% if f.moulding__width_inches %} ({{f.moulding__width_inches}} inch) {% endif %}
							</div>
						</span>
					</a>
					</div>
					{% endfor %}
				</div>
				</span>

				<span id = "canvas-frames">
				<div class="frames-slider mb-4" 
					style="margin:10px; padding:10px 5px 5px;" 
					id = "frames-slider-canvas">
					{% for f in canvas_mouldings_show %}
					<div>
					<a onclick = "moulding_change('{{f.moulding_id}}');" class = "mb-3"
						style = "cursor: pointer;"> 
						{% with 'img/'|add:f.url as image_static %}
						<img data-src="{% static image_static %}" class="lazyload">
						{% endwith %}
						<span class="text text-center" onclick = "moulding_change('{{f.moulding_id}}')">
							<div class = "mt-1" style = "font-size:0.6rem; color:#000 !important; line-height: 1;">
								{{ f.moulding__name }}
								{% if f.moulding__width_inches %} ({{f.moulding__width_inches}} inch) {% endif %}
							</div>
						</span>
					</a>
					</div>
					{% endfor %}
				</div>
				</span>
				