				{% load static %}
				{% load utils %}
				<div class = "row">
					{% for f in mouldings_show %}
							<div >
								{% with 'img/'|add:f.url as image_static %}
								<div class="frame-image" >
									<a onclick = "set_moulding('{{f.moulding_id}}');"> 
										<img src='{{user_instance.image_to_frame.url}}' alt="{{f.mouldings__name}}" class="img-fluid"
										style = "border : 10px solid initial; 
										border-style :solid;
										border-width:10px;
										background-size: 100% 100%;
										border-image : url({% static image_static %}) {{f.border_slice}} round; 
										box-shadow: 3px 4px 4px 0 #d3d3d3, 3px 6px 4px 0#d3d3d3; 
										{% if forloop.counter|get_mountcolor != 'none' %}
											padding:10px; 
											background-color:{{ forloop.counter|get_mountcolor}};
										{% endif %}
										">
									</a>
									
									<!--<div class="text text-center" onclick = "applyFrame('{{f.moulding_id}}','{{f.border_slice}}', '{% static image_static %}')"> -->
									<div class="text text-center" onclick = "set_moulding('{{f.moulding_id}}')">
										<h5>
											<a>{{ f.moulding__name }}</a>
										</h5>
									</div>
								</div>
								{% endwith %}
							</div>
						{% endfor %}
					</div>