				{% load static %}
				{% load utils %}
				<div class = "row">
					{% for f in mouldings_show %}
						<div class="frame-image" >
							<a onclick = "set_moulding('{{f.moulding_id}}');"> 
								{% with 'img/'|add:f.url as image_static %}
								<img src='{{user_instance.image_to_frame.url}}' alt="{{f.mouldings__name}}" class="img-fluid"
								style = "border : 10px solid initial; 
								border-style :solid;
								border-width:12px;
								background-size: 100% 100%;
								border-image : url({% static image_static %}) {{f.border_slice}} round; 
								box-shadow: 3px 4px 4px 0 #d3d3d3, 3px 6px 4px 0#d3d3d3; 
								{% if forloop.counter|get_mountcolor != 'none' %}
									padding:10px; 
									background-color:{{ forloop.counter|get_mountcolor}};
								{% endif %}
								">
								{% endwith %}
							</a>
							
							<!--<div class="text text-center" onclick = "applyFrame('{{f.moulding_id}}','{{f.border_slice}}', '{% static image_static %}')"> -->
							<div class="text text-center" onclick = "set_moulding('{{f.moulding_id}}')">
								<h5>
									<a>{{ f.moulding__name }}
									{% if f.moulding__width_inches %} ({{f.moulding__width_inches}} inch) {% endif %}</a>
								</h5>
							</div>
						</div>
					{% endfor %}
				</div>