<!-- Message Modal -->
<div id="space-modal" tabindex="-1" role="dialog" aria-labelledby="New Collection" aria-hidden="true" class="modal fade">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">Give a Name to the Space</h3>
				<button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
			</div>
			<div class="modal-body">
				<div class="text-center">
					<div class = "row">
						<div class = "col-12">
							<form>
								<div class="form-group">
									<input id = "space_input" max="50" class = "form-control">
									<div class = "invalid-feedback d-block" id="err-msg"></div>
								</div>
							</form>
								
							<button id = "space_move_btn" type = "button" 
									class = "btn btn-primary pull-left"
									onclick = "$('#space-modal').modal('hide');">
								<i class = "fa fa-times-circle">
									Cancel
								</i>
							</button>
							<button id = "space_move_btn" type = "button" 
									class = "btn btn-primary pull-right"
									onclick = "createSpace('{{user_collection.user_collection_id}}');">
								<i class = "fa fa-arrow-circle-right">
									Create
								</i>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	