
<!-- READ THE INSTRUCTIONS BELOW BEFORE USING THIS TEMPLATE
 1. Start your page with this template and modify. Rename this template with HTML name and then modify.
 2. We keep as it is the header portion of the page (which is top hidden block and the navigation) 
    and the footer portion (footer block) on each page.
 3. Override only the "slide-show", "features", and "jointhem-blog" blocks on each page
 4. Keep the top "hidden" clock and the nav-bar as it is, which forms the header section of the page.
 5. Overriding the parent blocks will start from "slide-show" block 
 6. Keep the <div>s  given below as it is in the "slide-show" and "features" blocks to keep the same styling matching the home page. 
    If overriding the parent block without any content then remove the <div>s too, just keep block and endblock. 
 7. For most of the pages, you can keep the title of the page in "slide-show" block and put all the content in "features" block. 
    The "jointhem-blog" block can be kept empty.
 8. PLEASE REMEBER :- 
    TO OVERRIDE A BLOCK USE THE CORRESPONDING BLOCK AND <div>s, 
    TO KEEP THE BLOCK EMPTY JUST USE THE BLOCK OPEN AND ENDBLOCK, 
    AND TO KEEP ABLOCK AS IT IS DON'T USE THE BLOCK NAMES HERE SO THOSE BLOCKS FROM PARENT WILL BE USED AS IT IS. 
 -->

<!-- Extend the home page to keep the same styling for header and footer sections. -->

{% extends 'artevenue/estore_base.html' %}
{% load static %}
{% block page-title %} 
	<title>Offers on Wall art paintings at Artevenue.com</title>
{% endblock page-title %} 
{% block page-description %}
	<meta name="description" content="Currently running offers on wall art paintings at artevenue.com">
{% endblock page-description %}
{% block page-keywords %}
	<meta name="keywords" content="Wall art painting, painting for bed room, painting for living room, paintings for home walls, paintings for home decor, offers on paintings, buy painting online, painting sale, wall art offers, photo framing offers">
{% endblock page-keywords %}

{% block page-author %}
	<meta name="author" content="Arte'Venue">
{% endblock page-author %}

{% block coursel-stylesheet %}
{% endblock coursel-stylesheet %}

{% block jqueryui-script %}
{% endblock jqueryui-script %}

{% block coursel-script %}
{% endblock coursel-script %}

{% block front.js %}
{% endblock front.js %}


{% block imagemap-resize-script %}
{% endblock imagemap-resize-script %}


	<!-- Only Override the site content block -->
	{% block sitecontent %}
    <div id="highlighted-slider" class="container ccontainer">
        <div style="margin-top:25px;">			
			<div class = "row">
				<div class = "col-12" style="background-color:#11b6bd; color:#fff; padding:10px;">
					<h1>Offers</h1>
					<h4>Arte'Venue has following offers running...</h4>
				</div>
			</div>
			<div class = "row">			
				<div class = "col-6" style = "margin:auto;">
					<div class = "row">
						<span class = "offer_num">1</span>
						<span class = "offer_text" >15% Off on Your First Order</span>
					</div>
					
					<div class = "row" style="margin-top:20px; color:#665d6f;">
						<ul>
							<li>When you sign up, your first order of art prints carries 15% off</li>
							<li>There is no minimum or maximum order value</li>
							<li>Only condition is that you need to be logged in when placing the order.
							<li>Just add the products you like to the cart and the discount gets applied automatically</li>
							<small>(Hurry up, few days left. This offer expires on 31st Dec 2020!)</small>
						</ul>
					</div>
				</div>
				<div class = "col-6 sign-up-right">
					<img src="{% static 'img/main-image/wall_art_15_off_small.jpg' %}" alt="" class="img-fluid" width="500"></a>
				</div>
			</div>
			<div class = "row">			
				<div class = "col-6" style = "margin:auto;">
					<div class = "row">
						<span class = "offer_num">2</span>
						<span class = "offer_text" >Free Delivery on All Orders</span>
					</div>
					<div class = "row" style="margin-top:20px; color:#665d6f;">
						<ul>
							<li>As a promotional offer, all orders are shipped free of cost</li>
							<li>There is no minimum or maximum order value</li>
							<li>We ship anywhere in India</li>
							<small>(This is limited time offer)</small>
						</ul>
					</div>
				</div>
				<div class = "col-6 sign-up-right">
					<img src="{% static 'img/free_shipping.jpg' %}" alt="" class="img-fluid" width="500"></a>
				</div>
			</div>
        </div>
    </div>
	{% endblock sitecontent %}
	
	
	{% block jscripts %}
	{% endblock jscripts %}
	