
{% extends 'artevenue/estore_base.html' %}
{% load static %}
{% load moulding_url %}

{% block page-title %} 
	<title>Custom Photo Frames | Top Quality | Full Customization Available</title>
{% endblock page-title %} 
{% block page-description %}
	<meta name="description" content="Online photo printing and framing. Photos, artworks, posters framed and delivered to you. Just upload digital image, have it custom framed and delivered.">
{% endblock page-description %}
{% block page-keywords %}
	<meta name="keywords" content="custom photo frames, online photo printing and framing, frame my photo, fine art photography printing services, custom photography prints, print and frame photos online, online photo framing, online photo printing and framing india, single photo frames online, multiple photo frame online,  cheapest photo print online, online photo printing services">
{% endblock page-keywords %}

{% block page-author %}
	<meta name="author" content="Arte'Venue">
{% endblock page-author %}

{% block jqueryui-stylesheet %}

{% endblock jqueryui-stylesheet %}

{% block jqueryui-script %}
{% endblock jqueryui-script %}

{% block imagemap-resize-script %}
{% endblock imagemap-resize-script %}


{% block add_to_head %}

{% endblock add_to_head %}


	{% block sitecontent %}

	<div id="" class = "container mb-5">
		<div class="row">
			<div class="col-12">
				<!-- breadcrumb-->
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
						<li class="breadcrumb-item"><a href="{% url 'order_management' %}">Order Management</a></li>
						<li class="breadcrumb-item active">Modify Order No: {{ order.order_number }}</li>
					</ol>
				</nav>
			</div>
		</div>
		
		<div class="row">
			<div class="col-12">
				<h1 class = "mb-3">
					MODIFY ORDER
				</h1>
			</div>
		</div>

		<div class = "box mb-3" id = "box_{{order.order_id}}" style = "padding-top:0px; background-color:#f9f9f9;">
			<div class="row d-flex d-align-items-center" style = "background-color:#f6f6f6; padding:10px;">
				<div class="col-6" style = "color:#11b6bd;">
					<h3> <strong>ORDER NUMBER: {{order.order_number}}, Dt: {{order.order_date|date:'d/M/y'}}</strong> <small>(Cart Id: {{order.cart_id}})</small></h3>
					<h4>
						<strong>Customer: {{order.order_billing.full_name}}</strong>
						{% if order.order_billing.Company %}
							, {{order.order_billing.Company}}
						{% endif %}
					</h4>
				</div>
				<div class = "col-6">
					<div class = "form-group">
						Order Status: {{order.get_order_status_display}}									
						<div class="invalid-feedback">
						  {{ error }}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row d-flex d-align-items-center">
			<div class="col-12 col-md-6">
				<div id = "s_{{order.order_id}}" style = "font-size:11px;">						
					{{order.order_shipping.full_name}} 
					{% if order.order_shipping.Company %}
						, {{order.order_shipping.Company}}
					{% endif %}
					<br />
					{{order.order_shipping.address_1}}
					{% if order.order_shipping.address_2 %}
						{{order.order_shipping.address_2 }}
					{% endif %}
					{% if order.order_shipping.address_1 or order.order_shipping.address_2 %}
						<br />
					{% endif %}
					{% if order.order_shipping.land_mark %}
						{{order.order_shipping.land_mark}}
						<br />
					{% endif %}
					
					{{order.order_shipping.city}} {{order.order_shipping.state}} {{order.order_shipping.pin_code_id}}
					<br />
					Ph: {{order.order_shipping.phone_number}} Email: {{order.order_shipping.email_id}}
				</div>
			</div>
			<div class="col-12 col-md-6">
				<div id = "b_{{order.order_id}}" style = "font-size:11px;">
					{{order.order_billing.full_name}} 
					{% if order.order_billing.Company %}
						, {{order.order_billing.Company}}
					{% endif %}
					{% if order.order_billing.gst_number %}
						, GST Norder.:{{order.order_billing.gst_number}}
					{% endif %}
					
					<br />
					{{order.order_billing.address_1}}
					{% if order.order_billing.address_2 %}
						{{order.order_billing.address_2 }}
					{% endif %}
					{% if order.order_billing.address_1 or order.order_billing.address_2 %}
						<br />
					{% endif %}
					{% if order.order_billing.land_mark %}
						{{order.order_billing.land_mark}}
						<br />
					{% endif %}
					
					{{order.order_billing.city}} {{order.order_billing.state}} {{order.order_billing.pin_code_id}}
					<br />
					Ph: {{order.order_billing.phone_number}} Email: {{order.order_billing.email_id}}
				</div>
			</div>
		</div>
		<hr>
		<div class="row d-flex d-align-items-center">
			<div class = "col-12">
				<button class = "btn btn-primary pull-right">
					Add New Item to This Order
				</button>
			</div>
		</div>
		<hr>
		{% for oi in order_items %}
		<div class="row d-flex d-align-items-center mt-3">
			<div class = "col-12 col-md-3">
				<div class = "row">
				<img src = "{% if oi.product_type_id|cut:' ' == 'USER-IMAGE' %} https://artevenue.com{{MEDIA_URL}}{{oi.product.image_to_frame_thumbnail}} {% else %} {% if env == 'DEV' or env == 'TESTING' %} {{ oi.product.thumbnail_url }} {% else %} {% static oi.product.thumbnail_url %} {% endif %} {% endif %}" style = "width:75px; height:75px; object-fit:contain; float: left;">
				</div>
				<div class = "row">
				<form class = "form-inline">
					PRODUCT ID: <input readonly class = "form-control" value = "{{oi.product_id}}">
					PRODUCT TYPE: <input readonly class = "form-control" value = "{{oi.prod_type_id}}">
				</form>
				</div>
			</div>
			<div class = "col-12 col-md-9">
				<div class = "row">
					<div class = "col-8">
						<div class = "row">
							<form class = "form-inline">
							<div class="col-12">
								PRINT SURFACE: 
								<select class = "form-control" readonly>
									<option value = "{{oi.print_medium_id}}"
										{% if oi.print_medium_id == 'PAPER' %} selected {% endif %}>
										PAPER
									</option>
									<option value = "{{oi.print_medium_id}}"
										{% if oi.print_medium_id == 'CANVAS' %} selected {% endif %}>
										CANVAS
									</option>
								</select>
							</div>
							<div class="col-6">
								WIDTH: <input readonly class = "form-control" value = "{{oi.image_width}}">
							</div>
							<div class="col-6">
								HEIGHT: <input readonly class = "form-control" value = "{{oi.image_height}}">
							</div>
							<div class="col-12 col-md-6">
								FRAME: <input readonly class = "form-control" value = "{{oi.moulding_id}}">
							</div>
							<div class="col-12 col-md-6">
								MOUNT COLOR: <input readonly class = "form-control" value = "{{oi.mount_id}}">
							</div>
							<div class="col-12 col-md-6">
								MOUNT_SIZE: <input readonly class = "form-control" value = "{{oi.mount_size}}">
							</div>
							<div class="col-12 col-md-6">
								STRETCHED: <span readonly class = "ord-curr-val">{{oi.stretch_id}}</span>
							</div>
							</form>
						</div>
					</div>
					<div class = "col-4">
						<div class = "row">
							<div class="col-12">
								SUB TOTAL: <span> {{oi.item_sub_total}} </span>
							</div>
							<div class="col-12">
								TAX: <span>{{oi.item_tax}} </span>
							</div>
							<div class="col-12">
								TOTAL: <span>{{oi.item_total}}</span>
							</div>
						</div>
						<div class = "row">
							<div class = "col-12">
								<button class = "btn btn-secondary pull-right">
									Modify
								</button>
							</div>
						</div>
						<div class = "row mt-2">
							<div class = "col-12">
								<button class = "btn btn-secondary pull-right">
									Remove
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class = "row">
			<div class="col-12">
			<hr>
			</div>
		</div>
		{% endfor %}

		<div class = "row">
			<div class="col-12 col-md-3">
				ORDER SUB TOTAL:{{order.sub_total}}
			</div>
			<div class="col-12 col-md-3">
				ORDER TAX:{{order.tax}}
			</div>
			<div class="col-12 col-md-3">
				<strong>ORDER TOTAL:{{order.order_total}}</strong>
			</div>
		</div>
		<div class = "row">
			<div class="col-12 col-md-6">
				ORDER DISCOUNT APPLIED:{{order.order_discount_amt}}
			</div>
			<div class="col-12 col-md-6">
				COUPON APPLIED:{{order.voucher.voucher_code}}, {{order.voucher.discount_type}} - {{order.voucher.discount_value}}
			</div>
		</div>
	</div>
	{% endblock sitecontent %}

	
	{% block jscripts %}
	{% endblock jscripts %}
	