{% load static %}
{% load utils %}

	<div class = "row mb-3">
		<div class = "col-6 col-md-4">
			<strong>Number of Orders: {{ ord_cnt | floatformat}}</strong>
		</div>
		<div class = "col-6 col-md-4">
			{% if totals.order_total__sum %}
			<strong>Total Over Value: {{totals.order_total__sum|default_if_none:'0'|floatformat|indian_number_format}}</strong>
			{% endif %}
		</div>
		<div class = "col-6 col-md-4">
			{% if totals.order_total__avg %}
			<strong>Avg Order Value: {{ totals.order_total__avg|default_if_none:'0'|floatformat|indian_number_format}}</strong>
			{% endif %}		
		</div>
	</div>

	<div class="table table-responsive">
		<table id = "ordTbl" class="table table-responsive table-striped">
			<thead>
				<tr>
					<th>Ord No.</th>
					<th>Ord Dt.</th>
					<th>Inv No.</th>
					<th>Inv Dt.</th>
					<th>Payment Type</th>
					<th>Cust Name</th>
					<th>Cust City</th>
					<th>Cust State</th>
					<th>Cust GST</th>
					<th style="text-align:right">Unit Price</th>
					<th style="text-align:right">Qty</th>
					<th style="text-align:right">Sub Total</th>
					<th style="text-align:right">IGST</th>
					<th style="text-align:right">CGST</th>
					<th style="text-align:right">SGST</th>
					<th style="text-align:right">Total</th>
					<th style="text-align:right">Shipper</th>
					<th style="text-align:right">Tracking Number</th>
					<th style="text-align:right">Tracking Url</th>
				</tr>
			</thead>
			<tbody>
				{% for o in orders %}
				<tr>
					<td>
						<small>{{o.order_number}}</small>
					</td>
					<td>
						<small>{{o.order_date | date:'d/m/y'}}</small>
					</td>
					<td>
						<small>{{o.invoice_number }}</small>
					</td>																						
					<td>
						<small>{{o.invoice_date|date:'d/m/y'}}</small>
					</td>																						
					<td>
						<small>{{ o.get_payment_type_display }}</small>
					</td>
					<td>
						<small>{{o.order_billing.full_name }}</small>
					</td>																						
					<td>
						<small>{{o.order_billing.city}}</small>
					</td>
					<td>
						<small>{{o.order_billing.state_id}}</small>
					</td>
					<td>
						<small>{{o.order_billing.gst_number}}</small>
					</td>
					<td style = "text-align:right">
						<small>{{o.unit_price}}</small>
					</td>
					<td style = "text-align:right">
						<small>{{o.quantity}}</small>
					</td>
					<td style = "text-align:right">
						<small>{{o.sub_total|floatformat}}</small>
					</td>
					{% if o.order_billing.state|upper == ecom_site.store_state|upper %}
						<td style = "text-align:right">
						</td>
						<td style = "text-align:right">
							<small>{{o.tax|divide:2|floatformat}}</small>
						</td>
						<td style = "text-align:right">
							<small>{{o.tax|divide:2|floatformat}}</small>
						</td>
							
					{% else %}
						<td style = "text-align:right">					
							<small>{{o.tax|floatformat}}</small>
						</td>
						<td style = "text-align:right">
						</td>
						<td style = "text-align:right">
						</td>
					{% endif %}
					<td style = "text-align:right"><small>{{o.order_total|floatformat}}</small></td>
					<td style = "text-align:right">
						<small>{{o.shipper.name}}</small>
					</td>
					<td style = "text-align:right">
						<small>{{o.tracking_number}}</small>
					</td>
					<td style = "text-align:right">
						<small>{{o.tracking_url}}</small>
					</td>

				</tr>
				{% endfor %}
			</tbody>
			<tfoot>
				{% if totals %}
				<th colspan=9 style="text-align:left">TOTAL</th>
				<th style="text-align:right">{{totals.unit_price__sum|default_if_none:'0'|indian_number_format}}</th>
				<th style="text-align:right">{{totals.quantity__sum}}</th>
				<th style="text-align:right">{{totals.sub_total__sum|default_if_none:'0'|indian_number_format}}</th>
				<th style="text-align:right">{{total_igst|default_if_none:'0'|indian_number_format}}</th>
				<th style="text-align:right">{{total_cgst|default_if_none:'0'|indian_number_format}}</th>
				<th style="text-align:right">{{total_sgst|default_if_none:'0'|indian_number_format}}</th>
				<th style="text-align:right">{{totals.order_total__sum|default_if_none:'0'|indian_number_format}}</th>
				{% endif %}
			</tfoot>
		</table>
	</div>
	<div class = "mb-5" style="padding-bottom:2px; background-color:#11b6bd;" >
	</div>							
	