{% extends 'artevenue/estore_base.html' %}
{% load static %}
{% load widget_tweaks %}
	<!-- Only Override the site content block -->
	{% block sitecontent %}

    <div id="all">
		<div id="content">
			<div class="container">
				<div class = "row">
					<div class="col-lg-12">
						<!-- breadcrumb-->
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
								<li aria-current="page" class="breadcrumb-item active">Store Orders</li>
							</ol>
						</nav>
					</div>
				</div>
				<div class = "row">
					<div class = "col-sm-12">
						<div class="box-cat">
							<h1>Orders for Status Update</h1>
							<p>Use this page to update the order status</p>
						</div>
					</div>				
					<div class = "col-lg-12">
						<div id = "orders_table">
							{% include 'artevenue/orders_for_status_update_table.html' %}
						</div>					
					</div>	
				</div>
				<div id = "order_update_modal">
					{% include 'artevenue/order_status_update_modal.html' %}
				</div>					
			</div>
        </div>
    </div>
	{% include 'artevenue/message-modal_ok.html' %}
	{% endblock sitecontent %}


	{% block jscripts %}
		<script>
		function getButtons(){
			// Get the export buttons
			entTable = $('#ordTbl').DataTable( {
				fixedHeader: true,
				responsive: true,
				select: false,
				paging: true,
				dom: '<"top"f>Brt<"bottom"ilp><"clear">',
				buttons: [
				   'copy', 'excel', 'pdf', 'print'
				]
			} );
		}
		</script>
	
	<script>
		jQuery(document).ready(function(){

			$body = $("body");
			
			$(document).on({
				ajaxStart: function() { $body.addClass("loading");},
				ajaxStop: function() { $body.removeClass("loading");}
			});
		});
	
		function showOrderStatus(ord_id){
		
			$.ajax({
				url: '{% url "update_order_status" %}', 
				data: {'order_id': ord_id},
				dataType: 'text', 
				type: 'GET',
				success: function (data) {
					$('#order_update_modal').html(data);
					$('#order-status-modal').modal('show');
				},
				error: function(xhr){
					alert("An error occured: " + xhr.status + " " + xhr.statusText + " Apologies for the inconvenience!! Please contact support team and we will be happy to help sort it out."); 
					return;
				}					
			});
		}
		function updateOrderStatus(ord_id, order_status, shipper, shipping_method, tracking_number, shipment_date, tracking_url){
			$('#order-status-modal').modal('hide');
		
			$.ajax({
				url: '{% url "update_order_status" %}', 
				data: {'order_id': ord_id, 'order_status':order_status,
				'shipper': shipper, 'shipping_method': shipping_method,
				'tracking_number': tracking_number, 'shipment_date' :shipment_date,
				'tracking_url':tracking_url
				},
				dataType: 'text', 
				type: 'POST',
				success: function (data) {
					data = JSON.parse(data);
					$('#msg-modal').modal('show');
					$('#msg').html(data.msg);
				},
				error: function(xhr){
					alert("An error occured: " + xhr.status + " " + xhr.statusText + " Apologies for the inconvenience!! Please contact support team and we will be happy to help sort it out."); 
					return;
				}					
			});
		}
		
		$('#msg-modal').on('hidden.bs.modal', function () {
		 location.reload();
		})		
		

		function get_orders(page){
		
			$.ajax({
				url: "{% url 'get_orders_for_status_update' %}", 
				dataType: 'text',
				data: {'page':page},
				type: 'POST',
				success: function (data) {
					$("#orders_table").html(data);
				},
				error: function(xhr){
					alert("An error occured: " + xhr.status + " " + xhr.statusText + " Apologies for the inconvenience!! Please let us know the details and we will be happy to help sort it out."); 
					return;
				}
			});	
		}
		
		
	</script>

	{% endblock jscripts %}