<!-- Message Modal -->
<div id="order-status-modal" tabindex="-1" role="dialog" aria-labelledby="Order Order Status" aria-hidden="true" class="modal fade">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Update Order Status</h5>
				<button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
			</div>
			<div class="modal-body">
				<form novalidate>
					<div class = "mb-4">
						<div class = "col-sm-12">
							<div class = "box">
								{% csrf_token %}
								{% include 'includes/form.html' %}								
							</div>
						</div>
					</div>
					<br />
					<div class = "pull-left">
						<button class="btn btn-primary pull-right"
							type = "button"
							onclick = "$('#order-status-modal').modal('hide');">
							<i class="fa fa-close"></i>Cancel
						</button>
					</div>
					<div class = "pull-right">
						<button type = "button" class="btn btn-primary pull-left"
							onclick = "updateOrderStatus($('#id_order_id').val(), $('#id_order_status').val());">
							<i class="fa fa-right"></i> Update
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- END: Message modal -->		