{% extends 'artevenue/estore_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block page-title %}
<title>Payment Cancelled</title>
{% endblock page-title %}

{% block page-description %}
<meta name="description" content="Cancellation of payment by user at payment gateway">
{% endblock page-description %}

{% block page-keywords %}  
<meta name="keywords" content="">
{% endblock page-keywords %}  

{% block page-author %}  
<meta name="author" content="Arte'venue">
{% endblock page-author %}  

	{% block sitecontent %}
	<div class="container mb-5">
		<div class = "row">
			<div class="col-12">
				<h1>Payment Unsuccessful</h1>                
				<h3 class="tag-title">Hey {{firstname}}, the payment for order no. {{order.order_number}} didn't not go through!</h3>
				<P>Transaction status is: {{ status | upper}}</p>
				<P>ID for this transaction is: {{ txnid }}</p>
				<p><span id = "total_amount">Order Total: {{order.order_total|floatformat}}<span></p>
				<div class = "row">
					<div class = "col-12">
						<span class="pull-left">
							<p>Please try again</p>
							<a class = "btn btn-primary" href="{% url 'show_cart' %}">
								<i class = "fa fa-shopping-cart"> Cart</i>
							</a>
						</span>

						<span class="pull-right">
							<p>Return to home page</p>
							<a class = "btn btn-primary" href="{% url 'index' %}">
								<i class = "fa fa-home"> Home</i>
							</a>
						</span>
					</div>
				</div>
            </div>
        </div>
    </div>

{% endblock %}

{% block jscripts %}
{% endblock %}
