{% load static %}

	<div class="col-md-12 text-center mt-5">
		<h2 class="text-center">PICK YOUR STYLE STATEMENT
		</h2>
	
		<div class="row" style="margin:5px;">
			<div class = "col-lg-6 mt-3" >			
				<a class="btn-link" href="{% url 'curated_collections' cat_nm='Minimalistic' %}">
				<div class="curated-container">
					<img src="{% static 'img/pick_style/minimalist.jpg' %}" alt="Minimalist" style="width:100%">
					<div class = "btn">MINIMALISTIC</div>
				</div>
				</a>
			</div>
			<div class = "col-lg-6 mt-3" >			
				<a class="btn-link" href = "{% url 'curated_collections' cat_nm='Contemporary' %}">
				<div class="curated-container">
					<img src="{% static 'img/pick_style/contemporary.jpg' %}" alt="Contemporary" style="width:100%">
					<div class = "btn">CONTEMPORARY</div>
				</div>
				</a>
			</div>
		</div>
	</div>	
