{% load static %}
<div class = "container-fluid mt-5">
	<div class="row text-center">
		<div class="col-md-12 text-center">
			<h2 class="text-center">PICK YOUR STYLE FOR HOME DECOR
			</h2>
		</div>
	</div>
	<div class="row mt-1 text-center">
		<div class = "col-12 col-md-6 mt-3" >			
			<h3>
				MINIMALISTIC
			</h3>
			<a class="btn-link" href="{% url 'curated_collections' cat_nm='Minimalistic' page=1 prod_id=80247 %}">
			<div class="curated-container">
				<img src="{% static 'img/pick_style/minimalist_apr2020.jpg' %}" alt="Art prints for home decore in Minimalistic category" style="width:100%">
				<!--<div class = "btn">MINIMALISTIC</div>-->
			</div>
			</a>
		</div>
		<div class = "col-12 col-md-6 mt-3" >
			<h3>
				ART PRINT SETS
			</h3>
			<a class="btn-link" href = "{% url 'stock_collage_products' %}">
			<div class="curated-container">
				<img src="{% static 'img/collage/collage_banner.jpg' %}" alt="Sets of Art prints for home decore " style="width:100%">
			</div>
			</a>
		</div>
	</div>
</div>	
