{% extends 'artevenue/estore_base.html' %}
{% load static %}

{% block page-title %} 
<title>Arte'Venue | Store Invoices</title>
{% endblock page-title %} 
  
{% block page-description %}
<meta name="description" content="Arte'Venue | Print Labels - Restricted Access.">
{% endblock page-description %}
  
{% block page-keywords %}
<meta name="keywords" content="artevenue, labels">
{% endblock page-keywords %}
  
{% block page-author %}
<meta name="author" content="Arte'Venue">
{% endblock page-author %}

{% block coursel-stylesheet %}
{% endblock coursel-stylesheet %}

{% block jqueryui-script %}
{% endblock jqueryui-script %}

{% block coursel-script %}
{% endblock coursel-script %}

{% block front.js %}
{% endblock front.js %}


{% block imagemap-resize-script %}
{% endblock imagemap-resize-script %}

{% load widget_tweaks %}

	<!-- Only Override the site content block -->
	{% block sitecontent %}

    <div id="all">
		<div id="content">
			<div class="container">
				<div class = "row">
					<div class="col-12">
						<!-- breadcrumb-->
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
								<li class="breadcrumb-item"><a href="{% url 'staff_page' %}">Staff Page</a></li>
								<li aria-current="page" class="breadcrumb-item active">Printing/Framing Labels</li>
							</ol>
						</nav>
					</div>
				</div>
				<div class = "row">
					<div class = "col-12 text-center">
						<h1 style="font-weight:700;">PRINT LABELS</h1>
					</div>				
					<div class = "col-12 mt-5">
						<div class = "row text-cetner">
							<div class = "col-12 col-md-6 text-center">
								<div class = "row">
									<div class = "col-12 text-center">
										ORDER DATE FROM & TO
									</div>
									<div class = "col-6">
										<div class="form-group">
											<label>From:</label>
											<input name = "fromdate" id = "fromdate" 
												class = "form-control" type="date" onchange = "copy_date('FROMDATE');"/>
										</div>
									</div>
									<div class = "col-6">
										<div class="form-group">
											<label>To:</label>
											<input name = "todate" id = "todate" 
												class = "form-control" type="date" onchange = "copy_date('TODATE');" />
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class = "row text-center">
							<div class = "col-6">
								<div class="form-group">
									<label>ORDER NUMBER:</label>
									<input name = "order_num" id = "order_num" 
										class = "form-control" type="text" onchange = "copy_order_num($(this).val());"/>
								</div>
							</div>
						</div>
						<div class = "row">
							<div class = "col-12 text-center">
								<form method = "POST" action = "{% url 'print_bulk_pf_labels' %}" id = "getpdf">
									<div class="form-group">
										<input hidden name = "fromdate" id = "fromdate_pdf">
										<input hidden name = "todate" id = "todate_pdf">
										<input hidden name = "order_num" id = "order_num_pdf" type="text"/>
										<label>&nbsp; </label><br />
										<button type="submit" id = "date-submit" 
										class = "btn btn-primary">Submit</button>
									</div>
								</form>
							</div>
						</div>
					</div>
					<hr>
					<div class="col-12 box info-bar">
						<div id = "label_table">
							{% include 'artevenue/printing_framing_label.html' %}
						</div>						
					</div>					
					
				</div>
			</div>
        </div>
    </div>
	{% include 'artevenue/message-modal_ok.html' %}
	{% endblock sitecontent %}


	{% block jscripts %}	
	<script>
		$( document ).ready(function() {
			var today = new Date();

			var from_dt = new Date();
			from_dt.setDate( from_dt.getDate() - 7) 
			var fm_dt = from_dt.getDate();
			var fm_mn = from_dt.getMonth();
			var fm_mn = fm_mn + 1; //Javascript month start from 0
			var fm_yy = from_dt.getFullYear();			
			document.getElementById("fromdate").value = ( parseInt(fm_yy) + "-" + zeroPad(fm_mn) + "-" + zeroPad(fm_dt) );
			document.getElementById("fromdate_pdf").value = ( parseInt(fm_yy) + "-" + zeroPad(fm_mn) + "-" + zeroPad(fm_dt) );

			var to_dt = today.getDate();
			var to_mn = today.getMonth();
			var to_mn = to_mn + 1;
			var to_yy = today.getFullYear();			
			
			document.getElementById("todate").value = ( parseInt(to_yy) + "-" + zeroPad(to_mn) + "-" + zeroPad(to_dt) );
			document.getElementById("todate_pdf").value = ( parseInt(to_yy) + "-" + zeroPad(to_mn) + "-" + zeroPad(to_dt) );

			$body = $("body");
			
			$(document).on({
				ajaxStart: function() { $body.addClass("loading");},
				ajaxStop: function() { $body.removeClass("loading");}
			});

		});
	
		function get_labels(){
		
			var execute_ajax = false;
			var query_data = {};

			if (document.getElementById("fromdate").value != '') {
				var fm_d = new Date(document.getElementById("fromdate").value);
				if (fm_d > new Date()) {
					$("#msg").html("Order From Date can't be greater than today");
					$("#msg-modal").modal("show");
					return;
				}
				var fm_dt = fm_d.getDate();
				var fm_mn = fm_d.getMonth();
				var fm_mn = fm_mn + 1; //Javascript month start from 0
				var fm_yy = fm_d.getFullYear();			
				var from_date = fm_yy + "-" + fm_mn + "-" + fm_dt;
			} else {
				var from_date = "";
			}				

			if (document.getElementById("todate").value != '') {
				var to_d = new Date(document.getElementById("todate").value);
				var to_dt = to_d.getDate();
				var to_mn = to_d.getMonth();
				var to_mn = to_mn + 1; //Javascript month start from 0
				var to_yy = to_d.getFullYear();			
				var to_date = to_yy + "-" + to_mn + "-" + to_dt;			
				if ( to_d < fm_dt ) {
					$("#msg").html("Order To Date can't be earlier than From Date");
					$("#msg-modal").modal("show");
					return;
				}
			} else {
				var to_date = "";
			}
			
			
			order_num = $("#order_num").val();
			
			query_data = {'fromdate':from_date, 'todate':to_date, 'order_num':order_num}

			$.ajax({
				url: "{% url 'print_bulk_pf_labels' %}", 
				dataType: 'text',
				data: query_data,
				type: 'POST',
				success: function (data) {					
					$("#label_table").html(data);
				},
				error: function(xhr){
					alert("An error occured: " + xhr.status + " " + xhr.statusText + " Apologies for the inconvenience!! Please let us know the details and we will be happy to help sort it out."); 
					return;
				}
			});	
		}
		
		
		function zeroPad(val){
			if(val < 10){
				ret = "0" + String(val);
			} else {
				ret = String(val);
			}
			return ret;
		}
	</script>

	
	<script>
	function copy_date(type){
		if (type == "FROMDATE") {
			var fm_d = new Date(document.getElementById("fromdate").value);
			var fm_dt = fm_d.getDate();
			var fm_mn = fm_d.getMonth();
			var fm_mn = fm_mn + 1; //Javascript month start from 0
			var fm_yy = fm_d.getFullYear();			
			if (isNaN(fm_dt) || isNaN(fm_mn) || isNaN(fm_yy)){
				var from_date = ''
			} else {
				var from_date = fm_yy + "-" + fm_mn + "-" + fm_dt;
			}
			$('#fromdate_pdf').val(from_date);
		} 
		if (type == "TODATE") {
			var to_d = new Date(document.getElementById("todate").value);
			var to_dt = to_d.getDate();
			var to_mn = to_d.getMonth();
			var to_mn = to_mn + 1; //Javascript month start from 0
			var to_yy = to_d.getFullYear();			
			if (isNaN(to_dt) || isNaN(to_mn) || isNaN(to_yy)){
				var to_date = ''
			} else {
				var to_date = fm_yy + "-" + fm_mn + "-" + fm_dt;
			}
			$('#todate_pdf').val(to_date);
		}
	}

	function copy_order_num(value){
		$('#order_num_pdf').val(value);
	}
	</script>

	{% endblock jscripts %}