{% load static %}
{% if ecom_site.show_frame_my_art_section %}

<div class="main_banner">
	<div class="">	
		<div class="row">			
			<div class="say_pic px-bottom" style = "padding:0px !important;">
				<div id = "wrapper">
					<img src="{% static 'img/frame_my_photos_new.jpg' %}" class="img-responsive" usemap="#frame-map">
					<a id = "anchor-frame" href="{% url 'user_image' %}"></a>				
					<img src="{% static 'img/frame_my_photos_new.jpg' %}" class="img-responsive mobile" usemap="#frame-map">
					<a id = "anchor-frame-mobile" href="{% url 'user_image' %}" class = "mobile"></a>
				</div>
				<!-- <map name="frame-map">
					<area shape="rect" coords="30,200,475,435" href="{% url 'user_image' %}" alt="Start Framing">
				</map> -->
			</div>
		</div>
	</div>
</div>


{% endif %}