{% load static %}
{% load show_frame_my_art from prod_template_tags %}

<div class = "container-fluid mt-5 text-center">
	<div class="row">
		<div class="col-12">
			<h2 class="text-center">
				EXQUISITE COLLECTION OF WALL ART FOR HOME DECOR & MORE
			</h2>
		</div>
	</div>
	<div class="row text-center">
		<div class = "col-12 col-md-6 mt-5">
			<h3 class = "curatedHeading1">
				ABSTRACT
			</h3>
			<h4 class = "curatedHeading2">A Play of Colour in Hues and Shades</h4> 
			<a class = "btn-link" href = "{% url 'curated_collections' cat_nm='abstract-wall-art' %}">
			<div class="curated-container">
				<picture>
					<source media="(max-width:465px)" srcset="{% static 'img/hp_banners/abstract_mobile.jpg' %}">
					<source media="(min-width:465px)" srcset="{% static 'img/hp_banners/abstract.jpg' %}">
					<img class = "d-block" src="{% static 'img/hp_banners/abstract.jpg' %}" alt="Abstract Prints">
				<picture>
			</div>
			</a>
		</div>
		
		<div class = "col-12 col-md-6 mt-5">
			<h3 class = "curatedHeading1">
				GALLERY WALLS
			</h3>
			<h4  class = "curatedHeading2">The Cohesive & Well Styled</h4>
			<!--<a class="btn-link" href = "{% url 'stock_collage_products' %}">-->
			<a class="btn-link" href = "{% url 'get_gallery_walls' %}">
				<div class="curated-container">
				<picture>
					<source media="(max-width:465px)" srcset="{% static 'img/hp_banners/gallerywalls_mobile.jpg' %}">
					<source media="(min-width:465px)" srcset="{% static 'img/hp_banners/gallerywalls.jpg' %}">
					<img src="{% static 'img/hp_banners/sets.jpg' %}" alt="Wall Art Collage Sets" style="width:100%">
				</picture>
				</div>
			</a>
		</div>
		<div class = "col-6 col-md-3 mt-5">
			<h3 class = "curatedHeading1">
				FEMME
			</h3>
			<h4  class = "curatedHeading2">Fiercely Feminine</h4>
			<a class="btn-link" href = "{% url 'curated_collections' cat_nm='paintings-of-women' %}">
				<div class="curated-container">
				<picture>
					<source media="(max-width:465px)" srcset="{% static 'img/hp_banners/femme_mobile.jpg' %}">
					<source media="(min-width:465px)" srcset="{% static 'img/hp_banners/femme.jpg' %}">
					<img class = "d-block" src="{% static 'img/hp_banners/femme.jpg' %}" alt="Paintings of girls and women" style="width:100%">
				</picture>
				</div>
			</a>
		</div>
		<div class = "col-6 col-md-3 mt-5">
			<h3 class = "curatedHeading1">
				COASTAL
			</h3>
			<h4  class = "curatedHeading2">Happiness in Waves</h4>
			<a class="btn-link" href = "{% url 'curated_collections' cat_nm='ocean-paintings' %}">
				<div class="curated-container">
				<picture>
					<source media="(max-width:465px)" srcset="{% static 'img/hp_banners/coastal_mobile.jpg' %}">
					<source media="(min-width:465px)" srcset="{% static 'img/hp_banners/coastal.jpg' %}">
					<img class = "d-block" src="{% static 'img/hp_banners/coastal.jpg' %}" alt="Art Prints of Sea Paintings" style="width:100%">
				</picture>
				</div>
			</a>
		</div>
		<div class = "col-6 col-md-3 mt-5">
			<h3 class = "curatedHeading1">
				BLACK & WHITE
			</h3>
			<h4  class = "curatedHeading2">Gaze in Muse</h4>
			<a class="btn-link" href = "{% url 'curated_collections' cat_nm='black-and-white-art' %}">
				<div class="curated-container">
				<picture>
					<source media="(max-width:465px)" srcset="{% static 'img/hp_banners/black_n_white_mobile.jpg' %}">
					<source media="(min-width:465px)" srcset="{% static 'img/hp_banners/black_n_white.jpg' %}">
					<img class = "d-block" src="{% static 'img/hp_banners/black_n_white.jpg' %}" alt="Art Print of Black and White Paintings" style="width:100%">
				</picture>
				</div>
			</a>
		</div>
		<div class = "col-6 col-md-3 mt-5">
			<h3 class = "curatedHeading1">
				WHEELS & WINGS
			</h3>
			<h4  class = "curatedHeading2">Fun and Young</h4>
			<a class="btn-link" href = "{% url 'curated_collections' cat_nm='automobile-art-prints' %}">
				<div class="curated-container">
				<picture>
					<source media="(max-width:465px)" srcset="{% static 'img/hp_banners/automobile_mobile.jpg' %}">
					<source media="(min-width:465px)" srcset="{% static 'img/hp_banners/automobile.jpg' %}">
					<img class = "d-block" src="{% static 'img/hp_banners/automobile.jpg' %}" alt="Art Prints of Automobile Paintings" style="width:100%">
				</picture>
				</div>
			</a>
		</div>
		<div class = "col-12 mt-5">
			<h3 class = "curatedHeading1">
				ART OVER CENTURIES
			</h3>
			<h4 class = "curatedHeading2">A Timeless Collection Of Paintings By Grand Masters</h4> 
			<a class = "btn-link" href = "{% url 'curated_collections' cat_nm='world-famous-paintings' %}">
			<div class="curated-container">
				<picture>
					<source media="(max-width:465px)" srcset="{% static 'img/hp_banners/museum_mobile.jpg' %}">
					<source media="(min-width:465px)" srcset="{% static 'img/hp_banners/museum.jpg' %}">
					<img class = "d-block" src="{% static 'img/hp_banners/museum.jpg' %}" alt="Art prints of Famous Paintings">
				</picture>
			</div>
			</a>
		</div>
		<div class = "col-4 col-lg-2 mt-1">		
			<a href = "{% url 'curated_collections' cat_nm='vincent-van-gogh-paintings' %}"  style = "color: #5d5566;">
				<h3 class = "curatedHeading1" style="background-color:; font-size:0.7rem; font-weight:600; color:#d6b015;">
					Van Gogh
				</h3> 
			</a>
		</div>
		<div class = "col-4 col-lg-2 mt-1">	
			<a href = "{% url 'curated_collections' cat_nm='leonardo-da-vinci-art' %}" style = "color: #5d5566;">
				<h3 class = "curatedHeading1" style="background-color:; font-size:0.7rem; font-weight:600; color:#d6b015;">
					Da Vinci
				</h3> 
			</a>
		</div>
		<div class = "col-4 col-lg-2 mt-1">	
			<a href = "{% url 'curated_collections' cat_nm='claude-monet-paintings' %}"  style = "color: #5d5566;; color:11b6bd;">
				<h3 class = "curatedHeading1" style="background-color:; font-size:0.7rem; font-weight:600; color:#d6b015;">
					Monet
				</h3> 
			</a>
		</div>
		<div class = "col-4 col-lg-2 mt-1">
			<a href = "{% url 'curated_collections' cat_nm='michelangelo-paintings' %}"  style = "color: #5d5566;">
				<h3 class = "curatedHeading1" style="background-color:; font-size:0.7rem; font-weight:600; color:#d6b015;">
					Michelangelo
				</h3> 
			</a>
		</div>
		<div class = "col-4 col-lg-2 mt-1">	
			<a href = "{% url 'curated_collections' cat_nm='gustav-klimt-paintings' %}"  style = "color: #5d5566;">
				<h3 class = "curatedHeading1" style="background-color:; font-size:0.7rem; font-weight:600; color:#d6b015;">
					Klimt
				</h3> 
			</a>
		</div>
		<div class = "col-4 col-lg-2 mt-1">
			<a href = "{% url 'curated_collections' cat_nm='johannes-vermeer' %}" >
				<h3 class = "curatedHeading1" style="background-color:; font-size:0.7rem; font-weight:600; color:#d6b015;">
					Vermeer
				</h3> 
			</a>
		</div>
		
		<div class = "col-12 mt-5">
			POPULAR WALL ART COLLECTIONS
		</div>
		<div class = "col-6 col-md-3 mt-5">
			<h3 class = "curatedHeading1" >
				LANDSCAPE
			</h3>
			<h4 class = "curatedHeading2">A Voyage Through Nature</h4> 
			<a class = "btn-link" href = "{% url 'curated_collections' cat_nm='landscape-paintings' %}">
			<div class="curated-container">
				<picture>
					<source media="(max-width:465px)" srcset="{% static 'img/hp_banners/landscape_mobile.jpg' %}">
					<source media="(min-width:465px)" srcset="{% static 'img/hp_banners/landscape.jpg' %}">
					<img class = "d-block" src="{% static 'img/hp_banners/landscape.jpg' %}" alt="Art prints of Landscape Paintings">
				</picture>
			</div>
			</a>
		</div>
		<div class = "col-6 col-md-3 mt-5">
			<h3 class = "curatedHeading1">
				FLORAL
			</h3>
			<h4  class = "curatedHeading2">Blooming Happiness</h4>
			<a class="btn-link" href="{% url 'curated_collections' cat_nm='floral-paintings' %}">
				<div class="curated-container">
				<picture>
					<source media="(max-width:465px)" srcset="{% static 'img/hp_banners/floral_mobile.jpg' %}">
					<source media="(min-width:465px)" srcset="{% static 'img/hp_banners/floral.jpg' %}">
					<img class = "d-block" src="{% static 'img/hp_banners/floral.jpg' %}" alt="Art Prints of Flower Paintings" style="width:100%">
				</picture>
				</div>
			</a>
		</div>
		<div class = "col-6 col-md-3 mt-5">
			<h3 class = "curatedHeading1">
				PHOTOGRAPHY
			</h3>
			<h4  class = "curatedHeading2">Freezing a Moment</h4>
			<a class="btn-link" href = "{% url 'curated_collections' cat_nm='photography-prints' %}">
				<div class="curated-container">
				<picture>
					<source media="(max-width:465px)" srcset="{% static 'img/hp_banners/photography_mobile.jpg' %}">
					<source media="(min-width:465px)" srcset="{% static 'img/hp_banners/photography.jpg' %}">
					<img class = "d-block" src="{% static 'img/hp_banners/photography.jpg' %}" alt="Photography Art Prints" style="width:100%">
				</picture>
				</div>
			</a>
		</div>
		<div class = "col-6 col-md-3 mt-5">
			<h3 class = "curatedHeading1">
				VINTAGE
			</h3>
			<h4  class = "curatedHeading2">Charm of The Past</h4>
			<a class="btn-link" href = "{% url 'curated_collections' cat_nm='vintage-posters-for-sale' %}">
				<div class="curated-container">
				<picture>
					<source media="(max-width:465px)" srcset="{% static 'img/hp_banners/vintage_mobile.jpg' %}">
					<source media="(min-width:465px)" srcset="{% static 'img/hp_banners/vintage.jpg' %}">
					<img class = "d-block" src="{% static 'img/hp_banners/vintage.jpg' %}" alt="Art Prints of Vintage Paintings" style="width:100%">
				</picture>
				</div>
			</a>
		</div>
	</div>
	
	<div class="row text-center">
		<div class = "col-12 col-md-6 mt-5">
			<h3 class = "curatedHeading1">
				POP IT UP
			</h3>
			<h4 class = "curatedHeading2">Strong, Bold & Whimsical</h4> 
			<a class = "btn-link" href = "{% url 'curated_collections' cat_nm='pop-wall-art' %}">
			<div class="curated-container">
				<picture>
					<source media="(max-width:465px)" srcset="{% static 'img/hp_banners/pop_art_mobile.jpg' %}">
					<source media="(min-width:465px)" srcset="{% static 'img/hp_banners/pop_art.jpg' %}">
					<img class = "d-block" src="{% static 'img/hp_banners/pop_art.jpg' %}" alt="Pop Art Prints">
				</picture>
			</div>
			</a>
		</div>
		
		<div class = "col-12 col-md-6 mt-5">
			<h3 class = "curatedHeading1">
				MINIMALISTIC
			</h3>
			<h4  class = "curatedHeading2">Keep it Simple</h4>
			<a class="btn-link" href="{% url 'curated_collections' cat_nm='minimalistic-art' %}">
				<div class="curated-container">
				<picture>
					<source media="(max-width:465px)" srcset="{% static 'img/hp_banners/minimalist_mobile.jpg' %}">
					<source media="(min-width:465px)" srcset="{% static 'img/hp_banners/minimalist.jpg' %}">
					<img src="{% static 'img/hp_banners/minimalist.jpg' %}" alt="Art Prints in Minimalistic category" style="width:100%">
				</picture>
				</div>
			</a>
		</div>
		
	</div>	
</div>	
