{% load static %}
    <div class="modal fade" id="signup-ask-modal" tabindex="-1" role="dialog" data-backdrop ="true" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div id="promocontent" class="modal-dialog modal-md">
            <div class="modal-content">
				<div class = "pull-right">
					<button type="button" class="close" data-dismiss="modal">X</button>
				</div>
                <div class="modal-body">
                    <div class="coupon">
                        <img src="{% static 'img/coupon_15percent.jpg' %}" 
							alt="Arte'Venue: 15% off coupon"
							onclick = "$('#promocontent').hide(); $('#signup_popup-modal').modal('show');"
							style = "cursor:pointer;">
                    </div>
                </div>
            </div>
        </div>
    </div>
