				{% load static %}
				{% load utils %}
				<div class = "row">
					<div class="col-lg-12">
						<span class = "pull-left" id = "frame-name" style = "margin-top:5px; margin-left:5px;">You may also like these</span>
						<br />
					</div>
				</div>
				<div class = "row">
					{% for prod in prods %}
						<div class="col-lg-3 col-md-6 text-center" style="border:1px solid #e3e3e3;">
							<div class="similar-image">
								<!-- <a href="{% url 'stock_image_detail' %}">Test</a> -->
								<form id = "img-form_{{prod.product_id}}" action = "{% url 'stock_image_detail' prod.product_id %}" method = 'GET' >
									<input hidden class ='iuser_width' id="iuser_width_{{prod.product_id}}" name = "iuser_width" type = "number" value = '{{width}}' min="4" max="60" >
									<input hidden class ='iuser_height' id="iuser_height_{{prod.product_id}}" name = "iuser_height" type = "number"  value = '{{height}}' min="4" max="60" >
									
									<img src="{% static prod.url %}" alt="" class="img-fluid image-display" 
											style = "filter: drop-shadow(0.25rem 0.25rem 0.25rem grey); display: block; margin-left: auto;" onclick="$('#img-form_{{prod.product_id}}').submit();">
								</form>
								<!--</a>-->
							</div>

							<div class="text text-center" style = "margin-top: 5px;">
								<h4><a href="">{{prod.name}}</a></h4>
								{% if show_artist %}
								<h5 style = "color:blue;">By {{prod.artist}}</h5>
								{% endif %}
								<p class="price">
									{% for p in price %}
										{% if p.publisher_id == prod.publisher %}
											
											{% if width %}
												{% if prod.aspect_ratio > 0 %}
													<i class = "fa fa-inr"></i> {% get_price prod.max_width prod.aspect_ratio p.price width %}
												{% else %}
													<i class = "fa fa-inr"></i> {{p.price|multiply:256|floatformat:"0"}}												
												{% endif %}
											{% else %}													
												{% if prod.aspect_ratio > 0 %}
													<i class = "fa fa-inr"></i> {% get_price prod.max_width prod.aspect_ratio p.price 0 %}
												{% else %}
													<i class = "fa fa-inr"></i> {{p.price|multiply:256|floatformat:"0"}}												
												{% endif %}
											{% endif %}
											
										{% endif %}
									{% endfor %}
									<del></del>
									{% if prod.product_id in wishlist_prods %}
										<span id = "fav_{{prod.product_id}}" class = "pull-right">
											<i class = "fa fa-heart"  
												onclick = "deleteItem('{{prod.product_id}}')" 
												style="color:red; padding-right:5px;cursor:alias;" data-toggle="tooltip" title="Added to Favorites!"></i>
										</span>
									{% else %}
										<span  id = "fav_{{prod.product_id}}" class = "pull-right">
											<i class = "fa fa-heart-o"  
												onclick = "addToFav({{prod.product_id}}, {% if prod.max_width > 16 %} 16 {%else%} {{prod.max_width}} {%endif%}, {{prod.aspect_ratio}}, 0, '', 0, 0, 0);"
												style="color:red; padding-right:5px;cursor:alias;" data-toggle="tooltip" title="Add to Favourites!"></i>
										</span>
									{% endif %}
								</p>
							</div>
						</div>
					{% endfor %}
				</div>