{% load static %}
<div class = "container mt-3">
	<!-- Featured Products  Header -->
	{% if ecom_site.show_featured_section %}
	<div class="row">
		<div class="col-12 py-5" style = "background-color: #fafafa;">
			<!--<h1 class="mb-2 text-center">{{ecom_site.featured_header|upper}} </h1>-->
			<h1 class="text-center">
				TOP QUALITY LICENSED ART PRINTS OF BEAUTIFUL PAINTINGS
			</h1> 

			<h2 class = "text-center mt-4" style = "font-style: italic; font-weight:500;">
				WALL ART PAINTING?
			</h2>
			<h3 class = "text-center">
				As you decide to buy paintings online, Art print is elegant, affordable and wise
				<br />choice when it comes to <span style = "font-style: italic;"> 
				paintings for home walls </span>. <br />
				Breathe life into your walls!
			</h3>

			<h3 class = "text-center">
				We know interior is incomplete without </br/>
				<span style = "font-style: italic;">paintings for home decor</span>, <br />
				so we bring to you the largest and beautiful collection to complete </br>
				you home decor.<br />
				Go ahead and shop from over 2.6 lakh artworks </br/>
				neatly categories and curated for you.
			</h3>
		</div>
	</div>
	<div class="mt-5 py-2">
		<div class="row">
			<div class="col-12" >
				<!--<h1 class="mb-2 text-center">{{ecom_site.featured_header|upper}} </h1>-->
				<h2 class="mb-2 text-center">
					TRENDING NOW
				</h2> 
			</div>
		</div>
	</div>
</div>



<!-- Featured items slider -->
<div class="product-slider owl-carousel owl-theme">
	{% for c in trending_categories %}
		<div class="item">  
				{% with 'img/'|add:c.url as image_static %}
				<div class="front"  style="margin:0px 2px 0px 2px !important;">
					<a href="{% url 'art_by_category' cat_nm=c.name %}"> 
						<img src="{% static image_static %}" alt="Wall art painting in {{c.name}} category" class="img-fluid img-container-cat">
					</a>
				</div>
				{% endwith %}
				<div class="mt-2 trending-cat text text-center">
					<p>
						<a href="{% url 'art_by_category' cat_nm=c.name %}">{{ c.name|title }}</a>
					</p>
				</div>
				
		</div>
	{% endfor %}
</div>
{% endif %}