{% load static %}
{% load utils %}

<div class = "container mt-3">
	<!-- Featured Products  Header -->
	{% if ecom_site.show_featured_section %}
	<div class="row">
		<div class="col-12 py-5 text-center" style = "background-color: #fafafa;">
			<!--<h1 class="mb-2 text-center">{{ecom_site.featured_header|upper}} </h1>-->
			<h1>
				BEAUTIFUL WALL ART TO MAKE INTERIORS AWESOME
			</h1> 
			<h4>Quality Meets Affordablity.</h4>

			<h2 class = "mt-4" >				
				BUY PAINTINGS ONLINE? <br/>
				ART PRINTS ARE YOUR BEST BET
			</h2>
			<div class = "d-block">
				<h3 class = "mt-3">
					Pick from our huge collection of
						over 2.7 lakh licensed paintings & artworks, <br/>
					    and we assure you of top quality & elegant art prints.<br/><br/>
					Go ahead & make your interiors amazing.
					Your satisfaction is guaranteed.
				</h3>
				<!--
				<h3 class = "mt-3">
							As real as it gets. It is elegant, affordable and wise.<br />
				   Enrich your experience in choosing the right kind of wall art from our huge collection of<br/>
						over 2.6 lakh artworks, carefully curated to meet your demand.<br/>
					 Be it home decor, office space or any empty wall, we have variety to pick from.
				</h3>
				-->
			</div>
		</div>
	</div>
	{% endif %}
	<div class="mt-3 py-2">
		<div class="row">
			<div class="col-12" >
				<!--<h1 class="mb-2 text-center">{{ecom_site.featured_header|upper}} </h1>-->
				<h2 class="mb-2 text-center">
					WALL ART CATEGORIES TRENDING NOW
				</h2> 
			</div>
		</div>
	</div>
</div>



<!-- Featured items slider -->
<section class="trending-slider slider mb-2" 
	style="margin:10px; padding:10px 5px 5px;">
	{% for c in trending_categories %}
	{% with 'img/'|add:c.url as image_static %}
		{% if c.url_suffix %}				
		<a href="{% url 'art_by_category' cat_nm=c.url_suffix %}"> 
			<img src="{% static image_static %}" alt="Wall art prints in {{c.name}} category" class="img-fluid img-container-cat">
			<span class="text text-center" onclick = "moulding_change('{{f.moulding_id}}')">
				<div class = "mt-1" style = "font-size:0.6rem; color:#000 !important; line-height: 1;">
				{{ c.name|title }}
				</div>
			</span>
		</a>
		{% else %}
		<a href="{% url 'art_by_category' cat_nm=c.name %}"> 
			<img src="{% static image_static %}" alt="Wall art prints in {{c.name}} category" class="img-fluid img-container-cat">
			<span class="text text-center" onclick = "moulding_change('{{f.moulding_id}}')">
				<div class = "mt-1" style = "font-size:0.6rem; color:#000 !important; line-height: 1;">
				{{ c.name|title }}
				</div>
			</span>
		</a></p>
		{% endif %}
	</a>
	{% endwith %}
	{% endfor %}
</section>

<script type="text/javascript" src="{% static 'vendor/slick/slick.min.js' %}"></script>	
<script type="text/javascript"></script>

