{% load static %}
<div class = "container">
<div class="row free_shipping">
	<div class="col-md-4">
		<!--<div class = "text-center"
			style = "font-family:Cormorant Garamond; font-weight:500; font-size: 0.85rem;">-->
		<div>
			<img src="{% static 'img/why_artevenue_text/shipping.png' %}" alt="" style="float: left;">
			<div class="details">
				<p class="shipping_heading">FREE SHIPPING</p>
				<p class="shipping_desc">Get fast and free shipping on all orders accross India.</p>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div>
			<img src="{% static 'img/why_artevenue_text/superior.png' %}" alt="" style="float: left;">
			<div class="details">
				<p class="shipping_heading">SUPERIOR</p>
				<p class="shipping_desc">Assured quality and satisfaction guaranteed on all products.</p>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div>
			<img src="{% static 'img/why_artevenue_text/deals.png' %}" alt="" style="float: left;">
			<div class="details">
				<p class="shipping_heading">GREAT DEALS</p>
				<p class="shipping_desc">Unmatchable pricing and offers across all categories</p>
			</div>
		</div>
	</div>
</div>
</div>
