
{% extends 'artevenue/estore_base.html' %}
{% load static %}
{% load utils %}
{% block page-title %} 
<title>Create New Gallery Wall</title>
{% endblock page-title %} 
{% block page-description %}
<meta name="description" content="Arte'Venue - Create New Gallery Wall">
{% endblock page-description %}
{% block page-keywords %}
<meta name="keywords" content="">
{% endblock page-keywords %}

{% block page-author %}
<meta name="author" content="Arte'Venue">
{% endblock page-author %}

{% block jqueryui-stylesheet %}
{% endblock jqueryui-stylesheet %}

{% block jqueryui-script %}
{% endblock jqueryui-script %}

{% block imagemap-resize-script %}
{% endblock imagemap-resize-script %}

{% block popper-script %}
{% endblock popper-script %}


	<!-- Only Override the site content block -->
	{% block sitecontent %}
	<div class="container mt-4 mb-5">
		<div class="row">
			<!-- breadcrumb-->
			<div class="col-xs-12 col-lg-12">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
						<li aria-current="page" class="breadcrumb-item active">Create New Gallery Wall</li>
					</ol>
				</nav>
			</div>
		</div>
		<div class="row">
			<div class = "col-12 text-center">
				<h1 style = "font-size: 1.3rem;">
					<strong>CREATE NEW GALLERY WALL</strong>
				</h1>
				<span style = "font-size: 0.7rem;">	
				</span>
			</div>
		</div>
		<form id = "gal-form" action = "{% url 'create_gw_data' %}" type = "GET" >			
			<div class="row">
				<div class="col-12">
					<div class = "form-group">
						<label>Title: </label>
						<input type = "text" max = "500" class = "form-control"
							name = "title" id = "title"
							value = "{{gal.title}}">
						<span style = "font-size: 0.65rem;">To be used as title on product page/social media post</span>
					</div>
					<div class = "form-group">
						<label>Description: </label>
						<input type = "text" max = "2000" class = "form-control"
							name = "description" id = "description"
							value = "{{gal.title}}">
						<span style = "font-size: 0.65rem;">To be used as 2nd line under the Title on product page/social media post</span>
					</div>
				</div>
			</div>
			<div class="row">			
				<div class="col-12">
					<hr>
				</div>
			</div>			
			<div class="row">			
				<div class="col-6 col-md-4 form-inline">
					<div class = "form-group">
						<label>No of Artworks(Set of): </label>
						<input type = "number" min = "2" class = "form-control"
							name = "set_of" id = "set_of" max="30"
							value = "{{gal.set_of}}">
					</div>
				</div>
				<div class="col-6 col-md-4 form-inline">
					<div class = "form-group">
						<label>Room: </label>
						<select name = "room" id = "room" class = "form-control">
						{% for r in rooms %}
							<option value="{{r.room_id}}"> {{r.name}} </option>
						{% endfor %}
						</select>
					</div>
				</div>
				<div class="col-6 col-md-4 form-inline">
					<div class = "form-group">
						<label>Placement in Room: </label>
						<select name = "placement" id = "placement" class = "form-control">
						{% for p in placements %}
							<option value="{{p.placement_id}}"> {{p.name}} </option>
						{% endfor %}
						</select>
					</div>
				</div>
			</div>
			<div class="row">			
				<div class="col-12">
					<hr>
				</div>
			</div>
			<div class="row">			
				<div class="col-12">
					<div class = "form-group">
						<label>Colors: </label>
						<input type = "text" max = "100" class = "form-control" name="colors">
						<span style = "font-size: 0.65rem;">Comma separated primary colors that customers
							will use to filter by color</span>
					</div>
					<div class = "form-group">
						<label>Keywords (artwork category/theme): </label>
						<input type = "text" max = "50" class = "form-control" name="key_words">
					</div>
				</div>
			</div>
			<div class="row">			
				<div class="col-12">
					<hr>
				</div>
			</div>
			<div class="row">			
				<div class = "col-12 mt-3 text-center">
					<button id = "create" class="btn btn-primary" style = "width: 50%;" type = "submit">
						PROCEED
					</button>			
				</div>
			</div>
		</form>
			
		{% include 'artevenue/message-modal_ok.html' %}
	</div>
	{% endblock sitecontent %}
	
	{% block footer-text %}
	{% endblock footer-text %}
	
	{% block jscripts %}
	<script>
		$(document).ready(function(){			
		});
	</script>

	{% endblock jscripts %}
	
