{% extends 'artevenue/estore_base.html' %}
{% load static %}
{% load utils %}
{% block page-title %} 
{% load customer_review from customer_review %}
	<title>Gallery Wall - {{gal.gallery.title}}, Set of {{gal.gallery.set_of}}, Customization Available</title>
{% endblock page-title %} 
{% block page-description %}
	<meta name="description" content="Designer curated gallery wall. pucture wall, collage set for your home and office decor.">
{% endblock page-description %}
{% block page-keywords %}
	<meta name="keywords" content="gallery wall, set of paintings, set of 2 paintings, set of 3 paintings, picture wall, collage frames">
{% endblock page-keywords %}

{% block page-author %}
	<meta name="author" content="Arte'Venue">
{% endblock page-author %}

{% block jqueryui-stylesheet %}
{% endblock jqueryui-stylesheet %}

{% block jqueryui-script %}
{% endblock jqueryui-script %}

{% block imagemap-resize-script %}
{% endblock imagemap-resize-script %}

{% block popper-script %}
	<script src="{% static 'vendor/popper.js/umd/popper.min.js' %}"> </script>
{% endblock popper-script %}

	<!-- Only Override the site content block -->
	{% block sitecontent %}
	<div class="container mt-4">
		<div class="row">
			<!-- breadcrumb-->
			<div class="col-xs-12 col-lg-12">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
						<li class="breadcrumb-item"><a href="{% url 'get_gallery_walls' %}">Gallery Walls</a></li>
						<li aria-current="page" class="breadcrumb-item active">{{gal.gallery.title}}</li>
					</ol>
				</nav>
			</div>
		</div>
		<div class="row">
			<div class = "col-12 text-center">
				<h1 style = "font-size: 1.3rem;">
					Gallery Wall  <br /> <strong>{{gal.gallery.title}}</strong>
				</h1>
				<span style = "font-size: 0.7rem;">	
					{{gal.gallery.description}}
				</span>
				<span class="id" hidden>{{gal.gallery.gallery_id}}</span>
			</div>
			<div class="col-12 col-md-6 mt-3">		
				<img src="{% static  gal.gallery.room_view_url %}" alt="Gallery: {{gal.gallery.name}}" class="img-fluid lazyload">
			</div>
			<div id ="frame-sec" class="col-12 col-md-6 mt-3">
				<div class = "row">
					<div class = "col-4">
						<h1 style = "font-size:1.4rem; color:#11b6bd; font-weight:600;">
							<i class = "fa fa-inr">
								<span id="price"><span>
							</i>
						</h1>
					</div>		

					<div class = "col-8 text-center" style = "font-size:0.7rem;">
						(Covers approximately <span id="g-width">{{gal.wall_area_width|floatformat}}</span>" 
							X 
							<span id="g-height">{{gal.wall_area_height|floatformat}}</span>"
							inch on the wall with all the artworks selected. Includes space in-between.)
					</div>
					{% if gallery_variations %}					
					<div class = "col-12 text-center mt-5">
						WALL AREA (in inches)
					</div>
					<div class = "col-12 text-center">
						<div class = "row">
							{% for v in gallery_variations %}
							<div class = "col-4 col-lg-3 mt-3">
								<span id="print-surface" title='Choose print surface'
									data-placement="right">
										<span id= "s-{{v.id}}" class = "p_size"
											onclick = "get_variation('{{v.id}}');">
											{{v.wall_area_width|floatformat}}" X {{v.wall_area_height|floatformat}}"
										</span><br />
										{% for p in prices %}
											{% if p == v.id %}
											<span>
											<i class = "fa fa-inr" style = "font-size: 0.8rem;">
												<span id = "vprice-{{v.id}}">{{prices|get_dict_item:p}}</span>
											</i>										
											</span>
											{% endif %}
										{% endfor %}
								</span>
							</div>
							{% endfor %}
						</div>
					</div>
					{% endif %}
					<div class = "col-12 mt-4 text-center">
						<button class="btn btn-artevenue"
							onclick="addGalleryToCart()" style = "width:100%;">
							<i class="fa fa-shopping-cart"></i>
							<strong>Add To Cart</strong>
						</button>						
						<br /><span style="font-size: 0.75rem;" class = "pull-right">Selected <span id = "no_of_prod"></span> artworks</span>
					</div>
					<div class = "col-12">
						<hr>
					</div>		
					{% if not user.is_authenticated %}
					<div class = "col-12 mt-3 px-3 py-1 text-center">
						<button class = "btn " style = "border: 1px solid #11b6bd; background-color: transparent; width: 100%;">
							<img src="{% static 'img/signup_callout.png' %}" alt="Sign and save 15% on Wall art painting" width=40 onclick = "$('#signup_popup-modal').modal('show');" align="left" style = "margin:auto;">
							<ul style = "list-style: none; margin-left: 15px; margin-top: 0px; margin-bottom:0px;">
								<li class = "align-top" style = "font-size:0.9rem; cursor: pointer; color:#11b6bd;"
									onclick = "$('#signup_popup-modal').modal('show');">
								Tap to Sign Up & Save 15%<br/>
								on total cart value
								</li>
							</ul>
						</button>
					</div>
					<div class = "col-12 text-center py-2">
						<div style = "font-size:0.6rem; line-height: 1;"> Discount coupon gets automatically applied 
							in your cart. Price shown here is before discount.
						</div>
					</div>	
					{% else %}
						{% if v15off %}
						<div class = "col-12 mt-3 py-1 text-center">
							<button class = "btn" style = "border: 1px solid #11b6bd; background-color: transparent; width: 100%;">
								<img src="{% static 'img/signup_callout.png' %}" alt="Save 15% on Gallery Wall" width=40 align="left" style = "margin:auto;">
								<div style = "font-size:0.9rem; color:#11b6bd;">
									You are eligible to get 15% off <br />on total cart value.
								</div>
							</button>
						</div>
						<div class = "col-12 text-center py-2">
							<div style = "font-size:0.6rem; line-height: 1;"> Discount coupon gets automatically applied 
								in your cart. Price shown here is before discount.
							</div>
						</div>	
						{% endif %}							
					{% endif %}
				</div>
			</div>			
		</div>
		<div class="row mb-3">
			<div class = "col-12">
				<hr>
			</div>		
			<div class = "col-12">
				<div id = "item-details" class = "row">
					{% include 'gallerywalls/gallery_wall_detail_items.html' %}
				</div>
			</div>
		</div>
		<div class = "row">
			<hr>
		</div>
		<div class = "row">
			<div class = "col-12">
				<div class = "mt-5">
					ARTE'VENUE ADVANTAGE
					<div class="row">
						<div class = "col-12">
							<span style = "font-size:0.75rem;">(Click or tap each to know more)</span>
						</div>
					</div>
					<hr>
					<div class="row mb-3">
						<div class="col-4 why-artevenue-div" >
							<div onclick = "show_modal('GUARANTEE');" style = "border:1px solid #cfcfcf; border-radius: 8px; padding:5px;">
								<img src="{% static 'img/why_artevenue/guarantee.png' %}"
									alt="100% Guranteed" class = "why_artevenue">
								<div class = "why-artevenue-head">
									Guarantee
								</div>
								<div class = "why-artevenue-text">
									Don't like Quality? Inform us within 5 days and get the full refund.
								</div>
							</div>
						</div>
						<div class="col-4 why-artevenue-div">
							<div onclick = "show_modal('FREE_SHIPPING');" style = "border:1px solid #cfcfcf; border-radius: 8px; padding:5px;">
								<img src="{% static 'img/why_artevenue/truck.png' %}" 
								alt = "Free Shipping of wall art painting" class = "why_artevenue">
								<div class = "why-artevenue-head">
									Free Shipping
								</div>
								<div class = "why-artevenue-text">
									We ship in 1-3 days & courier takes about 4-7 days to deliver in all major cities in India.
									Please Note: The orders
									placed during the sale period it will take 4-5 more days to ship and 
									due to Covid situation in the country delivery may be delayed more than usual
									
								</div>
							</div>
						</div>
						<div class="col-4 why-artevenue-div">
							<div onclick = "show_modal('CUSTOMIZATION');" style = "border:1px solid #cfcfcf; border-radius: 8px; padding:5px;">
								<img src="{% static 'img/why_artevenue/customize.png' %}" 
								alt= "Customize the wall art painting" class = "why_artevenue">
								<div class = "why-artevenue-head">
									Customize it
								</div>
								<div class = "why-artevenue-text">
									Every artwork can be customized - surface, size, frame and more. You can choose your own size.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class = "row mt-3">
			<div class = "col-12">
				ABOUT THIS GALLERY WALL
				<hr>
				<span style = "font-size: 0.8rem;">
				All art prints in this set are produced using the fine art
				printer, bringing out vivid colors, giving 
				you more realistic reproduction.
				Choice of quality frames that have classy finish. 	
				You won't go wrong with this carefully crafted art print.
				</span>
				<div id="accordion" class="accordion mt-5">
					<div class=" mb-0">
						<div class="card-header" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
							<a class="card-title">SPECIFICATIONS</a>
						</div>
						<div id="collapseTwo" class="card-body " data-parent="#accordion">
							<div class = "text-center"><strong> All materials are sourced from the best in the industry. 
							Print quality is top notch. Frame has very good finish, is strong and highly durable.</strong>
							</div>
							<table class = "table table-borderless">
								<tbody>
									<tr>
										<td class="accordian-subhead">FRAME (does not apply to stretched canvas)</td>
										<td class = "comp-frame">
											Made of Polystyrene, which is light weight, strong and durable. It has classy finish.
										</td>
									</tr>
									<tr>
										<td class="accordian-subhead">PAPER (applies to artworks printed on paper)</td>
										<td class = "comp-frame">
											NovaJet Matte Coated Premium Paper 230 (MCP 230). Bright white, smooth finish matte, top-coated with an ink-receptive layer. Ideal for printing fine art reproduction.
										</td>
									</tr>
									<tr>													
										<td class="accordian-subhead">CANVAS (applies to artworks printed on canvas)</td>
										<td class = "comp-frame">
											NovaJet Artistic Matte Canvas 410 (AMC 410). Water-resistant canvas, top-coated with an ink-receptive layer. Ideal for printing fine art reproductions.
										</td>
									</tr>
									<tr>													
										<td class="accordian-subhead">GLASS (applies to artworks printed on paper)</td>
										<td class = "comp-frame">
											Clear Acrylic: Added protection, durability and clear visibility. 
										</td>
									</tr>
									<tr>											
										<td class="accordian-subhead">STRETCHED CANVAS</td>
										<td class = "comp-frame">
											The canvas is stretched over a wooden frame. The frame is not visible from the front and sides.
										</td>
									</tr>
									<tr>													
										<td class="accordian-subhead">COMES WITH HOOKS</td>
										<td class = "comp-frame">
											All artworks come with hooks at the back and is ready to be hung.
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
							<a class="card-title">FREE SHIPPING</a>
						</div>
						<div id="collapseThree" class="card-body collapse" data-parent="#accordion">
							<table class = "table table-borderless">
								<tbody>
									<tr>
										<td class="accordian-subhead"> LOCATIONS</td>
										<td class = "comp-frame">
											Fast and free shipping across India.
										</td>
									</tr>
									<tr>
										<td class="accordian-subhead">SHIPPING TIME</td>
										<td class = "comp-frame">
											Ships by courier in 1-3 days. Usually deliveres in 3-10 days in most parts of India.
											It ususally takes between 4-7 days to deliver in all metro and major cities.<br />
											Please Note: The orders
											placed during the sale period it will take 4-5 more days to ship and 
											due to Covid situation in the country delivery may be delayed more than usual
											
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
							<a class="card-title"> SATISFACTION GUARANTEE</a>
						</div>
						<div id="collapseFour" class="card-body collapse" data-parent="#accordion">
							<table class = "table table-borderless">
								<tbody>
									<tr>
										<td class="accordian-subhead">QUALITY</td>
										<td class = "comp-frame">
											If any artwork has any quality issue, is damaged during 
											delivery or you receive wrong artwork, we replace it with
											with no additional cost to you.
										</td>
									</tr>
									<tr>
										<td class="accordian-subhead"> RETURNS</td>
										<td class = "comp-frame">
											If you are not happy with the quality we accept returns within 5 days and give you refund. No questions asked! You only pay for the return shipment.
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class = "col-12 col-md-1 img-thumbs">
			</div>
		</div>
		<div class = "row mt-2">
			<hr>
		</div>
		{% if gal.gallery.set_of > 1 %}
		<div class = "row mt-5">
			<div class = "col-12">
				<hr>
			</div>		
			<div class = "col-12 text-center">
				<iframe width="360" height="240" src="https://youtube.com/embed/VC5qAHT2In4" frameborder="0" allowfullscreen>
				</iframe>				
			</div>
		</div>
		{% endif %}
		
		{% include 'artevenue/how_to_tips.html' %}

		<div class = "row mt-2">
			<hr>
		</div>

		<div class = "row mt-2">
			<div class = "col-12 col-md-12">
				{% customer_review product.product_id cart_item.cart_item_id wishlist_item.wishlist_item_id iuser_width iuser_height %}
			</div>
		</div>
		<div class = "row mt-2">
			<hr>
		</div>

		{% include 'artevenue/cart-add-message.html' %}
		{% include 'artevenue/message-modal_ok.html' %}
		{% include 'artevenue/signup_modal.html' %}
		
		<div id="stretched-modal" tabindex="-1" role="dialog" aria-labelledby="What is Stretcher" aria-hidden="true" class="modal fade">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title">Stretched Canvas Print</h3>
						<button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
					</div>
					<div class="modal-body">
						<div class="">
							<img src = "{% static 'img/canvas_stretched.jpg' %}" 
								alt = "What is Stretched Canvas"
								style = "display:block; margin-left:auto; margin-right:auto; width:200px;">
							<ul class = "mt-3" style = "font-size:0.75rem;">
								<li>Please check the "Streched" checkbox to get the art 
									printed on canvas and streched on a wooden frame as 
								shown above. </li>
								<li>If not checked, we print art on canvas, roll it and 
								deliver it in a tube.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div id="framed-product-modal" tabindex="-1" role="dialog" aria-labelledby="Strecher" aria-hidden="true" class="modal fade">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title">Framed Product</h3>
						<button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
					</div>
					<div class="modal-body">
						<div class="">
							<img src = "{% static 'img/framed_product.png' %}" 
							alt = "Framed Wall Art Painting"
							style = "display:block; margin-left:auto; margin-right:auto; width:200px;">
						</div>
					</div>
				</div>
			</div>
		</div>


		<div id="added-to-cart-modal" tabindex="-1" role="dialog" aria-labelledby="Added To Cart" aria-hidden="true" class="modal fade">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title">Added to Your Cart</h3>
						<button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-12">
							<p>This gallery wall has been added to your cart.</p>
							</div>
						</div>
						<div class="row ">
							<div class="col-12 text-center">
							<button class = "btn btn-primary"
								onclick="$('#added-to-cart-modal').modal('hide');">
								OK
							</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endblock sitecontent %}
	
	{% block footer-text %}
		<div class = "text-center">
			Our designers have specially curated the gallery wall collage sets for you. These are sure to set your home decor apart.
		</div>
	{% endblock footer-text %}
	
	{% block jscripts %}
	<script>
		$(document).ready(function(){			
			{% for i in gallery_items %}
				getFramedImg ('{{i.product_id}}', '{{i.moulding_id}}', '{{i.mount.color}}', '{{i.mount_size}}', '{{i.image_width}}');
				$('#add-btn_{{i.product_id}}').hide();
			{% endfor %}

			{% for v in gallery_variations %}
				{% if v.is_parent %}
					$("#sizes").val('{{v.id}}');
					get_variation('{{v.id}}');
				{% endif %}				
			{% endfor %}			

			{% if not user.is_authenticated %}			
				{% if user.usename != "livspace" %}
				$('#signupsave').effect("highlight", {}, 3000);
				{% endif %}
			{% endif %}
		});
	</script>

	<script>
		var gallery_price = 0;
	</script>

	<script>
		function getFramedImg (product_id, moulding_id, mount_color, mount_size,img_width) {

			if (!moulding_id || moulding_id == 'None'){
				moulding_id = '0';
			}
			if (!mount_color || mount_color == 'None'){
				mount_color = '';
			}
			if (!mount_size || mount_size == 'None'){
				mount_size = '0';
			}
			
			// Get the framed image
			$.ajax({
					url: "{% url 'get_framed_image' %}", 
					data: {'prod_id':product_id, 'moulding_id': moulding_id,
								'mount_color':mount_color, 'mount_size':mount_size, 'image_width':img_width
						}, 
					dataType: 'text', 
				success: function (data) {
					document.getElementById("img_"+product_id).src = "data:image/png;base64," + data;
					},
				error: function(xhr){
					alert("An error occured: " + xhr.status + " " + xhr.statusText); 
				}
			});
		}
	</script>

	
	<script>
		function changeWallSize(obj){
			var gallery_variation_id = obj.value; 
			get_variation(gallery_variation_id);
		}
		
		function get_variation(gallery_variation_id){
			if (gallery_variation_id == '' || !gallery_variation_id) {
				{% for v in gallery_variations %}
					if ( $("#s-{{v.id}}").hasClass('p_clicked') ){
						gallery_variation_id = '{{v.id}}';
					}
				{% endfor %}
			}
			var gallery_id = {{gal.gallery_id}};
			
			var excl = [];
			var cnt = {{gal.gallery.set_of}};
			{% for i in gallery_items %}
				var unselected = $("#prod-select_{{i.product_id}}").hasClass("fa-ban");
				if (unselected) {
					excl.push("{{i.product_id}}");
					cnt = cnt - 1;
				}
			{% endfor %}
			$("#no_of_prod").html(cnt);			
			
			$.ajax({
					url: "{% url 'get_gallery_variation_and_price' %}", 
					data: {'gallery_variation_id': gallery_variation_id,
							'gallery_id':gallery_id, 'exclude_items': excl
						}, 
					dataType: 'text',
					type: 'POST',
					success: function (data) {
						gal_items = JSON.parse(data);
						set_size(gallery_variation_id);
						items = gal_items['gallery_items'];
						$("#price").html(parseInt(gal_items['gallery_variation_price']).toLocaleString('en-IN', {minimumFractionDigits : 0}));
						for (i = 0; i < items.length; i++) {
							var is_moulding = true;
							var is_mount = true;
							
							var ptext = items[i].print_medium_id;
							if (items[i].stretch_id == '' || !items[i].stretch_id || items[i].stretch_id == 'None'){
								ptext = ptext;
							} else {
								ptext = ptext + ", Stretched";
							}
							
							$("#" + items[i].product_id + "_surface").html(ptext);
							$("#" + items[i].product_id + "_psize").html(items[i].image_width + " X " + items[i].image_height + " inch" );
							if (items[i].moulding__name == '' || !items[i].moulding__name || items[i].moulding__name == 'None'){
								$("#" + items[i].product_id + "_frame").html('None');
								is_moulding = false;
							} else {
								$("#" + items[i].product_id + "_frame").html(items[i].moulding__name);
								is_moulding = true;
							}
							if (items[i].mount__name == '' || !items[i].mount__name || items[i].mount__name == 'None'){
								$("#" + items[i].product_id + "_mount").html('None');
								 is_mount = false;
							} else {
								$("#" + items[i].product_id + "_mount").html(items[i].mount__name + ", " + items[i].mount_size + " inch");
								 is_mount = true;
							}
							
							w = parseFloat(items[i].image_width)
							h = parseFloat(items[i].image_height)
							if (is_moulding){
								w = w + parseFloat(items[i].moulding__width_inner_inches)*2;
								h = h + parseFloat(items[i].moulding__width_inner_inches)*2;
								
								if (is_mount){
									w = w + parseFloat(items[i].mount_size)*2;
									h = h + parseFloat(items[i].mount_size)*2;
								}
							}
							
							$("#" + items[i].product_id + "_fsize").html( String(w) + '" X ' + String(h) + '" inch');
							
						}
					},
				error: function(xhr){
					alert("An error occured: " + xhr.status + " " + xhr.statusText); 
				}
			});
		}			
	</script>
	
	<script>	
		function removeFromGallery(id){			
			$('#prod-select_'+id).removeClass("fa fa-check-circle fa-2x");
			$('#prod-select_'+id).addClass("fa fa-ban fa-2x");
			$('#prod-select_'+id).css('color', 'red');
			
			$('#remove-btn_'+id).hide();
			$('#add-btn_'+id).show();			
			get_variation('');
		}
		function addToGallery(id){
			$('#prod-select_'+id).removeClass("fa fa-ban fa-2x");
			$('#prod-select_'+id).addClass("fa fa-check-circle fa-2x");
			$('#prod-select_'+id).css('color', '#11b6bd');
			
			$('#remove-btn_'+id).show();
			$('#add-btn_'+id).hide();
			get_variation('');
		}
	</script>
	
	<script>
		function set_size(gallery_variation_id){
			{% for g in gallery_variations %}
				if ({{g.id}} == gallery_variation_id) {
					$("#s-"+gallery_variation_id).addClass('p_clicked');
					$("#g-width").html('{{g.wall_area_width}}');
					$("#g-height").html('{{g.wall_area_height}}');
				} else {
					$("#s-{{g.id}}").removeClass('p_clicked');
				}
			{% endfor %}
		}
	</script>
		
	<script>
	function addGalleryToCart(){
		var gallery_variation_id = '';
		{% for v in gallery_variations %}
			if ( $("#s-{{v.id}}").hasClass('p_clicked') ){
				gallery_variation_id = '{{v.id}}';
			}
		{% endfor %}
		var gallery_id = {{gal.gallery_id}};
		
		var excl = [];
		{% for i in gallery_items %}
			var unselected = $("#prod-select_{{i.product_id}}").hasClass("fa-ban");
			if (unselected) {
				excl.push("{{i.product_id}}");
			}
		{% endfor %}
		
		if (parseInt( $("#no_of_prod").html() ) == 0){
			$("#msg").html("No artworks from these gallery selected. Nothing to add to the cart!");
			$("#msg-modal").modal('show');
			return;
		}
		
		$.ajax({
			url: "{% url 'add_gallery_wall_to_cart' %}",
			data: {'gallery_variation_id': gallery_variation_id,
				   'gallery_id':gallery_id, 'exclude_items': excl},
				dataType: 'text',
				type: 'POST',
				success: function (data) {					
					data = JSON.parse(data);
					if (data.msg.toUpperCase() == 'SUCCESS'){
						cart_qty = data.cart_qty;
						//Update items in cart
						$("#itemsincart").html(cart_qty); 
						$("#itemsincart_m").html(cart_qty); 
						$('#cart-msg-modal').modal('show');
					} else {
						alert("Alert, Sorry we seems to encountered a system error! Please let us know using the contact us link in the footer and we will be happy to sort it out.");
					}
				},
			error: function(xhr){
				alert("An error occured: " + xhr.status + " " + xhr.statusText); 
			}
		});
	}
	
	</script>
	<script>
		function show_modal(param){
			switch(param) {
		  case 'FREE_SHIPPING':
			$("#modal-hedline").html('FREE DELIVERY ANYWHERE IN INDIA');
			$("#msg").html('<p>We produce the artwork and ship it within 1-3 days on receipt of an order.</p><p> Ususally courier delivers to most parts of India in 3-10 days.</p><p>It ususally takes between 4-7 days to deliver in all metro and major cities.</p>');
			break;
		  case 'CUSTOMIZATION':
			$("#modal-hedline").html('CUSTOMIZE THE ARTWORK AS YOU LIKE');
			$("#msg").html("<p><strong>A FIRST IN INDIA:</strong> Customize every artwork the way you would like it. You are not bound by those 'standard sizes' & frames, create it exactly as your space needs.</p> <p>Click on the 'CUSTOMIZE' tab and you can choose print size from minimum 8 inch wide to maximum allowed by the artist. Choose the frame and also choose the mount color, size.</p> <p>Before you finalize, see how it looks.</p>");
			break;
		  case 'GUARANTEE':
			$("#modal-hedline").html('YOUR SATISFACTION IS GUARANTEED');	  
			$("#msg").html("<p><strong>RETURNS</strong>: If you are not satisfied with the quality, we accept the returns, no questions asked. You need to ship the products to our address. Returns apply only to art prints. Custom photo framing items, where you upload pictures and we print & frame, and framed original artworks are not eligible for returns.</p> <p><strong>REPLACEMENT:</strong> If you receive the artwork with damages, or having quality issues, we will replace it without any additional cost to you.</p><p><small>You may go through our returns, refund policy in footer of this webpage.</small></p>");
			break;
		  case 'LICENSED':
			$("#modal-hedline").html('LICENSED ARTWORKS');			  
			$("#msg").html("<p><strong>All our artworks are licensed from  artists.</strong></p> <p>We don't use unauthorized images. So quality of print is assured.</p> <p>No copyright issues and you can enjoy the art to the fullest.</p>");
			break;
		  case 'SECURED':
			$("#modal-hedline").html('SECURED CHECKOUT PROCESS');
			$("#msg").html("The checkout process and payments are completely secured. We will not save your payment details. You will receive all the details on your order and payment.");
			break;				
		  case 'QUALITY':
			$("#modal-hedline").html('HIGH QUALITY AT AFFORDABLE PRICES');
			$("#msg").html("<p><strong>QUALITY:</strong> You won't be disapponted. We use professional printer, high quality frames with classy finish and materials used for fine art reproductions. We craft each artwork carefully and with state-of-the-art machines.</p> <p><strong>PRICE:</strong> Our prices are highly competitive for the quality we provide. If you don't like the price you paid, we accept returns without any questions.</p>");
			break;				
		  case 'LARGEST':
			$("#modal-hedline").html('LARGEST COLLECTION');
			$("#msg").html("<p><strong>DID YOU KNOW THAT WE HAVE THE LARGEST COLLECTION OF LICENSED ARTWORKS IN INDIA?</strong></p> <p>Over 2.7 lakh artworks licensed from over 4500 artists across the world.</p> <p>Arte'Venue saves you the pain of looking around for that exact piece of art you want for your home or office interiors.");
			break;
			}
			$('#msg-modal').modal('show');
		}
		
	</script>
		
	{% endblock jscripts %}
	
