{% load static %}
<div id="how-to-customize-gallery" tabindex="-1" role="dialog" aria-labelledby="Wall Color Tool" aria-hidden="true" class="modal fade">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">How To Customize Gallery Wall Set</h3>
				<button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">X</span></button>
			</div>
			<div class="modal-body">
				<div class = "container-fluid">
					<div class = "row">			
						<div class = "col-12 text-center">
							<p><strong>ArteVenue.com offers complete online customization for each gallery wall. 
								A first in India.</strong></p>
						</div>			
						<div class = "col-12">
							<p>We recommed that you go with the print surface, frame and other 
							specfications as given in the gallery wall set. It has been designed
							by our designers. <p/>
							<p>However, for each artwork in the set, you can choose your own size, print surface,
							frame and more. Please read this to know how.</p>
							<p>If you don't want to buy the whole set, you can buy just one or more from the set.</p>
						</div>
					</div>

					<div class = "row">			
						<div class = "col-12 col-md-6 customize-box">
							<div class = "customize-title">					
								Option to Remove Artworks from the Set
							</div>
							<img src = "{% static 'img/how-to/customization/gallerywall/gw_remove_buy.jpg' %}"
								alt = "Option to Remove Artwork from Gallery" class = "img-fluid customize-pic">
						</div>
						<div class = "col-12 col-md-6 customize-box">
							<div class = "customize-title">					
								Choose Size & Add to Cart
							</div>
							<img src = "{% static 'img/how-to/customization/gallerywall/gw_choose_size_addtocart.jpg' %}"
								alt = "Option to Remove Artwork from Gallery" class = "img-fluid customize-pic">
						</div>
						<div class = "col-12 col-md-6 customize-box">
							<div class = "customize-title">
								View Shopping Cart
							</div>
							<img src = "{% static 'img/how-to/customization/gallerywall/gw_viewcart.jpg' %}"
								alt = "Add Gallery Wall to Cart" class = "img-fluid customize-pic">
						</div>
						<div class = "col-12 col-md-6 customize-box">
							<div class = "customize-title">
								Proceed to Edit
							</div>
							<img src = "{% static 'img/how-to/customization/gallerywall/gw_edit_artwork.jpg' %}"
								alt = "Edit Link in Shopping Cart"  class = "img-fluid customize-pic">
						</div>
						<div class = "col-12 col-md-6 customize-box">
							<div class = "customize-title">
								Choose Framed Size or Customize
							</div>
							<img src = "{% static 'img/how-to/customization/gallerywall/gw_choose_framed_customize.jpg' %}"
								alt = "Choose Framed Size or Customze"  class = "img-fluid customize-pic">
						</div>
						<div class = "col-12 col-md-6 customize-box">
							<div class = "customize-title">
								Customize the Artwork
							</div>
							<img src = "{% static 'img/how-to/customization/gallerywall/gw_customize_addtocart.jpg' %}"
								alt = "Choose Mount Color and Size"  class = "img-fluid customize-pic">
						</div>
						<div class = "col-12 col-md-6 customize-box">
							<div class = "customize-title">
								Add Artwork to Cart
							</div>
							<img src = "{% static 'img/how-to/customization/gallerywall/gw_customization_done.jpg' %}"
								alt = "Artwork Customization Done"  class = "img-fluid customize-pic">
						</div>						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>