{% extends 'artevenue/estore_base.html' %}
{% load static %}
	<!-- Only Override the site content block -->
	{% block sitecontent %}
    <div class="showcase block block-border-bottom-grey">
        <div class="container">
            <h2 class="block-title">System Error!!!</h2>
            <div class="box">    
				<div class="panel-heading">
					<h3 class="panel-title">Apologies!</h3>
				</div>
				<p>We seem to be having system error. We would appreciate if let us know by <a href="{% url 'contact_us' %}">writing/calling us</a>.</p>
				<span style="float: right"><a href="{% url 'index' %} "><i class="fa fa-home">Home</i></a></span>
            </div>
        </div>
    </div>

				
	{% endblock sitecontent %}

	
	{% block jscripts %}

	{% endblock jscripts %}