{% extends 'artevenue/estore_base.html' %}
{% load static %}
{% block page-title %} 
	<title>Arte'Venue | Password Change done</title>
	<meta name="description" content="Your password is done at ArteVenue.com">
	<meta name="keywords" content="password change done, artevenue, ">
{% endblock page-title %} 
{% block page-description %}
{% endblock page-description %}
{% block page-keywords %}
{% endblock page-keywords %}

{% block coursel-stylesheet %}
{% endblock coursel-stylesheet %}

{% block coursel-script %}
{% endblock coursel-script %}
{% block front.js %}
{% endblock front.js %}	<!-- Only Override the site content block -->
	{% block sitecontent %}
    <div class="block" style="padding-top: 5%; padding-bottom: 5%; ">
        <div class="container">
        
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="block-title"><h3 class="card-title">Reset your password</h3></div>
                            <p>Check your email for a link to reset your password. If it doesn't appear within a few minutes, check your spam folder.</p>
                            <a href="{% url 'login' %}" class="btn btn-secondary btn-block">Return to log in</a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
     </div>
	{% endblock sitecontent %}
	
	{% block jscripts %}
	{% endblock jscripts %}


