{% extends 'artevenue/estore_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block page-title %} 
	<title>Arte'Venue | Change Your Password </title>
	<meta name="description" content="Change your password for ArteVenue.com. Arte'Venue is India's One-Stop-Wall-Art-Painting-Shop, be it wall painting for bedroom, living room or any home walls.">
	<meta name="keywords" content="Password change, artevenue, ">
{% endblock page-title %} 
{% block page-description %}
{% endblock page-description %}
{% block page-keywords %}
{% endblock page-keywords %}

{% block coursel-stylesheet %}
{% endblock coursel-stylesheet %}

{% block coursel-script %}
{% endblock coursel-script %}
{% block front.js %}
{% endblock front.js %}
	<!-- Only Override the site content block -->
	{% block sitecontent %}

    <div id="all">
		<div id="content">
			<div class="container">
				<div class = "row">
					<div class="col-lg-12">
						<!-- breadcrumb-->
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
								<li aria-current="page" class="breadcrumb-item active">Change Password</li>
							</ol>
						</nav>
					</div>

					<div class="col-lg-9">
						<div class="box">
							<h2>Change Password</h2>
						</div>
						<div class="box info-bar">
							<form method="post" novalidate id = "c_pwd">
								{% csrf_token %}
								{% include 'includes/form.html' %}
								<!--<button type="submit" class="btn btn-success">Change password</button>-->
								<input class="btn btn-lg btn-primary btn-block" type="submit" value="Change">
							</form>

						</div>
					</div>
				</div>
				<!-- /row -->
			</div>

		</div>
	
	</div>

	{% endblock sitecontent %}

	{% block jscripts %}
	<script>
		$("#c_pwd").submit(function(){
			var o_txt = $("#id_old_password").val();		
			var txt = o_txt.replace(/[&<>]/g, '');
			//$("#id_old_password").val(txt);
			if (o_txt != txt){
				alert( "These characters are not allowed: &, <, >");
				return false
			}

			var n1_txt = $("#id_new_password1").val();				
			var txt = n1_txt.replace(/[&<>]/g, '');
			//$("#id_new_password1").val(txt);
			if (n1_txt != txt){
				alert( "These characters are not allowed: &, <, >");
				return false
			}

			var n2_txt = $("#id_new_password2").val();
			var txt = n2_txt.replace(/[&<>]/g, '');
			//$("#id_new_password2").val(txt);
			if (n2_txt != txt){
				alert( "These characters are not allowed: &, <, >");
				return false
			}
		});	
	</script>
	{% endblock jscripts %}



