{% extends 'artevenue/estore_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block page-title %} 
	<title>Artevenue.com Reset Password</title>
{% endblock page-title %} 
{% block page-description %}
<meta name="description" content="Forgot password at artevenue.com">
{% endblock page-description %}
{% block page-keywords %}
<meta name="keywords" content="Artevenue, forgot password">
{% endblock page-keywords %}	<!-- Only Override the site content block -->

	<!-- Only Override the site content block -->
	{% block sitecontent %}

    <div id="all">
		<div id="content">
			<div class="container">
				<div class = "row">
					<div class="col-lg-12">
						<!-- breadcrumb-->
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
								<li aria-current="page" class="breadcrumb-item active">Forgot Password</li>
							</ol>
						</nav>
					</div>

					<div class="col-12">
						<div class="text-center" style = "font-weight:700;">
							<h1>FORGOT PASSWORD</h1>
						</div>
						<div class="box info-bar mt-5">
                            <p>Enter your email address and we will send you a link to reset your password.</p>
                            <form method="post" novalidate id="c_form" onsubmit="return checkAns();">
                                {% csrf_token %}
								<input type="hidden" name="g-recaptcha-response" id='recaptcha'>
                                {% include 'includes/form.html' %}

								<div class="form-row box mt-5 mb-4">
									<div class="col-12 col-md-6">
										<label for="inputEmail4">Please answer this question: 
											<span id="que"></span>
										</label>
									</div>
									<div class="col-6 col-md-2 mt-0 py-0">
										<label for="ans">Your Answer:</label>
										<input class="form-control" id="ans">
									</div>
								</div>
								<!--
								<div class = "form-group row mb-3">
									<div class = "col-6">
										Please answer this simple question: 
										<span id="que"></span>
									</div>
									<div class = "col-4 col-md-2">
										<label for="answer" class="col-form-label-sm">Answer:</label> 
										<input class = "form-control" id="ans" name="answer">
									</div>
								</div>
								-->
                                <button type="submit" class="btn btn-primary btn-block">Send password reset email</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
     </div>
	{% endblock sitecontent %}

	
	
	{% block jscripts %}
        <script>
		ans = 0;
		var txt = '';
		$( document ).ready(function() {
			var n1 = Math.floor((Math.random() * 10) + 1);
			var n2 = Math.floor((Math.random() * 10) + 1);
			txt = n1.toString() + " + " + n2.toString() + " = ?";
			ans = n1 + n2;
			$("#que").html(txt);
		});
        </script>
		<script>
			function checkAns(){
				var val = $("#ans").val();
				var u_ans = parseInt(val);
				if (u_ans != ans){
					alert("Please check your answer!")
					return false;
				}
				return true
			}
		</script>

	{% endblock jscripts %}

