/* Border around all elements on the page */

/*
* { border: 1px solid red !important;
	background-color:lightblue;}
*/

*{
	box-sizing:border-box;
}
body{
	margin:0px;
	padding:0px;
	/*font-family: 'Playfair Display', serif;*/
	font-family: 'Montserrat', sans-serif;
	font-size:14px;
    letter-spacing: 0.75px;	
	font-weight: 400;
	line-height: 1.5;
	color: #383f45;
	background-color: #fff;	
	
}


h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  line-height: 1.2;
  color: #383f45;
  letter-spacing: 0.75px;
	/*font-family: 'Playfair Display', serif;*/
	font-family: 'Montserrat', sans-serif;
}

h1,
.h1 {
  font-size: 1.25rem;
  font-weight:400;
}

h2,
.h2 {
    font-size: 1.1rem !important;
	font-weight:300;
}

h3,
.h3 {
  font-size: 1.0rem;
}

h4,
.h4 {
  font-size: 0.9rem;
}

h5,
.h5 {
  font-size: 0.8rem;
}

h6,
.h6 {
  font-size: 0.7rem;
}



/*
 * 2. BUTTONS
 */
.btn {
  font-weight: 400;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.9rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

@media screen and (prefers-reduced-motion: reduce) {
  .btn {
    -webkit-transition: none;
    transition: none;
  }
}

.btn:focus, .btn.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(79, 191, 168, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(79, 191, 168, 0.25);
}

.btn.disabled, .btn:disabled {
  opacity: 0.65;
}

.btn:not(:disabled):not(.disabled):active, .btn:not(:disabled):not(.disabled).active {
  background-image: none;
}

.btn-link{
	color:#444444;
}

.btn-link:hover {
  color: #348e7b;
  text-decoration: underline;
}

.btn-link:focus, .btn-link.focus {
  text-decoration: underline;
}

.btn-link:disabled, .btn-link.disabled {
  color: #6c757d;
}

.btn-primary {
  color: #fff !important;
  /*#212529; */
  /* background-color: #007bff; */
  background-color:#000;
  border-color: #fff;
  /*#007bff !important;*/
}

.btn-primary:hover {
  color: #ffffff;
  background-color: darkgrey !important;
  /* #3eaa94; */
  border-color: #ffffff !important;
  /* #3aa18c; */
}

.btn-primary:focus, .btn-primary.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(79, 191, 168, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(79, 191, 168, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #212529;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #3aa18c;
  border-color: #379783;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(79, 191, 168, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(79, 191, 168, 0.5);
}

.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
}

.btn-secondary:focus, .btn-secondary.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.btn-secondary.disabled, .btn-secondary:disabled {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #545b62;
  border-color: #4e555b;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}



.btn-lg {
  padding: 0.5rem 1rem;
  font-size: 1.125rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.738rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

a {
  text-decoration: none;
  color: #11b6bd;
}


a:hover, a:focus  {
    color: #000;    
    text-decoration: underline;
}





.menu-large {
    position: static!important;
}

@media (min-width: 992px) {
  .navbar .dropdown:hover .dropdown-menu {
  display: block;
  }
}

.navbar .megamenu {
    padding: 30px!important;
    -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    background-color: #f0f0f0;
}

.menu-large .megamenu {
    padding: 20px;
    width: 75%;
    max-width: 1140px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-top: -1px;
}

.dropdown-menu {
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: .9rem;
    color: #212529;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    left: 80%;
}

@media (max-width: 768px) {
	.dropdown-menu {
	  min-width: 10rem;
	  max-width: 400px;
	  padding: 0.5rem 0;
	  margin: 0.125rem 0 0;
	  font-size: 0.9rem;
	  color: #212529;
	  background-color: #fff;
	  border: 1px solid rgba(0, 0, 0, 0.15);
	  border-radius: 0.25rem;
	  top: 15%;
	  left:0%;
	}
}

.menu-large .textmenu {
    top: 80%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-top: -1px;
    padding: 30px!important;
    -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    background-color: #f0f0f0;
}


@media screen and (min-width: 0px) and (max-width: 768px) {
	.menu-large .textmenu {width: 25%; }
}
@media screen and (min-width: 769px){
	.menu-large .textmenu { width: 20%; }
}

@media screen and (min-width: 0px) and (max-width: 768px) {
	.menu-large .megamenu{ width: 100%; }
}

@media (max-width: 991.98px) {
  .navbar .megamenu {
    padding: 15px !important;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

@media (max-width: 991.98px) {
  .navbar .dropdown-menu {
    position: relative !important;
    border: none;
  }
}



a, button, img {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.header{	
	display:table;
	width:100%;	
	background-color:#fff;
/*	z-index:1; */
	position:relative;
}


.navbar-light .navbar-nav .nav-link {
    color: #252525;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    padding-right: 1rem;
    padding-left: 1rem;
}

.search_form {
	position:relative;
}

.search_form .form-control {
    border-radius: 0px;
    height: 40px;
    font-size: 13px;
    color: #696868;
    padding: 10px 50px 10px 10px;
	border-color: #cccccc;
}
.search_form button.btn.btn-outline-success {
    position: absolute;
    border: 0px;
    right: 0;
    top: 0;
    border-radius: 40px;
    height: 40px;
    width: 50px;
}

.search_form button.btn.btn-outline-success:hover, .search_form button.btn.btn-outline-success:focus{
	background-color:transparent;
	border-color:transparent;
	box-shadow:none;
}
.btn-outline-success:not(:disabled):not(.disabled).active:focus, .btn-outline-success:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-success.dropdown-toggle:focus{
	box-shadow:none;
}

.form-control{
	box-shadow:none;
}

.form-control:hover, .form-control:focus{
	box-shadow:none;
	outline:none;
	border-color:#cccccc;
}
.bg-light {
    background-color: #fff!important;
}


.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #ff9900;
}

.dropdown-menu{
	border: 1px solid rgba(0, 0, 0, 0.07);
	border-radius: 0rem;
	margin:0px;
	padding: .6rem 1rem;
	font-size: 15px;
    font-weight: 400;
	letter-spacing: .6px;
}

@media screen and (min-width: 769px) {
	.dropdown-menu{
		top: 50%;
	}
}


.dropdown-item:focus, .dropdown-item:hover {
	background-color: #11b6bd;
    color: #fff;
}


a.cart_top {
    padding-left: 18px;
    display: block;
    position: relative;
    padding-right: 10px;
}
a.cart_top span {
    background-color: #ff9900;
    color: #fff;
    padding: 2px 7px;
    border-radius: 30px;
    font-size: 11px;
    position: absolute;
    right: -2px;
    top: -9px;
}

.slick-slide img{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.slick-prev::before, .slick-next::before {
    color: #000;
}

.slick-prev, .slick-next {
	top: 50%;
}

.slick-prev::before {
    font-family: FontAwesome;
    content: "\f0d9";
    font-size: 22px;
}
  
.slick-next::before {
    font-family: FontAwesome;
    content:  "\f0da";
    font-size: 22px;        
} 

.slick-slide {
    width: 80%;
}

.prev {
    position: absolute;
    top: 38%;
    transform: translateY(-38%);
	left:-10px;
	cursor:pointer;
}

.next {
    position: absolute;
    top: 38%;
    transform: translateY(-38%);
	right:-10px;
	cursor:pointer;
}

.container{
	position:relative;
}

#footer {
    padding: 2% 4.6% 10px;
}
#footer p.about-us,#footer li,
#footer ul li a, #footer ul li i,
#footer ul li .btn{
    color:#c7ced6;
    line-height: 1.9em;
    font-weight: 600;
    font-size: 13px !important;
    list-style: none;
}
.footer-heading{
   letter-spacing: 2px;
   font-size:0.75rem;
}

#footer a{
    text-decoration: none;
}
#footer li i.fa {
    margin: 0 0px;
}
.newsletter{
    border: 3px solid #777;
    padding: 15px 15px 0px;
}

.newsletter .btn{
    text-transform: uppercase;
    font-weight: 600;
}

.footer-heading, .newsletter h5{
letter-spacing: 3px;
}
.footer{
	width:100%;
	display:block;
	padding-top:60px;
	padding-bottom:30px;
	background-color:#010a1d;
}
.footer-content img {
    margin-bottom: 30px;
}
.footer-content p {
	font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    max-width: 300px;
	width:100%;
    letter-spacing: .6px;
}

.footer-copyright {
    width: 100%;
    display: block;
    background-color: #000716;
    padding: 18px 10px;
}

.footer-copyright p {
    color: #fff;
    margin-bottom: 0px;
    font-family: 'Lato', sans-serif;
    letter-spacing: .6px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
}

.footer-copyright p a {
    color: #ff9900;
	font-weight: 600;
	text-decoration:none;
}

.footer-content {
    display: table;
    margin-bottom: 30px;
}


free_shipping {
    background-color: #fafafa;
    padding: 50px 30px;
}

.details {
    padding: 3% 0% 6% 34%;
}

.details .shipping_heading {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.7px;
    margin: 0;
}

.sign_up_form {
    margin-top: 5em;
}

.sign_up_form .sign_up {
    padding: 13% 8% 15% 9%;
}








#top #phone-help .modal-header {
  background: darkgrey;
  //#4fbfa8;
}

top #phone-help .modal-header h5 {
  color: #fff;
}

#top #phone-help a {
  color: #4fbfa8;
}

#top #phone-help p {
  font-weight: 300;
  margin-bottom: 20px;
}

.img-container-cat {
	width:100px !important;
    height: 100px;
    object-fit: cover;	
	/*border-radius:50%;*/
	display: block;
	margin-left: auto;
	margin-right: auto;	
}

.img-category{
	width:150px;
    height: 150px;
    object-fit: cover;	
	border-radius:50%;
}

.img-all-categories{
	width:100%;
    height: auto;
    object-fit: cover;	
}

	
.img-container-frames-section{
	width:100%;
    height: 15vw;
    object-fit: contain;	
}	

#prod-img, #disp-img {
	width:100%;
	max-height:500px;
    /*height: auto;*/
    object-fit: contain;
	/*margin: 10px 0px 10px;*/
	text-align: center;
	font-family: arial;
	object-fit:contain;
	/*box-shadow: 5px 6px 6px 0 #d3d3d3;*/
	margin-left:auto;
	margin-right:auto;
	
}


/********* Image Zoom **************/

/* * {box-sizing: border-box;} */

.img-zoom-container {
  position: relative;
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 40px;
  height: 40px;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 300px;
  height: 300px;
}
/********* End - Image Zoom **************/

#show {
	width: 240px;
	height: 338px;
	overflow: hidden;	
	position: relative;
	left: 0;
}
#show_mark {
	position: absolute;	
	top: 0;
	left: 0;	
	width: 200px;
	height: 100px;	
	background-color: #000;	
	opacity: .5;
	filter: alpha(opacity=50);
	cursor: crosshair;
	border: 1px solid #999;
	display: none;
}
#zoom {
	position: absolute;
	left: 250px;
	top: 0;
	z-index: 3;
	width: 400px;
	height: 400px;
	display: none;	
	overflow: hidden;
	border: 1px solid #eee;
}
#zoom img {
	position: absolute;
	left: 0;
	top: 0;
}

.img-magnifier-glass{
	z-index: 99;
}

.text-white{
	color:#fff;
}


.p_size {
	border : 1px solid #e6e6e6;
	padding:3px;
	cursor:pointer;
	margin-right: 10px;
	margin-bottom:10px;
}

.p_clicked {
	background-color: #11b6bd;
	color: #fff;
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);	
}


#prod-name{
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
    color: #0d0405;	
}

#frame-name{
	margin-bottom:15px;
}
 
.mount {
	border: 2px solid gainsboro;
	border-radius:10%;
	width : 30px;
	height : 30px;
	margin : 0 10px;
}

#artist {
    font-weight: normal;
    line-height: normal;
    color: #3870a5;
    font-weight: 500;
    line-height: 18px;
	margin-bottom:15px;
}

.ui-slider .ui-slider-handle {
    height: 3px;
	padding:5px;
}

.thumb-img {
    border: 3px solid transparent;
    border-image:url(../img/frame/frame1.png) 10% repeat;
    /*border-image:url(../img/frame/frame1.png);*/
}

@keyframes load {
100% {
    opacity: 0;
    transform: scale(1);
}
}
@keyframes load {
100% {
    opacity: 0;
    transform: scale(1);
}
}

/* END -> Loader modal */
/********************************************************/



/********************************************************/
/* Magnifier CSS */
/********************************************************/
.img-magnifier-container {
  position: relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 5%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 150px;
  height: 150px;
}



.box-cat {
  background: #fff;
  margin: 0 0 15px;
  border-bottom: solid 1px #e6e6e6;
  border-top: solid 1px #e6e6e6;
  padding: 10px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}


.img-background {
    width: 100%;
    height: 250px;
    margin: 0 auto;
    display: block;
    position: relative;
    overflow: hidden;
    background-color: #f3f3f3;
    background-clip: content-box;
    border: none;
}	


.img-container{
	/*width: 33.33333%;*/
	/*height: 15vh;*/
	/*box-shadow:0 3px 5px rgba(0, 0, 0, 0.75);*/
	padding:10px;
	background-color: #f4f4f4;
	width:150px;
	height:150px;
	margin-left: auto;
	margin-right: auto;
}	


@media (min-width: 736px) {
	.img-container{
		width:100%;
		height: 15vw;
		object-fit: cover;	
		/*background-color: #f4f4f4;*/
		/* box-shadow:0 3px 5px rgba(0, 0, 0, 0.75); */
		padding:10px;
		text-align:center;
	}
	.img-container-gallery{
		width:100%;
		height: 20vw;
		object-fit: cover;	
		/*background-color: #f4f4f4;*/
		/* box-shadow:0 3px 5px rgba(0, 0, 0, 0.75); */
		padding:10px;
		text-align:center;
	}
	
}	

.img-container-coll{
	padding:10px;
	background-color: #fff;
}	

@media (min-width: 736px) {
	.img-container-coll{
		width:100%;
		height: 8vw;
		object-fit: cover;	
		padding:10px;
		text-align:center;
	}	
}	


.image-display {
	width:17vw; 
	height:13vw;
	object-fit:scale-down;
}

.image-display-gallery {
	width:22vw; 
	height:17vw;
	object-fit:scale-down;
}


.image-display-coll {
	width:17vw; 
	height:8vw;
	object-fit:scale-down;
}


@media (max-width: 768px) {
	.image-display {
		width:100%; 
		height:100%;
		display: block;
		margin-left: auto;
		margin-right: auto;		
	}
}

@media (max-width: 768px) {
	.image-display-coll {
		width:100%; 
		height:100%;
		display: block;
		margin-left: auto;
		margin-right: auto;		
	}
}


.gallary-img {
	width:100%; 
	height: 15vw; 
	margin: 0 auto; 
	display: block; 
	position: relative; 
	overflow: hidden; 
	background-color: Gainsboro; 
	background-clip: content-box;
	border: none;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}
/*END:  Product Card CSS */


@media only screen and (min-width: 600px) {
	.frame-image {
	  margin: 10px 20px !important; 
	}
}


@media only screen and (min-width: 600px) {
	.similar-image {
	  margin: 10px 20px !important; 
	}
}


.similar-image {  
  /*width: 120px;*/
  height:auto;
  text-align: center;
  font-family: arial;
  object-fit:contain;
  display: block;
  margin-left: auto;
  margin-right: auto;	
  
}
	
.similar-image:hover {
  background-color: #dfdfdf;
}	


.ord-row {
	color: #999;
}

.box-addr {	
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.box-addr-headr{
	width:100%
	background-color: rgba(0, 0, 0, 0.1);
	padding:10px;

}



/***********   Editable search *****************/
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
/*   END:         Editable search *****************/

#login-modal a{
	color: #555 !important;
}

#cart td {
	font-size: 0.75rem;
	padding:2px;
}
#cart th {
	padding:2px;
}

.auth-provider-button {
    background-color: white;
    border: 1px solid gray;
}
.hover-on:hover {
    box-shadow: 7px 12px 13px rgba(0, 0, 0, 0.1);
}


.navbar-nav li > a:not(.btn) {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 0px 10px 0px;
  font-size: 14px;
  font-weight: 500;
  color: #082a4c;
  letter-spacing: 0.1rem;
} 

#all{
	padding: 0 0rem;
}

.quote-leftbar {
	color: #000 !important;
	background-color: #fdf5e6 !important;
	border-left: 6px solid #ccc !important;
	font-size: 1rem !important;
	font-family: serif;
	padding : 20px;
}


.trending-cat a {
	color: #000 !important;
}


.img-in-menu {
	width:100px !important;
    height: 100px;
    object-fit: cover;	
	display: block;
	margin-left: auto;
	margin-right: auto;	
	padding: 7px;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
	.img-in-menu{ padding: 0px; }
}


.img-responsive.mobile {
  display: none;
}

@media only screen and (max-width: 480px) {
  .img-responsive {
    display: none;
  }
  .img-responsive.mobile {
    display: block;
  }
}

.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  border:1px solid lightgrey;
}

.grecaptcha-badge { visibility: hidden; }


.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.px-bottom {
	border-bottom: 4px solid #cfcfcf; 
}

#wrapper {
  width: 100%;
  position: relative;
}

#wrapper img {
  max-width: 100%;
}


.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}



section .section-title {
    text-align: center;
    color: #252525;
    margin-bottom: 20px;
}

#tabs{
	background: #fff;
    color: #252525;
}
#tabs h6.section-title{
    color: #252525;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #f3f3f3;
    background-color: transparent;
    #border-color: transparent transparent #f3f3f3;
    #border-bottom: 4px solid !important;
    font-size: 14px;
    font-weight: bold;
}
#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #fff;
    font-size: 16px;
}


.curatedHeading1 {
	font-family: 'Lato', sans-serif;
	font-weight:500;
	margin: 0 auto;
    font-size: 0.85rem;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
	text-align:center;
	background-color: #fafafa;
	padding: 10px 5px 5px;
	letter-spacing: 0px;
	color: #212529;
}

@media only screen and (max-width: 480px) {
	.curatedHeading1 {
		font-size: 0.7rem;
	}
}
@media only screen and (max-width: 480px) {
	.curatedHeading2 {
		font-size: 0.65rem;
	}
}



.curatedHeading1-1{
    letter-spacing: 7px;	
}

.curted_pic a{
	color: #665d6f;
	text-decoration:none;
}

.curatedHeading2 {
	color: #5d5566; 
	/*font-family: 'Felipa', cursive !important;*/
	font-family: 'Lato', sans-serif;
	font-size:0.75rem;
	text-align:center;
	background-color: #fafafa;
	padding: 0 5px 5px;
	margin-bottom:0px;
}

.curatedHeading2-1{
	letter-spacing:5px;
}	


.result-btn{
	border: none;
	font-size: 0.65rem;
	color: #212529;
	background-color:transparent;
	cursor: pointer;
	padding:0px;
	margin-bottom: 0.5rem;
	font-family: inherit;
	font-weight: 400;
	line-height: 1.2;
}

.result-btn:hover{
	text-decoration:underline;
}

.sign-up-left-box {	
	background-color:#11b6bd;
	color: #fff; 
	/*#303030;*/
}


.sign-up-left-text {	
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.sign-up-right {	
	padding:25px;
}

.sign-up-box{
	margin-top:50px;
	border: 1px solid #e6e6e6;
}


.frame_num{
	margin: auto;
	width: 50%;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	display: flex;
	flex: 44px 0 0;
	justify-content: center;
	background-color: #11b6bd;
	color: #fff;
	font-family: "DomaineDisplay",Georgia,"Times New Roman",Times,serif;
	font-size: 2em;	
}
.frame_text{
	padding-top:25px;
	color: #665d6f;
	margin-top:25px;
}

.offer_num{
	width: 50%;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	display: flex;
	flex: 44px 0 0;
	justify-content: center;
	background-color: #11b6bd;
	color: #fff;
	font-family: "DomaineDisplay",Georgia,"Times New Roman",Times,serif;
	font-size: 2em;	
}
.offer_text{
	margin: auto;
	color: #665d6f;
	font-weight: 700;
	font-size: 1.2rem;
	text-align: left !important;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
	.show_on_large_only{ display: none !important; }   /* hide it on small screens */
}

@media screen and (min-width: 769px) {
	.show_on_large_only{ display: inline !important; }  /* show it on large screen */
}	

@media screen and (min-width: 0px) and (max-width: 768px) {
	.show_on_small_only{ display: inline !important; }   /* show it on small screens */
}

@media screen and (min-width: 769px) {
	.show_on_small_only{ display: none !important; }  /* hide it on large screen */
}

.curated-container {
  position: relative;
  width: 100%;
  /*height:100%;*/
}

.curated-container img {
  width: 100%;
  height:100%;
  object-fit:fill;
}

.curated-container .btn{
  font-size: 0.75rem !important;
  font-weight:700;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #11b6bd;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  text-align: center;
  border-radius: 0px;
}
.curated-container a {
  font-size: 0.65rem !important;
  font-weight:700;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #11b6bd;
  color: white;
  font-size: 14px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-align: center;
  border-radius: 0px;
}
.curated-container .btn:hover {
  background-color: black;
}


@media screen and (min-width: 0px) and (max-width: 600px) {
	.small_text_on_mobiles{ 
	font-family:Cormorant Garamond; 
	font-weight:500; 
	font-size: 0.45rem; }   /* hide it on small screens */
}

@media screen and (min-width: 601px) {
	.small_text_on_mobiles{ 
	font-family:Cormorant Garamond; 
	font-weight:500; 
	font-size: 0.85rem; }  /* show it on large screen */
}

.ajax-modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url(../img/ajax-loading.gif)
                50% 50% 
                no-repeat;
}

body.loading .ajax-modal {
    overflow: hidden;   
}

body.loading .ajax-modal {
    display: block;
}


.arist-name {
	margin-top: 10px;
    position: relative;
    margin-bottom: 20px;
    text-shadow: 3px 3px 3px gainsboro;
	font-size:1.5rem;
	text-decoration: underline;
	text-decoration-color: #11b6bd;	
}

.pg_border{
	border:1px solid #11b6bd;
	border-radius:10px;
}

.artist-section {
	color:#11b6bd;
}

.artist-section:after {
	width: 90%;
    height: 1px;
    background: #11b6bd;
    content: '';
    display: block;
    position: absolute;
}

.artist-gallary {
	margin-top: 10px;
    position: relative;
    margin-bottom: 20px;
    text-shadow: 3px 3px 3px gainsboro;
}

.img-artist{
	width:200px;
	height:200px;
	float:left;
	margin-right:15px;
	border-radius:5%;
}

.artist-item {
    position:relative;
    padding-top:20px;
    display:inline-block;
}
.art-type{
    position: absolute;
    right:-20px;
    top:10px;
    background: #6c757d;
	color: #fff;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    padding:5px 10px;
    font-size:0.55rem;
}

.art-type-cate{
    position: absolute;
    right:15px;
    top:10px;
    background: transparent;
	border: 1px solid #000;
	color: #000;
    text-align: center;
    border-radius: 20px;
    padding:5px 10px;
    font-size:0.55rem;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
	div.sticky {
		position: fixed;
		padding:10px;
		margin:0;
		left:0;
		bottom: 0;
		width: 100%;  
		z-index: 999;
		flex-wrap: nowrap;
		background-color: #efefef;
		border-top: 1px solid #dedddf;
		box-shadow: 0 0 5px rgba(0,0,0,.35);
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: row;
		flex-direction: row;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
}

@media screen and (min-width: 769px) {
	div.sticky {
		padding:10px 0 !important;

	}
}


div.apply_f {
	padding:0 10px 10px !important;
	border-bottom: 1px solid #dedddf;
}



/*  Nav Tabs */
.nav{
	flex-wrap:nowrap !important;
}

nav > .nav.nav-tabs{

	border: none;
    color:#fff;
    background:#272e38;
    border-radius:0;

}
nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active
{
	border: none;
    padding: 3px 25px;
    color:#fff;
    background:#272e38;
    border-radius:0;
}

div a.nav-item.nav-link.active{
    background:#11b6bd !important;
    border-radius:0;
}	

nav > div a.nav-item.nav-link.active:after
 {
	content: "";
	position: relative;
	bottom: -41px;
	left: -10%;
	border: 15px solid transparent;
	border-top-color: #11b6bd ;
}
.tab-content{
	background: #fdfdfd;
    line-height: 25px;
    border: 1px solid #ddd;
    border-top:5px solid #11b6bd;
    border-bottom:5px solid #11b6bd;
    padding:30px 25px;
}

nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus
{
  border: none;
    background: #11b6bd;
    color:#fff;
    border-radius:0;
    transition:background 0.20s linear;
}

/** END : Tabs on Product Page **/

.error_text{
	width: 100%;
	margin-top: 0.25rem;
	font-size: 80%;	
	color: #dc3545;
}

.comp-frame {
	font-size: 0.7rem;
}

#signupsave button {
  #background-color: #11b6bd !important;
  #color: #fff !important;
  text-decoration:underline !important;
  font-size: 0.9rem !important;
  padding:3px 10px !important;
}

.accordian-subhead {
	font-size: 0.75rem; 
	font-weight: 400;
}

.artevenue_offers {
	border:1px solid #f3f3f3;
	width: 75px;
	display:block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:15px;
}

.artevenue_offers:hover {
	border: 2px solid #11b6bd;
}


.why_artevenue {
	width: 30px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.why-artevenue-div{
	padding:15px;
}
.why_artevenue:hover {
	border: 2px solid #11b6bd;
}

.why-artevenue-head{
	font-weight: 500;
	font-size: 0.75rem;
	color: #1e4f59;
	text-align:center;
}

.why-artevenue-text{
	font-size: 0.6rem;
	text-align:center;
}


.btn-why-artevenue {
	font-size: 0.75rem !important;
	color: #666 !important;
}

.btn-why-artevenue:after {
    font-family: 'FontAwesome';  
    content: " \f054";
	white-space: pre;
    float: right; 	
}

.btn-artevenue {
  color: #fff !important;
  background-color: #11b6bd;
  border-color: #fff;
  border-radius: 0px !important;
}

.btn-artevenue:hover {
  color: #ffffff;
  background-color: 000 !important;
  border-color: #ffffff !important;
}

.btn-artevenue:focus, .btn-artevenue.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(79, 191, 168, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(79, 191, 168, 0.5);
}

.btn-btn-artevenue.disabled, .btn-btn-artevenue:disabled {
  color: #212529;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-artevenue:not(:disabled):not(.disabled):active, .btn-artevenue:not(:disabled):not(.disabled).active,
.show > .btn-artevenue.dropdown-toggle {
  color: #fff;
  background-color: #3aa18c;
  border-color: #379783;
}

.btn-artevenue:not(:disabled):not(.disabled):active:focus, .btn-artevenue:not(:disabled):not(.disabled).active:focus,
.show > .btn-artevenue.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(79, 191, 168, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(79, 191, 168, 0.5);
}

.card-thumb {
  width: 75px;
  margin:10px;
  margin-left: auto;
  margin-right: auto;
  object-fit: scale-down;
}

.card-thumb:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.card-img {
	/*max-height: 290px !important;*/
	margin-left: auto;
	margin-right: auto;
	width: 80%;	
}

.customer-review{
	margin-bottom: 1rem;
}

.customer-review a {
	color: #11b6bd !important;
	text-decoration: underline;
}

.customer-rating-summary {
	align-items: center;
	display: flex;
	flex-direction: row;
	-ms-flex-pack: center;
}

.customer-rating{
	display: flex;
	justify-content: left;
	align-items: center;
}	

@media screen and (min-width: 0px) and (max-width: 768px) {
	.rating{
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: 15px;
		background-color:#FFE27D;
		font-weight: 500;
		color: #082a4c;
		height: 35px;
		width: 35px;
		border-radius: 50%;
		padding: 5px;
		font-size: 13px;
	}	
}
@media screen and (min-width: 768px) {
	.rating{
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: 15px;
		background-color:#FFE27D;
		font-weight: 500;
		color: #082a4c;
		height: 50px;
		width: 50px;
		border-radius: 50%;
		padding: 5px;
		font-size:15px;
	}		
}

.rating-stars {
	height: 25px;
}

.rating-stars-small {
	height: 15px;
	padding: 0px;
}

.rating-stars-review{	
	height: 15px;
}

.review-footer{
	padding-left: 15px;
	font-size:0.75rem;
}

.review-star{
	margin-right: 5px;
	font-size:20px;
	cursor: pointer;
	color: #ffca18;
}

#all_reviews ul li {
	display: inline;
	padding: 1px 0px 5px;
	display:inline;
}
#all_reviews ul li:hover {
	border: 1px solid #ddd;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
}

#all_reviews .selected_star {
	border: 1px solid #11b6bd;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
}

#all_reviews .btn{
	padding: 0px;
}

.image-display-review {
	width:8vw; 
	height:5vw;
	object-fit:scale-down;
}

.photos-div {
	margin-top:15px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.upload-arrow{
	width: 100px;
	margin-left: auto;
	margin-right: auto;
}

#upload-pics i{
	color: #aaa;
	cursor: pointer;
}

#upload-pics form{
	border: 1px solid #ccc;
	color: #aaa;
	padding:0px;
	height: 150px;
}

.user-photo{
	max-width: 125px;
	max-height: 125px;
	border-radius: 10%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.customer-review form{
	padding:0px;
	color: #11b6bd;
	display: inline;
	font-size: 0.65rem;
}
.customer-review .btn-link{
	padding:0px;
	color: #11b6bd !important;
	display: inline;
	font-size: 0.60rem;
}

.review-footer .btn-link{
	padding:0px;
	color: #11b6bd;
	display: inline;
	font-size: 0.75rem;
}

.announcement {
	color: #FFFFFF !important;
	background-color: #11b6bd;
	font-weight: 600;
	text-align:center;
	font-size: 1rem;
}

.artprint-set{
	font-size: 0.85rem;
	color: #fff !important;
	background-color: #11b6bd;
	font-weight: 500;
	text-decoration: underline;
	padding: 5px;
	border-radius: 0.25rem;
}


.color_tool{
	border: 2px solid #ddd;
	border-radius:50%;
	width : 30px;
	height : 30px;
	display: block;
}

#colors_div{
	border-top: 2px solid #ddd;
	border-bottom: 2px solid #ddd;
}

.how-customize{
	padding: 10px;
	border: 1px solid #ddd;	
	font-size:0.8rem;	
}

.customize-pic{
	padding-top: 3px;
	width: 100%;
}

.customize-title{
	text-transform: capitalize;	
	font-size: 0.9rem;
	font-weight: 700;
	text-align: center;
	background-color: #11b6bd;
	color: #fff;
}

.customize-box{
	border: 1px solid #ddd;	
	padding: 15px;
}


.ajax-modal-wall-tool {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url(../img/ajax-loading.gif)
                50% 50% 
                no-repeat;
}

#wall-color-tool.loading .ajax-modal-wall-tool {
    overflow: hidden;   
    display: block;
}


blockquote {
  border: none;
  padding: 0;
  margin: 1em 0 0 0;
  position: relative;
  background: url(../img/bg_blockquote.png) left top no-repeat;
}
blockquote:before,
blockquote:after {
  content: " ";
  display: table;
}
blockquote:after {
  clear: both;
}
blockquote p {
  padding: 0 1em 1em 50px;
  text-align: center;
  font-size: 14px !important;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  line-height: 1.55;
}

blockquote .big {
  text-align: center;
  font-size: 16px !important;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  line-height: 1.55;
}


blockquote img {
  position: absolute;
  bottom: 0;
  left: 50px;
  max-width: 120px;
}
blockquote small {
  display: block;
  padding: 10px;
  padding-left: 160px;
  background: #6b7175;
  color: #d0d3d4;
}
blockquote small:before {
  content: ' ';
}
blockquote small strong,
blockquote small .spacer {
  color: #ffffff;
  font-size: 15px;
}
blockquote small a {
  color: #d0d3d4;
}
blockquote small a:hover {
  color: #d0d3d4;
}
blockquote.right {
  background: url(../img/bg_blockquote-flipped.png) right top no-repeat;
}
blockquote.right p {
  padding: 0 160px 1em 1em;
}
blockquote.right img {
  left: auto;
  right: 50px;
}
blockquote.right small {
  padding-right: 180px;
  text-align: right;
  padding-left: 0;
}

#tnc_list ol li{
	margin-bottom: 1rem;
}

.custom-framing-box {
	text-align: center;
}

.custom-framing-box:hover {
    -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
}

#framing-card .card-title {
	font-size: 1.5rem;
}

#framing-card .card-text {
	font-size: 1rem;
}

.modal-close{
	position: absolute;
	top: 0%;
	left: 100%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	background-color: #fff;
	color: #000;
	font-size: 14px;
	border-radius: 50%;
	cursor: pointer;
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#signup-ask-modal .modal-body{
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.tooltip.primary .tooltip-inner{
	background-color: #337ab7; 
}	


.spciality-art-img{
	border-radius: 3%;
}


.wanav {
  height: 40px;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 87%;
  left: 35px;
  overflow-x: hidden;
  transition: 0.5s;
  vertical-align: middle;
}



@media screen and (max-height: 450px) {
  .wanav {padding-top: 15px; left: 15%;}
  .wanav a {font-size: 18px;}
}

.staffpg-card {
	border: 2px solid #cfcfcf;
	border-radius: 5px;
	padding: 0px;	
}

.staffpg-card .stitle{
	font-weight: 700;
	background-color: #11b6bd;
	color: #fff;
	text-transform: uppercase;
	padding: 15px;
}

.staffpg-card .nav-link{
	color: #000;
	padding: 8px;
}
.staffpg-card .nav-link:after{
    font-family: 'FontAwesome';  
    content: "\f0da";

}


/* Style the header */
.sticky-header {
	padding: 0px 16px;
	margin-top:0px !important; 
}

/* Page content */
.sticky-content {
  padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.l-sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky-header + .content {
  padding-top: 20px;
}

#scrollBtn {
  display: none;
  position: fixed;
  bottom: 85px;
  right: 10px;
  z-index: 99;
  font-size: 1rem;
  outline: none;
  border: 1px solid #ddd;
  background-color: transparent;
  color: red;
  cursor: pointer;
  padding: 0px;
  border-radius: 4px;
}

#scrollBtn:hover {
  background-color: #555;
}


.chip {
	color: #11b6bd;
	cursor: pointer; 
	margin-left: 0.5rem;
	display: inline-block;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: #f1f1f1;
}


.frame-display{
	margin-right: auto;
	margin-left: auto;
	
}

@media screen and (min-width: 0px) and (max-width: 768px) {
	.frame-display {
		width: 80%;
	}
}
@media screen and (min-width: 769px) {
	.frame-display {
		width: 275px;
	}
}


/* Float four columns side by side */
.card-column {
  float: left;
  width: 100%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.card-row {margin: 0 -5px;}

/* Clear floats after the columns */
.card-row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .card-column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #fefefe;
}


/* Flash - Announcement */
#flash-announcement {
	margin: auto;
	overflow: inherit;
    position: relative; display:inline-block;
	animation: 5s ease 3s normal none 2 running animateHeartBeat;
}

@keyframes animateHeartBeat {
	0% {
		transform: scale(1);
	}
	5% {
		transform: scale(1.4);
	}
	10% {
		transform: scale(1.3);
	}
	15% {
		transform: scale(2);
	}
	50% {
		transform: scale(1);
	}
	100% {
		transform: scale(1);
	}
}


.block-title {
	font-weight: 600;
	font-size: 0.9rem;
}


/* The switch - the box around the slider */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 25px;
  margin-bottom: 0px;
}

/* Hide default HTML checkbox */
.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.toggle-slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .toggle-slider {
  background-color: #11b6bd;
}

input:focus + .toggle-slider {
  box-shadow: 0 0 1px #11b6bd;
}

input:checked + .toggle-slider:before {
  -webkit-transform: translateX(35px);
  -ms-transform: translateX(35px);
  transform: translateX(35px);
}

/* Rounded sliders */
.toggle-slider.round {
  border-radius: 20px;
}

.toggle-slider.round:before {
  border-radius: 50%;
}



#content #productMain .price {
    font-size: 1.3rem;
    font-weight: 600;
    color: #11b6bd;
    padding: 3px;
}



/* STANDARD SIZES & CUSTOMIZE */ 
.flip-box {
  background-color: transparent;
  width: 100%;
  height: 550px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
/*.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}
*/
/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side */
.flip-box-front {

}

/* Style the back side */
.flip-box-back {
  transform: rotateY(180deg);
}


/* FRAMING TYPE */ 
#framing-type #dropdownMenu_type_paper, #dropdownMenu_type_canvas{
	width:100%; 
	background-color: #fff; 
	color: inherit; 
	text-align:left;
	border: 1px solid #cfcfcf;
}


#framing-type #prod_type_paper > .dropdown-toggle::after , #prod_type_canvas > .dropdown-toggle::after {
    margin-left: 0.5rem !important;
}

#framing-type .dropdown-item{
	cursor: pointer; 
	border: 1px solid #cfcfcf;
}

#framing-type #prod_type_paper span, #prod_type_canvas span{
	font-size:0.7rem;
}