/* Border around all elements on the page */

/*
* { border: 1px solid red !important;
	background-color:lightblue;}
*/


#top #phone-help .modal-header {
  background: darkgrey;
  //#4fbfa8;
}

top #phone-help .modal-header h5 {
  color: #fff;
}

#top #phone-help a {
  color: #4fbfa8;
}

#top #phone-help p {
  font-weight: 300;
  margin-bottom: 20px;
}

#main-slider .item img{
	/*height:433px;*/
}

#main-slider-img {
	/*background-image: url("../img/backgrounds/city.png");*/
	background-color:#fff;
}


.img-container-cat {
	width:100px !important;
    height: 100px;
    object-fit: cover;	
	border-radius:50%;
	display: block;
	margin-left: auto;
	margin-right: auto;	
}

.img-category{
	width:150px;
    height: 150px;
    object-fit: cover;	
	border-radius:50%;
}

.img-all-categories{
	width:100%;
    height: auto;
    object-fit: cover;	
}

	
.img-container-frames-section{
	width:100%;
    height: 15vw;
    object-fit: contain;	
}	

#prod-img, #disp-img {
	width:100%;
	max-height:500px;
    /*height: auto;*/
    object-fit: contain;
	/*margin: 10px 0px 10px;*/
	text-align: center;
	font-family: arial;
	object-fit:contain;
	/*box-shadow: 5px 6px 6px 0 #d3d3d3;*/
	margin-left:auto;
	margin-right:auto;
	
}


/********* Image Zoom **************/

/* * {box-sizing: border-box;} */

.img-zoom-container {
  position: relative;
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 40px;
  height: 40px;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 300px;
  height: 300px;
}
/********* End - Image Zoom **************/
#show {
	width: 240px;
	height: 338px;
	overflow: hidden;	
	position: relative;
	left: 0;
}
#show_mark {
	position: absolute;	
	top: 0;
	left: 0;	
	width: 200px;
	height: 100px;	
	background-color: #000;	
	opacity: .5;
	filter: alpha(opacity=50);
	cursor: crosshair;
	border: 1px solid #999;
	display: none;
}
#zoom {
	position: absolute;
	left: 250px;
	top: 0;
	z-index: 3;
	width: 400px;
	height: 400px;
	display: none;	
	overflow: hidden;
	border: 1px solid #eee;
}
#zoom img {
	position: absolute;
	left: 0;
	top: 0;
}

.img-magnifier-glass{
	z-index: 99;
}

.text-white{
	color:#fff;
}

#headln {
	color : #fff;
	background-color: #525252;
	font-size : 1.25em;
	text-align: center;
/*	margin-top : 15px; */
	font-family: Georgia, serif;
}

.main-slider-img {
	width:100%; 
	/*height: 210px; */
	height:auto;
	margin: 0 auto; 
	display: block; 
	position: relative; 
	overflow: hidden; 
	background-color: Gainsboro; 
	background-clip: content-box;
	border: none;
	margin: 15px;
}

.owl-controls {
	position: relative;
	top: -40px;
}
.owl-prev {
    position: absolute;
    top: 30%;
    left: -50px;
}
.owl-next {
    position: absolute;
    top: 30%;
    right: -50px;
}

#framing {
	width:100%; 
	height: 200px; 
	margin: 0 auto; 
	text-align: center;
}

.section-text{
	font: 14px 'Roboto', sans-serif;
	color: #969696;
}

.collection-text{
	font: 12px 'Roboto', sans-serif;
	color: #969696;
	text-align:center;
}
.collection-header{
	font: 14px 'Roboto', sans-serif;
	color: #4c4c4c;
	text-align:center;
}

.size-box {
	font: 14px 'Roboto', sans-serif;
	background: #fff;
	margin: 10px 0 10px;
	border-bottom: solid 1px #e6e6e6;
	padding: 10px;
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}	
.size-title {
	font: 0.75rem 'Roboto', sans-serif;
	font-weight: 800;
	margin-bottom:10px;
}
#title-sm {
	font:1.15rem 'Roboto', sans-serif;
	font-weight: 800;
}
.prod-size-title {
	font: 0.85rem 'Roboto', sans-serif;
	font-weight: 800;
	margin-bottom:10px;
	background-color: #e6e6e6;
	padding:10px;
}

.p_size {
	border : 1px solid #e6e6e6;
	padding:3px;
	cursor:pointer;
	margin-right: 10px;
	margin-bottom:10px;
}

.p_clicked {
	background-color: #11b6bd;
	color: #fff;
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);	
}

.size-text {
	font: 0.8rem Calibre-Light,HelveticaNeue-Thin,Helvetica Neue,Arial,sans-serif;
	margin-bottom:5px;
}
.size-select{
	font: 11px 'Roboto', sans-serif;
	padding:10px;
}

#size-slider {
	margin-bottom : 10px;
	height:4px;
}

#size {
	text-align: center;
	background-color: #f0f0f0;
	padding : 3px;
}
	
#prod-name{
    font: 25px Calibre-Light,HelveticaNeue-Thin,Helvetica Neue,Arial,sans-serif;
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
    color: #0d0405;	
}

#frame-name{
	font: 1rem Calibre-Light,HelveticaNeue-Thin,Helvetica Neue,Arial,sans-serif;
	margin-bottom:15px;
}
 
.mount {
	border: 2px solid gainsboro;
	border-radius:10%;
	width : 30px;
	height : 30px;
	margin : 0 10px;
}

#artist {
    font: 11px Calibre,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: normal;
    line-height: normal;
    color: #3870a5;
    font-weight: 500;
    line-height: 18px;
	margin-bottom:15px;
}

.ui-slider .ui-slider-handle {
    height: 3px;
	padding:5px;
}

.thumb-img {
    border: 3px solid transparent;
    border-image:url(../img/frame/frame1.png) 10% repeat;
    /*border-image:url(../img/frame/frame1.png);*/
}

.no-padding{
	padding:0px !important;
}

@keyframes load {
100% {
    opacity: 0;
    transform: scale(1);
}
}
@keyframes load {
100% {
    opacity: 0;
    transform: scale(1);
}
}

/* END -> Loader modal */
/********************************************************/



/********************************************************/
/* Magnifier CSS */
/********************************************************/
.img-magnifier-container {
  position: relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 5%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 150px;
  height: 150px;
}



.box-cat {
  background: #fff;
  margin: 0 0 15px;
  border-bottom: solid 1px #e6e6e6;
  border-top: solid 1px #e6e6e6;
  padding: 10px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}


.img-background {
    width: 100%;
    height: 250px;
    margin: 0 auto;
    display: block;
    position: relative;
    overflow: hidden;
    background-color: #f3f3f3;
    background-clip: content-box;
    border: none;
}	


.img-container{
	/*width: 33.33333%;*/
	/*height: 15vh;*/
	/*box-shadow:0 3px 5px rgba(0, 0, 0, 0.75);*/
	padding:10px;
	background-color: #f4f4f4;
	width:150px;
	height:150px;
	margin-left: auto;
	margin-right: auto;
}	


@media (min-width: 736px) {
	.img-container{
		width:100%;
		height: 15vw;
		object-fit: cover;	
		/*background-color: #f4f4f4;*/
		/* box-shadow:0 3px 5px rgba(0, 0, 0, 0.75); */
		padding:10px;
		text-align:center;
	}
	.img-container-gallery{
		width:100%;
		height: 20vw;
		object-fit: cover;	
		/*background-color: #f4f4f4;*/
		/* box-shadow:0 3px 5px rgba(0, 0, 0, 0.75); */
		padding:10px;
		text-align:center;
	}
	
}	

.img-container-coll{
	padding:10px;
	background-color: #fff;
}	

@media (min-width: 736px) {
	.img-container-coll{
		width:100%;
		height: 8vw;
		object-fit: cover;	
		padding:10px;
		text-align:center;
	}	
}	


	
.prod-details{
	color: #000 !important;
	/*border:1px solid gainsboro;*/
	font-size: 0.75rem !important;
}

.prod-details a {
	color: #000 !important;
}

.prod-details:hover {
  background-color: #dfdfdf;
}


.image-display {
	width:17vw; 
	height:13vw;
	object-fit:scale-down;
}

.image-display-gallery {
	width:22vw; 
	height:17vw;
	object-fit:scale-down;
}


.image-display-coll {
	width:17vw; 
	height:8vw;
	object-fit:scale-down;
}


@media (max-width: 768px) {
	.image-display {
		width:100%; 
		height:100%;
		display: block;
		margin-left: auto;
		margin-right: auto;		
	}
}

@media (max-width: 768px) {
	.image-display-coll {
		width:100%; 
		height:100%;
		display: block;
		margin-left: auto;
		margin-right: auto;		
	}
}

#coll-text{
	padding:0 28px; 
	font-size:0.8rem;
}

@media (min-width: 769px) {
	#coll-text{
		margin-top:15px; 
	}
}

.gallary-img {
	width:100%; 
	height: 15vw; 
	margin: 0 auto; 
	display: block; 
	position: relative; 
	overflow: hidden; 
	background-color: Gainsboro; 
	background-clip: content-box;
	border: none;
}

/*  Product Card CSS */
.cat-card {
/*  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
  border: 0px;
  height: 120px;
  width: 100%;
  /*margin: 10px 0px 10px;*/
  margin: 3px;
  text-align: center;
  border: 1px solid #cfcfcf;
  font-size: 0.75rem;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.cat-card:hover {
  background-color: #dfdfdf;
  border: 2px solid #11b6bd;
}

.cat-card .cat-nm{
	font-size: 0.8rem;
	font-weight: 700;	
}

.cat-count{
	font-size:0.5rem; 
	background-color: grey;
	color: #fff;
	padding: 2px 7px;
	border-radius: 10px;
	position: absolute;
	right: 10px;
	top: 15px;	
}

.cat-div a{
	color: #272e38;
}

/*
.cat-div div:nth-child(even) {background: #eee;}
.cat-div div:nth-child(odd) { background: #FFF;}
*/
.img-container-all-cat{
	padding:10px;
	background-color: #f4f4f4;
	margin-left: auto;
	margin-right: auto;
}	



@media (max-width: 465px) {
	.img-container-all-cat{
		width: 75px;			
	}
}
@media (min-width: 466px) {
	.img-container-all-cat{
		width:100%;
		height: 15vw;
		padding:10px;
		text-align:center;
	}

	.img-container-all-cat img{
		width: 125px;
	}
}	


/*
.cat-price {
  color: grey;
  font-size: 18px;
}

.cat-card button {
  border: 0px;
  outline: 0;
  padding: 10px;
  color: #000;
  background-color: lightgrey;
  text-align: center;
  cursor: pointer;
  width: 50%;
  border-radius: 15px;
  letter-spacing: 0.1em;
  font-size: 0.75rem;
  font-weight: 400;
}

.cat-card button:hover {
  opacity: 0.7;
}
*/

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}
/*END:  Product Card CSS */

.menu-badge{
	border: 1px solid #ababab !important;
	border-radius:10px !important;
	background-color: #e6e6e6 !important;
	color:#000;
	font-size:0.75em;
}

@media only screen and (min-width: 600px) {
	.frame-image {
	  margin: 10px 20px !important; 
	}
}


.frame-image {  
  width: 200px;
  height:auto;
  text-align: center;
  font-family: arial;
  object-fit:contain;
  display: block;
  margin-left: auto;
  margin-right: auto;	
  
}

.image-c{
  width: 75px;
  height:auto;
  text-align: center;
  font-family: arial;
  object-fit:contain;
  display: block;
  /*margin-left: auto;
  margin-right: auto; */
  /*padding-bottom:20px;*/
  margin-bottom:10px;
  cursor: pointer; 
  padding:5px;
}	
.image-c:hover {
  background-color: #dfdfdf;
}	
	
.frame-image:hover {
  background-color: #dfdfdf;
}	


@media only screen and (min-width: 600px) {
	.similar-image {
	  margin: 10px 20px !important; 
	}
}


.similar-image {  
  /*width: 120px;*/
  height:auto;
  text-align: center;
  font-family: arial;
  object-fit:contain;
  display: block;
  margin-left: auto;
  margin-right: auto;	
  
}
	
.similar-image:hover {
  background-color: #dfdfdf;
}	




.filter-class {
	font-size: 0.75rem;
}

.fine-print {
	font-size: 0.55rem;
}

.full-width-btn {
	width:100% !important;
}

/************ Side Admin navigation ************/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 30;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*END: ************ Side Admin navigation ************/

.ord-row {
	color: #999;
}

.box-addr {	
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.box-addr-headr{
	width:100%
	background-color: rgba(0, 0, 0, 0.1);
	padding:10px;

}



/***********   Editable search *****************/
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
/*   END:         Editable search *****************/

#login-modal a{
	color: #555 !important;
}

#cart td {
	font-size: 0.75rem;
	padding:2px;
}
#cart th {
	padding:2px;
}

.auth-provider-button {
    background-color: white;
    border: 1px solid gray;
}
.hover-on:hover {
    box-shadow: 7px 12px 13px rgba(0, 0, 0, 0.1);
}


.navbar-nav li > a:not(.btn) {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 0px 10px 0px;
  font-size: 14px;
  font-weight: 500;
  font-family: CalibreFamily, Helvetica Neue, HelveticaNeue, Helvetica, Arial, sans-serif;
  color: #082a4c;
  letter-spacing: 0.1rem;
} 

#all{
	padding: 0 0rem;
}

.quote-leftbar {
	color: #000 !important;
	background-color: #fdf5e6 !important;
	border-left: 6px solid #ccc !important;
	font-size: 1rem !important;
	font-family: serif;
	padding : 20px;
}


.trending-cat a {
	color: #000 !important;
}

#accordion .card-title{
	font-size:0.8rem !important;
}


#accordion .card-header{
	padding:0.5rem 1rem !important;
}

#accordion .btn-link{
	padding:0.3rem 1rem !important;
	font-size:1.1rem !important;
	color: #272e38 !important;
}


#accordion .card-header:after {
    font-family: 'FontAwesome';  
    content: "\f0d8";
    float: right; 
}
#accordion .card-header.collapsed:after {
    content: "\f0d7"; 
}

#accordion table td, table th {
	padding: 5px !important;
	color:darkgrey;
	font-size: 0.8rem;
}

hr.hr-thick {
	border-top: 3px solid #11b6bd;;
}


.img-in-menu {
	width:120px !important;
    height: 120px;
    object-fit: cover;	
	display: block;
	margin-left: auto;
	margin-right: auto;	
	padding: 7px;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
	.img-in-menu{ padding: 0px; }
}


.img-responsive.mobile {
  display: none;
}

@media only screen and (max-width: 480px) {
  .img-responsive {
    display: none;
  }
  .img-responsive.mobile {
    display: block;
  }
}

.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  border:1px solid lightgrey;
}

.grecaptcha-badge { visibility: hidden; }

.gift-image-container {
  position: relative;
  text-align: center;
  color: white;
  font-size:1.5rem;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.px-bottom {
	border-bottom: 4px solid #cfcfcf; 
}

#wrapper {
  width: 100%;
  position: relative;
}

#wrapper img {
  max-width: 100%;
}

@media only screen and (min-width: 577px) {
	.anchor-main-banner {
	  height: 40%;
	  width: 28%;
	  left: 7.1%;
	  top: 27.8%;
	  /*border: 1px solid red;*/
	  position:absolute;
	}
}
@media only screen and (max-width: 576px) {
	.anchor-main-banner-mobile {
	  height: 30%;
	  width: 22%;
	  left: 0%;
	  top: 35%;
	  /*border: 1px solid red;*/
	  position:absolute;
	}
}

@media only screen and (min-width: 481px) {
	#anchor-frame {
	  /*height: 39.2%;
	  width: 40%;
	  left: 2.6%;
	  top: 28.5%;*/
	  height: 50%;
	  width: 44%;
	  left: 2.7%;
	  top: 35%;
	  /*border: 1px solid red;*/
	  position:absolute;
	}
}
@media only screen and (max-width: 480px) {
	#anchor-frame-mobile {
	  /*height: 35%;
	  width: 42%;
	  left: 0%;
	  top: 32%;*/
	  height: 50%;
	  width: 44%;
	  left: 2.7%;
	  top: 35%;
	  /*border: 1px solid red;*/
	  position:absolute;
	}
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}


/* Tabs*/
section {
    /*padding: 10px 0;*/
}

section .section-title {
    text-align: center;
    color: #252525;
    margin-bottom: 20px;
}
#tabs{
	background: #fff;
    color: #252525;
}
#tabs h6.section-title{
    color: #252525;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #f3f3f3;
    background-color: transparent;
    #border-color: transparent transparent #f3f3f3;
    #border-bottom: 4px solid !important;
    font-size: 14px;
    font-weight: bold;
}
#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #fff;
    font-size: 16px;
}


.curatedHeading1 {
	/*font-family:Helvetica, sans-serif !important;*/
	/*font-family: "DomaineDisplay",Georgia,"Times New Roman",Times,serif !important;
	color:#665d6f;*/
	/*font-family: 'Felipa', cursive !important;*/
	font-family: 'Lato', sans-serif;
	font-weight:500;
	margin: 0 auto;
    font-size: 0.85rem;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
	text-align:center;
	background-color: #fafafa;
	padding: 10px 5px 5px;
	letter-spacing: 0px
}

@media only screen and (max-width: 480px) {
	.curatedHeading1 {
		font-size: 0.7rem;
	}
}
@media only screen and (max-width: 480px) {
	.curatedHeading2 {
		font-size: 0.65rem;
	}
}



.curatedHeading1-1{
    letter-spacing: 7px;	
}

.curted_pic a{
	color: #665d6f;
	text-decoration:none;
}

.curatedHeading2 {
	color: #5d5566; 
	/*font-family: 'Felipa', cursive !important;*/
	font-family: 'Lato', sans-serif;
	font-size:0.75rem;
	text-align:center;
	background-color: #fafafa;
	padding: 0 5px 5px;
	margin-bottom:0px;
}

.curatedHeading2-1{
	letter-spacing:5px;
}	


.sub-slider a {
	color:inherit;
}

.coupon {
    max-width: 300px;
    height:100%;
    border-radius: 15px;
    margin: 0 auto;
    max-width: 600px;
}

.coupon img{
	width: 100%;
}

.coupan-header {
	font-size:1.1rem;
	font-weight:700;
	font-family:Helvetica, sans-serif; 
    padding: 5px;
    background-color: #f1f1f1;
	text-align:center;
}
.coupan-container {
    padding: 5px;
    background-color: #fff;
	text-align:left;
}
.coupon-footer {
    padding: 5px;
	text-align:center;
}

.promo {
    background-color: #11b6bd;
	color: #fff;
	font-weight: 600;
    padding: 10px;
}
	
.promocode {
	background-color:#11b6bd;
    color: #fff;
	text-decoration:underline;
	font-weight:500;
	padding:5px;
}

.close {
	float: right !important;
	color: 333 !important;
	font-size: 1.2rem !important;
	margin:3px;
}

.expire {
	font-size: 0.65rem;
    color: #333333;
}


.curated_pic .btn{
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #11b6bd;
  color: #fff;
  font-size: 1rem;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;	
}

.curated_pic .btn_topleft {
  top: 10%;
  left: 10%;
}

.curated_pic .btn_topright {
  top: 10%;
  left: 90%;
}
.curated_pic .btn .btn_bottomright {
  top: 90%;
  left: 90%;
}
.curated_pic .btn_bottomleft {
  top: 90%;
  left: 10%;
}

.curated_pic .btn_center {
  top: 50%;
  left: 50%;
}

.curated_pic .btn:hover {
  background-color: black;
}

.on-hover-underline:hover{
	text-decoration:underline;
}

.under_line{
	text-decoration:underline;
}
	

.result-btn{
	border: none;
	font-size: 0.65rem;
	color: #212529;
	background-color:transparent;
	cursor: pointer;
	padding:0px;
	margin-bottom: 0.5rem;
	font-family: inherit;
	font-weight: 400;
	line-height: 1.2;
}

.result-btn:hover{
	text-decoration:underline;
}

.sign-up-left-box {	
	background-color:#11b6bd;
	color: #fff; 
	/*#303030;*/
}


.sign-up-left-text {	
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.sign-up-right {	
	padding:25px;
}

.sign-up-box{
	margin-top:50px;
	border: 1px solid #e6e6e6;
}

.form-inline{
	display: flex;
}

.page_section_heading{
	font-family: "DomaineDisplay",Georgia,"Times New Roman",Times,serif;
	text-align: center;
	font-size: 1.2rem;
	font-weight: 400;
	margin: .75em 0 .5em;
	color: #665d6f;
}
	
.frame_num{
	margin: auto;
	width: 50%;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	display: flex;
	flex: 44px 0 0;
	justify-content: center;
	background-color: #11b6bd;
	color: #fff;
	font-family: "DomaineDisplay",Georgia,"Times New Roman",Times,serif;
	font-size: 2em;	
}
.frame_text{
	padding-top:25px;
	color: #665d6f;
	margin-top:25px;
}

.offer_num{
	width: 50%;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	display: flex;
	flex: 44px 0 0;
	justify-content: center;
	background-color: #11b6bd;
	color: #fff;
	font-family: "DomaineDisplay",Georgia,"Times New Roman",Times,serif;
	font-size: 2em;	
}
.offer_text{
	margin: auto;
	color: #665d6f;
	font-weight: 700;
	font-size: 1.2rem;
	text-align: left !important;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
	.show_on_large_only{ display: none !important; }   /* hide it on small screens */
}

@media screen and (min-width: 769px) {
	.show_on_large_only{ display: inline !important; }  /* show it on large screen */
}	

@media screen and (min-width: 0px) and (max-width: 768px) {
	.show_on_small_only{ display: inline !important; }   /* show it on small screens */
}

@media screen and (min-width: 769px) {
	.show_on_small_only{ display: none !important; }  /* hide it on large screen */
}

.curated-container {
  position: relative;
  width: 100%;
  /*height:100%;*/
}

.curated-container img {
  width: 100%;
  height:100%;
  object-fit:fill;
}

.curated-container .btn{
  font-size: 0.75rem !important;
  font-weight:700;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #11b6bd;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  text-align: center;
  border-radius: 0px;
}
.curated-container a {
  font-size: 0.65rem !important;
  font-weight:700;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #11b6bd;
  color: white;
  font-size: 14px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-align: center;
  border-radius: 0px;
}
.curated-container .btn:hover {
  background-color: black;
}


@media screen and (min-width: 0px) and (max-width: 600px) {
	.small_text_on_mobiles{ 
	font-family:Cormorant Garamond; 
	font-weight:500; 
	font-size: 0.45rem; }   /* hide it on small screens */
}

@media screen and (min-width: 601px) {
	.small_text_on_mobiles{ 
	font-family:Cormorant Garamond; 
	font-weight:500; 
	font-size: 0.85rem; }  /* show it on large screen */
}

.ajax-modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url(../img/ajax-loading.gif)
                50% 50% 
                no-repeat;
}

body.loading .ajax-modal {
    overflow: hidden;   
}

body.loading .ajax-modal {
    display: block;
}


.arist-name {
	margin-top: 10px;
    position: relative;
    margin-bottom: 20px;
    text-shadow: 3px 3px 3px gainsboro;
	font-size:1.5rem;
	text-decoration: underline;
	text-decoration-color: #11b6bd;	
}

.pg_border{
	border:1px solid #11b6bd;
	border-radius:10px;
}

.artist-section {
	color:#11b6bd;
}

.artist-section:after {
	width: 90%;
    height: 1px;
    background: #11b6bd;
    content: '';
    display: block;
    position: absolute;
}

.artist-gallary {
	margin-top: 10px;
    position: relative;
    margin-bottom: 20px;
    text-shadow: 3px 3px 3px gainsboro;
}

.img-artist{
	width:200px;
	height:200px;
	float:left;
	margin-right:15px;
	border-radius:5%;
}

.artist-item {
    position:relative;
    padding-top:20px;
    display:inline-block;
}
.art-type{
    position: absolute;
    right:-20px;
    top:10px;
    background: #6c757d;
	color: #fff;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    padding:5px 10px;
    font-size:0.55rem;
}

.art-type-cate{
    position: absolute;
    right:15px;
    top:10px;
    background: transparent;
	border: 1px solid #000;
	color: #000;
    text-align: center;
    border-radius: 20px;
    padding:5px 10px;
    font-size:0.55rem;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
	div.sticky {
	  /*position: -webkit-sticky;
	  position: sticky;
	  top: 0;*/
		position: fixed;
		padding:10px;
		margin:0;
		left:0;
		bottom: 0;
		width: 100%;  
		z-index: 999;
		flex-wrap: nowrap;
		background-color: #efefef;
		border-top: 1px solid #dedddf;
		box-shadow: 0 0 5px rgba(0,0,0,.35);
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: row;
		flex-direction: row;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
}

@media screen and (min-width: 769px) {
	div.sticky {
		padding:10px 0 !important;
		/*border-top: 1px solid #dedddf;*/
		/*border-bottom: 1px solid #dedddf;*/
	}
}


div.apply_f {
	padding:0 10px 10px !important;
	/*border-top: 1px solid #dedddf;*/
	border-bottom: 1px solid #dedddf;
}



/*  Nav Tabs */
.nav{
	flex-wrap:nowrap !important;
}

nav > .nav.nav-tabs{

	border: none;
    color:#fff;
    background:#272e38;
    border-radius:0;

}
nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active
{
	border: none;
    padding: 3px 25px;
    color:#fff;
    background:#272e38;
    border-radius:0;
}

div a.nav-item.nav-link.active{
    background:#11b6bd !important;
    border-radius:0;
}	

nav > div a.nav-item.nav-link.active:after
 {
	content: "";
	position: relative;
	bottom: -41px;
	left: -10%;
	border: 15px solid transparent;
	border-top-color: #11b6bd ;
}
.tab-content{
	background: #fdfdfd;
    line-height: 25px;
    border: 1px solid #ddd;
    border-top:5px solid #11b6bd;
    border-bottom:5px solid #11b6bd;
    padding:30px 25px;
}

nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus
{
  border: none;
    background: #11b6bd;
    color:#fff;
    border-radius:0;
    transition:background 0.20s linear;
}

/** END : Tabs on Product Page **/

.error_text{
	width: 100%;
	margin-top: 0.25rem;
	font-size: 80%;	
	color: #dc3545;
}

.comp-frame {
	font-size: 0.7rem;
}

.blog_list {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border: 0px;
	max-width: 300px;
	margin: 10px 0px 10px;
	font-family: arial;
	font-size: 1rem !important;
	padding : 20px;
	margin:20px;
}

.blog {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border: 0px;
	margin: 10px 0px 10px;
	font-family: arial;
	font-size: 1rem !important;
	padding : 20px;
	margin:20px;
}

.blog_list_blog{
	background-color: #fff !important;
	padding : 15px;
	border-bottom: 2px solid #11b6bd;
	text-align: left;
}

.blog_title{
	text-decoration: underline;
	text-align: center;
}

.blog_list:hover {
  background-color: #dfdfdf;
}

.blog a {
  color: #000;
}

.blog a:hover {
  text-decoration: none;
}

.blog_content{
	font-size: 0.85rem;
	margin-bottom: 0.5rem;
	margin-top: 0;
	font-family: 'Cormorant Garamond', serif;
	font-weight: 400;
	line-height: 1.2;	
	color: inherit;		
	letter-spacing: 1px;
	
}

.prod-assurance{
	display: block;
	width:80%;
	margin-left:auto;
	margin-right:auto;
	cursor: pointer;
}

#signupsave button {
  #background-color: #11b6bd !important;
  #color: #fff !important;
  text-decoration:underline !important;
  font-size: 0.9rem !important;
  padding:3px 10px !important;
}

.accordian-subhead {
	font-size: 0.75rem; 
	font-weight: 400;
}

.artevenue_offers {
	border:1px solid #f3f3f3;
	width: 75px;
	display:block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:15px;
}

.artevenue_offers:hover {
	border: 2px solid #11b6bd;
}


.why_artevenue {
	width: 30px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.why-artevenue-div{
	padding:15px;
}
.why_artevenue:hover {
	border: 2px solid #11b6bd;
}

.why-artevenue-head{
	font-weight: 500;
	font-size: 0.75rem;
	color: #1e4f59;
	text-align:center;
}

.why-artevenue-text{
	font-size: 0.6rem;
	color: #666;
	text-align:center;
}


.btn-why-artevenue {
	font-size: 0.75rem !important;
	color: #666 !important;
}

.btn-why-artevenue:after {
    font-family: 'FontAwesome';  
    content: " \f054";
	white-space: pre;
    float: right; 	
}

.btn-artevenue {
  color: #fff !important;
  background-color: #11b6bd;
  border-color: #fff;
  border-radius: 0px !important;
}

.btn-artevenue:hover {
  color: #ffffff;
  background-color: 000 !important;
  border-color: #ffffff !important;
}

.btn-artevenue:focus, .btn-artevenue.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(79, 191, 168, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(79, 191, 168, 0.5);
}

.btn-btn-artevenue.disabled, .btn-btn-artevenue:disabled {
  color: #212529;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-artevenue:not(:disabled):not(.disabled):active, .btn-artevenue:not(:disabled):not(.disabled).active,
.show > .btn-artevenue.dropdown-toggle {
  color: #fff;
  background-color: #3aa18c;
  border-color: #379783;
}

.btn-artevenue:not(:disabled):not(.disabled):active:focus, .btn-artevenue:not(:disabled):not(.disabled).active:focus,
.show > .btn-artevenue.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(79, 191, 168, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(79, 191, 168, 0.5);
}

.card-thumb {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 75px;
  margin:10px;
}

.card-thumb:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.card-img {
	/*max-height: 290px !important;*/
	margin-left: auto;
	margin-right: auto;
	width: 80%;	
}

.customer-review{
	margin-bottom: 1rem;
}

.customer-review a {
	color: #11b6bd !important;
	text-decoration: underline;
}

.customer-rating-summary {
	align-items: center;
	display: flex;
	flex-direction: row;
	-ms-flex-pack: center;
}

.customer-rating{
	display: flex;
	justify-content: left;
	align-items: center;
}	

@media screen and (min-width: 0px) and (max-width: 768px) {
	.rating{
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: 15px;
		background-color:#FFE27D;
		font-weight: 500;
		color: #082a4c;
		height: 35px;
		width: 35px;
		border-radius: 50%;
		padding: 5px;
		font-size: 13px;
	}	
}
@media screen and (min-width: 768px) {
	.rating{
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: 15px;
		background-color:#FFE27D;
		font-weight: 500;
		color: #082a4c;
		height: 50px;
		width: 50px;
		border-radius: 50%;
		padding: 5px;
		font-size:15px;
	}		
}

.rating-stars {
	height: 25px;
}

.rating-stars-small {
	height: 15px;
	padding: 0px;
}

.rating-stars-review{	
	height: 15px;
}

.review-footer{
	padding-left: 15px;
	font-size:0.75rem;
}

.review-star{
	margin-right: 5px;
	font-size:20px;
	cursor: pointer;
	color: #ffca18;
}

#all_reviews ul li {
	display: inline;
	padding: 1px 0px 5px;
	display:inline;
}
#all_reviews ul li:hover {
	border: 1px solid #ddd;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
}

#all_reviews .selected_star {
	border: 1px solid #11b6bd;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
}

#all_reviews .btn{
	padding: 0px;
}

.image-display-review {
	width:8vw; 
	height:5vw;
	object-fit:scale-down;
}

.photos-div {
	margin-top:15px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.upload-arrow{
	width: 100px;
	margin-left: auto;
	margin-right: auto;
}

#upload-pics i{
	color: #aaa;
	cursor: pointer;
}

#upload-pics form{
	border: 1px solid #ccc;
	color: #aaa;
	padding:0px;
	height: 150px;
}

.user-photo{
	max-width: 125px;
	max-height: 125px;
	border-radius: 10%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.customer-review form{
	padding:0px;
	color: #11b6bd;
	display: inline;
	font-size: 0.65rem;
}
.customer-review .btn-link{
	padding:0px;
	color: #11b6bd !important;
	display: inline;
	font-size: 0.60rem;
}

.review-footer .btn-link{
	padding:0px;
	color: #11b6bd;
	display: inline;
	font-size: 0.75rem;
}

.announcement {
	color: #FFFFFF !important;
	background-color: #11b6bd;
	font-weight: 600;
	text-align:center;
	font-size: 1rem;
}

.announcement a{
	display: inline;
	text-decoration: underline !important;
}	


.artprint-set{
	font-size: 0.85rem;
	color: #fff !important;
	background-color: #11b6bd;
	font-weight: 500;
	text-decoration: underline;
	padding: 5px;
	border-radius: 0.25rem;
}

.color_tool{
	border: 2px solid #ddd;
	border-radius:50%;
	width : 30px;
	height : 30px;
	display: block;
}

#colors_div{
	border-top: 2px solid #ddd;
	border-bottom: 2px solid #ddd;
}

.how-customize{
	padding: 10px;
	border: 1px solid #ddd;	
	font-size:0.8rem;	
}

.customize-pic{
	padding-top: 3px;
	width: 100%;
}

.customize-title{
	text-transform: capitalize;	
	font-size: 0.9rem;
	font-weight: 700;
	text-align: center;
	background-color: #11b6bd;
	color: #fff;
}

.customize-box{
	border: 1px solid #ddd;	
	padding: 15px;
}


.ajax-modal-wall-tool {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url(../img/ajax-loading.gif)
                50% 50% 
                no-repeat;
}

#wall-color-tool.loading .ajax-modal-wall-tool {
    overflow: hidden;   
    display: block;
}


.home-section-header{
	font-family: 'Cormorant Garamond', serif;
	font-weight: 400;
	line-height: 1.2;
	color: inherit;
	letter-spacing: 2px;
	width:100%;
	background-color: #f6f6f6;
	text-align: center;
	padding:10px;
}





blockquote {
  border: none;
  padding: 0;
  margin: 1em 0 0 0;
  position: relative;
  background: url(../img/bg_blockquote.png) left top no-repeat;
}
blockquote:before,
blockquote:after {
  content: " ";
  display: table;
}
blockquote:after {
  clear: both;
}
blockquote p {
  padding: 0 1em 1em 50px;
  text-align: center;
  font-size: 14px !important;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  line-height: 1.55;
}

blockquote .big {
  text-align: center;
  font-size: 16px !important;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  line-height: 1.55;
}


blockquote img {
  position: absolute;
  bottom: 0;
  left: 50px;
  max-width: 120px;
}
blockquote small {
  display: block;
  padding: 10px;
  padding-left: 160px;
  background: #6b7175;
  color: #d0d3d4;
}
blockquote small:before {
  content: ' ';
}
blockquote small strong,
blockquote small .spacer {
  color: #ffffff;
  font-size: 15px;
}
blockquote small a {
  color: #d0d3d4;
}
blockquote small a:hover {
  color: #d0d3d4;
}
blockquote.right {
  background: url(../img/bg_blockquote-flipped.png) right top no-repeat;
}
blockquote.right p {
  padding: 0 160px 1em 1em;
}
blockquote.right img {
  left: auto;
  right: 50px;
}
blockquote.right small {
  padding-right: 180px;
  text-align: right;
  padding-left: 0;
}

#tnc_list ol li{
	margin-bottom: 1rem;
}

.custom-framing-box {
    /*background: #f6f6f6;
    border-bottom: solid 1px #e6e6e6;
    border-top: solid 1px #e6e6e6;
    padding: 20px;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);*/
	text-align: center;
}

.custom-framing-box:hover {
    -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
}

#framing-card .card-title {
	font-size: 1.5rem;
}

#framing-card .card-text {
	font-size: 1rem;
}

.modal-close{
	position: absolute;
	top: 0%;
	left: 100%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	background-color: #fff;
	color: #000;
	font-size: 14px;
	border-radius: 50%;
	cursor: pointer;
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#signup-ask-modal .modal-body{
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.tooltip.primary .tooltip-inner{
	background-color: #337ab7; 
}	


.spciality-art-img{
	border-radius: 3%;
}


.wanav {
  height: 40px;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 87%;
  left: 35px;
  overflow-x: hidden;
  transition: 0.5s;
  vertical-align: middle;
}



@media screen and (max-height: 450px) {
  .wanav {padding-top: 15px; left: 15%;}
  .wanav a {font-size: 18px;}
}
