{% extends 'artevenue/estore_base.html' %}
{% load static %}

{% block page-title %} 
<title>Arte'Venue | Returns Status Update</title>
{% endblock page-title %} 
  
{% block page-description %}
<meta name="description" content="Arte'Venue | Return Req Status Update">
{% endblock page-description %}
  
{% block page-keywords %}
<meta name="keywords" content="artevenue, returns update confirm ">
{% endblock page-keywords %}
  
{% block page-author %}
<meta name="author" content="Arte'Venue">
{% endblock page-author %}

{% block coursel-stylesheet %}
{% endblock coursel-stylesheet %}

{% block jqueryui-script %}
{% endblock jqueryui-script %}

{% block coursel-script %}
{% endblock coursel-script %}

{% block front.js %}
{% endblock front.js %}


{% block imagemap-resize-script %}
{% endblock imagemap-resize-script %}

{% load widget_tweaks %}
	<!-- Only Override the site content block -->
	{% block sitecontent %}

    <div id="all">
		<div id="content">
			<div class="container">
				<div class = "row">
					<div class="col-12">
						<!-- breadcrumb-->
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
								<li class="breadcrumb-item"><a href="{% url 'staff_page' %}">Staff Page</a></li>
								<li class="breadcrumb-item"><a href="{% url 'get_active_return_request' %}">Update Return Requests</a></li>
								<li aria-current="page" class="breadcrumb-item active">Return Request Status Updated</li>
							</ol>
						</nav>
					</div>
				</div>
				<div class = "row">				
					{% if not err_flag %}
						<div class = "col-12 text-center">
							<h1 style = "font-weight:700;">RETURN REQUEST STATUS UPDATED</h1>
						</div>				
					{% else %}
						<div class = "col-12 text-center">
							<h1 style = "font-weight:700; color: red;">{{err_msg}} | REQUEST NOT UPDATED. PLS PROCESS AGAIN. 
							<a href = "<{% url 'return_request_for_update' ret.ret_id %}">Click here</a> </h1>
						</div>		
					{% endif %}
					<div class = "col-12 text-center mt-5">
						Return Request for Order No: {{ret.order.order_number}}, dated : {{ret.order.order_date|date:"d m Y"}}  | Status: {{ ret.order.get_order_status_display }} 
					</div>
					<div class= "col-12">
						<h4>
						{% if ret.order.order_status == 'CO' %}
							{% if ret.order.delivery_date %}
								on {{ret.order.delivery_date | date:'d-M-Y'}}
							{% endif %}
						{% endif %}
						{% if ret.order.order_status == 'IN' %} 
							{% if ret.order.tracking_number %} 
								<h4> Order Tracking:<br />
								{% if ret.order.shipper %}
									Shipped by: {{ ret.order.shipper.name }}, 
								{% endif %}
								Tracking no.: {{ ret.order.tracking_number }} <br />
								{% if ret.order.tracking_url %}
								Tracking url: <a href = "{{ ret.order.tracking_url }}" target="_blank">Click to Track</a>
								{% endif %}
								</h4>
							{% endif %}
						{% endif %}
					</div>
					
					<div class = "col-12 text-center mt-3">
						<strong>RETURN REQUEST NO: {{ret.ret_number}}</strong>
						| <strong>STATUS: {{ret.get_ret_status_display}}</strong>
					</div>
				</div>
				{% include 'returns/return_req_for_update_table.html' %}

				<div class = "row mb-4">				
					<div class = "col-6 col-md-4 text-center">
						<a class = "btn btn-primary" href = "{% url 'index' %}">Go to Home Page</a>
					</div>
					<div class = "col-6 col-md-4 text-center">
						<a class = "btn btn-primary" href = "{% url 'staff_page' %}">Go back to Staff Page</a>
					</div>
				</div>
			</div>
        </div>
    </div>
	{% endblock sitecontent %}


	{% block jscripts %}	
	<script>
		$( document ).ready(function() {
 			$body = $("body");
			$(document).on({
				ajaxStart: function() { $body.addClass("loading");    },
				ajaxStop: function() { $body.removeClass("loading"); }    
			});		
		});
	</script>

	{% endblock jscripts %}