{% load static %}
<div class = "container">
<div class="mt-5 py-5 india_largest" style="">
	<div class="row">
		<div class="col-md-12 text-center">
			<h2 class="mb-2 mt-3 text-center">INDIA'S LARGEST DESTINATION FOR ART PRINTS <br>AND CUSTOMIZED FRAMING OPTIONS
			</h2>
		</div>
	</div>
		<div class="col-12 mt-3 text-center">
			<p class="text-center">
			<!--<div class = "text-center small_text_on_mobiles"
				style = "font-family:Cormorant Garamond; font-weight:500; font-size: 0.85rem;">-->
				Arte'Venue brings together 4500+ artists, 2,60,000 pieces of unique art collection and customized framing <br>
				solutions under a single roof. We are India's largest and most trusted platform, helping 1000s of <br>
				customers find the perfect artwork for their home, office and retail space.
			</p>
			<p class = "show_on_large_only">
				We believe in selling artwork that moves people from within, that's why we let you browse through 70+ <br>
				unique art categories, 4500+ popular artists from across the world, custom framing, and size options, <br>
				so that you can buy artwork that complements your space.
			</p>
		</div>

		<!--<div class="row mt-4 mb-3">
			<div class="col-12">	
				<div class="text-center">
					<a class="btn btn-primary learn_more" href="https://artevenue.com/">LEARN MORE</a> 
				</div>
			</div>		
		</div>-->
	</div>
</div>
</div>
