{% load static %}
<nav class="navbar navbar-expand-lg">	 
	<a href="{% url 'index' %}" class="navbar-brand home">
		<img src="{% static 'img/artevenue_logo_new.png' %}" alt="logo" class="d-none d-md-inline-block" style="width:160px; height:35px;">
		<img src="{% static 'img/artevenue_logo_new.png' %}" alt="{{ecom_site.store_name}}" class="d-inline-block d-md-none"  style="width:90px; height:22px;">
		<span class="sr-only">{{ecom_site.store_name}} - go to homepage</span>
	</a>

	<div class = "show_on_large_only">
		<button type="button" data-toggle="collapse" data-target="#search" class="btn btn-outline-secondary navbar-toggler">
			<span class="sr-only">Toggle search</span>
			<i class="fa fa-search"></i>
		</button>
	</div>

	<div class="ml-auto">
		<a href="{% url 'show_cart' %}" class="btn btn-outline-secondary navbar-toggler">
			<i class="fa fa-shopping-cart"></i>
		</a>
		<button type="button" data-toggle="collapse" data-target="#navigation" class="btn btn-outline-secondary navbar-toggler">
			<span class="sr-only">Toggle navigation</span>
			<i class="fa fa-align-justify"></i>
		</button>
	</div>
		  
	<div id="navigation" class="collapse navbar-collapse" style = "font-size: 0.85rem;">
		<ul class="navbar-nav mr-auto ml-4" style = "text-align:right">
			{% for main in level0_menuitems %}
				{% if main.name|upper == 'ART PRINTS' %}
			
				<li class="nav-item dropdown menu-large  pt-3">
					<a href="#" data-toggle="dropdown" data-hover="dropdown" 
						id = "art_id"
						class="dropdown-toggle nav-link"
						onmouseover="$('#art_id').click();">
						{{main.name}}<b class="caret"></b>
					</a>
					{% if level1_menuitems %}
					<ul class="dropdown-menu megamenu">
						<li class = "dropdown">
							<div class="row">
								{% for level1 in level1_menuitems %}
								{% if level1.name != '' %} 
								{% if forloop.counter == 7 %}
									<div class="col-md-12 col-lg-12" 
										style = "border-bottom : 1px dotted #555; padding-bottom:5px; margin-bottom:10px;">
										<h4>More Categories</h4>
									</div>
								{% endif %}
								<div class="col-6 col-md-3 col-lg-2 text-center">
									<a style = "color:#696868 !important;" href="{% url 'art_by_category' level1.category_id %}" class="nav-link">
										{% if forloop.counter < 7 %}
											{% if level1.url %}
												{% with 'img/'|add:level1.url as image_static %}
												<img class = "img-in-menu" src = "{% static image_static %}" >
												{% endwith %}
											{% endif %}
										{% endif %}
										<div class = "">
											<h5>{{level1.name|title}}</h5>
										</div>
									</a>
									<ul class="list-unstyled mb-3">
									{% for level2 in level2_menuitems %}
									{% if level2.parent_id == level1.category_id %}
										<li class="nav-item"><a style = "color:#696868 !important;"  href="{% url 'art_by_category' level2.category_id %}" class="nav-link">{{level2.name|title}}</a></li>
									{% endif %}
									{% endfor level2_menu %}
									</ul>
								</div>

								{% endif %}
								{% endfor level1_menu %}

								<div class="col-md-6 col-lg-3">
									<h5><a style = "color:#696868 !important; text-decoration:underline;" href="{% url 'show_all_categories' %}" class="nav-link"><i class = ""></i>Show All<i class = ""></i></a></h5>
								</div>

							</div>
						</li>
					</ul>
					{% endif %}
				</li>
				{% endif %}
				

			{% endfor %}			
			<li class= "pt-3"><a href="{% url 'show_wishlist' %}"><i style="color:grey; margin:2px;" class = "fa fa-heart-o"></i>Favourites</a></li>
			<li class= "pt-3"><a href="{% url 'offers' %}"><i style="color:grey; margin:2px;" class = "fa fa-shopping-bag"></i>Offers</a></li>
			<li class= "pt-3 pb-1"><a href="{% url 'business_registration' %}"><i style="color:grey; margin:2px;" class = "fa fa-files-o"></i>Business</a></li>
			<li class= "pt-1 pb-1"><a href="{% url 'user_image' %}" class = "btn" style = "background-color:#11b6bd; color:#fff; margin:2px;">Custom Framing</a></li>
		</ul>				
	</div>	
	
	<div class="navbar-buttons d-flex justify-content-end">
		<form role="search" class="form-inline search_form d-none d-md-block  show_on_large_only" action = "{% url 'art_by_category' %}">
				<input type="text" placeholder="Ex. Van Gogh, Blue, Abstract etc." id ="keywords" name="keywords" class="form-control" required>
				<button class="btn btn-outline-success" type="submit"><img src="{% static 'img/search_head.png' %}"></button>
		</form>
	
		<div id="basket-overview" class="navbar-collapse collapse d-none d-lg-block">
			<a href="{% url 'show_cart' %}" class="cart_top d-xl-block d-lg-block d-none"><img src="{% static 'img/cart_icon.png' %}"><span id="itemsincart">{% if usercart %} {{usercart.quantity}} {%else%} 0 {%endif %}</span></a>
			
		</div>
	</div>		
</nav>
<!-- Search open up -->
<div id="search" class="show_on_small_only">
	<div class="container">
		<form role="search"  class="form-inline search_form" action = "{% url 'art_by_category' %}">
			<div class="input-group" style = "width:100% !important; float:right;">
				<input type="text" placeholder="Ex. Van Gogh, Blue, Abstract etc." id ="keywords" name="keywords" class="form-control" required>
				<div class="input-group-append">
					<button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
				</div>
			</div>
		</form>
	</div>
</div>

<script>
	// calculating margin-left to align it to center;
	var width = $('.justified').width();
	$('.justified').css('margin-left', (width / 2 /2)+'px');
</script>