{% extends 'artevenue/estore_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block page-title %} 
<title>Arte'Venue - Business Client Order Report</title>
{% endblock page-title %} 
{% block page-description %}
<meta name="description" content="Details of my business clients orders">
{% endblock page-description %}
{% block page-keywords %}
<meta name="keywords" content="Art, arvenue, business, account, orders">
{% endblock page-keywords %}
	<!-- Only Override the site content block -->
	{% block sitecontent %}
        <div class="container-fluid">
			<div class="row">
				<!-- breadcrumb-->
				<div class="col-sm-12">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
							<li class="breadcrumb-item"><a href="{% url 'my_business_report' %}">My Business Report</a></li>
							<li aria-current="page" class="breadcrumb-item active">Business Client Order Report</li>
						</ol>
					</nav>
				</div>
			</div>
			<h6 class="section-title h1">Business Client Orders</h6>
			<div class="row">
				
				<div class="col-12">
					<table class = "table table-bordered table-responsive">
						<thead>
							<small>
							<tr>
								<th>Client</th>
								<th>Order</th>
								<th>Quantity</th>
								<th>Sub Total</th>
								<th>Tax</th>
								<th>Total</th>
							</tr>
							</small>
						</thead>
						<tbody>
							<small>
							{% for o in orders %}
							<tr>
								<td>{{o.user.first_name}} {{o.user.last_name}}{% if o.user.first_name %}, {{o.user.email}} {%else %} {{o.user.email}} {% endif %} </td>
								<td>{{o.order_number}}, {{o.order_date|date:'d M Y'}}</td>
								<td>{{o.quantity}}</td>
								<td>{{o.sub_total|floatformat}}</td>
								<td>{{o.tax|floatformat}}</td>
								<td>{{o.order_total|floatformat}}</td>							
							</tr>
							{% empty %}
							<tr>
								<td>{{o.user.first_name}} {{o.user.last_name}}{% if o.user.first_name %}, {{o.user.email}} {%else %} {{o.user.email}} {% endif %} </td>
								<td colspan="5">No Orders placed yet by this client</td>
							</tr>
							{% endfor %}
							</small>
						</tbody>
					</table>					
				</div>
			</div>
		</div>

	{% endblock sitecontent %}

	
	{% block jscripts %}
	
	{% endblock jscripts %}
			
	