
<!-- READ THE INSTRUCTIONS BELOW BEFORE USING THIS TEMPLATE
 1. Start your page with this template and modify. Rename this template with HTML name and then modify.
 2. We keep as it is the header portion of the page (which is top hidden block and the navigation) 
    and the footer portion (footer block) on each page.
 3. Override only the "slide-show", "features", and "jointhem-blog" blocks on each page
 4. Keep the top "hidden" clock and the nav-bar as it is, which forms the header section of the page.
 5. Overriding the parent blocks will start from "slide-show" block 
 6. Keep the <div>s  given below as it is in the "slide-show" and "features" blocks to keep the same styling matching the home page. 
    If overriding the parent block without any content then remove the <div>s too, just keep block and endblock. 
 7. For most of the pages, you can keep the title of the page in "slide-show" block and put all the content in "features" block. 
    The "jointhem-blog" block can be kept empty.
 8. PLEASE REMEBER :- 
    TO OVERRIDE A BLOCK USE THE CORRESPONDING BLOCK AND <div>s, 
    TO KEEP THE BLOCK EMPTY JUST USE THE BLOCK OPEN AND ENDBLOCK, 
    AND TO KEEP ABLOCK AS IT IS DON'T USE THE BLOCK NAMES HERE SO THOSE BLOCKS FROM PARENT WILL BE USED AS IT IS. 
 -->

<!-- Extend the home page to keep the same styling for header and footer sections. -->

{% extends 'artevenue/estore_base.html' %}
{% load widget_tweaks %}
{% load static %}
	<!-- Only Override the site content block -->
	{% block sitecontent %}
    <div id="highlighted-slider" class="container ccontainer">
        <div class="box box-default">
            <div class="box-header with-border row">
				<div class="col-md-2" >
					<h3>Sign Up </h3>
				</div>
				<div class="col-md-10" >
					<div class="quote-leftbar" >
						{% if promo_voucher %}
							Sign up now and get {{ promo_voucher.promotion.discount_value|floatformat }}
							% off when you place your first order.<br />
							<ul>
								<li>Fill up the form below</li>
								<li>Shop and add products to your shopping cart</li>
								<li>When done, apply coupan code "{{promo_voucher.voucher.voucher_code}}"
									in the cart to get the discount</li>
							</ul>
							Hurry up, offer expires on {{promo_voucher.promotion.effective_to|date:"D d M Y"}}!									
						{% else %}
							Sign up with us and get exciting offers, early intimations of sales and promotions.<br />
							Please use the form below to become our privileged customer...
						{% endif %}
					</div>
				</div>				
            </div>

            <div class="row justify-content-center">
                <div class="col-12">
                    <form method="post" novalidate">
                        {% csrf_token %}
						<input hidden name="curr_pg" value="{{request.path}}" >						
						<input hidden id="signup-recaptcha" name="signup-recaptcha">	
							                                  
						<div class="panel panel-default cpanel cpanel-default">
							<div class="w3-container">
								<div class = "row">
									<div class = "col-2">
										<img id = "prod-img" src = "{% static 'img/signup_pic.jpg' %}" class = "image-fluid">
									</div>
									<div class = "col-1">
									</div>
									<div class = "col-8">
										{% if msg %}
											<p style="font-size:1.2rem; color:red">{{msg}}</p>
										{% endif %}
										{% for hidden in form.hidden_fields %}
										  {{ hidden }}
										{% endfor %}

										{% for field in form.visible_fields %}
										  <div class="form-group">
											<label class = "control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
											{{ field|add_class:'form-control' }}
											{% for error in field.errors %}
											  <span class="" style="color:red;">{{ error }}</span>
											{% endfor %}
										  </div>
										{% endfor %}
									</div>
								</div>
							</div>
							<div class="text-center">
								<small><input id = "tnc" name="tnc" type="checkbox" value="" checked onchange="activateButton(this);"> I have read and understood the Arte'Venue <a href="">terms of usage</a> and <a href="">privacy policy</a></small>
								<div id="tnc_err" style="display:none;" class="alert alert-danger">
									<button type="button" class="close float:left" data-dismiss="">×</button>
										To signup please read and accept terms and conditions!
								</div>
							</div>
						</div>

						
						<div class="text-center" style="margin-top: 0px;margin-bottom: 3px;">
							<button id = "submit-btn" type="submit" class="btn btn-primary" style="border-radius: 0;width: 150px">Sign Me Up</button>
						</div>
                        
                    </form>
				</div>
            </div>
        </div>
    </div>
	{% endblock sitecontent %}
	
	
	{% block jscripts %}
	<script>
	  grecaptcha.ready(function() {
		  grecaptcha.execute('6Le2ZqAUAAAAAIAvZ7dRPJkj5zLI2IYAxfPktXqE', {action: 'signup'}).then(function(token) {
			$("#signup-recaptcha").val(token);
		  });
	  });
	</script>

		<script> 
			function displayTnC() {
				$('#terms').modal('show');
			}
		</script>
		
		<script>
			function checkTnC() {
				var chkbox = document.getElementById("tnc");
				var sts = chkbox.checked
				var msg = document.getElementById("tnc_err");
				if (sts) {
					msg.style.display = "none";
				} else {
					msg.style.display = "block";
				}
			}
		</script>
		<script>
			function activateButton(element) {

				checkTnC();
				sts = element.checked;
				if(sts) {        
					document.getElementById("submit-btn").disabled = false;
					
				}
				else  {
					document.getElementById("submit-btn").disabled = true;
				}
			}   
		</script>

		<script>
		   $(document).ready(function () {
				activateButton($("#tnc"));
			});
		</script>		
		
	
	{% endblock jscripts %}
	