{% load static %}
{% load show_frame_my_art from prod_template_tags %}

	<div class="col-md-12 mt-5 py-3">
		<h2 class="text-center">CURATED COLLECTIONS
		</h2>
	
		<div class="row" style="margin:5px;">
			<div class = "col-lg-6 mt-5" >			
				<div class="curated-container">
					<img class = "d-none d-sm-block" src="{% static 'img/curated/history.jpg' %}" alt="Art" style="width:100%">
					<img class = "d-block d-sm-none" src="{% static 'img/curated/history_mobile.jpg' %}" alt="Art" style="width:100%">
					<a class="btn" href = "{% url 'curated_collections' 1 %}">
					ART OVER CENTURIES</a>
				</div>
			</div>
			<div class = "col-lg-6 mt-5" >			
				<div class="curated-container">
					<img class = "d-none d-sm-block" src="{% static 'img/curated/black_white.jpg' %}" alt="Abstract" style="width:100%">
					<img class = "d-block d-sm-none" src="{% static 'img/curated/black_white_mobile.jpg' %}" alt="Abstract" style="width:100%">
					<a class="btn" href="{% url 'curated_collections' 6 %}">
					BLACK & WHITE</a>
				</div>
			</div>
			<div class = "col-lg-3 mt-4" >			
				<div class="curated-container">
					<img class = "d-none d-sm-block" src="{% static 'img/curated/femme.jpg' %}" alt="Art" style="width:100%">
					<img class = "d-block d-sm-none" src="{% static 'img/curated/femme_mobile.jpg' %}" alt="Art" style="width:100%">
					<a class="btn" href = "{% url 'curated_collections' 10 %}">
					FEMME</a>
				</div>
			</div>
			<div class = "col-lg-3 mt-4" >			
				<div class="curated-container">
					<img class = "d-none d-sm-block" src="{% static 'img/curated/photo.jpg' %}" alt="Art" style="width:100%">
					<img class = "d-block d-sm-none" src="{% static 'img/curated/photo_mobile.jpg' %}" alt="Art" style="width:100%">
					<a class="btn" href = "{% url 'curated_collections' 2 %}">
					PHOTOGRAPHY</a>
				</div>
			</div>
			<div class = "col-lg-6 mt-4" >			
				<div class="curated-container">
					<img class = "d-none d-sm-block" src="{% static 'img/curated/abstract.jpg' %}" alt="Art">
					<img class = "d-block d-sm-none" src="{% static 'img/curated/abstract_mobile.jpg' %}" alt="Art">
					<a class="btn" href = "{% url 'curated_collections' 3 %}">
					ABSTRACT</a>
				</div>
			</div>
		</div>
	</div>	
