{% load static  %}
	{% if disp_promo %}
    <div class="modal fade" id="promo" tabindex="-1" role="dialog" data-backdrop ="true" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div id="promocontent" class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header" style = "background-color:#11b6bd">
                    <p class="modal-title"><strong>A Launch Offer...</strong></p>
                    <button type="button" class="close" data-dismiss="modal">X</button>
                </div>
                <div class="modal-body">
                    <div class="coupon">
                        <div class="coupan-header">
                            {{disp_promo.promotion.discount_value|floatformat}} % Off On Your First Order
						</div>						
                        <div class="coupan-container">
                            <p>
                                Hello {{request.user}},<br />
                                A special launch offer for a limited time.<br/>
								Sign up and avail a discount of <strong>
									{{disp_promo.promotion.discount_value|floatformat}}</strong>
									% when place your first order.
                            </p>
                        </div>
                        <div class="coupan-footer">
                            <p>
								Use Promo Code: <span id= "pcode" class="promocode" onclick="copyPromocode();">{{disp_promo.voucher.voucher_code}} </span>
								<br />
								<!--<small><span class = "pull-right"><i class = "fa fa-clipboard"> Copy</i></span></small>
								<input hidden id="pcode_inv" value = '{{disp_promo.voucher.voucher_code}}'>
								-->
								<span class="expire"> <small>(Expires: {{disp_promo.promotion.effective_to|date:"D d M Y"}})</small></span>
							</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	{% endif %}
